{
  "swagger": "2.0",
  "info": {
    "version": "1"
  },
  "host": "apiweb.mile.app",
  "basePath": "/api/v3",
  "securityDefinitions": {
    "AccessToken": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    },
    "x-api-key": {
      "type": "apiKey",
      "name": "x-api-key",
      "in": "header"
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/location-histories": {
      "get": {
        "summary": "Read location history",
        "tags": [
          "Location History"
        ],
        "operationId": "getLocationHistory",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Worker's email that assigned to the monitored task."
          },
          {
            "name": "taskId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The identifier for the task that generated by system. Use <a href='#Task_Task'>GET /tasks API</a> to get the list of Task IDs.<br>**Example:** `621dd813eb3ebf16b94d6969`"
          },
          {
            "$ref": "#/parameters/pageInQuery"
          },
          {
            "$ref": "#/parameters/limitInQuery"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "sortOrder is to decide ascending or descending order by `createdTime` <br>**Example:** `asc` or `desc`.<br>**Default:** `desc`"
          },
          {
            "name": "timeBy",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional filter to range data between one of the following options :<br>**enum**: `createdTime`,`startTime`<br>If this parameter is **not provided**, the `timeFrom` and `timeTo` filters will be **ignored**.<br>**Example:** `createdTime`"
          },
          {
            "name": "timeFrom",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "date time selector to select timeBy from.<br>**Example:** `2023-00-01 00:00:00`"
          },
          {
            "name": "timeTo",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "date time selector to select timeBy to.<br>**Example:** `2023-00-10 00:00:00`"
          },
          {
            "name": "startFinish",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "when the value is `true` the start finish record will be show, if the value is `false` it only displays the location history record."
          },
          {
            "name": "isLatest",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "when the value is `true`, it will display the latest location history data from the user, and if the value is `false`, it will show the older location history data."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Fields is for selecting the specific fields that you can choose by multiples to show in the response using a string with a comma delimiter."
          },
          {
            "name": "eventName",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A flagging of location history with value `otw`, `nearBy` and `done`. <br>**Example:** `done`.<br>**Default:** `null`"
          },
          {
            "name": "createdFrom",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A flagging for describe location history created from, default value generated by system is `mileAppField`. <br>**Example:** `mileAppField`.<br>**Default:** `null`"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "title": "NetworkCreateResponse",
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "boolean"
                },
                "message": {
                  "description": "Message of API response.",
                  "type": "string"
                },
                "tasks": {
                  "description": "Detail of object location history.",
                  "type": "object"
                }
              },
              "example": {
                "status": true,
                "message": "Success",
                "tasks": {
                  "current_page": 1,
                  "data": [
                    {
                      "email": "example@mile.app",
                      "taskId": "634e98098ce69d29474a7e11",
                      "speed": 40,
                      "distance": 50,
                      "duration": 50,
                      "lat": -6.1771046,
                      "lon": 106.9240199,
                      "_id": "634e98098ce07d29474a7e22_example@mile.app_1675224349343",
                      "time": 1675224349343,
                      "organizationId": "634e98098ce07d29474a7e22",
                      "createdTime": "2022-10-07 03:00:58",
                      "updatedTime": "2022-10-07 04:00:58"
                    },
                    {
                      "_id": "64a696536d01ea0d503db772",
                      "email": "example@mile.app",
                      "lat": -6.23239438813826,
                      "lon": 106.82152618097032,
                      "speed": 0,
                      "distance": 0,
                      "duration": 0,
                      "startTime": "2023-07-06 10:23:00",
                      "notes": null,
                      "createdTime": "2023-07-06 10:24:19",
                      "taskId": "",
                      "time": 1688639059872,
                      "organizationId": "6488344e8db84c3a511f62b2",
                      "finish": {
                        "lat": -6.296958793290206,
                        "lon": 106.7858189729966,
                        "finishTime": "2023-07-06 11:23:00",
                        "notes": null,
                        "totalDuration": 60,
                        "totalDistance": 24
                      },
                      "updatedTime": "2023-07-06 10:53:36",
                      "trackedTime": 60
                    }
                  ],
                  "first_page_url": "http://apiweb.mile.app/api/location-histories?limit=20&fields=email%2CtaskId%2Clon%2Clat&email=example%40mile.app&sortBy=createdTime&sortOrder=desc&page=1",
                  "from": 1,
                  "last_page": 1,
                  "last_page_url": "http://apiweb.mile.app/api/location-histories?limit=20&fields=email%2CtaskId%2Clon%2Clat&email=example%40mile.app&&sortBy=createdTime&sortOrder=desc&page=1",
                  "links": [
                    {
                      "url": null,
                      "label": "&laquo; Previous",
                      "active": false
                    },
                    {
                      "url": "http://apiweb.mile.app/api/location-histories?limit=20&fields=email%2CtaskId%2Clon%2Clat&email=example%40mile.app&&sortBy=createdTime&sortOrder=desc&page=1",
                      "label": "1",
                      "active": true
                    },
                    {
                      "url": null,
                      "label": "Next &raquo;",
                      "active": false
                    }
                  ],
                  "next_page_url": null,
                  "path": "http://apiweb.mile.app/api/location-histories",
                  "per_page": 20,
                  "prev_page_url": null,
                  "to": 2,
                  "total": 2
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/parameters/responses/badRequest/schema"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            }
          }
        },
        "security": [
          {
            "AccessToken": [],
            "x-api-key": []
          }
        ]
      }
    },
    "/location-history/{id}": {
      "get": {
        "summary": "Read location history by ID",
        "tags": [
          "Location History"
        ],
        "operationId": "getLocationHistorybyid",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "loc_history_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique identifier for the location history<br>that generated by system.<br>**Example**: `634e98098ce07d29474a7e22_example@mile.app_1675224349343`"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            },
            "examples": {
              "application/json": {
                "status": true,
                "message": "Success",
                "location_history": {
                  "email": "example@mile.app",
                  "taskId": "634e98098ce69d29474a7e11",
                  "speed": 40,
                  "distance": 50,
                  "duration": 50,
                  "lat": -6.1771046,
                  "lon": 106.9240199,
                  "createdFrom": "GPS",
                  "_id": "634e98098ce07d29474a7e22_example@mile.app_1675224349343",
                  "time": 1675224349343,
                  "organizationId": "634e98098ce07d29474a7e22",
                  "createdTime": "2022-10-07 03:00:58",
                  "updatedTime": "2022-10-07 04:00:58"
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "schema": {
              "$ref": "#/parameters/responses/notFound/schema"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            }
          }
        },
        "security": [
          {
            "AccessToken": [],
            "x-api-key": []
          }
        ]
      }
    },
    "/location-history/tracking/{token}": {
      "get": {
        "summary": "Read location history by token",
        "tags": [
          "Location History"
        ],
        "operationId": "getLocationHistorybytoken",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Tracking token generated from <a href='#tag/Location-History/operation/generateTokenLocationHistory'>POST /location-history/generate-token API</a><br>**Example**: `eyJkYXRhIjoiZXlKcGRpSTZJa1JQYkhKTVFraGtNMFpKV21SRmQxZHFkSEZWTkVFOVBTSXNJblpoYkhWbElqb2lheXRMVVc5aFEzRTJNR28zWjJ0UE1rbFdRa1pUYVU0eU9VbElTa2huVFZOT05WUTVMMko0UkZSVVVWQXlSbXRUVGxOcWJWWmpVVTA1SzBSS1FqTm5SRkppYWl0MWMzSXlWMEZSYVZCbFMydHdlbE15TlhwUVkyeExSa053ZUhoUk5FNTFlWFZIYzNwWVJtWjFNVWRKWm1WSmRWUmliRWs0Tm1KSGFWSXpRVTFpUkZwMWNqRlpNVWNyYVZkNmNXUkhkMU5GTVRaRVIzTlJlakZPTkd0amNFOTRhbEZxTVVKallXWTBQU0lzSW0xaFl5STZJamczTXpBeE9UVTFNalUzTkRGbFlUbGlOMkZsT0dOaU1EWXhZVEkzTWpVek9EQXdObVU0WW1FMU5HTXhOelJrWkdFMk1tSXlZV1JqT1RZeFptUXpPR0lpTENKMFlXY2lPaUlpZlE9PSIsImV4cGlyYXRpb24iOiIyMDI0LTAyLTI3VDA5OjU5OjMzLjA1OTA0OVoifQ==`"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "title": "NetworkCreateResponse",
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "boolean"
                },
                "message": {
                  "description": "Message of API response.",
                  "type": "string"
                },
                "tasks": {
                  "description": "Detail of object location history.",
                  "type": "object"
                }
              },
              "example": {
                "status": true,
                "message": "Success",
                "tasks": {
                  "current_page": 1,
                  "data": [
                    {
                      "_id": "64a696536d01ea0d503db772",
                      "email": "example@mile.app",
                      "lat": -6.23239438813826,
                      "lon": 106.82152618097032,
                      "speed": 0,
                      "distance": 0,
                      "duration": 0,
                      "startTime": "2023-07-06 10:23:00",
                      "notes": null,
                      "createdTime": "2023-07-06 10:24:19",
                      "taskId": "",
                      "time": 1688639059872,
                      "organizationId": "6488344e8db84c3a511f62b2",
                      "finish": {
                        "lat": -6.296958793290206,
                        "lon": 106.7858189729966,
                        "finishTime": "2023-07-06 11:23:00",
                        "notes": null,
                        "totalDuration": 60,
                        "totalDistance": 24
                      },
                      "updatedTime": "2023-07-06 10:53:36",
                      "trackedTime": 60
                    }
                  ],
                  "first_page_url": "http://apiweb.mile.app/api/location-histories?limit=20&fields=email%2CtaskId%2Clon%2Clat&email=example%40mile.app&sortBy=createdTime&sortOrder=desc&page=1",
                  "from": 1,
                  "last_page": 1,
                  "last_page_url": "http://apiweb.mile.app/api/location-histories?limit=20&fields=email%2CtaskId%2Clon%2Clat&email=example%40mile.app&&sortBy=createdTime&sortOrder=desc&page=1",
                  "links": [
                    {
                      "url": null,
                      "label": "&laquo; Previous",
                      "active": false
                    },
                    {
                      "url": "http://apiweb.mile.app/api/location-histories?limit=20&fields=email%2CtaskId%2Clon%2Clat&email=example%40mile.app&&sortBy=createdTime&sortOrder=desc&page=1",
                      "label": "1",
                      "active": true
                    },
                    {
                      "url": null,
                      "label": "Next &raquo;",
                      "active": false
                    }
                  ],
                  "next_page_url": null,
                  "path": "http://apiweb.mile.app/api/location-histories",
                  "per_page": 20,
                  "prev_page_url": null,
                  "to": 2,
                  "total": 2
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/parameters/responses/badRequest/schema"
            }
          },
          "401": {
            "description": "Tracking Token Expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": {
                "status": false,
                "message": "Your tracking token has expired"
              }
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            }
          }
        }
      }
    },
    "/location-history": {
      "post": {
        "summary": "Create location history",
        "description": "Location history has three types of payloads:\n        <br>**General**: This payload is sent without any specific business process. All payloads sent will be saved and can be visualized.\n        \n        <br>**Start - Finish**: This payload tracks a user's movement, both during general online activity and while performing a specific task. The 'Finish' payload cannot be saved unless it is preceded by a 'Start' payload, and a new 'Start' payload cannot be saved until the previous one has been completed.\n        \n        <br>**Custom Data**: This payload is typically used by integrators. MileApp provides a 'data' key with an object data type. This key can store dynamic data according to user needs. For example, users can store data such as fuel levels, vehicle temperature, and more.\n        <br> <br> <b> Related Guide <a href='https://doc.clickup.com/3837933/p/h/3n3zd-81962/aa00834626ae24f/3n3zd-166142'> Introduction to Tracking </a></b>",
        "tags": [
          "Location History"
        ],
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/baseBodyLocationHistory"
            },
            "x-examples": {
              "application/json": {
                "generalRequest": {
                  "summary": "General Request",
                  "value": {
                    "email": "example@mile.app",
                    "taskId": "634e98098ce69d29474a7e11",
                    "speed": 40,
                    "distance": 50,
                    "duration": 50,
                    "lat": "-6.1771046",
                    "lon": "106.9240199",
                    "createdTime": "2022-10-07 03:00:58",
                    "notes": "Example notes"
                  }
                },
                "StartRequest": {
                  "summary": "Start Request",
                  "value": {
                    "email": "example@mile.app",
                    "taskId": "634e98098ce69d29474a7e11",
                    "speed": 40,
                    "distance": 50,
                    "duration": 50,
                    "lat": "-6.1771046",
                    "lon": "106.9240199",
                    "createdTime": "2022-10-07 03:00:58",
                    "startTime": "2022-10-07 03:00:58",
                    "notes": "Example notes"
                  }
                },
                "finishRequest": {
                  "summary": "Finish Request",
                  "value": {
                    "email": "example@mile.app",
                    "taskId": "634e98098ce69d29474a7e11",
                    "speed": 40,
                    "distance": 50,
                    "duration": 50,
                    "lat": "-6.1771046",
                    "lon": "106.9240199",
                    "createdTime": "2022-10-07 03:00:58",
                    "finishTime": "2022-10-07 03:10:58",
                    "notes": "Example notes"
                  }
                },
                "customDataReqest": {
                  "summary": "Custom Data Request",
                  "value": {
                    "email": "example@mile.app",
                    "taskId": "634e98098ce69d29474a7e11",
                    "speed": 40,
                    "distance": 50,
                    "duration": 50,
                    "lat": "-6.1771046",
                    "lon": "106.9240199",
                    "createdTime": "2022-10-07 03:00:58",
                    "notes": "Example notes",
                    "createdFrom": "GPS",
                    "data": {
                      "temperature": 31,
                      "anotherKey": "anotherValue"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            },
            "examples": {
              "application/json": {
                "status": true,
                "message": "Success",
                "location_history": {
                  "email": "example@mile.app",
                  "taskId": "634e98098ce69d29474a7e11",
                  "speed": 40,
                  "distance": 50,
                  "duration": 50,
                  "lat": -6.1771046,
                  "lon": 106.9240199,
                  "_id": "634e98098ce07d29474a7e22_example@mile.app_1675224349343",
                  "time": 1675224349343,
                  "organizationId": "634e98098ce07d29474a7e22",
                  "createdTime": "2022-10-07 03:00:58",
                  "updatedTime": "2022-10-07 04:00:58"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/parameters/responses/badRequest/schema"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            }
          }
        },
        "security": [
          {
            "AccessToken": [],
            "x-api-key": []
          }
        ]
      }
    },
    "/location-history/bulk": {
      "post": {
        "summary": "Bulk create location history",
        "description": "This API enables mobile devices to create multiple location history entries in bulk. This feature is particularly useful when users are in offline mode and need to store location data locally, syncing it with the server when they regain internet connectivity. The request body should contain a single field location_histories, which is a list of location history entries. Maximum Limit: You can submit a maximum of 1000 location history entries in a single request. Each entry is represented as an object with the following fields:",
        "tags": [
          "Location History"
        ],
        "operationId": "postBulkLocationHistories",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/postBulkRequestLocHistory"
            },
            "x-examples": {
              "application/json": {
                "generalRequest": {
                  "summary": "General Request",
                  "value": {
                    "location_histories": [
                      {
                        "email": "example@mile.app",
                        "taskId": "634e98098ce69d29474a7e11",
                        "speed": 40,
                        "distance": 50,
                        "duration": 50,
                        "lat": "-6.1771046",
                        "lon": "106.9240199",
                        "createdTime": "2022-10-07 03:00:58",
                        "notes": "Example notes"
                      }
                    ]
                  }
                },
                "StartRequest": {
                  "summary": "Start Request",
                  "value": {
                    "location_histories": [
                      {
                        "email": "example@mile.app",
                        "taskId": "634e98098ce69d29474a7e11",
                        "speed": 40,
                        "distance": 50,
                        "duration": 50,
                        "lat": "-6.1771046",
                        "lon": "106.9240199",
                        "createdTime": "2022-10-07 03:00:58",
                        "startTime": "2022-10-07 03:00:58",
                        "notes": "Example notes"
                      }
                    ]
                  }
                },
                "finishRequest": {
                  "summary": "Finish Request",
                  "value": {
                    "location_histories": [
                      {
                        "email": "example@mile.app",
                        "taskId": "634e98098ce69d29474a7e11",
                        "speed": 40,
                        "distance": 50,
                        "duration": 50,
                        "lat": "-6.1771046",
                        "lon": "106.9240199",
                        "createdTime": "2022-10-07 03:00:58",
                        "finishTime": "2022-10-07 03:10:58",
                        "notes": "Example notes"
                      }
                    ]
                  }
                },
                "customDataReqest": {
                  "summary": "Custom Data Request",
                  "value": {
                    "location_histories": [
                      {
                        "email": "example@mile.app",
                        "taskId": "634e98098ce69d29474a7e11",
                        "speed": 40,
                        "distance": 50,
                        "duration": 50,
                        "lat": "-6.1771046",
                        "lon": "106.9240199",
                        "createdTime": "2022-10-07 03:00:58",
                        "notes": "Example notes",
                        "createdFrom": "GPS",
                        "data": {
                          "temperature": 31,
                          "anotherKey": "anotherValue"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BulkResponse"
            },
            "examples": {
              "application/json": {
                "success": 2,
                "failed": 0,
                "tasks": [
                  {
                    "status": true,
                    "message": "Success",
                    "_id": "634e98098ce07d29474a7e22_example@mile.app_1675224349343"
                  },
                  {
                    "status": true,
                    "message": "Success",
                    "_id": "634e98098ce07d29474a7e22_example@mile.app_1675224349578"
                  }
                ]
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/parameters/responses/badRequest/schema"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            }
          }
        },
        "security": [
          {
            "AccessToken": [],
            "x-api-key": []
          }
        ]
      }
    },
    "/location-history/generate-token": {
      "post": {
        "summary": "Generate location history token",
        "description": "This endpoint is used to generate tracking token, which are utilized by guest users or public users to view a user's last known location based on the specified date. These token expire 7 days after the creation of the tracking token.",
        "tags": [
          "Location History"
        ],
        "operationId": "generateTokenLocationHistory",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postGenerateTokenLocHistory"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TokenResponse"
            },
            "examples": {
              "application/json": {
                "status": true,
                "message": "Success.",
                "token": "eyJkYXRhIjoiZXlKcGRpSTZJa1JQYkhKTVFraGtNMFpKV21SRmQxZHFkSEZWTkVFOVBTSXNJblpoYkhWbElqb2lheXRMVVc5aFEzRTJNR28zWjJ0UE1rbFdRa1pUYVU0eU9VbElTa2huVFZOT05WUTVMMko0UkZSVVVWQXlSbXRUVGxOcWJWWmpVVTA1SzBSS1FqTm5SRkppYWl0MWMzSXlWMEZSYVZCbFMydHdlbE15TlhwUVkyeExSa053ZUhoUk5FNTFlWFZIYzNwWVJtWjFNVWRKWm1WSmRWUmliRWs0Tm1KSGFWSXpRVTFpUkZwMWNqRlpNVWNyYVZkNmNXUkhkMU5GTVRaRVIzTlJlakZPTkd0amNFOTRhbEZxTVVKallXWTBQU0lzSW0xaFl5STZJamczTXpBeE9UVTFNalUzTkRGbFlUbGlOMkZsT0dOaU1EWXhZVEkzTWpVek9EQXdObVU0WW1FMU5HTXhOelJrWkdFMk1tSXlZV1JqT1RZeFptUXpPR0lpTENKMFlXY2lPaUlpZlE9PSIsImV4cGlyYXRpb24iOiIyMDI0LTAyLTI3VDA5OjU5OjMzLjA1OTA0OVoifQ=="
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/parameters/responses/badRequest/schema"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            }
          }
        },
        "security": [
          {
            "AccessToken": [],
            "x-api-key": []
          }
        ]
      }
    },
    "/location-history/": {
      "put": {
        "summary": "Update location history by email & createdTime",
        "tags": [
          "Location History"
        ],
        "operationId": "putLocationHistory",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/putRequestLocHistory"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            },
            "examples": {
              "application/json": {
                "status": true,
                "message": "Success",
                "location_history": {
                  "email": "example@mile.app",
                  "taskId": "634e98098ce69d29474a7e11",
                  "speed": 40,
                  "distance": 50,
                  "duration": 50,
                  "lat": -6.1771046,
                  "lon": 106.9240199,
                  "_id": "634e98098ce07d29474a7e22_example@mile.app_1675224349343",
                  "time": 1675224349343,
                  "organizationId": "634e98098ce07d29474a7e22",
                  "createdTime": "2022-10-07 03:00:58",
                  "updatedTime": "2022-10-07 04:00:58"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/parameters/responses/badRequest/schema"
            }
          },
          "404": {
            "description": "Data not found",
            "schema": {
              "$ref": "#/parameters/responses/notFound/schema"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            }
          }
        },
        "security": [
          {
            "AccessToken": [],
            "x-api-key": []
          }
        ]
      }
    },
    "/location-history/{loc_history_id}": {
      "put": {
        "summary": "Update location history by ID",
        "tags": [
          "Location History"
        ],
        "operationId": "putLocationHistoryById",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/putRequestLocHistory"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            },
            "examples": {
              "application/json": {
                "status": true,
                "message": "Data has been updated successfully.",
                "location_history": {
                  "email": "example@mile.app",
                  "taskId": "634e98098ce69d29474a7e11",
                  "speed": 40,
                  "distance": 50,
                  "duration": 50,
                  "lat": -6.1771046,
                  "lon": 106.9240199,
                  "_id": "634e98098ce07d29474a7e22_example@mile.app_1675224349343",
                  "time": 1675224349343,
                  "organizationId": "634e98098ce07d29474a7e22",
                  "createdTime": "2022-10-07 03:00:58",
                  "updatedTime": "2022-10-07 04:00:58"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/parameters/responses/badRequest/schema"
            }
          },
          "404": {
            "description": "Data not found",
            "schema": {
              "$ref": "#/parameters/responses/notFound/schema"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            }
          }
        },
        "security": [
          {
            "AccessToken": [],
            "x-api-key": []
          }
        ]
      },
      "patch": {
        "summary": "Update partially location history by ID",
        "tags": [
          "Location History"
        ],
        "operationId": "patchLocationHistory",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "loc_history_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/patchRequestLocHistory"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            },
            "examples": {
              "application/json": {
                "status": true,
                "message": "Data has been updated successfully.",
                "location_history": {
                  "email": "example@mile.app",
                  "taskId": "634e98098ce69d29474a7e11",
                  "speed": 40,
                  "distance": 50,
                  "duration": 50,
                  "lat": -6.1771046,
                  "lon": 106.9240199,
                  "_id": "634e98098ce07d29474a7e22_example@mile.app_1675224349343",
                  "time": 1675224349343,
                  "organizationId": "634e98098ce07d29474a7e22",
                  "createdTime": "2022-10-07 03:00:58",
                  "updatedTime": "2022-10-07 04:00:58"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/parameters/responses/badRequest/schema"
            }
          },
          "404": {
            "description": "Data not found",
            "schema": {
              "$ref": "#/parameters/responses/notFound/schema"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            }
          }
        },
        "security": [
          {
            "AccessToken": [],
            "x-api-key": []
          }
        ]
      },
      "delete": {
        "summary": "Delete location history by ID",
        "tags": [
          "Location History"
        ],
        "operationId": "deleteLocationHistorybyid",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "loc_history_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique identifier for the location history<br>that generated by system.<br>**Example**: `634e98098ce07d29474a7e22_example@mile.app_1675224349343`"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            },
            "examples": {
              "application/json": {
                "status": true,
                "message": "Data has been updated successfully.",
                "location_history": {
                  "email": "example@mile.app",
                  "taskId": "634e98098ce69d29474a7e11",
                  "speed": 40,
                  "distance": 50,
                  "duration": 50,
                  "lat": -6.1771046,
                  "lon": 106.9240199,
                  "createdFrom": "GPS",
                  "_id": "634e98098ce07d29474a7e22_example@mile.app_1675224349343",
                  "time": 1675224349343,
                  "organizationId": "634e98098ce07d29474a7e22",
                  "createdTime": "2022-10-07 03:00:58",
                  "updatedTime": "2022-10-07 04:00:58"
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "schema": {
              "$ref": "#/parameters/responses/notFound/schema"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            }
          }
        },
        "security": [
          {
            "AccessToken": [],
            "x-api-key": []
          }
        ]
      }
    }
  },
  "definitions": {
    "baseBodyLocationHistory": {
      "x-discriminator": "baseLocationHistory",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "Required, User's email assigned to the monitored task. **Example:** `example@mile.app`"
        },
        "lat": {
          "type": "string",
          "description": "Required, Latitude coordinate position or location of any place on Earth's surface. **Example:** `-6.1771046`"
        },
        "lon": {
          "type": "string",
          "description": "Required, Longitude coordinate position or location of any place on Earth's surface. **Example:** `106.9240199`"
        }
      }
    },
    "general": {
      "allOf": [
        {
          "$ref": "#/definitions/baseBodyLocationHistory"
        },
        {
          "required": [
            "email",
            "lat",
            "lon"
          ],
          "properties": {
            "taskId": {
              "type": "string",
              "description": "Unique ID to identify the task. **Example:** `634e98098ce69d29474a7e11`"
            },
            "speed": {
              "type": "integer",
              "description": "Vehicle speed in kilometers per hour. **Example:** `40`"
            },
            "distance": {
              "type": "integer",
              "description": "Distance traveled from the previous location. **Example:** `40`"
            },
            "duration": {
              "type": "integer",
              "description": "Time duration spent at this location in milliseconds. **Example:** `50`"
            },
            "createdTime": {
              "type": "string",
              "description": "Time at which the location history was created. **Example:** `2022-10-07 03:00:58`"
            },
            "notes": {
              "type": "string",
              "description": "Field for written records used to capture and retain important information. **Example:** `Example notes`"
            }
          }
        }
      ]
    },
    "start": {
      "allOf": [
        {
          "$ref": "#/definitions/baseBodyLocationHistory"
        },
        {
          "required": [
            "email",
            "lat",
            "lon"
          ],
          "properties": {
            "taskId": {
              "type": "string",
              "description": "Unique ID to identify the task. **Example:** `634e98098ce69d29474a7e11`"
            },
            "speed": {
              "type": "integer",
              "description": "Vehicle speed in kilometers per hour. **Example:** `40`"
            },
            "distance": {
              "type": "integer",
              "description": "Distance traveled from the previous location. **Example:** `40`"
            },
            "duration": {
              "type": "integer",
              "description": "Time duration spent at this location in milliseconds. **Example:** `50`"
            },
            "createdTime": {
              "type": "string",
              "description": "Time at which the location history was created. **Example:** `2022-10-07 03:00:58`"
            },
            "startTime": {
              "type": "string",
              "description": "Time at which the start working was created. Include this payload when starting work. **Example:** `2022-10-07 03:00:58`"
            },
            "notes": {
              "type": "string",
              "description": "Field for written records used to capture and retain important information. **Example:** `Example notes`"
            }
          }
        }
      ]
    },
    "finish": {
      "allOf": [
        {
          "$ref": "#/definitions/baseBodyLocationHistory"
        },
        {
          "required": [
            "email",
            "lat",
            "lon"
          ],
          "properties": {
            "email": {
              "type": "string",
              "description": "Required, User's email assigned to the monitored task. **Example:** `example@mile.app`"
            },
            "lat": {
              "type": "string",
              "description": "Required, Latitude coordinate position or location of any place on Earth's surface. **Example:** `-6.1771046`"
            },
            "lon": {
              "type": "string",
              "description": "Required, Longitude coordinate position or location of any place on Earth's surface. **Example:** `106.9240199`"
            },
            "taskId": {
              "type": "string",
              "description": "Unique ID to identify the task. **Example:** `634e98098ce69d29474a7e11`"
            },
            "speed": {
              "type": "integer",
              "description": "Vehicle speed in kilometers per hour. **Example:** `40`"
            },
            "distance": {
              "type": "integer",
              "description": "Distance traveled from the previous location. **Example:** `40`"
            },
            "duration": {
              "type": "integer",
              "description": "Time duration spent at this location in milliseconds. **Example:** `50`"
            },
            "createdTime": {
              "type": "string",
              "description": "Time at which the location history was created. **Example:** `2022-10-07 03:00:58`"
            },
            "finishTime": {
              "type": "string",
              "description": "Time at which the finish working was created. Include this payload when finishing work. **Example:** `2022-10-07 03:00:58`"
            },
            "notes": {
              "type": "string",
              "description": "Field for written records used to capture and retain important information. **Example:** `Example notes`"
            }
          }
        }
      ]
    },
    "custom": {
      "allOf": [
        {
          "$ref": "#/definitions/baseBodyLocationHistory"
        },
        {
          "required": [
            "email",
            "lat",
            "lon"
          ],
          "properties": {
            "email": {
              "type": "string",
              "description": "Required, User's email assigned to the monitored task. **Example:** `example@mile.app`"
            },
            "lat": {
              "type": "string",
              "description": "Required, Latitude coordinate position or location of any place on Earth's surface. **Example:** `-6.1771046`"
            },
            "lon": {
              "type": "string",
              "description": "Required, Longitude coordinate position or location of any place on Earth's surface. **Example:** `106.9240199`"
            },
            "taskId": {
              "type": "string",
              "description": "Unique ID to identify the task. **Example:** `634e98098ce69d29474a7e11`"
            },
            "speed": {
              "type": "integer",
              "description": "Vehicle speed in kilometers per hour. **Example:** `40`"
            },
            "distance": {
              "type": "integer",
              "description": "Distance traveled from the previous location. **Example:** `40`"
            },
            "duration": {
              "type": "integer",
              "description": "Time duration spent at this location in milliseconds. **Example:** `50`"
            },
            "createdTime": {
              "type": "string",
              "description": "Time at which the location history was created. **Example:** `2022-10-07 03:00:58`"
            },
            "notes": {
              "type": "string",
              "description": "Field for written records used to capture and retain important information. **Example:** `Example notes`"
            },
            "createdFrom": {
              "type": "string",
              "description": "A flagging for describe location history created from, default value generated by system is `mileAppField`. **Example:** `GPS`"
            },
            "data": {
              "type": "object",
              "description": "This is a free object that you can fill with any data in object format. **Example:** `{'temperature': 31, 'anotherKey': 'anotherValue'}`"
            }
          }
        }
      ]
    },
    "postRequestLocHistory": {
      "title": "postRequestLocHistory",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "Required, User's email assigned to the monitored task. **Example:** `example@mile.app`"
        },
        "lat": {
          "type": "string",
          "description": "Required, Latitude coordinate position or location of any place on Earth's surface. **Example:** `-6.1771046`"
        },
        "lon": {
          "type": "string",
          "description": "Required, Longitude coordinate position or location of any place on Earth's surface. **Example:** `106.9240199`"
        },
        "taskId": {
          "type": "string",
          "description": "Unique ID to identify the task. **Example:** `634e98098ce69d29474a7e11`"
        },
        "speed": {
          "type": "integer",
          "description": "Vehicle speed in kilometers per hour. **Example:** `40`"
        },
        "distance": {
          "type": "integer",
          "description": "Distance traveled from the previous location. **Example:** `40`"
        },
        "duration": {
          "type": "integer",
          "description": "Time duration spent at this location in milliseconds. **Example:** `50`"
        },
        "createdTime": {
          "type": "string",
          "description": "Time at which the location history was created. **Example:** `2022-10-07 03:00:58`"
        },
        "startTime": {
          "type": "string",
          "description": "Time at which the start working was created. Include this payload when starting work. **Example:** `2022-10-07 03:00:58`"
        },
        "finishTime": {
          "type": "string",
          "description": "Time at which the finish working was created. Include this payload when finishing work. **Example:** `2022-10-07 03:00:58`"
        },
        "notes": {
          "type": "string",
          "description": "Field for written records used to capture and retain important information. **Example:** `Example notes`"
        },
        "createdFrom": {
          "type": "string",
          "description": "A flagging for describe location history created from, default value generated by system is `mileAppField`. **Example:** `GPS`"
        },
        "data": {
          "type": "object",
          "description": "This is a free object that you can fill with any data in object format. **Example:** `{'temperature': 31, 'anotherKey': 'anotherValue'}`"
        }
      },
      "required": [
        "email",
        "lat",
        "lon"
      ]
    },
    "postBulkRequestLocHistory": {
      "title": "postBulkRequestLocHistory",
      "type": "object",
      "properties": {
        "location_histories": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/baseBodyLocationHistory"
          }
        }
      },
      "required": [
        "location_histories"
      ]
    },
    "LogHistoryExampleReq": {
      "title": "LogHistoryExampleReq",
      "example": {
        "email": "example@mile.app",
        "taskId": "634e98098ce69d29474a7e11",
        "speed": 40,
        "distance": 50,
        "duration": 50,
        "lat": -6.1771047,
        "lon": 106.92402
      },
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "Required, User's email assigned to the monitored task. **Example:** `example@mile.app`"
        },
        "taskId": {
          "type": "string",
          "description": "Unique ID to identify the task. **Example:** `634e98098ce69d29474a7e11`"
        },
        "speed": {
          "type": "integer",
          "description": "Vehicle speed in kilometers per hour. **Example:** `40`"
        },
        "distance": {
          "type": "integer",
          "description": "Distance traveled from the previous location. **Example:** `50`"
        },
        "duration": {
          "type": "integer",
          "description": "Time duration spent at this location in milliseconds. **Example:** `50`"
        },
        "lat": {
          "type": "string",
          "description": "Required, Latitude coordinate position. **Example:** `-6.1771047`"
        },
        "lon": {
          "type": "string",
          "description": "Required, Longitude coordinate position. **Example:** `106.92402`"
        },
        "createdTime": {
          "type": "string",
          "description": "Time at which the location history was created. **Example:** `2022-10-07 03:00:58`"
        },
        "startTime": {
          "type": "string",
          "description": "Time at which the start working was created. Include this payload when starting work. **Example:** `2022-10-07 03:00:58`"
        },
        "finishTime": {
          "type": "string",
          "description": "Time at which the finish working was created. Include this payload when finishing work. **Example:** `2022-10-07 03:00:58`"
        },
        "notes": {
          "type": "string",
          "description": "Field for written records used to capture and retain important information. **Example:** `Example notes`"
        },
        "createdFrom": {
          "type": "string",
          "description": "A flagging for describe location history created from, default value generated by system is `mileAppField`. **Example:** `GPS`"
        },
        "data": {
          "type": "object",
          "description": "This is a free object that you can fill with any data in object format. **Example:** `{'temperature': 31, 'anotherKey': 'anotherValue'}`"
        }
      },
      "required": [
        "email",
        "lat",
        "lon"
      ]
    },
    "putRequestLocHistory": {
      "title": "putRequestLocHistory",
      "example": {
        "email": "example@mile.app",
        "lat": -6.934837011379089,
        "lon": 107.74135602107883,
        "speed": 102,
        "createdTime": "2023-07-07 16:00:10",
        "distance": 10,
        "duration": 1,
        "createdFrom": "GPS",
        "data": {
          "temp": 31
        },
        "taskId": "",
        "time": 1688720650331
      },
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "Required, User's email assigned to the monitored task. **Example:** `example@mile.app`"
        },
        "taskId": {
          "type": "string",
          "description": "Unique ID to identify the task. **Example:** `634e98098ce69d29474a7e11`"
        },
        "speed": {
          "type": "integer",
          "description": "Vehicle speed in kilometers per hour. **Example:** `102`"
        },
        "distance": {
          "type": "integer",
          "description": "Distance traveled from the previous location. **Example:** `10`"
        },
        "duration": {
          "type": "integer",
          "description": "Time duration spent at this location in milliseconds. **Example:** `1`"
        },
        "createdFrom": {
          "type": "string",
          "description": "A flagging for describe location history created from, default value generated by system is `mileAppField`."
        },
        "lat": {
          "type": "string",
          "description": "Required, Latitude coordinate position. **Example:** `-6.934837011379089`"
        },
        "lon": {
          "type": "string",
          "description": "Required, Longitude coordinate position. **Example:** `107.74135602107883`"
        }
      },
      "required": [
        "email",
        "lat",
        "lon"
      ]
    },
    "patchRequestLocHistory": {
      "title": "patchRequestLocHistory",
      "example": {
        "email": "example@mile.app",
        "taskId": "634e98098ce69d29474a7e11",
        "speed": 40,
        "distance": 50,
        "duration": 50,
        "lat": -6.1771046,
        "lon": 106.9240199
      },
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "Required, User's email assigned to the monitored task. **Example:** `example@mile.app`"
        },
        "taskId": {
          "type": "string",
          "description": "Unique ID to identify the task. **Example:** `634e98098ce69d29474a7e11`"
        },
        "speed": {
          "type": "integer",
          "description": "Vehicle speed in kilometers per hour. **Example:** `40`"
        },
        "distance": {
          "type": "integer",
          "description": "Distance traveled from the previous location. **Example:** `50`"
        },
        "duration": {
          "type": "integer",
          "description": "Time duration spent at this location in milliseconds. **Example:** `50`"
        },
        "lat": {
          "type": "string",
          "description": "Required, Latitude coordinate position. **Example:** `-6.1771046`"
        },
        "lon": {
          "type": "string",
          "description": "Required, Longitude coordinate position. **Example:** `106.9240199`"
        }
      },
      "required": [
        "email",
        "lat",
        "lon"
      ]
    },
    "ApiResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean",
          "description": "Indicates whether the request was successful."
        },
        "code": {
          "type": "integer",
          "description": "HTTP status code."
        },
        "message": {
          "type": "string",
          "description": "A message providing additional information about the response."
        },
        "location_history": {
          "$ref": "#/definitions/LocationHistoryResponse"
        }
      }
    },
    "TokenResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean",
          "description": "Indicates whether the request was successful."
        },
        "message": {
          "type": "string",
          "description": "A message providing additional information about the response."
        },
        "token": {
          "type": "string",
          "description": "Tracking token data that has been successfully generated."
        }
      }
    },
    "LocationHistoryResponse": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "User's email assigned to the monitored task."
        },
        "lat": {
          "type": "number",
          "description": "Latitude coordinate position."
        },
        "lon": {
          "type": "number",
          "description": "Longitude coordinate position."
        },
        "speed": {
          "type": "integer",
          "description": "Vehicle speed in kilometers per hour."
        },
        "distance": {
          "type": "integer",
          "description": "Distance traveled from the previous location."
        },
        "distanceToDest": {
          "type": "number",
          "description": "Distance estimated from the next location."
        },
        "duration": {
          "type": "integer",
          "description": "Time duration spent at this location in milliseconds."
        },
        "createdTime": {
          "type": "string",
          "description": "Time at which the location history was created."
        },
        "_id": {
          "type": "string",
          "description": "Unique identifier for the location history entry."
        },
        "taskId": {
          "type": "string",
          "description": "Unique ID to identify the task."
        },
        "time": {
          "type": "integer",
          "description": "A timestamp indicating the time of the location history entry."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for the organization."
        },
        "eventName": {
          "type": "string",
          "description": "A flagging of location history with value otw, nearBy and done."
        },
        "isLatest": {
          "type": "boolean",
          "description": "Identifier for flagging the latest location history"
        },
        "createdFrom": {
          "type": "string",
          "description": "A flagging for describe location history created from, default value generated by system is `mileAppField`."
        },
        "updatedBy": {
          "type": "string",
          "description": "Email of the user who last updated the location history entry."
        },
        "createdBy": {
          "type": "string",
          "description": "Email of the user who created the location history entry."
        },
        "updatedTime": {
          "type": "string",
          "description": "Time at which the location history entry was last updated."
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean",
          "description": "Indicates whether the request was successful."
        },
        "message": {
          "type": "string",
          "description": "A message providing additional information about the error."
        }
      },
      "required": [
        "status",
        "message"
      ]
    },
    "BulkResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "integer",
          "description": "Number of successful operations."
        },
        "failed": {
          "type": "integer",
          "description": "Number of failed operations."
        },
        "location_histories": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BulkLocationHistoryResponse"
          },
          "description": "Array of responses for each location history entry."
        }
      },
      "required": [
        "success",
        "failed",
        "location_histories"
      ]
    },
    "BulkLocationHistoryResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean",
          "description": "Indicates whether the operation was successful."
        },
        "message": {
          "type": "string",
          "description": "A message providing additional information about the operation."
        },
        "_id": {
          "type": "string",
          "description": "Unique identifier for the location history entry."
        },
        "email": {
          "type": "string",
          "description": "User's email assigned to the monitored task."
        }
      },
      "required": [
        "status",
        "message",
        "_id",
        "email"
      ]
    },
    "postGenerateTokenLocHistory": {
      "title": "postGenerateTokenLocHistory",
      "example": {
        "email": "example@mile.app",
        "date": "2024-02-20"
      },
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "Required, User's email assigned to the monitored task. <br> **Example:** `example@mile.app`"
        },
        "date": {
          "type": "date",
          "description": "The date indicating the time of user tracking and using the format `Y-m-d`. The default date if not filled in is today's date. <br> **Example:** `2025-02-20`"
        }
      },
      "required": [
        "email"
      ]
    }
  },
  "security": []
}