{
  "swagger": "2.0",
  "host": "apiweb.mile.app",
  "basePath": "/api/v3",
  "securityDefinitions": {
    "AccessToken": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {

    "/task/schedules": {
      "get": {
        "summary": "Read task schedule",
        "tags": [
          "Task Schedule"
        ],
        "operationId": "GetTaskSchedules",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name":"sortBy",
            "in":"query",
            "required": false,
            "type":"string",
            "description": "sortBy is used to sort the result-set in ascending or descending order according to selected field. The value of this param is one of available fields on task schedule objects.<br>**Example:** `name`, `periode`, `flow`, `hubId`, etc.<br>**Default:** `createdTime`"
          },
          {
            "name":"sortOrder",
            "in":"query",
            "required": false,
            "type":"string",
            "description": "sortOrder is to decide ascending or descending order<br>**Example:** `asc` or `desc`.<br>**Default:** `desc`"
          },
          {
            "name":"limit",
            "in":"query",
            "required": false,
            "type":"string",
            "description": "Limit of vehicles result list.<br>**Example:** `10`.<br>**Default:** `20`"
          },
          {
            "name":"page",
            "in":"query",
            "required": false,
            "type":"string",
            "description": "Pagination of vehicles result list.<br>**Example:** `2`.<br>**Default:** `1`"
          },
          {
            "$ref": "#/parameters/hubIdInQuery"
          },
          {
            "name":"name",
            "in":"query",
            "required": false,
            "type":"string",
            "description":"finding data by name task scheduler.<br>**Example:** `Morning`"
          },
          {
            "name":"flow",
            "in":"query",
            "required": false,
            "type":"string",
            "description":"The unique name of organization's flow.<br>Use <a href='#tag/Flow'>Flow /flows API</a> to get the list of flow names.<br>**Example:** `Visit`"
          },
          {
            "name":"flowId",
            "in":"query",
            "required": false,
            "type":"string",
            "description":"The identifier for the flow that generated by system. Use <a href='#tag/Flow/operation/getflow' target='_blank'>Flow /flows API</a> to get the list of flow id.<br>**Example:** `63d8c9b0dbd5ef20a627dd86`"
          },
          {
            "name":"status",
            "in":"query",
            "required": false,
            "type":"string",
            "description":"finding data running on SUCCESS or FAILED, acceptable value:SUCCESS,FAILED.<br>**Example:** `SUCCESS`"
          },
          {
            "name": "assignee",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "User email for a given task.<br>**Example**: `worker@paket.id,jhon@paket.id`"
          },
          {
            "name":"fields",
            "in":"query",
            "required": false,
            "type":"string",
            "description":"Fields is for selecting the specific fields that you can choose by multiples to show in the response using a string with a comma delimiter.<br>**Example:** `name,periode,hubId`."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "title": "NetworkReadResponse",
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "boolean"
                },
                "message": {
                  "description": "Message of API response.",
                  "type": "string"
                },
                "taskSchedules": {
                  "description": "List of object task schedule.",
                  "type": "object"
                }
              },
              "example": {
                "status": true,
                "message": "Success",
                "taskSchedules": {
                    "current_page": 1,
                    "data": [
                      {
                        "hubId": "634e98498ce07d29474a7e29",
                        "name": "Daily Morning Visit",
                        "periode": "daily",
                        "flow": "Visit",
                        "flowId": "67be687c128306111e022022",
                        "task": {
                            "receiverName": "Miguel",
                            "address": "gambir jakarta pusat",
                            "coordinates": "",
                            "weight": "5"
                        },
                        "schedules": [
                            {
                                "time": [
                                    "07:00"
                                ]
                            }
                        ],
                        "startTime": "2022-11-02",
                        "endTime": "2022-11-05",
                        "createdBy": "Pablo",
                        "timeSchedules": [
                            "07:00"
                        ],
                        "organizationId": "634e98098ce07d29474a7e22",
                        "updatedTime": "2022-11-01T07:28:23+00:00",
                        "createdTime": "2022-11-01T07:28:23+00:00",
                        "_id": "6352736c628401059b37a2e2"
                      },
                      {
                        "hubId": "667b8e62b76860782a455e62",
                        "name": "Biweekly Inspection",
                        "periode": "custom",
                        "flow": "Inspection",
                        "flowId": "67be688e128306111e022025",
                        "task": {
                          "reportContent": "Biweekly Inspection",
                          "createdFrom": "SCHEDULER"
                        },
                        "assignee": [
                          "worker@paket.id"
                        ],
                        "schedules": [
                          {
                            "day": "monday",
                            "time": [
                              "01:00"
                            ]
                          }
                        ],
                        "startTime": "2024-09-01 00:00",
                        "endTime": "2024-12-31 23:59",
                        "frequency": "weekly",
                        "interval": 2,
                        "createdBy": "admin@paket.id",
                        "timeSchedules": [
                          "monday 01:00"
                        ],
                        "organizationId": "634e98098ce07d29474a7e22",
                        "updatedTime": "2024-08-26T00:47:42+00:00",
                        "createdTime": "2024-08-26T00:47:42+00:00",
                        "_id": "66cbd0aec0835f7336006992"
                      }
                    ],
                    "first_page_url": "https://apiweb.mile.app/api/v3/task/schedules?limit=10&hubId=634fa8f119f4de35c534ad12&page=1",
                    "from": 1,
                    "last_page": 1,
                    "last_page_url": "https://apiweb.mile.app/api/v3/task/schedules?limit=10&hubId=634fa8f119f4de35c534ad12&page=1",
                    "links": [
                        {
                            "url": null,
                            "label": "&laquo; Previous",
                            "active": false
                        },
                        {
                            "url": "https://apiweb.mile.app/api/v3/task/schedules?limit=10&hubId=634fa8f119f4de35c534ad12&page=1",
                            "label": "1",
                            "active": true
                        },
                        {
                            "url": null,
                            "label": "Next &raquo;",
                            "active": false
                        }
                    ],
                    "next_page_url": null,
                    "path": "https://apiweb.mile.app/api/v3/task/schedules",
                    "per_page": 10,
                    "prev_page_url": null,
                    "to": 5,
                    "total": 5
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/parameters/responses/badRequest/schema"
            },
            "examples": {
              "application/json": {
                "status": false,
                "message": "#/parameters/descriptions/messageResponse",
                "failedCode": "sched-001"
              }
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            },
            "examples": {
              "application/json": {
                "status": false,
                "message": "Internal server error",
                "failedCode": "sched-045"
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": [],
            "x-api-key": []
          }
        ]
      }
    },

    "/task/schedule/{id}" : {
      "get": {
        "summary": "Read task schedule by ID",
        "tags": [
          "Task Schedule"
        ],
        "operationId": "GetTaskSchedule",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "scheduleId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique identifier for the task schedule that generated by system.<br>**Example**: `6352736c628401059b37a2e2`"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "title": "NetworkReadByIdResponse",
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "boolean"
                },
                "message": {
                  "description": "Message of API response.",
                  "type": "string"
                },
                "taskSchedules": {
                  "description": "Detail of object task schedule.",
                  "type": "object"
                }
              },
              "example": {
                "status": true,
                "message": "Success",
                "taskSchedules": {
                    "hubId": "634e98498ce07d29474a7e29",
                    "name": "Daily Morning Visit",
                    "periode": "daily",
                    "flow": "Visit",
                    "flowId": "67be687c128306111e022022",
                    "task": {
                        "receiverName": "Miguel",
                        "address": "gambir jakarta pusat",
                        "coordinates": "",
                        "weight": "5"
                    },
                    "schedules": [
                        {
                            "time": [
                                "07:00"
                            ]
                        }
                    ],
                    "startTime": "2022-11-02",
                    "endTime": "2022-11-05",
                    "createdBy": "Pablo",
                    "timeSchedules": [
                        "07:00"
                    ],
                    "organizationId": "634e98098ce07d29474a7e22",
                    "updatedTime": "2022-11-01T07:28:23+00:00",
                    "createdTime": "2022-11-01T07:28:23+00:00",
                    "_id": "6352736c628401059b37a2e2"
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "schema": {
              "$ref": "#/parameters/responses/notFound/schema"
            },
            "examples": {
              "application/json": {
                "status": false,
                "message": "Data not found",
                "failedCode": "sched-033"
              }
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            },
            "examples": {
              "application/json": {
                "status": false,
                "message": "Internal server error",
                "failedCode": "sched-045"
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": [],
            "x-api-key": []
          }
        ]
      }
    },

    "/task/schedule": {
      "post": {
        "summary": "Create task schedule",
        "tags": [
          "Task Schedule"
        ],
        "operationId": "taskSchedule",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/BaseBodyTaskSchedule"
            },
            "x-examples": {
              "application/json": {
                  "Daily": {
                    "summary" : "Daily",
                    "value" : {
                      "hubId": "634e98498ce07d29474a7e29",
                      "name": "Daily house inspection",
                      "periode": "daily",
                      "flow": "House Inspection",
                      "flowId": "67be5ea06c807f989b0e7342",
                      "task": {
                        "customerName": "Jhon doe",
                        "addressCustomer": "JL Button no 15",
                        "coordinateCustomer": "-6.31022,107.09073"
                      },
                      "assignee": [
                        "jhon@paket.id"
                      ],
                      "schedules": [
                        {
                          "time": [
                            "07:00"
                          ]
                        }
                      ],
                      "startTime": "2022-11-02",
                      "endTime": "2022-11-05"
                    }
                  },
                  "Weekly": {
                    "summary" : "Weekly",
                    "value" : {
                      "hubId": "660cd7bfebcc9870d163b6b7",
                      "name": "Weekly house inspection",
                      "periode": "weekly",
                      "flow": "House Inspection",
                      "flowId": "67be5ea06c807f989b0e7342",
                      "task": {
                        "customerName": "Jhon doe",
                        "addressCustomer": "JL Button no 15",
                        "coordinateCustomer": "-6.31022,107.09073"
                      },
                      "assignee": [
                        "jhon@paket.id"
                      ],
                      "schedules": [
                          {
                              "day": "sunday",
                              "time": [
                                  "08:06"
                              ]
                          }
                      ],
                      "startTime": "2024-04-03",
                      "endTime": "2024-04-30"
                    }
                  },
                  "Monthly": {
                    "summary" : "Monthly",
                    "value" : {
                      "hubId": "660cd7bfebcc9870d163b6b7",
                      "name": "Monthly house inspection",
                      "periode": "monthly",
                      "flow": "House Inspection",
                      "flowId": "67be5ea06c807f989b0e7342",
                      "task": {
                        "customerName": "Jhon doe",
                        "addressCustomer": "JL Button no 15",
                        "coordinateCustomer": "-6.31022,107.09073"
                      },
                      "assignee": [
                        "jhon@paket.id"
                      ],
                      "schedules": [
                          {
                            "date": "5",
                            "time": [
                                "08:09"
                            ]
                          }
                      ],
                      "startTime": "2024-04-03",
                      "endTime": "2024-04-30"
                    }
                  },
                  "ByDate": {
                    "summary" : "By date",
                    "value" : {
                      "hubId": "660cd7bfebcc9870d163b6b7",
                      "name": "Scheduled house inspection",
                      "periode": "weekly",
                      "flow": "House Inspection",
                      "flowId": "67be5ea06c807f989b0e7342",
                      "task": {
                        "customerName": "Jhon doe",
                        "addressCustomer": "JL Button no 15",
                        "coordinateCustomer": "-6.31022,107.09073"
                      },
                      "assignee": [
                        "jhon@paket.id"
                      ],
                      "schedules": [
                          {
                            "date": "2024-01-02",
                            "time": [
                                "08:09"
                            ]
                          }
                      ],
                      "startTime": "2024-04-03",
                      "endTime": "2024-04-30"
                    }
                  },
                  "CustomDaily": {
                    "summary" : "Custom daily",
                    "value" : {
                      "hubId": "667b8e62b76860782a455e62",
                      "name": "Inspection Every 2 Days",
                      "periode": "custom",
                      "flow": "Inspection",
                      "flowId": "67be688e128306111e022025",
                      "task": {
                        "orderNumber": "Inspection Every 2 Days"
                      },
                      "assignee": [
                        "jhon@paket.id"
                      ],
                      "schedules": [
                        {
                          "time": [
                            "07:00"
                          ]
                        }
                      ],
                      "startTime": "2024-09-01 00:00",
                      "endTime": "2024-12-31 23:59",
                      "frequency": "daily",
                      "interval": 2
                    }
                    
                  },
                  "CustomWeekly": {
                    "summary" : "Custom weekly",
                    "value" : {
                      "hubId": "667b8e62b76860782a455e62",
                      "name": "Biweekly Inspection",
                      "periode": "custom",
                      "flow": "Inspection",
                      "flowId": "67be688e128306111e022025",
                      "task": {
                        "orderNumber": "Biweekly Inspection"
                      },
                      "assignee": [
                        "jhon@paket.id"
                      ],
                      "schedules": [
                        {
                          "day": "monday",
                          "time": [
                            "01:00"
                          ]
                        }
                      ],
                      "startTime": "2024-09-01 00:00",
                      "endTime": "2024-12-31 23:59",
                      "frequency": "weekly",
                      "interval": 2
                    }
                    
                  },
                  "CustomMonthly": {
                    "summary" : "Custom monthly",
                    "value": {
                      "hubId": "667b8e62b76860782a455e62",
                      "name": "Inspection Every 3 Month",
                      "periode": "custom",
                      "flow": "Inspection",
                      "flowId": "67be688e128306111e022025",
                      "task": {
                        "orderNumber": "Inspection Every 3 Month"
                      },
                      "assignee": [
                        "jhon@paket.id"
                      ],
                      "schedules": [
                        {
                          "date": "1",
                          "time": [
                            "08:00"
                          ]
                        }
                      ],
                      "startTime": "2024-09-01 00:00",
                      "endTime": "2024-12-31 23:59",
                      "frequency": "monthly",
                      "interval": 3
                    }
                    
                  }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "title": "NetworkCreateResponse",
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "boolean"
                },
                "message": {
                  "description": "Message of API response.",
                  "type": "string"
                },
                "data": {
                  "description": "Detail of object task schedule.",
                  "type": "object"
                }
              },
              "example": {
                "status": true,
                "message": "Task Scheduler has been created",
                "data": {
                    "hubId": "634e98498ce07d29474a7e29",
                    "name": "Daily Morning Visit",
                    "periode": "daily",
                    "flow": "Visit",
                    "flowId": "67be687c128306111e022022",
                    "task": {
                        "receiverName": "Miguel",
                        "address": "gambir jakarta pusat",
                        "coordinates": "",
                        "weight": "5"
                    },
                    "schedules": [
                        {
                            "time": [
                                "07:00"
                            ]
                        }
                    ],
                    "startTime": "2022-11-02",
                    "endTime": "2022-11-05",
                    "createdBy": "Pablo",
                    "timeSchedules": [
                        "07:00"
                    ],
                    "organizationId": "634e98098ce07d29474a7e22",
                    "updatedTime": "2022-11-01T07:28:23+00:00",
                    "createdTime": "2022-11-01T07:28:23+00:00",
                    "_id": "6352736c628401059b37a2e2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/parameters/responses/badRequest/schema"
            },
            "examples": {
              "application/json": {
                "status": false,
                "message": "#/parameters/descriptions/messageResponse",
                "failedCode": "sched-001"
              }
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            },
            "examples": {
              "application/json": {
                "status": false,
                "message": "Internal server error",
                "failedCode": "sched-045"
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": [],
            "x-api-key": []
          }
        ]
      }
    },

    "/task/schedules/bulk": {
      "post": {
        "summary": "Bulk create task schedule",
        "tags": [
          "Task Schedule"
        ],
        "operationId": "PostTaskScheduleBulk",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postbulkrequestSchedule"
            },
            "x-examples": {
              "application/json": {
                  "Daily": 
                  {
                    "summary" : "Daily",
                    "value" : {
                      "schedules" : [
                        {
                        
                          "hubId": "634e98498ce07d29474a7e29",
                          "name": "Daily house inspection",
                          "periode": "daily",
                          "flow": "House Inspection",
                          "flowId": "67be5ea06c807f989b0e7342",
                          "task": {
                            "customerName": "Jhon doe",
                            "addressCustomer": "JL Button no 15",
                            "coordinateCustomer": "-6.31022,107.09073"
                          },
                          "assignee": [
                            "jhon@paket.id"
                          ],
                          "schedules": [
                            {
                              "time": [
                                "07:00"
                              ]
                            }
                          ],
                          "startTime": "2022-11-02",
                          "endTime": "2022-11-05"
                        }
                      ]
                    }
                  },
                  "Weekly": {
                    "summary" : "Weekly",
                    "value" : {
                      "schedules" : [
                        {
                          "hubId": "660cd7bfebcc9870d163b6b7",
                          "name": "Weekly house inspection",
                          "periode": "weekly",
                          "flow": "House Inspection",
                          "flowId": "67be5ea06c807f989b0e7342",
                          "task": {
                            "customerName": "Jhon doe",
                            "addressCustomer": "JL Button no 15",
                            "coordinateCustomer": "-6.31022,107.09073"
                          },
                          "assignee": [
                            "jhon@paket.id"
                          ],
                          "schedules": [
                              {
                                  "day": "sunday",
                                  "time": [
                                      "08:06"
                                  ]
                              }
                          ],
                          "startTime": "2024-04-03",
                          "endTime": "2024-04-30"
                        }
                      ]
                    }
                  },
                  "Monthly": {
                    "summary" : "Monthly",
                    "value" : {
                      "schedules" : [
                        {
                          "hubId": "660cd7bfebcc9870d163b6b7",
                          "name": "Monthly house inspection",
                          "periode": "monthly",
                          "flow": "House Inspection",
                          "flowId": "67be5ea06c807f989b0e7342",
                          "task": {
                            "customerName": "Jhon doe",
                            "addressCustomer": "JL Button no 15",
                            "coordinateCustomer": "-6.31022,107.09073"
                          },
                          "assignee": [
                            "jhon@paket.id"
                          ],
                          "schedules": [
                              {
                                "date": "5",
                                "time": [
                                    "08:09"
                                ]
                              }
                          ],
                          "startTime": "2024-04-03",
                          "endTime": "2024-04-30"
                        }
                      ]
                    }
                  },
                  "ByDate": {
                    "summary" : "By date",
                    "value" : {
                      "schedules" : [
                        {
                          "hubId": "660cd7bfebcc9870d163b6b7",
                          "name": "Scheduled house inspection",
                          "periode": "weekly",
                          "flow": "House Inspection",
                          "flowId": "67be5ea06c807f989b0e7342",
                          "task": {
                            "customerName": "Jhon doe",
                            "addressCustomer": "JL Button no 15",
                            "coordinateCustomer": "-6.31022,107.09073"
                          },
                          "assignee": [
                            "jhon@paket.id"
                          ],
                          "schedules": [
                              {
                                "date": "2024-01-02",
                                "time": [
                                    "08:09"
                                ]
                              }
                          ],
                          "startTime": "2024-04-03",
                          "endTime": "2024-04-30"
                        }
                      ]
                    }
                  },
                  "CustomDaily": {
                    "summary" : "Custom daily",
                    "value" : {
                      "schedules" : [
                        {
                          "hubId": "667b8e62b76860782a455e62",
                          "name": "Inspection Every 2 Days",
                          "periode": "custom",
                          "flow": "Inspection",
                          "flowId": "67be688e128306111e022025",
                          "task": {
                            "orderNumber": "Inspection Every 2 Days"
                          },
                          "assignee": [
                            "jhon@paket.id"
                          ],
                          "schedules": [
                            {
                              "time": [
                                "07:00"
                              ]
                            }
                          ],
                          "startTime": "2024-09-01 00:00",
                          "endTime": "2024-12-31 23:59",
                          "frequency": "daily",
                          "interval": 2
                        }
                      ]
                    }
                    
                  },
                  "CustomWeekly": {
                    "summary" : "Custom weekly",
                    "value" : {
                      "schedules" : [
                        {
                          "hubId": "667b8e62b76860782a455e62",
                          "name": "Biweekly Inspection",
                          "periode": "custom",
                          "flow": "Inspection",
                          "flowId": "67be688e128306111e022025",
                          "task": {
                            "orderNumber": "Biweekly Inspection"
                          },
                          "assignee": [
                            "jhon@paket.id"
                          ],
                          "schedules": [
                            {
                              "day": "monday",
                              "time": [
                                "01:00"
                              ]
                            }
                          ],
                          "startTime": "2024-09-01 00:00",
                          "endTime": "2024-12-31 23:59",
                          "frequency": "weekly",
                          "interval": 2
                        }
                      ]
                    }
                    
                  },
                  "CustomMonthly": {
                    "summary" : "Custom monthly",
                    "value": {
                      "schedules" : [
                        {
                          "hubId": "667b8e62b76860782a455e62",
                          "name": "Inspection Every 3 Month",
                          "periode": "custom",
                          "flow": "Inspection",
                          "flowId": "67be688e128306111e022025",
                          "task": {
                            "orderNumber": "Inspection Every 3 Month"
                          },
                          "assignee": [
                            "jhon@paket.id"
                          ],
                          "schedules": [
                            {
                              "date": "1",
                              "time": [
                                "08:00"
                              ]
                            }
                          ],
                          "startTime": "2024-09-01 00:00",
                          "endTime": "2024-12-31 23:59",
                          "frequency": "monthly",
                          "interval": 3
                        }
                      ]
                    }
                    
                  }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "type": "object",
              "title": "NetworkCreateBulkResponse",
              "properties": {
                "success": {
                  "description": "Total number of success created schedule.",
                  "type": "integer"
                },
                "failed": {
                  "description": "Total number of failed created schedule.",
                  "type": "integer"
                },
                "schedules": {
                  "description": "List result of created task schedule.",
                  "type": "array",
                  "items":{
                    "type": "object",
                    "properties": {
                      "status" : {
                        "type" : "boolean",
                        "description" : "Status of response" 
                      },
                      "message" : {
                        "type" : "string",
                        "description" : "Message of response" 
                      },
                      "_id" : {
                        "type" : "string",
                        "description" : "ID of task schedule" 
                      },
                      "name" : {
                        "type" : "string",
                        "description" : "Name of task schedule" 
                      }
                    }
                  }
                },
                "failed_index": {
                  "description": "List of failed index of schedule.",
                  "type": "array"
                }
              },
              "example": {
                "success": 1,
                "failed": 1,
                "schedules": [
                    {
                        "status": true,
                        "message": "Task Scheduler has been created",
                        "_id": "63fc2ccaea976f77fb2ff802",
                        "name": "Daily Morning Visit"
                    },
                    {
                        "status": false,
                        "message": "The schedules field is required.",
                        "_id": "63fc2ccaea976f77fb2ff802",
                        "name": "Visit",
                        "failedCode": "sched-001"
                    }
                ],
                "failed_index": [
                    1
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/parameters/responses/badRequest/schema"
            },
            "examples": {
              "application/json": {
                "status": false,
                "message": "#/parameters/descriptions/messageResponse",
                "failedCode": "sched-001"
              }
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            },
            "examples": {
              "application/json": {
                "status": false,
                "message": "Internal server error",
                "failedCode": "sched-045"
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": [],
            "x-api-key": []
          }
        ]
      }
    },
    
    "/task/schedule/{scheduleId}": {
      "put": {
        "summary": "Update task schedule by ID",
        "tags": [
          "Task Schedule"
        ],
        "operationId": "PutTask",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "scheduleId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique identifier for the task schedule that generated by system.<br>**Example**: `6352736c628401059b37a2e2`"
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putRequestSchedule"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "type": "object",
              "title": "NetworkPutResponse",
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "boolean"
                },
                "message": {
                  "description": "Message of API response.",
                  "type": "string"
                },
                "data": {
                  "description": "Detail of object task schedule.",
                  "type": "object"
                }
              },
              "example": {
                "status": true,
                "message": "Update data success",
                "data": {
                  "hubId": "634e98498ce07d29474a7e29",
                  "name": "Daily Morning Visit 2",
                  "periode": "daily",
                  "flow": "Visit",
                  "flowId": "67be687c128306111e022022",
                  "task": {
                      "receiverName": "Miguel",
                      "address": "gambir jakarta pusat",
                      "coordinates": "",
                      "weight": "5"
                  },
                  "schedules": [
                      {
                          "time": [
                              "07:00"
                          ]
                      }
                  ],
                  "startTime": "2022-11-02",
                  "endTime": "2022-11-05",
                  "createdBy": "Pablo",
                  "timeSchedules": [
                      "07:00"
                  ],
                  "organizationId": "634e98098ce07d29474a7e22",
                  "updatedTime": "2022-11-01T07:28:23+00:00",
                  "createdTime": "2022-11-01T07:28:23+00:00",
                  "_id": "6352736c628401059b37a2e2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/parameters/responses/badRequest/schema"
            },
            "examples": {
              "application/json": {
                "status": false,
                "message": "#/parameters/descriptions/messageResponse",
                "failedCode": "sched-001"
              }
            }
          },
          "404": {
            "description": "Data not found",
            "schema": {
              "$ref": "#/parameters/responses/notFound/schema"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            },
            "examples": {
              "application/json": {
                "status": false,
                "message": "Internal server error",
                "failedCode": "sched-045"
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": [],
            "x-api-key": []
          }
        ]
      },
      "patch": {
        "summary": "Update partially task schedule by ID",
        "tags": [
          "Task Schedule"
        ],
        "operationId": "PatchTask",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "scheduleId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique identifier for the task schedule that generated by system.<br>**Example**: `6352736c628401059b37a2e2`"
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/patchRequestSchedule"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "type": "object",
              "title": "NetworkPatchResponse",
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "boolean"
                },
                "message": {
                  "description": "Message of API response.",
                  "type": "string"
                },
                "data": {
                  "description": "Detail of object task schedule.",
                  "type": "object"
                }
              },
              "example": {
                "status": true,
                "message": "Update data success",
                "data": {
                  "hubId": "634e98498ce07d29474a7e29",
                  "name": "Daily Morning Visit 3",
                  "periode": "daily",
                  "flow": "Visit",
                  "flowId": "67be687c128306111e022022",
                  "task": {
                      "receiverName": "Miguel",
                      "address": "gambir jakarta pusat",
                      "coordinates": "",
                      "weight": "5"
                  },
                  "schedules": [
                      {
                          "time": [
                              "07:00"
                          ]
                      }
                  ],
                  "startTime": "2022-11-02",
                  "endTime": "2022-11-05",
                  "createdBy": "Pablo",
                  "timeSchedules": [
                      "07:00"
                  ],
                  "organizationId": "634e98098ce07d29474a7e22",
                  "updatedTime": "2022-11-01T07:28:23+00:00",
                  "createdTime": "2022-11-01T07:28:23+00:00",
                  "_id": "6352736c628401059b37a2e2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/parameters/responses/badRequest/schema"
            },
            "examples": {
              "application/json": {
                "status": false,
                "message": "#/parameters/descriptions/messageResponse",
                "failedCode": "sched-001"
              }
            }
          },
          "404": {
            "description": "Data not found",
            "schema": {
              "$ref": "#/parameters/responses/notFound/schema"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            },
            "examples": {
              "application/json": {
                "status": false,
                "message": "Internal server error",
                "failedCode": "sched-045"
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": [],
            "x-api-key": []
          }
        ]
      },
      "delete": {
        "summary": "Delete task schedule by ID",
        "tags": [
          "Task Schedule"
        ],
        "operationId": "Delete",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "scheduleId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique identifier for the task schedule that generated by system.<br>**Example**: `6352736c628401059b37a2e2`"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "title": "NetworkDeleteResponse",
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "boolean"
                },
                "message": {
                  "description": "Message of API response.",
                  "type": "string"
                }
              },
              "example": {
                "status": true,
                "message": "Delete success."
              }
            }
          },
          "404": {
            "description": "Data not found",
            "schema": {
              "$ref": "#/parameters/responses/notFound/schema"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            },
            "examples": {
              "application/json": {
                "status": false,
                "message": "Internal server error",
                "failedCode": "sched-045"
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": [],
            "x-api-key": []
          }
        ]
      }
    }

  },
  "definitions": {
    "BaseBodyTaskSchedule": {
      "x-discriminator": "taskScheduleDetails",
      "type": "object",
      "required": [
        "startTime",
        "endTime",
        "name",
        "periode",
        "flow",
        "flowId",
        "hubId",
        "task",
        "schedules"
      ],
      "properties": {
        "hubId": {
          "type": "string",
          "description": {
            "$ref": "#/parameters/descriptions/hubId"
          }
        },
        "name": {
          "type": "string",
          "description": "The name of task schedule. User can define task schedule name with task's flow name combined with running time, or something else.<br>**Example**: `Daily Morning Visit`"
        },
        "periode": {
          "type": "string",
          "description": "There are 5 types of periode: **daily**, **weekly**, **monthly**, **byDate**, **custom**. Period of time when the task scheduler running.<br>**Example:** `daily`"
        },
        "flow": {
          "type": "string",
          "description": "The unique name of organization's flow. Use <a href='#tag/Flow'>Flow /flows API</a> to get the list of flow names.<br>**Example:** `Visit`"
        },
        "flowId": {
          "type": "string",
          "description": "The Identifier of organization's flow. Use <a href='#tag/Flow'>Flow /flows API</a> to get the list of flow ids.<br>**Example:** `67be687c128306111e022022`"
        },
        "startTime": {
          "type": "date",
          "description": "Start date of task scheduler to active. this field only available when periode's value is one of: **daily**, **weekly**, **monthly** <br>**Example:** `2022-11-02`"
        },
        "endTime": {
          "type": "date",
          "description": "End date of task scheduler to active. this field only available when periode's value is one of: **daily**, **weekly**, **monthly** <br>**Example:** `2022-11-05`"
        },
        "task" : {
          "type": "object",
          "description" : "data of task according to selected flow.<br>**Example:** <br>`{`<br>`'receiverName':'miguel',`<br>`'coordinates':'-6.230815251,106.75684387',`<br>`'address':'rawamangun jakarta timur'`<br>`}`"
        },
        "assignee": {
          "description": "List of user email that will be assigned to the generated task. **Example:** `['jhon@sample.com']` ",
          "type": "array of string"
        },
        "interval": {
          "type": "integer",
          "minimum":1,
          "maximum":99,
          "nullable": true,
          "description": "Number units of frequency between each scheduled execution. For example, an interval of 2 with a frequency of daily means the task will run every 2 days. This required when select the custom periode.<br>**Example:** `daily`"
        },
        "frequency": {
          "type": "string",
          "enum":["daily","weekly","monthly"],
          "nullable": true,
          "description": "Specified unit of time for the scheduling interval. Determines how often the scheduled task will run based on the interval value.This required when select the custom periode.<br>**Example:** `daily`"
        }
      }
    },
    "Daily" : {
        "allOf": [
          {
            "$ref": "#/definitions/BaseBodyTaskSchedule"
          },
          {
            "required": [
              "taskScheduleDetails"
            ],
            "properties": {
              "schedules" : {
                "type" : "array",
                "description" : "Object with format according to value of periode. Configuration for the time of task scheduler will run.",
                "items": {
                  "type": "object",
                  "properties": {
                    "time": {
                      "type": "time",
                      "description": "Time of the task schedule will be executed. **Example:** `07:00`"
                    }
                  },
                  "required" : ["time"]
                }
              }
            }
          }
        ]
    },
    "Weekly" : {
      "allOf": [
        {
          "$ref": "#/definitions/BaseBodyTaskSchedule"
        },
        {
          "required": [
            "taskScheduleDetails"
          ],
          "properties": {
            "schedules" : {
              "type" : "array",
              "description" : "Object with format according to value of periode. Configuration for the time of task scheduler will run.",
              "items": {
                "type": "object",
                "properties": {
                  "day": {
                    "type": "string",
                    "description": "Day of the task schedule will be executed. **Example:** `sunday`"
                  },
                  "time": {
                    "type": "time",
                    "description": "Time of the task schedule will be executed. **Example:** `07:00`"
                  }
                },
                "required" : ["day","time"]
              }
            }
          }
        }
      ]
    },
    "Monthly" : {
      "allOf": [
        {
          "$ref": "#/definitions/BaseBodyTaskSchedule"
        },
        {
          "required": [
            "taskScheduleDetails"
          ],
          "properties": {
            "schedules" : {
              "type" : "array",
              "description" : "Object with format according to value of periode. Configuration for the time of task scheduler will run.",
              "items": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "description": "Date of the task schedule will be executed. **Example:** `10`"
                  },
                  "time": {
                    "type": "time",
                    "description": "Time of the task schedule will be executed. **Example:** `07:00`"
                  }
                },
                "required" : ["date","time"]
              }
            }
          }
        }
      ]
    },
    "ByDate" : {
      "allOf": [
        {
          "$ref": "#/definitions/BaseBodyTaskSchedule"
        },
        {
          "required": [
            "taskScheduleDetails"
          ],
          "properties": {
            "schedules" : {
              "type" : "array",
              "description" : "Object with format according to value of periode. Configuration for the time of task scheduler will run.",
              "items": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "description": "Date of the task schedule will be executed. **Example:** `2024-01-02`"
                  },
                  "time": {
                    "type": "time",
                    "description": "Time of the task schedule will be executed.<br>**Example:** `07:00`"
                  }
                },
                "required" : ["date","time"]
              }
            }
          }
        }
      ]
    },
    "CustomDaily": {
      "allOf": [
        {
          "$ref": "#/definitions/BaseBodyTaskSchedule"
        },
        {
          "required": [
            "taskScheduleDetails"
          ],
          "properties": {
            "schedules": {
              "type": "array",
              "description": "Object with format according to value of periode. Configuration for the time of task scheduler will run.",
              "items": {
                "type": "object",
                "properties": {
                  "time": {
                    "type": "time",
                    "description": "Time of the task schedule will be executed. **Example:** `07:00`"
                  }
                },
                "required": [
                  "time"
                ]
              }
            }
          }
        }
      ]
    },
    "CustomWeekly": {
      "allOf": [
        {
          "$ref": "#/definitions/BaseBodyTaskSchedule"
        },
        {
          "required": [
            "taskScheduleDetails"
          ],
          "properties": {
            "schedules": {
              "type": "array",
              "description": "Object with format according to value of periode. Configuration for the time of task scheduler will run.",
              "items": {
                "type": "object",
                "properties": {
                  "day": {
                    "type": "string",
                    "description": "Day of the task schedule will be executed. **Example:** `sunday`"
                  },
                  "time": {
                    "type": "time",
                    "description": "Time of the task schedule will be executed. **Example:** `07:00`"
                  }
                },
                "required": [
                  "day",
                  "time"
                ]
              }
            }
          }
        }
      ]
    },
    "CustomMonthly": {
      "allOf": [
        {
          "$ref": "#/definitions/BaseBodyTaskSchedule"
        },
        {
          "required": [
            "taskScheduleDetails"
          ],
          "properties": {
            "schedules": {
              "type": "array",
              "description": "Object with format according to value of periode. Configuration for the time of task scheduler will run.",
              "items": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "description": "Date of the task schedule will be executed. **Example:** `10`"
                  },
                  "time": {
                    "type": "time",
                    "description": "Time of the task schedule will be executed. **Example:** `07:00`"
                  }
                },
                "required": [
                  "date",
                  "time"
                ]
              }
            }
          }
        }
      ]
    },
    "postRequestSchedule": {
      "title": "postRequestSchedule",
      "example": {
        "hubId": "634e98498ce07d29474a7e29",
        "name": "Daily Morning Visit",
        "periode": "daily",
        "flow": "Visit",
        "flowId": "67be687c128306111e022022",
        "task": {
          "receiverName": "Miguel",
          "address": "gambir jakarta pusat",
          "coordinates": "",
          "weight": "5"
        },
        "schedules": [
          {
            "time": [
              "07:00"
            ]
          }
        ],
        "startTime": "2022-11-02",
        "endTime": "2022-11-05"
      },
      "type": "object",
      "properties": {
        "hubId": {
          "type": "string",
          "description": "The identifier for the hub that generated by system. Use <a href='#tag/Hub'>GET /hubs API</a> to get the list of Hub IDs.<br>**Example:** `634e98498ce07d29474a7e29`"
        },
        "name": {
          "type": "string",
          "description": "The name of task schedule. User can define task schedule name with task's flow name combined with running time, or something else.<br>**Example**: `Daily Morning Visit`"
        },
        "periode": {
          "type": "string",
          "description": "There are 5 types of periode: `daily`, `weekly`, `monthly`, `byDate`, `custom`. Period of time when the task scheduler running.<br>**Example:** `daily`"
        },
        "flow": {
          "type": "string",
          "description": "The unique name of organization's flow. Use <a href='#tag/Flow'>Flow /flows API</a> to get the list of flow names.<br>**Example:** `Visit`"
        },
        "startTime": {
          "type": "date",
          "description": "Start date of task scheduler to active. this field only available when periode's value is one of:<br>`daily`, `weekly`, `monthly` <br>**Example:** `2022-11-02`"
        },
        "endTime": {
          "type": "date",
          "description": "End date of task scheduler to active. this field only available when periode's value is one of:<br>`daily`, `weekly`, `monthly` <br>**Example:** `2022-11-05`"
        },
        "task" : {
          "type": "object",
          "description" : "data of task according to selected flow.<br>**Example:** <br>`{`<br>`'receiverName':'miguel',`<br>`'coordinates':'-6.230815251,106.75684387',`<br>`'address':'rawamangun jakarta timur'`<br>`}`"
        },
        "schedules" : {
          "type" : "array",
          "description" : "Object with format according to value of periode. Configuration for the time of task scheduler will run.<br>**Example for periode of** `daily`:<br>`[{`<br>`'time':['07:00']`<br>`}]`<br>**Example for periode of** `weekly`:<br>`[{`<br>`'day':'sunday',`<br>`'time':['07:00']`<br>`}]`<br>**Example for periode of** `monthly`:<br>`[{`<br>`'date':'1',`<br>`'time':['07:00']`<br>`}]`<br>**Example for periode of** `byDate`:<br>`[{`<br>`'date':'2022-11-03',`<br>`'time':['07:00']`<br>`}]`",
          "items": {
            "type": "object",
            "properties": {
              "day": {
                "type": "string",
                "description": "Name of day in a week. `day` is required when *periode* value is `weekly`.<br>**Example:** `sunday`"
              },
              "time": {
                "type": "time",
                "description": "Time of the task schedule will be executed.<br>**Example:** `07:00`"
              },
              "date": {
                "type": "date",
                "description": "Date of task schedule will be executed. `date` is required when *periode* value is `monthly` or `byDate`.<br>**Example for monthly periode**: `1`<br>**Example for byDate periode**: `2022-11-03`"
              }
            },
            "required" : ["day","time","date"]
          }
        }
      },
      "required": [
        "startTime",
        "endTime",
        "name",
        "periode",
        "flow",
        "hubId",
        "task",
        "schedules"
      ]
    },
    "postbulkrequestSchedule": {
      "title": "task/bulkrequest",
      "type": "object",
      "properties": {
        "schedules": {
          "type": "array",
          "maxItems" : 50,
          "items": {
            "$ref": "#/definitions/BaseBodyTaskSchedule"
          }
        }
      },
      "required": [
        "schedules"
      ]
    },
    "putRequestSchedule": {
      "title": "task/idrequest",
      "example": {
        "hubId": "634e98498ce07d29474a7e29",
        "name": "Daily Morning Visit 2",
        "periode": "daily",
        "flow": "Visit",
        "flowId": "67be687c128306111e022022",
        "task": {
          "receiverName": "Miguel",
          "address": "gambir jakarta pusat",
          "coordinates": "",
          "weight": "5"
        },
        "schedules": [
          {
            "time": [
              "07:00"
            ]
          }
        ],
        "startTime": "2022-11-02",
        "endTime": "2022-11-05"
      },
      "type": "object",
      "properties": {
        "hubId": {
          "type": "string",
          "description": {
            "$ref": "#/parameters/descriptions/hubId"
          }
        },
        "name": {
          "type": "string",
          "description": "The name of task schedule. User can define task schedule name with task's flow name combined with running time, or something else.<br>**Example**: `Daily Morning Visit`"
        },
        "periode": {
          "type": "string",
          "description": "There are 5 types of periode: `daily`, `weekly`, `monthly`, `byDate`, `custom`. Period of time when the task scheduler running.<br>**Example:** `daily`"
        },
        "flow": {
          "type": "string",
          "description": "The unique name of organization's flow. Use <a href='#tag/Flow'>Flow /flows API</a> to get the list of flow names.<br>**Example:** `Visit`"
        },
        "flowId": {
          "type": "string",
          "description": "The Identifier of organization's flow. Use <a href='#tag/Flow'>Flow /flows API</a> to get the list of flow ids.<br>**Example:** `67be687c128306111e022022`"
        },
        "startTime": {
          "type": "date",
          "description": "Start date of task scheduler to active. this field only available when periode's value is one of:<br>`daily`, `weekly`, `monthly` <br>**Example:** `2022-11-02`"
        },
        "endTime": {
          "type": "date",
          "description": "End date of task scheduler to active. this field only available when periode's value is one of:<br>`daily`, `weekly`, `monthly` <br>**Example:** `2022-11-05`"
        },
        "task" : {
          "type": "object",
          "description" : "data of task according to selected flow.<br>**Example:** <br>`{`<br>`'receiverName':'miguel',`<br>`'coordinates':'-6.230815251,106.75684387',`<br>`'address':'rawamangun jakarta timur'`<br>`}`"
        },
        "interval": {
          "type": "integer",
          "minimum": 1,
          "maximum": 99,
          "nullable": true,
          "description": "Number units of frequency between each scheduled execution. For example, an interval of 2 with a frequency of daily means the task will run every 2 days. This required when select the custom periode.<br>**Example:** `daily`"
        },
        "frequency": {
          "type": "string",
          "enum": [
            "daily",
            "weekly",
            "monthly"
          ],
          "nullable": true,
          "description": "Specified unit of time for the scheduling interval. Determines how often the scheduled task will run based on the interval value.This required when select the custom periode.<br>**Example:** `daily`"
        },
        "schedules" : {
          "type" : "array",
          "description" : "Object with format according to value of periode. Configuration for the time of task scheduler will run.<br>**Example for periode of** `daily`:<br>`[{`<br>`'time':['07:00']`<br>`}]`<br>**Example for periode of** `weekly`:<br>`[{`<br>`'day':'sunday',`<br>`'time':['07:00']`<br>`}]`<br>**Example for periode of** `monthly`:<br>`[{`<br>`'date':'1',`<br>`'time':['07:00']`<br>`}]`<br>**Example for periode of** `byDate`:<br>`[{`<br>`'date':'2022-11-03',`<br>`'time':['07:00']`<br>`}]`",
          "items": {
            "type": "object",
            "properties": {
              "day": {
                "type": "string",
                "description": "Name of day in a week. `day` is required when *periode* value is `weekly`.<br>**Example:** `sunday`"
              },
              "time": {
                "type": "time",
                "description": "Time of the task schedule will be executed.<br>**Example:** `07:00`"
              },
              "date": {
                "type": "date",
                "description": "Date of task schedule will be executed. `date` is required when *periode* value is `monthly` or `byDate`.<br>**Example for monthly periode**: `1`<br>**Example for byDate periode**: `2022-11-03`"
              }
            },
            "required" : ["day","time","date"]
          }
        }
      },
      "required": [
        "startTime",
        "endTime",
        "name",
        "periode",
        "flow",
        "flowId",
        "hubId",
        "task",
        "schedules"
      ]
    },
    "patchRequestSchedule": {
      "title": "task/idrequest",
      "example": {
        "hubId": "634e98498ce07d29474a7e29",
        "name": "Daily Morning Visit 3",
        "periode": "daily",
        "flow": "Visit",
        "flowId": "67be687c128306111e022022",
        "task": {
          "receiverName": "Miguel",
          "address": "gambir jakarta pusat",
          "coordinates": "",
          "weight": "5"
        },
        "schedules": [
          {
            "time": [
              "07:00"
            ]
          }
        ],
        "startTime": "2022-11-02",
        "endTime": "2022-11-05"
      },
      "type": "object",
      "properties": {
        "hubId": {
          "type": "string",
          "description": {
            "$ref": "#/parameters/descriptions/hubId"
          }
        },
        "name": {
          "type": "string",
          "description": "The name of task schedule. User can define task schedule name with task's flow name combined with running time, or something else.<br>**Example**: `Daily Morning Visit`"
        },
        "periode": {
          "type": "string",
          "description": "There are 5 types of periode: `daily`, `weekly`, `monthly`, `byDate`, `custom`. Period of time when the task scheduler running.<br>**Example:** `daily`"
        },
        "flow": {
          "type": "string",
          "description": "The unique name of organization's flow. Use <a href='#tag/Flow'>Flow /flows API</a> to get the list of flow names.<br>**Example:** `Visit`"
        },
        "startTime": {
          "type": "date",
          "description": "Start date of task scheduler to active. this field only available when periode's value is one of:<br>`daily`, `weekly`, `monthly` <br>**Example:** `2022-11-02`"
        },
        "endTime": {
          "type": "date",
          "description": "End date of task scheduler to active. this field only available when periode's value is one of:<br>`daily`, `weekly`, `monthly` <br>**Example:** `2022-11-05`"
        },
        "task" : {
          "type": "object",
          "description" : "data of task according to selected flow.<br>**Example:** <br>`{`<br>`'receiverName':'miguel',`<br>`'coordinates':'-6.230815251,106.75684387',`<br>`'address':'rawamangun jakarta timur'`<br>`}`"
        },
        "interval": {
          "type": "integer",
          "minimum": 1,
          "maximum": 99,
          "nullable": true,
          "description": "Number units of frequency between each scheduled execution. For example, an interval of 2 with a frequency of daily means the task will run every 2 days. This required when select the custom periode.<br>**Example:** `daily`"
        },
        "frequency": {
          "type": "string",
          "enum": [
            "daily",
            "weekly",
            "monthly"
          ],
          "nullable": true,
          "description": "Specified unit of time for the scheduling interval. Determines how often the scheduled task will run based on the interval value.This required when select the custom periode.<br>**Example:** `daily`"
        },
        "schedules" : {
          "type" : "array",
          "description" : "Object with format according to value of periode. Configuration for the time of task scheduler will run.<br>**Example for periode of** `daily`:<br>`[{`<br>`'time':['07:00']`<br>`}]`<br>**Example for periode of** `weekly`:<br>`[{`<br>`'day':'sunday',`<br>`'time':['07:00']`<br>`}]`<br>**Example for periode of** `monthly`:<br>`[{`<br>`'date':'1',`<br>`'time':['07:00']`<br>`}]`<br>**Example for periode of** `byDate`:<br>`[{`<br>`'date':'2022-11-03',`<br>`'time':['07:00']`<br>`}]`",
          "items": {
            "type": "object",
            "properties": {
              "day": {
                "type": "string",
                "description": "Name of day in a week. `day` is required when *periode* value is `weekly`.<br>**Example:** `sunday`"
              },
              "time": {
                "type": "time",
                "description": "Time of the task schedule will be executed.<br>**Example:** `07:00`"
              },
              "date": {
                "type": "date",
                "description": "Date of task schedule will be executed. `date` is required when *periode* value is `monthly` or `byDate`.<br>**Example for monthly periode**: `1`<br>**Example for byDate periode**: `2022-11-03`"
              }
            }
          }
        }
      },
      "required": []
    }
  },
  "security": []
}