{
  "openapi": "3.0.0",
  "info": {
    "title": "MileApp API - Workflow",
    "version": "3.0.0",
    "description": "MileApp Internal API Documentation"
  },
  "servers": [
    {
      "url": "https://apiweb.mile.app/api/v3"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "parameters": {
      "hubIdInPath": {
        "name": "hubId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Fundamental entity within an organization, serving as the central point for managing various operational components. Use Use [**GET /hubs**](#tag/Hub/operation/getHubs) endpoint to get the list of Hub IDs.\n**Example:** `634e98498ce07d29474a7e29`"
      },
      "hubIdInQuery": {
        "name": "hubId",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Fundamental entity within an organization, serving as the central point for managing various operational components. Use Use [**GET /hubs**](#tag/Hub/operation/getHubs) endpoint to get the list of Hub IDs.\n**Example:** `634e98498ce07d29474a7e29`"
      },
      "limitInQuery": {
        "name": "limit",
        "in": "query",
        "schema": {
          "default": 20,
          "minimum": 1,
          "maximum": 1000,
          "type": "integer"
        },
        "description": "Specifies the maximum number of items to retrieve in a single request. **Example:** `10`"
      },
      "pageInQuery": {
        "name": "page",
        "in": "query",
        "schema": {
          "default": 1,
          "type": "integer"
        },
        "description": "The page number of results to retrieve. **Example:** `2`"
      }
    },
    "requestBodies": {
      "BaseBodyAutomation": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BaseBodyAutomation"
            }
          }
        },
        "required": true,
        "x-examples": {
          "application/json": {
            "createTask": {
              "summary": "Create task automation",
              "value": {
                "name": "Create task automation",
                "event": "onTaskFinished",
                "automationType": "createTask",
                "dataType": "task",
                "automationDetails": {
                  "flow": "Delivery",
                  "flowId": "667b75b29edc36517c609ac2",
                  "taskData": {
                    "customerName": "vasco",
                    "address": "Jakarta",
                    "description": "$refFlow.name"
                  }
                },
                "rules": {
                  "flow": "Pickup",
                  "flowId": "667b712f63020e5f182f0cb2",
                  "fields": {
                    "name": "roger",
                    "address": "kemayoran"
                  }
                }
              }
            },
            "createAssignTask": {
              "summary": "Create and assign automation",
              "value": {
                "name": "Create and assign automation",
                "event": "onTaskFinished",
                "automationType": "createAssignTask",
                "dataType": "task",
                "automationDetails": {
                  "flow": "Delivery",
                  "flowId": "667b75b29edc36517c609ac2",
                  "hubId": "634e98498ce07d29474a7e29",
                  "assignee": [
                    "roberto@mile.app"
                  ],
                  "taskData": {
                    "customerName": "Da Gama",
                    "address": "Jakarta",
                    "description": "$refFlow.name"
                  }
                },
                "rules": {
                  "flow": "Pickup",
                  "flowId": "667b712f63020e5f182f0cb2",
                  "fields": {
                    "name": "gaban",
                    "address": "pejaten"
                  }
                }
              }
            },
            "moveTask": {
              "summary": "Move task automation",
              "value": {
                "name": "Move task automation",
                "event": "onTaskCreated",
                "automationType": "moveTask",
                "dataType": "task",
                "automationDetails": {
                  "hubId": "634e98498ce07d29474a7e29"
                },
                "rules": {
                  "flow": "Pickup",
                  "flowId": "667b712f63020e5f182f0cb2",
                  "fields": {
                    "name": "sam",
                    "address": "pulogadung"
                  }
                }
              }
            },
            "assignTask": {
              "summary": "Assign task automation",
              "value": {
                "name": "Assign task automation",
                "event": "onTaskCreated",
                "automationType": "assignTask",
                "dataType": "task",
                "automationDetails": {
                  "hubId": "634e98498ce07d29474a7e29",
                  "assignee": [
                    "roberto@mile.app"
                  ]
                },
                "rules": {
                  "flow": "Pickup",
                  "flowId": "667b712f63020e5f182f0cb2",
                  "fields": {
                    "name": "bams",
                    "address": "bogor"
                  }
                }
              }
            },
            "webhook": {
              "summary": "Webhook automation",
              "value": {
                "name": "Webhook automation",
                "event": "onTaskFinished",
                "automationType": "webhook",
                "dataType": "task",
                "automationDetails": {
                  "url": "https://apiweb.mile.app/webhook",
                  "headers": {
                    "x-api-key": "1234e98498ce07d29474a7ev2",
                    "org": "general"
                  }
                },
                "rules": {
                  "flow": "Pickup",
                  "flowId": "667b712f63020e5f182f0cb2"
                }
              }
            },
            "createOrUpdateDataSource": {
              "summary": "Update datasource automation",
              "value": {
                "name": "Update datasource automation",
                "event": "onTaskFinished",
                "automationType": "createOrUpdateDataSource",
                "dataType": "task",
                "automationDetails": {
                  "dataTypeId": "644fcd63562387038543fce2",
                  "dataId": "$refFlow.pickupNumber",
                  "dataSource": {
                    "customerName": "vasco",
                    "address": "jakarta",
                    "contact": "$refFlow.phoneNumber"
                  }
                },
                "rules": {
                  "flow": "Pickup",
                  "flowId": "667b712f63020e5f182f0cb2",
                  "fields": {
                    "name": "sam",
                    "address": "pulogadung"
                  }
                }
              }
            },
            "createDataSource": {
              "summary": "Create task automation on data source created",
              "value": {
                "name": "Create task automation on data source created",
                "event": "onDataSourceCreated",
                "automationType": "createTask",
                "dataType": "data",
                "automationDetails": {
                  "flow": "Delivery",
                  "flowId": "667b75b29edc36517c609ac2",
                  "taskData": {
                    "customerName": "vasco",
                    "address": "Jakarta",
                    "description": "$refData.name"
                  }
                },
                "rules": {
                  "dataTypeId": "644fcd63562387038543fce2",
                  "fields": {
                    "name": "roger",
                    "address": "kemayoran"
                  }
                }
              }
            },
            "webhookDataSource": {
              "summary": "Webhook automation on data source created",
              "value": {
                "name": "Webhook automation on data source created",
                "event": "onDataSourceCreated",
                "automationType": "webhook",
                "dataType": "data",
                "automationDetails": {
                  "url": "https://apiweb.mile.app/webhook",
                  "headers": {
                    "x-api-key": "1234e98498ce07d29474a7ev2",
                    "org": "general"
                  }
                },
                "rules": {
                  "dataTypeId": "644fcd63562387038543fce2"
                }
              }
            },
            "notificationChannelWhatsApp": {
              "summary": "Notification WhatsApp on task created",
              "value": {
                "name": "Notification WhatsApp on task created",
                "event": "onTaskCreated",
                "automationType": "notification",
                "dataType": "task",
                "automationDetails": {
                  "channel": "whatsApp",
                  "taskFieldReceiver": "customerNumber",
                  "secretKey": "`wWbN#T!_UTATzFRXrd@X",
                  "message": "Greeting, we are from {organization_name} and will be delivering to your location. Track your delivery here {link}. Thank you"
                },
                "rules": {
                  "fields": {
                    "statusPickup": "success"
                  },
                  "flow": "Pickup",
                  "flowId": "667b712f63020e5f182f0cb2"
                }
              }
            }
          }
        }
      },
      "putRequestLocHistory": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/putRequestLocHistory"
            }
          }
        },
        "required": true
      },
      "CreateappIntegration": {
        "content": {
          "multipart/form-data": {
            "schema": {
              "type": "object",
              "properties": {
                "integrationType": {
                  "description": "this parameter for integration type, Currently available for `azure`",
                  "type": "string"
                },
                "azureAuthUrl": {
                  "description": "this parameter for auth url provided by `azure`",
                  "type": "string"
                },
                "azureCert": {
                  "description": "this parameter for certificate file provided by `azure`",
                  "type": "string",
                  "format": "binary"
                }
              },
              "required": [
                "azureAuthUrl",
                "azureCert"
              ]
            }
          }
        }
      },
      "PasswordPolicy": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PasswordPolicy"
            }
          }
        },
        "required": true
      },
      "PostUserActivitiesBody": {
        "content": {
          "application/json": {
            "schema": {
              "example": {
                "startDate": "2022-11-01",
                "endDate": "2022-11-10",
                "hubId": "645d9623b75ab332382955e2",
                "flows": [
                  "Delivery",
                  "Pickup"
                ]
              },
              "type": "object",
              "required": [
                "hubId"
              ]
            }
          }
        },
        "description": "\n \n **Below is the detail of each field for Body API Capacity Constraint**\n\n\n| Field | Description | Required |\n |---|---|---|\n | startDate | Filter date from for find data \n**Example:** `2022-11-01`.| true |\n | endDate | Filter date until for find data \n**Example:** `2022-11-10`.| true |\n | hubId | The identifier for the hub that generated by system. Use GET /hubs API to get the list of Hub IDs.| true |\n | flows | Array of flow's name.| false |\n | flowIds | Array of flow Id's.| false |\n \n",
        "required": true
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Use a valid Bearer token to authenticate."
      }
    },
    "schemas": {
      "WorkflowObject": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique workflow identifier"
          },
          "name": {
            "type": "string",
            "description": "Workflow name (unique within organization)"
          },
          "organizationId": {
            "type": "string",
            "description": "Organization identifier"
          },
          "steps": {
            "type": "array",
            "description": "Array of workflow steps with field schemas",
            "items": {
              "$ref": "#/components/schemas/WorkflowStep"
            }
          },
          "customStatuses": {
            "type": "array",
            "description": "Custom status definitions",
            "items": {
              "$ref": "#/components/schemas/CustomStatus"
            }
          },
          "createdBy": {
            "type": "string",
            "description": "Creator email"
          },
          "updatedBy": {
            "type": "string",
            "description": "Last updater email"
          },
          "createdTime": {
            "type": "string",
            "format": "date-time"
          },
          "updatedTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WorkflowStep": {
        "type": "object",
        "required": [
          "flowId"
        ],
        "properties": {
          "flowId": {
            "type": "string",
            "description": "Flow identifier for this step (must exist)"
          },
          "flowName": {
            "type": "string",
            "description": "Flow display name (auto-populated)"
          },
          "assigneeId": {
            "type": "string",
            "description": "Default assignee user ID (optional, must exist)"
          },
          "statusMapping": {
            "type": "string",
            "description": "Status mapping configuration (optional)"
          },
          "fieldMappings": {
            "type": "array",
            "description": "Field mappings from previous steps (only for step 2+)",
            "items": {
              "$ref": "#/components/schemas/FieldMapping"
            }
          },
          "fieldSchema": {
            "type": "array",
            "description": "Available fields for this step (auto-populated from flow)",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "order": {
            "type": "integer",
            "description": "Step order index (0-based, auto-populated)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "FieldMapping": {
        "type": "object",
        "properties": {
          "sourceField": {
            "type": "string",
            "description": "Source field in format: $refFlow.fieldId or fieldId"
          },
          "sourceStep": {
            "type": "integer",
            "description": "Source step index (must be < current step)"
          },
          "targetField": {
            "type": "string",
            "description": "Target field in current step"
          },
          "sourceType": {
            "type": "string",
            "enum": [
              "manual",
              "step",
              "direct"
            ],
            "description": "Source type for mapping"
          }
        }
      },
      "CustomStatus": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "description": "Custom status name"
          },
          "isDefault": {
            "type": "boolean",
            "default": false,
            "description": "Whether this is a default status"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateWorkflowRequest": {
        "type": "object",
        "required": [
          "name",
          "steps"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 100,
            "description": "Workflow name (must be unique)"
          },
          "steps": {
            "type": "array",
            "minItems": 1,
            "maxItems": 10,
            "description": "Workflow steps (no duplicate flowIds allowed)",
            "items": {
              "type": "object",
              "required": [
                "flowId"
              ],
              "properties": {
                "flowId": {
                  "type": "string"
                },
                "assigneeId": {
                  "type": "string"
                },
                "statusMapping": {
                  "type": "string"
                },
                "fieldMappings": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FieldMapping"
                  }
                }
              }
            }
          },
          "customStatuses": {
            "type": "array",
            "description": "Custom status definitions (defaults provided if empty)",
            "items": {
              "$ref": "#/components/schemas/CustomStatus"
            }
          }
        }
      },
      "UpdateWorkflowRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 100,
            "description": "Updated workflow name (must be unique if changed)"
          },
          "steps": {
            "type": "array",
            "minItems": 1,
            "maxItems": 10,
            "description": "Updated workflow steps",
            "items": {
              "type": "object",
              "required": [
                "flowId"
              ],
              "properties": {
                "flowId": {
                  "type": "string"
                },
                "assigneeId": {
                  "type": "string"
                },
                "statusMapping": {
                  "type": "string"
                },
                "fieldMappings": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FieldMapping"
                  }
                }
              }
            }
          },
          "customStatuses": {
            "type": "array",
            "description": "Updated custom status definitions",
            "items": {
              "$ref": "#/components/schemas/CustomStatus"
            }
          }
        }
      },
      "WorkflowResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/WorkflowObject"
          }
        }
      },
      "WorkflowDetailResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/WorkflowObject"
          }
        }
      },
      "WorkflowListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkflowObject"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "current_page": {
                "type": "integer"
              },
              "per_page": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              },
              "last_page": {
                "type": "integer"
              }
            }
          }
        }
      },
      "WorkflowSearchResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkflowObject"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "current_page": {
                "type": "integer"
              },
              "per_page": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              },
              "last_page": {
                "type": "integer"
              }
            }
          },
          "search": {
            "type": "object",
            "properties": {
              "query": {
                "type": "string"
              },
              "filters": {
                "type": "object",
                "additionalProperties": true
              }
            }
          },
          "source": {
            "type": "string",
            "enum": [
              "mongodb_text_search"
            ],
            "description": "Search data source"
          }
        }
      },
      "DeleteWorkflowResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "usage": {
            "type": "object",
            "description": "Workflow usage statistics",
            "additionalProperties": true
          }
        }
      },
      "FieldMappingDataResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "currentStep": {
                "type": "object",
                "properties": {
                  "stepOrder": {
                    "type": "integer"
                  },
                  "flowId": {
                    "type": "string"
                  },
                  "flowName": {
                    "type": "string"
                  },
                  "fields": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              },
              "previousSteps": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "stepOrder": {
                      "type": "integer"
                    },
                    "flowId": {
                      "type": "string"
                    },
                    "flowName": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                }
              },
              "existingMappings": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FieldMapping"
                }
              }
            }
          }
        }
      },
      "ValidateFieldMappingsRequest": {
        "type": "object",
        "required": [
          "fieldMappings"
        ],
        "properties": {
          "fieldMappings": {
            "type": "array",
            "description": "Field mappings to validate",
            "items": {
              "$ref": "#/components/schemas/FieldMapping"
            }
          }
        }
      },
      "ValidationResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "valid": {
                "type": "boolean",
                "description": "Whether validation passed"
              },
              "errors": {
                "type": "array",
                "description": "Validation error messages",
                "items": {
                  "type": "string"
                }
              },
              "warnings": {
                "type": "array",
                "description": "Validation warnings",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "title": "ErrorResponse",
        "type": "object",
        "description": "Standard error response structure",
        "properties": {
          "status": {
            "type": "boolean",
            "description": "Always false for error responses"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          },
          "failedCode": {
            "type": "string",
            "description": "Error code for debugging and error tracking"
          }
        },
        "required": [
          "status",
          "message"
        ]
      },
      "BadRequestError": {
        "type": "object",
        "properties": {
          "status": {
            "description": "Response status indicator",
            "type": "boolean"
          },
          "message": {
            "description": "Validation error message",
            "type": "string"
          }
        },
        "example": {
          "status": false,
          "message": "The country code field is required."
        }
      },
      "UnauthorizedError": {
        "type": "object",
        "properties": {
          "status": {
            "description": "Response status indicator",
            "type": "boolean"
          },
          "message": {
            "description": "Error message",
            "type": "string"
          }
        },
        "example": {
          "status": false,
          "message": "Unauthenticated."
        }
      },
      "ForbiddenError": {
        "type": "object",
        "properties": {
          "status": {
            "description": "Response status indicator",
            "type": "boolean"
          },
          "message": {
            "description": "Error message",
            "type": "string"
          }
        },
        "example": {
          "status": false,
          "message": "You do not have permission to perform this action."
        }
      },
      "postRequestTask": {
        "title": "postRequestTask",
        "example": {
          "flow": "Visit",
          "hubId": "634e98498ce07d29474a7e29",
          "field1": "Jack Ward",
          "field2": "Gambir Jakarta",
          "field3": "-6.230815251,106.75684387",
          "startTime": "2022-11-02T07:28:23+00:00",
          "endTime": "2022-11-05T07:28:23+00:00"
        },
        "type": "object",
        "properties": {
          "flow": {
            "type": "string",
            "description": "The unique name of organization's flow. Use [GET /flows API](#tag/Flow/operation/getflow) to get the list of flow names.\n**Example:** `Visit`"
          },
          "hubId": {
            "type": "string",
            "description": "Fundamental entity within an organization, serving as the central point for managing various operational components. Use **GET /hubs** endpoint to get the list of Hub IDs. **Example:** `634e98498ce07d29474a7e29`"
          },
          "field1": {
            "type": "string",
            "description": "This field's type & value is according to Flow's setting. Use [GET /flow/{flowName}/task API](#tag/Flow/operation/getCreateTaskPayload) to get example of payload.\n**Example:** `Jack Ward`"
          },
          "field2": {
            "type": "string",
            "description": "This field's type & value is according to Flow's setting. Use [GET /flow/{flowName}/task API](#tag/Flow/operation/getCreateTaskPayload) to get example of payload.\n**Example:** `Gambir Jakarta`"
          },
          "field3": {
            "type": "string",
            "description": "This field's type & value is according to Flow's setting. Use [GET /flow/{flowName}/task API](#tag/Flow/operation/getCreateTaskPayload) to get example of payload.\n**Example:** `-6.230815251,106.75684387`"
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "Start time refers to the designated time for users to begin a task. If `startTime` is not provided, it will default to the configured time in the flow. You can view the datetime format here.\n**Example:** `2022-11-02T07:28:23+00:00`"
          },
          "endTime": {
            "type": "string",
            "format": "date-time",
            "description": "End time is the deadline for completing a task. If `endTime` is not specified, it will default to the configured time in the flow.The task cannot be completed if the date has passed the `endtime`. You can view the datetime format here\n**Example:** `2022-11-05T07:28:23+00:00`"
          },
          "assignee": {
            "type": "array",
            "description": "You can assign tasks using user email according to their task hub.  To assign tasks to multiple users, use a comma (',') as a separator.\n**Example:** `['leandro@mile.app']`",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "required": [
          "flow",
          "hubId"
        ]
      },
      "putRequestTask": {
        "title": "putRequestTask",
        "example": {
          "flow": "Visit",
          "hubId": "634e98498ce07d29474a7e29",
          "field1": "John Birdy",
          "field2": "Gambir Jakarta",
          "field3": "-6.230815251,106.75684387",
          "startTime": "2022-11-02T07:28:23+00:00",
          "endTime": "2022-11-05T07:28:23+00:00"
        },
        "type": "object",
        "properties": {
          "flow": {
            "type": "string",
            "description": "The unique name of organization's flow. Use [GET /flows API](#tag/Flow/operation/getflow) to get the list of flow names.\n**Example:** `Visit`"
          },
          "hubId": {
            "type": "string",
            "description": "Fundamental entity within an organization, serving as the central point for managing various operational components. Use **GET /hubs** endpoint to get the list of Hub IDs. **Example:** `634e98498ce07d29474a7e29`"
          },
          "field1": {
            "type": "string",
            "description": "This field's type & value is according to Flow's setting. Use [GET /flow/{flowName}/task API](#tag/Flow/operation/getCreateTaskPayload) to get example of payload.\n**Example:** `John Birdy`"
          },
          "field2": {
            "type": "string",
            "description": "This field's type & value is according to Flow's setting. Use [GET /flow/{flowName}/task API](#tag/Flow/operation/getCreateTaskPayload) to get example of payload.\n**Example:** `Gambir Jakarta`"
          },
          "field3": {
            "type": "string",
            "description": "This field's type & value is according to Flow's setting. Use [GET /flow/{flowName}/task API](#tag/Flow/operation/getCreateTaskPayload) to get example of payload.\n**Example:** `-6.230815251,106.75684387`"
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "Start time refers to the designated time for users to begin a task. If `startTime` is not provided, it will default to the configured time in the flow. You can view the datetime format here.\n**Example:** `2022-11-02T07:28:23+00:00`"
          },
          "endTime": {
            "type": "string",
            "format": "date-time",
            "description": "End time is the deadline for completing a task. If `endTime` is not specified, it will default to the configured time in the flow.The task cannot be completed if the date has passed the `endtime`. You can view the datetime format here\n**Example:** `2022-11-05T07:28:23+00:00`"
          },
          "assignee": {
            "type": "array",
            "description": "You can assign tasks using user email according to their task hub.  To assign tasks to multiple users, use a comma (',') as a separator.\n**Example:** `['leandro@mile.app']`",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "required": [
          "flow",
          "hubId"
        ]
      },
      "patchRequestTask": {
        "title": "patchRequestTask",
        "example": {
          "field1": "Jack Ward"
        },
        "type": "object",
        "properties": {
          "field1": {
            "type": "string",
            "description": "This field's type & value is according to Flow's setting. Use [GET /flow/{flowName}/task API](#tag/Flow/operation/getCreateTaskPayload) to get example of payload.\n**Example:** `Jack Ward`"
          }
        }
      },
      "putAssignRequest": {
        "title": "putAssignRequest",
        "example": {
          "assignee": [
            "leandro@mile.app"
          ]
        },
        "type": "object",
        "properties": {
          "assignee": {
            "type": "array",
            "description": "You can assign tasks using user email according to their task hub.  To assign tasks to multiple users, use a comma (',') as a separator.\n**Example:** `['leandro@mile.app']`",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "required": [
          "assignee"
        ]
      },
      "putMoveRequest": {
        "title": "putMoveRequest",
        "example": {
          "hubId": "615bb662bd32b7726709acd2"
        },
        "type": "object",
        "properties": {
          "hubId": {
            "type": "string",
            "description": "Fundamental entity within an organization, serving as the central point for managing various operational components. Use **GET /hubs** endpoint to get the list of Hub IDs. **Example:** `634e98498ce07d29474a7e29`"
          }
        },
        "required": [
          "hubId"
        ]
      },
      "postBulkRequestTask": {
        "title": "postBulkRequestTask",
        "example": {
          "background": false,
          "tasks": [
            {
              "flow": "Visit",
              "hubId": "634e98498ce07d29474a7e29",
              "field1": "Jack Ward",
              "field2": "Gambir Jakarta",
              "field3": "-6.230815251,106.75684387",
              "startTime": "2022-11-02T07:28:23+00:00",
              "endTime": "2022-11-05T07:28:23+00:00"
            },
            {
              "flow": "Visit",
              "hubId": "634e98498ce07d29474a7e29",
              "field1": "John Birdy",
              "refId": "66544e0855d2696d401d8252"
            }
          ]
        },
        "type": "object",
        "properties": {
          "background": {
            "type": "boolean",
            "description": "When the background parameter is set to `true` , the action will be processed in the background. In this mode, the API call will return quickly with a response indicating that the create task request has been received and is being processed asynchronously in the background. When the background parameter is set to `false` (default), the create task will be processed directly via API. This means that the API call will wait for the create task process to complete before returning the results to the user. \n **Default:** `false`."
          },
          "tasks": {
            "type": "array",
            "description": "The maximum data for creating multiple tasks is 2000 data.",
            "items": {
              "type": "object",
              "properties": {
                "flow": {
                  "type": "string",
                  "description": "The unique name of organization's flow. Use [GET /flows API](#tag/Flow/operation/getflow) to get the list of flow names.\n**Example:** `Visit`"
                },
                "hubId": {
                  "type": "string",
                  "description": "Fundamental entity within an organization, serving as the central point for managing various operational components. Use **GET /hubs** endpoint to get the list of Hub IDs. **Example:** `634e98498ce07d29474a7e29`"
                },
                "field1": {
                  "type": "string",
                  "description": "This field's type & value is according to Flow's setting. Use [GET /flow/{flowName}/task API](#tag/Flow/operation/getCreateTaskPayload) to get example of payload.\n**Example:** `Jack Ward`"
                },
                "field2": {
                  "type": "string",
                  "description": "This field's type & value is according to Flow's setting. Use [GET /flow/{flowName}/task API](#tag/Flow/operation/getCreateTaskPayload) to get example of payload.\n**Example:** `Gambir Jakarta`"
                },
                "field3": {
                  "type": "string",
                  "description": "This field's type & value is according to Flow's setting. Use [GET /flow/{flowName}/task API](#tag/Flow/operation/getCreateTaskPayload) to get example of payload.\n**Example:** `-6.230815251,106.75684387`"
                },
                "startTime": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Start time refers to the designated time for users to begin a task. If `startTime` is not provided, it will default to the configured time in the flow. You can view the datetime format here.\n**Example:** `2022-11-02T07:28:23+00:00`"
                },
                "endTime": {
                  "type": "string",
                  "format": "date-time",
                  "description": "End time is the deadline for completing a task. If `endTime` is not specified, it will default to the configured time in the flow.The task cannot be completed if the date has passed the `endtime`. You can view the datetime format here\n**Example:** `2022-11-05T07:28:23+00:00`"
                },
                "assignee": {
                  "type": "array",
                  "description": "You can assign tasks using user email according to their task hub.  To assign tasks to multiple users, use a comma (',') as a separator.\n**Example:** `['leandro@mile.app']`",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "refId": {
                  "type": "string",
                  "description": "You can add `refId` to return a value as a task reference .\n**Example:** `66544e0855d2696d401d8252`"
                }
              },
              "required": [
                "flow",
                "hubId"
              ]
            }
          }
        },
        "required": [
          "tasks"
        ]
      },
      "putBulkRequest": {
        "title": "putBulkRequest",
        "example": {
          "tasks": [
            {
              "_id": "62067ee1cd77000042006f89",
              "flow": "Visit",
              "hubId": "634e98498ce07d29474a7e29",
              "field1": "Jack Emiliano Ward",
              "field2": "Gambir Jakarta",
              "field3": "-6.230815251,106.75684387",
              "startTime": "2022-11-02T07:28:23+00:00",
              "endTime": "2022-11-05T07:28:23+00:00"
            },
            {
              "_id": "62067ee3cd77000042006f8b",
              "flow": "Visit",
              "hubId": "634e98498ce07d29474a7e29",
              "field1": "John Gaviria Birdy"
            }
          ]
        },
        "type": "object",
        "properties": {
          "tasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/putRequestTask"
            }
          }
        },
        "required": [
          "tasks"
        ]
      },
      "patchBulkRequestTask": {
        "title": "patchBulkRequestTask",
        "example": {
          "tasks": [
            {
              "_id": "62067ee1cd77000042006f89",
              "field1": "Jack Emiliano Ward"
            },
            {
              "_id": "62067ee3cd77000042006f8b",
              "field1": "John Gaviria Birdy"
            }
          ]
        },
        "type": "object",
        "properties": {
          "tasks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "_id": {
                  "type": "string",
                  "description": "An identity that is automatically generated as a technical identification of a task.\n**Example:** `6352736c628401059b37a2e2`"
                },
                "field1": {
                  "type": "string",
                  "description": "This field's type & value is according to Flow's setting. Use [GET /flow/{flowName}/task API](#tag/Flow/operation/getCreateTaskPayload) to get example of payload.\n**Example:** `Jack Ward`"
                }
              }
            }
          }
        },
        "required": [
          "tasks"
        ]
      },
      "deleteBulkRequestTask": {
        "title": "deleteBulkRequestTask",
        "example": {
          "tasks": [
            {
              "_id": "62067ee1cd77000042006f89"
            },
            {
              "_id": "62067ee3cd77000042006f8b"
            }
          ]
        },
        "type": "object",
        "properties": {
          "tasks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "_id": {
                  "type": "string",
                  "description": "An identity that is automatically generated as a technical identification of a task.\n**Example:** `6352736c628401059b37a2e2`"
                }
              }
            }
          }
        },
        "required": [
          "tasks"
        ]
      },
      "putAssignBulkRequest": {
        "title": "putAssignBulkRequest",
        "example": {
          "tasks": [
            {
              "_id": "62067ee1cd77000042006f89",
              "assignee": [
                "leandro@mile.app"
              ]
            },
            {
              "_id": "62067ee3cd77000042006f8b",
              "assignee": [
                "leandro@mile.app"
              ]
            }
          ]
        },
        "type": "object",
        "properties": {
          "tasks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "_id": {
                  "type": "string",
                  "description": "An identity that is automatically generated as a technical identification of a task.\n**Example:** `6352736c628401059b37a2e2`"
                },
                "assignee": {
                  "type": "array",
                  "description": "List of username that has been assigned the task.\n**Example:** `['leandro@mile.app']`",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "required": [
          "tasks"
        ]
      },
      "putMoveBulkRequest": {
        "title": "putMoveBulkRequest",
        "example": {
          "tasks": [
            {
              "_id": "62067ee1cd77000042006f89",
              "hubId": "634e98498ce07d29474a7e29"
            },
            {
              "_id": "62067ee3cd77000042006f8b",
              "hubId": "634e98498ce07d29474a7e29"
            }
          ]
        },
        "type": "object",
        "properties": {
          "tasks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "_id": {
                  "type": "string",
                  "description": "An identity that is automatically generated as a technical identification of a task.\n**Example:** `6352736c628401059b37a2e2`"
                },
                "hubId": {
                  "type": "string",
                  "description": "Fundamental entity within an organization, serving as the central point for managing various operational components. Use **GET /hubs** endpoint to get the list of Hub IDs. **Example:** `634e98498ce07d29474a7e29`"
                }
              }
            }
          }
        },
        "required": [
          "tasks"
        ]
      },
      "postExportTask": {
        "title": "postExportTask",
        "type": "object",
        "description": "Request body schema for exporting tasks. Use filters to narrow down the dataset and customize the export output.",
        "example": {
          "download": "xlsx",
          "fields": "startTime,endTime,hubId,createdBy,flow,status",
          "doneBy": "Leandro",
          "assignee": "leandro@mile.app",
          "status": "DONE",
          "flowId": "63d8c9b0dbd5ef20a627dd86",
          "hubId": "621dd813eb3ebf16b94d6969",
          "page": 1,
          "limit": 20,
          "sortBy": "createdTime",
          "sortOrder": "desc",
          "background": false,
          "exportConfigId": "634e98498ce07d29474a7e29"
        },
        "properties": {
          "download": {
            "type": "string",
            "enum": [
              "json",
              "xlsx"
            ],
            "description": "File type that user want to download. There are 2 types of `download`:\n**enum**: `json`,`xlsx`\n**Example:** `xlsx`"
          },
          "fields": {
            "type": "string",
            "description": "Fields is for selecting the specific fields that you can choose by multiples to show in the response using a string with a comma delimiter.\n**Example:** `startTime,endTime,hubId,createdBy,flow,status`"
          },
          "doneBy": {
            "type": "string",
            "description": "Name of user that completing the task.\n**Example:** `Leandro`"
          },
          "assignee": {
            "type": "string",
            "description": "User email for a given task.\n**Example**: `leandro@mile.app`"
          },
          "status": {
            "type": "string",
            "enum": [
              "UNASSIGNED",
              "ONGOING",
              "DONE"
            ],
            "description": "Status of task according to task's data condition. There are 3 types of `status`:\n**enum**: `UNASSIGNED`,`ONGOING`,`DONE`\n**Example:** `UNASSIGNED`"
          },
          "flowId": {
            "type": "string",
            "description": "The identifier for the flow that generated by system. Use [GET /flows API](#tag/Flow/operation/getflow) to get the list of flow id.\nComma (,) delimiter for filter multiple flow.\n**Example:** `63d8c9b0dbd5ef20a627dd86,73d8c9b0dbd5ef20a627dd87`"
          },
          "hubId": {
            "type": "string",
            "description": "The identifier for the hub that generated by system. Use [GET /hubs API](#tag/Hub/operation/getHubs) to get the list of Hub IDs.\n**Example:** `621dd813eb3ebf16b94d6969`"
          },
          "page": {
            "type": "integer",
            "format": "int32",
            "description": "Pagination of tasks result list.\n**Example:** `2`.\n**Default:** `1`"
          },
          "limit": {
            "type": "integer",
            "format": "int32",
            "description": "Limit of tasks result list.\n**Example:** `10`.\n**Default:** `30`"
          },
          "sortBy": {
            "type": "string",
            "description": "sortBy is used to sort the result-set in ascending or descending order according to selected field. The value of this param is one of available fields on task objects.\n**Example:** `flow`, `assignee`, `status`, `hubId`, etc.\n**Default:** `createdTime`"
          },
          "sortOrder": {
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "description": "sortOrder is to decide ascending or descending order\n**Example:** `asc` or `desc`.\n**Default:** `desc`"
          },
          "background": {
            "type": "boolean",
            "description": "If the user sets the background parameter to `true`, the export process will utilize background processing, and the results will be available at [GET /tasks/export-log API](#tag/Export-Task/operation/GetExportLog). If the user sets the background parameter to `false`, the export process will run directly, and the results will be immediately available in the response.\n**Example:** `true`.\n**Default:** `false`"
          },
          "exportConfigId": {
            "type": "string",
            "description": "Unique identifier for the export config for allow user to export data using their own configuration. Use [GET /export-configs](#tag/Export-Config/operation/getExportConfigs) endpoint to get the list of Export Config IDs.\n**Example:** `634e98498ce07d29474a7e29`"
          }
        },
        "required": [
          "download"
        ]
      },
      "TaskExampleReq": {
        "title": "TaskExampleReq",
        "example": {
          "flow": "Visit",
          "hubId": "634e98498ce07d29474a7e29",
          "field1": "Jack Ward",
          "field2": "Gambir Jakarta",
          "field3": "-6.230815251,106.75684387",
          "startTime": "2022-11-02T07:28:23+00:00",
          "endTime": "2022-11-05T07:28:23+00:00"
        },
        "type": "object",
        "properties": {
          "flow": {
            "type": "string"
          },
          "hubId": {
            "type": "string"
          },
          "field1": {
            "type": "string"
          },
          "field2": {
            "type": "string"
          },
          "field3": {
            "type": "string"
          },
          "startTime": {
            "type": "string"
          },
          "endTime": {
            "type": "string"
          }
        },
        "required": [
          "flow",
          "hubId"
        ]
      },
      "TaskExampleFull": {
        "title": "TaskExampleFull",
        "example": {
          "_id": "62067ee3cd77000042006f8b",
          "flow": "Delivery",
          "hubId": "61d669550a569567af791bc2",
          "title": "Task Bulk 2",
          "organizationId": "61c2fbaaf27b374e8913fe72",
          "status": "UNASSIGNED",
          "startTime": "2022-01-25T20:31:23+00:00",
          "content": "My Task",
          "createdFrom": "API",
          "endTime": "2022-01-25T20:31:23+00:00",
          "createdTime": "2022-01-25T20:31:23+00:00"
        },
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "flow": {
            "type": "string"
          },
          "hubId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "organizationId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "startTime": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "createdFrom": {
            "type": "string"
          },
          "endTime": {
            "type": "string"
          },
          "createdTime": {
            "type": "string"
          },
          "createdBy": {
            "type": "string"
          }
        },
        "required": [
          "_id",
          "flow",
          "hubId",
          "title",
          "organizationId",
          "status",
          "startTime",
          "content",
          "createdFrom",
          "endTime",
          "createdTime"
        ]
      },
      "postRequestLocHistory": {
        "title": "postRequestLocHistory",
        "example": {
          "email": "example@mile.app",
          "taskId": "634e98098ce69d29474a7e11",
          "speed": 40,
          "distance": 50,
          "duration": 50,
          "lat": "-6.1771046",
          "lon": "106.9240199",
          "createdTime": "2022-10-07 03:00:58",
          "startTime": "2022-10-07 03:00:58",
          "finishTime": "2022-10-07 03:00:58",
          "notes": "Example notes",
          "data": {
            "temperature": 31,
            "anotherKey": "anotherValue"
          }
        },
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Required, User's email assigned to the monitored task. **Example:** `example@mile.app`"
          },
          "taskId": {
            "type": "string",
            "description": "Unique ID to identify the task. **Example:** `634e98098ce69d29474a7e11`"
          },
          "speed": {
            "type": "integer",
            "description": "Vehicle speed in kilometers per hour. **Example:** `40`"
          },
          "distance": {
            "type": "integer",
            "description": "Distance traveled from the previous location. **Example:** `40`"
          },
          "duration": {
            "type": "integer",
            "description": "Time duration spent at this location in milliseconds. **Example:** `50`"
          },
          "lat": {
            "type": "string",
            "description": "Required, Latitude coordinate position or location of any place on Earth's surface. **Example:** `-6.1771046`"
          },
          "lon": {
            "type": "string",
            "description": "Required, Longitude coordinate position or location of any place on Earth's surface. **Example:** `106.9240199`"
          },
          "createdTime": {
            "type": "string",
            "description": "Time at which the location history was created. **Example:** `2022-10-07 03:00:58`"
          },
          "startTime": {
            "type": "string",
            "description": "Time at which the start working was created. Include this payload when starting work. **Example:** `2022-10-07 03:00:58`"
          },
          "finishTime": {
            "type": "string",
            "description": "Time at which the finish working was created. Include this payload when finishing work. **Example:** `2022-10-07 03:00:58`"
          },
          "notes": {
            "type": "string",
            "description": "Field for written records used to capture and retain important information. **Example:** `Example notes`"
          },
          "data": {
            "type": "object",
            "description": "This is a free object that you can fill with any data in object format. **Example:** `{'temperature': 31, 'anotherKey': 'anotherValue'}`",
            "additionalProperties": true
          }
        },
        "required": [
          "email",
          "lat",
          "lon"
        ]
      },
      "postBulkRequestLocHistory": {
        "title": "postBulkRequestLocHistory",
        "example": {
          "location_histories": [
            {
              "email": "example@mile.app",
              "taskId": "634e98098ce69d29474a7e11",
              "speed": 40,
              "distance": 50,
              "duration": 50,
              "lat": -6.1771046,
              "lon": 106.9240199
            },
            {
              "email": "example@mile.app",
              "taskId": "634e98098ce69d29474a7e11",
              "speed": 40,
              "distance": 50,
              "duration": 50,
              "lat": -6.1771047,
              "lon": 106.92402
            }
          ]
        },
        "type": "object",
        "properties": {
          "location_histories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LogHistoryExampleReq"
            }
          }
        },
        "required": [
          "location_histories"
        ]
      },
      "LogHistoryExampleReq": {
        "title": "LogHistoryExampleReq",
        "example": {
          "email": "example@mile.app",
          "taskId": "634e98098ce69d29474a7e11",
          "speed": 40,
          "distance": 50,
          "duration": 50,
          "lat": -6.1771047,
          "lon": 106.92402
        },
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Required, User's email assigned to the monitored task. **Example:** `example@mile.app`"
          },
          "taskId": {
            "type": "string",
            "description": "Unique ID to identify the task. **Example:** `634e98098ce69d29474a7e11`"
          },
          "speed": {
            "type": "integer",
            "description": "Vehicle speed in kilometers per hour. **Example:** `40`"
          },
          "distance": {
            "type": "integer",
            "description": "Distance traveled from the previous location. **Example:** `50`"
          },
          "duration": {
            "type": "integer",
            "description": "Time duration spent at this location in milliseconds. **Example:** `50`"
          },
          "lat": {
            "type": "string",
            "description": "Required, Latitude coordinate position. **Example:** `-6.1771047`"
          },
          "lon": {
            "type": "string",
            "description": "Required, Longitude coordinate position. **Example:** `106.92402`"
          }
        },
        "required": [
          "email",
          "lat",
          "lon"
        ]
      },
      "putRequestLocHistory": {
        "title": "putRequestLocHistory",
        "example": {
          "email": "example@mile.app",
          "lat": -6.934837011379089,
          "lon": 107.74135602107883,
          "speed": 102,
          "createdTime": "2023-07-07 16:00:10",
          "distance": 10,
          "duration": 1,
          "data": {
            "temp": 31
          },
          "taskId": "",
          "time": 1688720650331
        },
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Required, User's email assigned to the monitored task. **Example:** `example@mile.app`"
          },
          "taskId": {
            "type": "string",
            "description": "Unique ID to identify the task. **Example:** `634e98098ce69d29474a7e11`"
          },
          "speed": {
            "type": "integer",
            "description": "Vehicle speed in kilometers per hour. **Example:** `102`"
          },
          "distance": {
            "type": "integer",
            "description": "Distance traveled from the previous location. **Example:** `10`"
          },
          "duration": {
            "type": "integer",
            "description": "Time duration spent at this location in milliseconds. **Example:** `1`"
          },
          "lat": {
            "type": "string",
            "description": "Required, Latitude coordinate position. **Example:** `-6.934837011379089`"
          },
          "lon": {
            "type": "string",
            "description": "Required, Longitude coordinate position. **Example:** `107.74135602107883`"
          }
        },
        "required": [
          "email",
          "lat",
          "lon"
        ]
      },
      "patchRequestLocHistory": {
        "title": "patchRequestLocHistory",
        "example": {
          "email": "example@mile.app",
          "taskId": "634e98098ce69d29474a7e11",
          "speed": 40,
          "distance": 50,
          "duration": 50,
          "lat": -6.1771046,
          "lon": 106.9240199
        },
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Required, User's email assigned to the monitored task. **Example:** `example@mile.app`"
          },
          "taskId": {
            "type": "string",
            "description": "Unique ID to identify the task. **Example:** `634e98098ce69d29474a7e11`"
          },
          "speed": {
            "type": "integer",
            "description": "Vehicle speed in kilometers per hour. **Example:** `40`"
          },
          "distance": {
            "type": "integer",
            "description": "Distance traveled from the previous location. **Example:** `50`"
          },
          "duration": {
            "type": "integer",
            "description": "Time duration spent at this location in milliseconds. **Example:** `50`"
          },
          "lat": {
            "type": "string",
            "description": "Required, Latitude coordinate position. **Example:** `-6.1771046`"
          },
          "lon": {
            "type": "string",
            "description": "Required, Longitude coordinate position. **Example:** `106.9240199`"
          }
        },
        "required": [
          "email",
          "lat",
          "lon"
        ]
      },
      "deleteRequestLocHistory": {
        "title": "deleteRequestLocHistory",
        "example": {
          "force": false
        },
        "type": "object",
        "properties": {
          "force": {
            "type": "boolean",
            "description": "Flag indicating whether to force delete. **Example:** `false`"
          }
        },
        "required": [
          "force"
        ]
      },
      "ApiResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean",
            "description": "Indicates whether the request was successful."
          },
          "code": {
            "type": "integer",
            "description": "HTTP status code."
          },
          "message": {
            "type": "string",
            "description": "A message providing additional information about the response."
          },
          "location_history": {
            "$ref": "#/components/schemas/LocationHistoryResponse"
          }
        }
      },
      "LocationHistoryResponse": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "User's email assigned to the monitored task."
          },
          "lat": {
            "type": "number",
            "description": "Latitude coordinate position."
          },
          "lon": {
            "type": "number",
            "description": "Longitude coordinate position."
          },
          "speed": {
            "type": "integer",
            "description": "Vehicle speed in kilometers per hour."
          },
          "distance": {
            "type": "integer",
            "description": "Distance traveled from the previous location."
          },
          "duration": {
            "type": "integer",
            "description": "Time duration spent at this location in milliseconds."
          },
          "createdTime": {
            "type": "string",
            "description": "Time at which the location history was created."
          },
          "_id": {
            "type": "string",
            "description": "Unique identifier for the location history entry."
          },
          "taskId": {
            "type": "string",
            "description": "Unique ID to identify the task."
          },
          "time": {
            "type": "integer",
            "description": "A timestamp indicating the time of the location history entry."
          },
          "organizationId": {
            "type": "string",
            "description": "Unique identifier for the organization."
          },
          "updatedBy": {
            "type": "string",
            "description": "Email of the user who last updated the location history entry."
          },
          "createdBy": {
            "type": "string",
            "description": "Email of the user who created the location history entry."
          },
          "updatedTime": {
            "type": "string",
            "description": "Time at which the location history entry was last updated."
          }
        }
      },
      "BulkResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "integer",
            "description": "Number of successful operations."
          },
          "failed": {
            "type": "integer",
            "description": "Number of failed operations."
          },
          "location_histories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BulkLocationHistoryResponse"
            },
            "description": "Array of responses for each location history entry."
          }
        },
        "required": [
          "success",
          "failed",
          "location_histories"
        ]
      },
      "BulkLocationHistoryResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean",
            "description": "Indicates whether the operation was successful."
          },
          "message": {
            "type": "string",
            "description": "A message providing additional information about the operation."
          },
          "_id": {
            "type": "string",
            "description": "Unique identifier for the location history entry."
          },
          "email": {
            "type": "string",
            "description": "User's email assigned to the monitored task."
          }
        },
        "required": [
          "status",
          "message",
          "_id",
          "email"
        ]
      },
      "RecalculateResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean",
            "description": "Indicates whether the recalculation was successful."
          },
          "message": {
            "type": "string",
            "description": "A message providing additional information about the recalculation."
          },
          "data": {
            "$ref": "#/components/schemas/RecalculateData"
          }
        }
      },
      "RecalculateData": {
        "type": "object",
        "properties": {
          "background": {
            "type": "boolean",
            "description": "Indicates whether the recalculation was performed in the background."
          },
          "locationHistory": {
            "$ref": "#/components/schemas/LocationHistoryResponse"
          },
          "payload": {
            "$ref": "#/components/schemas/RecalculatePayload"
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecalculateResult"
            },
            "description": "Array of detailed results for each segment of the location history."
          }
        }
      },
      "RecalculatePayload": {
        "type": "object",
        "properties": {
          "coordinates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoordinatePair"
            },
            "description": "Array of coordinate pairs used in the recalculation."
          },
          "countryCode": {
            "type": "string",
            "description": "Country code associated with the coordinates."
          }
        },
        "required": [
          "coordinates",
          "countryCode"
        ]
      },
      "RecalculateResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean",
            "description": "Indicates whether the recalculation for this segment was successful."
          },
          "message": {
            "type": "string",
            "description": "A message providing additional information about the recalculation result."
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SegmentData"
            },
            "description": "Array of distance and time data for each segment."
          }
        },
        "required": [
          "status",
          "message",
          "data"
        ]
      },
      "SegmentData": {
        "type": "object",
        "properties": {
          "distance": {
            "type": "number",
            "description": "Distance for the segment."
          },
          "time": {
            "type": "number",
            "description": "Time taken for the segment."
          }
        },
        "required": [
          "distance",
          "time"
        ]
      },
      "CoordinatePair": {
        "type": "object",
        "properties": {
          "coordinateOrigin": {
            "type": "string",
            "description": "The origin coordinates in the format 'latitude,longitude'."
          },
          "coordinateDestination": {
            "type": "string",
            "description": "The destination coordinates in the format 'latitude,longitude'."
          }
        },
        "required": [
          "coordinateOrigin",
          "coordinateDestination"
        ]
      },
      "PostRecalculate": {
        "type": "object",
        "properties": {
          "background": {
            "type": "boolean",
            "description": "Indicates whether the operation was performed in the background."
          },
          "locationHistoryId": {
            "type": "string",
            "description": "The ID associated with the location history."
          }
        },
        "required": [
          "background",
          "locationHistoryId"
        ]
      },
      "BaseBodyTaskSchedule": {
        "x-discriminator": "taskScheduleDetails",
        "type": "object",
        "required": [
          "startTime",
          "endTime",
          "name",
          "periode",
          "flow",
          "flowId",
          "hubId",
          "task",
          "schedules"
        ],
        "properties": {
          "hubId": {
            "type": "string",
            "description": "Fundamental entity within an organization, serving as the central point for managing various operational components. Use **GET /hubs** endpoint to get the list of Hub IDs. **Example:** `634e98498ce07d29474a7e29`"
          },
          "name": {
            "type": "string",
            "description": "The name of task schedule. User can define task schedule name with task's flow name combined with running time, or something else.\n**Example**: `Daily Morning Visit`"
          },
          "periode": {
            "type": "string",
            "description": "There are 5 types of periode: **daily**, **weekly**, **monthly**, **byDate**, **custom**. Period of time when the task scheduler running.\n**Example:** `daily`"
          },
          "flow": {
            "type": "string",
            "description": "The unique name of organization's flow. Use [Flow /flows API](#tag/Flow) to get the list of flow names.\n**Example:** `Visit`"
          },
          "flowId": {
            "type": "string",
            "description": "The Identifier of organization's flow. Use [Flow /flows API](#tag/Flow) to get the list of flow ids.\n**Example:** `67be687c128306111e022022`"
          },
          "startTime": {
            "type": "string",
            "description": "Start date of task scheduler to active. this field only available when periode's value is one of: **daily**, **weekly**, **monthly** \n**Example:** `2022-11-02`"
          },
          "endTime": {
            "type": "string",
            "description": "End date of task scheduler to active. this field only available when periode's value is one of: **daily**, **weekly**, **monthly** \n**Example:** `2022-11-05`"
          },
          "task": {
            "type": "object",
            "description": "data of task according to selected flow.\n**Example:** \n`{`\n`'receiverName':'miguel',`\n`'coordinates':'-6.230815251,106.75684387',`\n`'address':'rawamangun jakarta timur'`\n`}`",
            "additionalProperties": true
          },
          "assignee": {
            "description": "List of user email that will be assigned to the generated task. **Example:** `['jhon@sample.com']` ",
            "type": "array"
          },
          "interval": {
            "type": "integer",
            "minimum": 1,
            "maximum": 99,
            "nullable": true,
            "description": "Number units of frequency between each scheduled execution. For example, an interval of 2 with a frequency of daily means the task will run every 2 days. This required when select the custom periode.\n**Example:** `daily`"
          },
          "frequency": {
            "type": "string",
            "enum": [
              "daily",
              "weekly",
              "monthly"
            ],
            "nullable": true,
            "description": "Specified unit of time for the scheduling interval. Determines how often the scheduled task will run based on the interval value.This required when select the custom periode.\n**Example:** `daily`"
          }
        }
      },
      "Daily": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseBodyTaskSchedule"
          },
          {
            "required": [
              "taskScheduleDetails"
            ],
            "properties": {
              "schedules": {
                "type": "array",
                "description": "Object with format according to value of periode. Configuration for the time of task scheduler will run.",
                "items": {
                  "type": "object",
                  "properties": {
                    "time": {
                      "type": "string",
                      "description": "Time of the task schedule will be executed. **Example:** `07:00`"
                    }
                  },
                  "required": [
                    "time"
                  ]
                }
              }
            }
          }
        ]
      },
      "Weekly": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseBodyTaskSchedule"
          },
          {
            "required": [
              "taskScheduleDetails"
            ],
            "properties": {
              "schedules": {
                "type": "array",
                "description": "Object with format according to value of periode. Configuration for the time of task scheduler will run.",
                "items": {
                  "type": "object",
                  "properties": {
                    "day": {
                      "type": "string",
                      "description": "Day of the task schedule will be executed. **Example:** `sunday`"
                    },
                    "time": {
                      "type": "string",
                      "description": "Time of the task schedule will be executed. **Example:** `07:00`"
                    }
                  },
                  "required": [
                    "day",
                    "time"
                  ]
                }
              }
            }
          }
        ]
      },
      "Monthly": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseBodyTaskSchedule"
          },
          {
            "required": [
              "taskScheduleDetails"
            ],
            "properties": {
              "schedules": {
                "type": "array",
                "description": "Object with format according to value of periode. Configuration for the time of task scheduler will run.",
                "items": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string",
                      "description": "Date of the task schedule will be executed. **Example:** `10`"
                    },
                    "time": {
                      "type": "string",
                      "description": "Time of the task schedule will be executed. **Example:** `07:00`"
                    }
                  },
                  "required": [
                    "date",
                    "time"
                  ]
                }
              }
            }
          }
        ]
      },
      "ByDate": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseBodyTaskSchedule"
          },
          {
            "required": [
              "taskScheduleDetails"
            ],
            "properties": {
              "schedules": {
                "type": "array",
                "description": "Object with format according to value of periode. Configuration for the time of task scheduler will run.",
                "items": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string",
                      "description": "Date of the task schedule will be executed. **Example:** `2024-01-02`"
                    },
                    "time": {
                      "type": "string",
                      "description": "Time of the task schedule will be executed.\n**Example:** `07:00`"
                    }
                  },
                  "required": [
                    "date",
                    "time"
                  ]
                }
              }
            }
          }
        ]
      },
      "CustomDaily": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseBodyTaskSchedule"
          },
          {
            "required": [
              "taskScheduleDetails"
            ],
            "properties": {
              "schedules": {
                "type": "array",
                "description": "Object with format according to value of periode. Configuration for the time of task scheduler will run.",
                "items": {
                  "type": "object",
                  "properties": {
                    "time": {
                      "type": "string",
                      "description": "Time of the task schedule will be executed. **Example:** `07:00`"
                    }
                  },
                  "required": [
                    "time"
                  ]
                }
              }
            }
          }
        ]
      },
      "CustomWeekly": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseBodyTaskSchedule"
          },
          {
            "required": [
              "taskScheduleDetails"
            ],
            "properties": {
              "schedules": {
                "type": "array",
                "description": "Object with format according to value of periode. Configuration for the time of task scheduler will run.",
                "items": {
                  "type": "object",
                  "properties": {
                    "day": {
                      "type": "string",
                      "description": "Day of the task schedule will be executed. **Example:** `sunday`"
                    },
                    "time": {
                      "type": "string",
                      "description": "Time of the task schedule will be executed. **Example:** `07:00`"
                    }
                  },
                  "required": [
                    "day",
                    "time"
                  ]
                }
              }
            }
          }
        ]
      },
      "CustomMonthly": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseBodyTaskSchedule"
          },
          {
            "required": [
              "taskScheduleDetails"
            ],
            "properties": {
              "schedules": {
                "type": "array",
                "description": "Object with format according to value of periode. Configuration for the time of task scheduler will run.",
                "items": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string",
                      "description": "Date of the task schedule will be executed. **Example:** `10`"
                    },
                    "time": {
                      "type": "string",
                      "description": "Time of the task schedule will be executed. **Example:** `07:00`"
                    }
                  },
                  "required": [
                    "date",
                    "time"
                  ]
                }
              }
            }
          }
        ]
      },
      "postRequestSchedule": {
        "title": "postRequestSchedule",
        "example": {
          "hubId": "634e98498ce07d29474a7e29",
          "name": "Daily Morning Visit",
          "periode": "daily",
          "flow": "Visit",
          "flowId": "67be687c128306111e022022",
          "task": {
            "receiverName": "Miguel",
            "address": "gambir jakarta pusat",
            "coordinates": "",
            "weight": "5"
          },
          "schedules": [
            {
              "time": [
                "07:00"
              ]
            }
          ],
          "startTime": "2022-11-02",
          "endTime": "2022-11-05"
        },
        "type": "object",
        "properties": {
          "hubId": {
            "type": "string",
            "description": "The identifier for the hub that generated by system. Use [GET /hubs API](#tag/Hub) to get the list of Hub IDs.\n**Example:** `634e98498ce07d29474a7e29`"
          },
          "name": {
            "type": "string",
            "description": "The name of task schedule. User can define task schedule name with task's flow name combined with running time, or something else.\n**Example**: `Daily Morning Visit`"
          },
          "periode": {
            "type": "string",
            "description": "There are 5 types of periode: `daily`, `weekly`, `monthly`, `byDate`, `custom`. Period of time when the task scheduler running.\n**Example:** `daily`"
          },
          "flow": {
            "type": "string",
            "description": "The unique name of organization's flow. Use [Flow /flows API](#tag/Flow) to get the list of flow names.\n**Example:** `Visit`"
          },
          "startTime": {
            "type": "string",
            "description": "Start date of task scheduler to active. this field only available when periode's value is one of:\n`daily`, `weekly`, `monthly` \n**Example:** `2022-11-02`"
          },
          "endTime": {
            "type": "string",
            "description": "End date of task scheduler to active. this field only available when periode's value is one of:\n`daily`, `weekly`, `monthly` \n**Example:** `2022-11-05`"
          },
          "task": {
            "type": "object",
            "description": "data of task according to selected flow.\n**Example:** \n`{`\n`'receiverName':'miguel',`\n`'coordinates':'-6.230815251,106.75684387',`\n`'address':'rawamangun jakarta timur'`\n`}`",
            "additionalProperties": true
          },
          "schedules": {
            "type": "array",
            "description": "Object with format according to value of periode. Configuration for the time of task scheduler will run.\n**Example for periode of** `daily`:\n`[{`\n`'time':['07:00']`\n`}]`\n**Example for periode of** `weekly`:\n`[{`\n`'day':'sunday',`\n`'time':['07:00']`\n`}]`\n**Example for periode of** `monthly`:\n`[{`\n`'date':'1',`\n`'time':['07:00']`\n`}]`\n**Example for periode of** `byDate`:\n`[{`\n`'date':'2022-11-03',`\n`'time':['07:00']`\n`}]`",
            "items": {
              "type": "object",
              "properties": {
                "day": {
                  "type": "string",
                  "description": "Name of day in a week. `day` is required when *periode* value is `weekly`.\n**Example:** `sunday`"
                },
                "time": {
                  "type": "string",
                  "description": "Time of the task schedule will be executed.\n**Example:** `07:00`"
                },
                "date": {
                  "type": "string",
                  "description": "Date of task schedule will be executed. `date` is required when *periode* value is `monthly` or `byDate`.\n**Example for monthly periode**: `1`\n**Example for byDate periode**: `2022-11-03`"
                }
              },
              "required": [
                "day",
                "time",
                "date"
              ]
            }
          }
        },
        "required": [
          "startTime",
          "endTime",
          "name",
          "periode",
          "flow",
          "hubId",
          "task",
          "schedules"
        ]
      },
      "postbulkrequestSchedule": {
        "title": "task/bulkrequest",
        "type": "object",
        "properties": {
          "schedules": {
            "type": "array",
            "maxItems": 50,
            "items": {
              "$ref": "#/components/schemas/BaseBodyTaskSchedule"
            }
          }
        },
        "required": [
          "schedules"
        ]
      },
      "putRequestSchedule": {
        "title": "task/idrequest",
        "example": {
          "hubId": "634e98498ce07d29474a7e29",
          "name": "Daily Morning Visit 2",
          "periode": "daily",
          "flow": "Visit",
          "flowId": "67be687c128306111e022022",
          "task": {
            "receiverName": "Miguel",
            "address": "gambir jakarta pusat",
            "coordinates": "",
            "weight": "5"
          },
          "schedules": [
            {
              "time": [
                "07:00"
              ]
            }
          ],
          "startTime": "2022-11-02",
          "endTime": "2022-11-05"
        },
        "type": "object",
        "properties": {
          "hubId": {
            "type": "string",
            "description": "Fundamental entity within an organization, serving as the central point for managing various operational components. Use **GET /hubs** endpoint to get the list of Hub IDs. **Example:** `634e98498ce07d29474a7e29`"
          },
          "name": {
            "type": "string",
            "description": "The name of task schedule. User can define task schedule name with task's flow name combined with running time, or something else.\n**Example**: `Daily Morning Visit`"
          },
          "periode": {
            "type": "string",
            "description": "There are 5 types of periode: `daily`, `weekly`, `monthly`, `byDate`, `custom`. Period of time when the task scheduler running.\n**Example:** `daily`"
          },
          "flow": {
            "type": "string",
            "description": "The unique name of organization's flow. Use [Flow /flows API](#tag/Flow) to get the list of flow names.\n**Example:** `Visit`"
          },
          "flowId": {
            "type": "string",
            "description": "The Identifier of organization's flow. Use [Flow /flows API](#tag/Flow) to get the list of flow ids.\n**Example:** `67be687c128306111e022022`"
          },
          "startTime": {
            "type": "string",
            "description": "Start date of task scheduler to active. this field only available when periode's value is one of:\n`daily`, `weekly`, `monthly` \n**Example:** `2022-11-02`"
          },
          "endTime": {
            "type": "string",
            "description": "End date of task scheduler to active. this field only available when periode's value is one of:\n`daily`, `weekly`, `monthly` \n**Example:** `2022-11-05`"
          },
          "task": {
            "type": "object",
            "description": "data of task according to selected flow.\n**Example:** \n`{`\n`'receiverName':'miguel',`\n`'coordinates':'-6.230815251,106.75684387',`\n`'address':'rawamangun jakarta timur'`\n`}`",
            "additionalProperties": true
          },
          "interval": {
            "type": "integer",
            "minimum": 1,
            "maximum": 99,
            "nullable": true,
            "description": "Number units of frequency between each scheduled execution. For example, an interval of 2 with a frequency of daily means the task will run every 2 days. This required when select the custom periode.\n**Example:** `daily`"
          },
          "frequency": {
            "type": "string",
            "enum": [
              "daily",
              "weekly",
              "monthly"
            ],
            "nullable": true,
            "description": "Specified unit of time for the scheduling interval. Determines how often the scheduled task will run based on the interval value.This required when select the custom periode.\n**Example:** `daily`"
          },
          "schedules": {
            "type": "array",
            "description": "Object with format according to value of periode. Configuration for the time of task scheduler will run.\n**Example for periode of** `daily`:\n`[{`\n`'time':['07:00']`\n`}]`\n**Example for periode of** `weekly`:\n`[{`\n`'day':'sunday',`\n`'time':['07:00']`\n`}]`\n**Example for periode of** `monthly`:\n`[{`\n`'date':'1',`\n`'time':['07:00']`\n`}]`\n**Example for periode of** `byDate`:\n`[{`\n`'date':'2022-11-03',`\n`'time':['07:00']`\n`}]`",
            "items": {
              "type": "object",
              "properties": {
                "day": {
                  "type": "string",
                  "description": "Name of day in a week. `day` is required when *periode* value is `weekly`.\n**Example:** `sunday`"
                },
                "time": {
                  "type": "string",
                  "description": "Time of the task schedule will be executed.\n**Example:** `07:00`"
                },
                "date": {
                  "type": "string",
                  "description": "Date of task schedule will be executed. `date` is required when *periode* value is `monthly` or `byDate`.\n**Example for monthly periode**: `1`\n**Example for byDate periode**: `2022-11-03`"
                }
              },
              "required": [
                "day",
                "time",
                "date"
              ]
            }
          }
        },
        "required": [
          "startTime",
          "endTime",
          "name",
          "periode",
          "flow",
          "flowId",
          "hubId",
          "task",
          "schedules"
        ]
      },
      "patchRequestSchedule": {
        "title": "task/idrequest",
        "example": {
          "hubId": "634e98498ce07d29474a7e29",
          "name": "Daily Morning Visit 3",
          "periode": "daily",
          "flow": "Visit",
          "flowId": "67be687c128306111e022022",
          "task": {
            "receiverName": "Miguel",
            "address": "gambir jakarta pusat",
            "coordinates": "",
            "weight": "5"
          },
          "schedules": [
            {
              "time": [
                "07:00"
              ]
            }
          ],
          "startTime": "2022-11-02",
          "endTime": "2022-11-05"
        },
        "type": "object",
        "properties": {
          "hubId": {
            "type": "string",
            "description": "Fundamental entity within an organization, serving as the central point for managing various operational components. Use **GET /hubs** endpoint to get the list of Hub IDs. **Example:** `634e98498ce07d29474a7e29`"
          },
          "name": {
            "type": "string",
            "description": "The name of task schedule. User can define task schedule name with task's flow name combined with running time, or something else.\n**Example**: `Daily Morning Visit`"
          },
          "periode": {
            "type": "string",
            "description": "There are 5 types of periode: `daily`, `weekly`, `monthly`, `byDate`, `custom`. Period of time when the task scheduler running.\n**Example:** `daily`"
          },
          "flow": {
            "type": "string",
            "description": "The unique name of organization's flow. Use [Flow /flows API](#tag/Flow) to get the list of flow names.\n**Example:** `Visit`"
          },
          "startTime": {
            "type": "string",
            "description": "Start date of task scheduler to active. this field only available when periode's value is one of:\n`daily`, `weekly`, `monthly` \n**Example:** `2022-11-02`"
          },
          "endTime": {
            "type": "string",
            "description": "End date of task scheduler to active. this field only available when periode's value is one of:\n`daily`, `weekly`, `monthly` \n**Example:** `2022-11-05`"
          },
          "task": {
            "type": "object",
            "description": "data of task according to selected flow.\n**Example:** \n`{`\n`'receiverName':'miguel',`\n`'coordinates':'-6.230815251,106.75684387',`\n`'address':'rawamangun jakarta timur'`\n`}`",
            "additionalProperties": true
          },
          "interval": {
            "type": "integer",
            "minimum": 1,
            "maximum": 99,
            "nullable": true,
            "description": "Number units of frequency between each scheduled execution. For example, an interval of 2 with a frequency of daily means the task will run every 2 days. This required when select the custom periode.\n**Example:** `daily`"
          },
          "frequency": {
            "type": "string",
            "enum": [
              "daily",
              "weekly",
              "monthly"
            ],
            "nullable": true,
            "description": "Specified unit of time for the scheduling interval. Determines how often the scheduled task will run based on the interval value.This required when select the custom periode.\n**Example:** `daily`"
          },
          "schedules": {
            "type": "array",
            "description": "Object with format according to value of periode. Configuration for the time of task scheduler will run.\n**Example for periode of** `daily`:\n`[{`\n`'time':['07:00']`\n`}]`\n**Example for periode of** `weekly`:\n`[{`\n`'day':'sunday',`\n`'time':['07:00']`\n`}]`\n**Example for periode of** `monthly`:\n`[{`\n`'date':'1',`\n`'time':['07:00']`\n`}]`\n**Example for periode of** `byDate`:\n`[{`\n`'date':'2022-11-03',`\n`'time':['07:00']`\n`}]`",
            "items": {
              "type": "object",
              "properties": {
                "day": {
                  "type": "string",
                  "description": "Name of day in a week. `day` is required when *periode* value is `weekly`.\n**Example:** `sunday`"
                },
                "time": {
                  "type": "string",
                  "description": "Time of the task schedule will be executed.\n**Example:** `07:00`"
                },
                "date": {
                  "type": "string",
                  "description": "Date of task schedule will be executed. `date` is required when *periode* value is `monthly` or `byDate`.\n**Example for monthly periode**: `1`\n**Example for byDate periode**: `2022-11-03`"
                }
              }
            }
          }
        }
      },
      "ExportConfigCreateRequest": {
        "example": {
          "name": "Report Daily",
          "collection": "task",
          "description": "Template for daily report with bill item detail",
          "flowIds": [
            "66a988d53ae08a7ab52867c2",
            "66c6a05440d39b2616275622",
            "66c6a05c40d39b2616275624",
            "66c6a06412d3f54e2f425e22"
          ],
          "fields": [
            {
              "component": "input",
              "id": "_id",
              "inputType": "string",
              "source": "reservedKey",
              "title": "Id",
              "uniqueTitle": "Id"
            },
            {
              "component": "input",
              "id": "flow",
              "inputType": "string",
              "source": "reservedKey",
              "title": "Flow",
              "uniqueTitle": "Flow"
            },
            {
              "component": "input",
              "id": "hub",
              "inputType": "string",
              "source": "reservedKey",
              "title": "Hub",
              "uniqueTitle": "Hub"
            },
            {
              "component": "input",
              "id": "title",
              "inputType": "string",
              "source": "reservedKey",
              "title": "Title",
              "uniqueTitle": "Title"
            },
            {
              "component": "input",
              "id": "status",
              "inputType": "string",
              "source": "reservedKey",
              "title": "Status",
              "uniqueTitle": "Status"
            },
            {
              "component": "input",
              "id": "orderNumber",
              "title": "Order Number",
              "inputType": "string",
              "default": null,
              "routeAs": null,
              "showAs": "title",
              "required": false,
              "visible": true,
              "page": "page0",
              "flowId": [
                "66a988d53ae08a7ab52867c2",
                "66c6a05440d39b2616275622",
                "66c6a05c40d39b2616275624",
                "66c6a06412d3f54e2f425e22"
              ],
              "flowName": [
                "Export Bill",
                "Flow A",
                "Flow B",
                "Flow C"
              ],
[...]
