{
    "swagger": "2.0",
    "info": {
      "title": "Dashboard",
      "description": "\n Dashboard is ..... .\n"
    },
    "host": "apiweb.mile.app",
    "basePath": "/api/v3/dashboard",
    "securityDefinitions": {
      "AccessToken": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    },
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "paths": {
      "/current-activities": {
        "post": {
          "summary": "Current Task Activities",
          "tags": [
            "Dashboard"
          ],
          "operationId": "PostCurrentAcitivies",
          "deprecated": false,
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "Body",
              "in": "body",
              "required": true,
              "description": "\n \n **Below is the detail of each field for Body API Capacity Constraint**\n\n\n| Field | Description | Required |\n |---|---|---|\n | hubId | The identifier for the hub that generated by system. Use GET /hubs API to get the list of Hub IDs.| true |\n | flows | Array of flow's name.| false |\n \n",
              "schema": {
                "example": {
                  "hubId": "645d9623b75ab332382955e2",
                  "flows": [
                    "Delivery",
                    "Pickup"
                  ]
                },
                "type": "object",
                "required": [
                  "hubId"
                ]
              }
            }
          ],
          "responses": {
            "200": {
              "description": "\n **created** is total task that created today.\n **unassign** is total task that has not passed the end time but has not been assigned to the user.\n **ongoing** is total task that has not passed the end time but has yet to be completed by the user.\n **done** is total task that has been completed by the user today.\n **expiredSoon** total task will end today and need to be completed soon. Otherwise, it will be expired.\n **dateFilter** is date format filters that applied for search data set by system.\n \n  **Below is detail each field for Response API result** \n\n | Field | Type | Description |\n |---|---|---|\n | status | <a href='#introduction-format'>boolean</a> | Status of response |\n | data | <a href='#introduction-format'>object</a> | Detail of capacity constraint object |\n ",
              "examples": {
                "application/json": {
                  "status": true,
                  "data": {
                    "created": 0,
                    "unassign": 0,
                    "ongoing": 0,
                    "done": 0,
                    "expiredSoon": 0,
                    "dateFilter": "2023-05-12T00:00:00+07:00 - 2023-05-12T23:59:59+07:00"
                  }
                }
              },
              "headers": {
                "$ref": "#/definitions/default_header"
              }
            },
            "400": {
              "description": "Bad Request",
              "examples": {
                "application/json": {
                  "status": false,
                  "message": "message",
                  "failedCode": "dash-001"
                }
              },
              "headers": {
                "$ref": "#/definitions/default_header"
              }
            }
          },
          "security": [
            {
              "AccessToken": []
            }
          ]
        }
      },
      "/task-activities": {
        "post": {
          "summary": "Task Activities",
          "tags": [
            "Dashboard"
          ],
          "operationId": "PostTaskActivities",
          "deprecated": false,
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "Body",
              "in": "body",
              "required": true,
              "description": "\n \n **Below is the detail of each field for Body API Capacity Constraint**\n\n\n| Field | Description | Required |\n |---|---|---|\n | startDate | Filter date from for find task data <br>**Example:** `2022-11-01`.| true |\n | endDate | Filter date until for find task data <br>**Example:** `2022-11-10`.| true |\n | hubId | The identifier for the hub that generated by system. Use GET /hubs API to get the list of Hub IDs.| true |\n | flows | Array of flow's name.| false |\n | flowIds | Array of flow Id's.| false |\n \n",
              "schema": {
                "example": {
                  "startDate": "2022-11-01",
                  "endDate": "2022-11-10",
                  "hubId": "645d9623b75ab332382955e2",
                  "flows": [
                    "Delivery",
                    "Pickup"
                  ]
                },
                "type": "object",
                "required": [
                  "hubId"
                ]
              }
            }
          ],
          "responses": {
            "200": {
              "description": "\n The response will shown the name of task and total that grouped by date inside data\n \n  **Below is detail each field for Response API result** \n\n | Field | Type | Description |\n |---|---|---|\n | status | <a href='#introduction-format'>boolean</a> | Status of response |\n | data | <a href='#introduction-format'>object</a> | Detail of capacity constraint object |\n ",
              "examples": {
                "application/json": {
                  "status": true,
                  "data": {
                    "2023-05-08": [
                      {
                        "flow": "Delivery",
                        "total": 1
                      }
                    ],
                    "2023-05-10": [
                      {
                        "flow": "Delivery",
                        "total": 2
                      },
                      {
                        "flow": "Pickup",
                        "total": 1
                      }
                    ]
                  }
                }
              },
              "headers": {
                "$ref": "#/definitions/default_header"
              }
            },
            "400": {
              "description": "Bad Request",
              "examples": {
                "application/json": {
                  "status": false,
                  "message": "message",
                  "failedCode": "dash-001"
                }
              },
              "headers": {
                "$ref": "#/definitions/default_header"
              }
            }
          },
          "security": [
            {
              "AccessToken": []
            }
          ]
        }
      },
      "/user-activities": {
        "post": {
          "summary": "User Activities",
          "tags": [
            "Dashboard"
          ],
          "operationId": "PostUserActivities",
          "deprecated": false,
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "Body",
              "in": "body",
              "required": true,
              "description": "\n \n **Below is the detail of each field for Body API Capacity Constraint**\n\n\n| Field | Description | Required |\n |---|---|---|\n | startDate | Filter date from for find data <br>**Example:** `2022-11-01`.| true |\n | endDate | Filter date until for find data <br>**Example:** `2022-11-10`.| true |\n | hubId | The identifier for the hub that generated by system. Use GET /hubs API to get the list of Hub IDs.| true |\n | flows | Array of flow's name.| false |\n | flowIds | Array of flow Id's.| false |\n \n",
              "schema": {
                "example": {
                  "startDate": "2022-11-01",
                  "endDate": "2022-11-10",
                  "hubId": "645d9623b75ab332382955e2",
                  "flows": [
                    "Delivery",
                    "Pickup"
                  ]
                },
                "type": "object",
                "required": [
                  "hubId"
                ]
              }
            }
          ],
          "responses": {
            "200": {
              "description": "\n The response will shown the list of users who get the task in the range of dates filter and show the report of task assigned, ongoing, done, and the percentage base on **done/assigned x 100**\n \n  **Below is detail each field for Response API result** \n\n | Field | Type | Description |\n |---|---|---|\n | status | <a href='#introduction-format'>boolean</a> | Status of response |\n | data | <a href='#introduction-format'>object</a> | Detail of capacity constraint object |\n ",
              "examples": {
                "application/json": {
                  "status": true,
                  "data": [
                    {
                      "assignee": "foobar1@paket.id",
                      "assigned": 100,
                      "ongoing": 50,
                      "done": 50,
                      "percentage": "50%"
                    },
                    {
                      "assignee": "foobar2@paket.id",
                      "assigned": 100,
                      "ongoing": 10,
                      "done": 90,
                      "percentage": "90%"
                    }
                  ]
                }
              },
              "headers": {
                "$ref": "#/definitions/default_header"
              }
            },
            "400": {
              "description": "Bad Request",
              "examples": {
                "application/json": {
                  "status": false,
                  "message": "message",
                  "failedCode": "dash-001"
                }
              },
              "headers": {
                "$ref": "#/definitions/default_header"
              }
            }
          },
          "security": [
            {
              "AccessToken": []
            }
          ]
        }
      },
      "/task-status": {
        "post": {
          "summary": "Task by Status",
          "tags": [
            "Dashboard"
          ],
          "operationId": "PostTaskStatus",
          "deprecated": false,
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "Body",
              "in": "body",
              "required": true,
              "description": "\n \n **Below is the detail of each field for Body API Capacity Constraint**\n\n\n| Field | Description | Required |\n |---|---|---|\n | startDate | Filter date from for find data <br>**Example:** `2022-11-01`.| true |\n | endDate | Filter date until for find data <br>**Example:** `2022-11-10`.| true |\n | hubId | The identifier for the hub that generated by system. Use GET /hubs API to get the list of Hub IDs.| true |\n | flows | Array of flow's name.| false |\n | flowIds | Array of flow Id's.| false |\n \n",
              "schema": {
                "example": {
                  "startDate": "2022-11-01",
                  "endDate": "2022-11-10",
                  "hubId": "645d9623b75ab332382955e2",
                  "flows": [
                    "Delivery",
                    "Pickup"
                  ]
                },
                "type": "object",
                "required": [
                  "hubId"
                ]
              }
            }
          ],
          "responses": {
            "200": {
              "description": "\n The response will shown the list of task status and total numbers\n \n  **Below is detail each field for Response API result** \n\n | Field | Type | Description |\n |---|---|---|\n | status | <a href='#introduction-format'>boolean</a> | Status of response |\n | data | <a href='#introduction-format'>object</a> | Detail of capacity constraint object |\n ",
              "examples": {
                "application/json": {
                  "status": true,
                  "data": [
                    {
                      "status": "UNASSIGNED",
                      "total": 3
                    },
                    {
                      "status": "ONGOING",
                      "total": 1
                    }
                  ]
                }
              },
              "headers": {
                "$ref": "#/definitions/default_header"
              }
            },
            "400": {
              "description": "Bad Request",
              "examples": {
                "application/json": {
                  "status": false,
                  "message": "message",
                  "failedCode": "dash-001"
                }
              },
              "headers": {
                "$ref": "#/definitions/default_header"
              }
            }
          },
          "security": [
            {
              "AccessToken": []
            }
          ]
        }
      },
      "/user-status": {
        "post": {
          "summary": "User by Status",
          "tags": [
            "Dashboard"
          ],
          "operationId": "PostUserStatus",
          "deprecated": false,
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "Body",
              "in": "body",
              "required": true,
              "description": "\n \n **Below is the detail of each field for Body API Capacity Constraint**\n\n\n| Field | Description | Required |\n |---|---|---|\n | startDate | Filter date from for find data <br>**Example:** `2022-11-01`.| true |\n | endDate | Filter date until for find data <br>**Example:** `2022-11-10`.| true |\n | hubId | The identifier for the hub that generated by system. Use GET /hubs API to get the list of Hub IDs.| true |\n | flows | Array of flow's name.| false |\n | flowIds | Array of flow Id's.| false |\n \n",
              "schema": {
                "example": {
                  "startDate": "2022-11-01",
                  "endDate": "2022-11-10",
                  "hubId": "645d9623b75ab332382955e2",
                  "flows": [
                    "Delivery",
                    "Pickup"
                  ]
                },
                "type": "object",
                "required": [
                  "hubId"
                ]
              }
            }
          ],
          "responses": {
            "200": {
              "description": "\n The response will shown the total number of all users as **allUser**, users who get the task in the range of dates filter as **activeUser**, and users who not get the task in the range of dates filter as **inactiveUser**\n \n  **Below is detail each field for Response API result** \n\n | Field | Type | Description |\n |---|---|---|\n | status | <a href='#introduction-format'>boolean</a> | Status of response |\n | data | <a href='#introduction-format'>object</a> | Detail of capacity constraint object |\n ",
              "examples": {
                "application/json": {
                  "status": true,
                  "data": {
                    "allUser": 1000,
                    "activeUser": 750,
                    "inactiveUser": 250
                  }
                }
              },
              "headers": {
                "$ref": "#/definitions/default_header"
              }
            },
            "400": {
              "description": "Bad Request",
              "examples": {
                "application/json": {
                  "status": false,
                  "message": "message",
                  "failedCode": "dash-001"
                }
              },
              "headers": {
                "$ref": "#/definitions/default_header"
              }
            }
          },
          "security": [
            {
              "AccessToken": []
            }
          ]
        }
      }
    },
    "definitions": {
      "default_header": {}
    }
  }