{
  "swagger": "2.0",
  "info": {
    "title": "Routing Result"
  },
  "host": "apiweb.mile.app",
  "basePath": "/api/v3",
  "securityDefinitions": {
    "AccessToken": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {

    "/dispatch": {
      "post": {
        "summary": "Dispatch routing result",
        "description": "Dispatch Routing Result API facilitates the practical implementation of recommended routes generated by a route optimization algorithm. This process involves translating the algorithm's output into real-world actions. When the route optimization algorithm is executed, it computes the most efficient and cost-effective routes for a fleet of vehicles to navigate through multiple designated locations, such as delivery points and service stops. In our case, **dispatching** means assigning visits to particular vehicles and users. Once the dispatching process is completed, several key attributes are added to each task to provide comprehensive route information. These attributes include **assignedVehicle**, **assignedVehicleId**, **assignee**, **distance**, **eta**, **etd**, **routePlannedOrder**, **waitingTime**, and other related fields you can find the details below:\n        \n\n        \n\n        | Field | Type | Description | \n\n        |---|---|---| \n\n        | assignedVehicle | <a href='#section/Introduction/Format'>object</a> | The details of the assigned vehicle for the route. It containing the following details: <br>\n        **Assignee email:** The email address of the assigned user. <br>\n        **Assignee name:** The name of the assigned vehicle. <br>\n        **Speed:** The speed at which the vehicle operates. <br>\n        **Working time:** The duration of time the vehicle is operational. <br>\n        **Vehicle ID:** The unique identifier of the assigned vehicle. |\n\n        | assignedVehicleId | <a href='#section/Introduction/Format'>string</a> | The Unique ID is used to mark a vehicle during route optimization to ensure that the visit associated with this vehicle ID remains assigned to the same vehicle in the subsequent optimization route and does not get randomly assigned to another vehicle. |\n\n        | assignee | <a href='#section/Introduction/Format'>array of string</a> | Lists the users who have been assigned to the route. |\n\n        | distance | <a href='#section/Introduction/Format'>integer</a> | Indicates the distance between locations along the route, measured in meters. |\n\n        | eta | <a href='#section/Introduction/Format'>string</a> | Stands for Estimated Time of Arrival. Provides an estimated arrival time at a specific hub or location. |\n\n        | etd | <a href='#section/Introduction/Format'>string</a> | Stands for Estimated Time of Departure. Provides an estimated departure time from a given hub or location. |\n\n        | routePlannedOrder | <a href='#section/Introduction/Format'>integer</a> | The routePlannedOrder serves as the key to identify that a visit has been successfully optimized within a specific route. It also helps to determine the order of that visit within the optimized route. |\n\n        | waitingTime | <a href='#section/Introduction/Format'>integer</a> | Represents the waiting time at a particular hub or location before proceeding to the subsequent destination or action. Expressed in units such as minutes. |\n\n        | routingResultId | <a href='#section/Introduction/Format'>string</a> | Contains information about which result is being dispatched. |\n\n        \n\n        There are several cases where dispatch not only carries out assignments to users, but also carries out additional business processes to adjust the configuration algorithm during the routing process, including: <br><br>\n        \n\n        **Dispatch with Cross Docking**. When  optimizing routes using cross docking, the dispatch process changes quite a bit. It creates a new task to move items from the main hub to the sub-hubs named `Handover`. Remember, the task's location is now moved to the sub-hubs since they'll handle the final delivery.\n        At the main hub, it will only have the handover tasks and the tasks that are directly delivered from the main hub to the final destination. These tasks include relevant information such as `Handover From` (taken from the assignee vehicle), `Handover To` (user input), and `List Order` (task title).\n        The dispatch process will also generate a new task flow named `Handover` if you haven't used cross docking before.\n        \n\n        \n\n        **Dispatch with Auto Split**. When using the auto split feature in routing optimization, a single visit may be divided into multiple visits, resulting in the creation of new tasks upon dispatching. For example, if a visit with a capacity of 100kg is split into two visits, each with a capacity of 50kg, the system will generate a new task while retaining the original task. Consequently, there will be two tasks in total.<br>\n        - **Original Task Update**: The capacity of the original task will be adjusted from 100kg to 50kg to reflect the split.<br>\n        - **New Task Creation**: A new task will be generated with a capacity of 50kg, corresponding to the split visit.<br>\n        In dispatch with autosplit, there will be a several key attributes are added to each task :\n        \n\n        \n\n        | Field | Type | Description | \n\n        |---|---|---| \n\n        | autoSplit | <a href='#section/Introduction/Format'>string</a> | This field contains the type of auto-split used in routing optimization. |\n\n        | splitNumber | <a href='#section/Introduction/Format'>string</a> | This field contains the value indicating the segment of a split visit. For instance, if the task has the value `2/3`, it signifies that this task is the second segment out of a total of 3 segments. (This key is associated with the auto-split configuration). |\n\n        ",
        "tags": [
          "Routing"
        ],
        "operationId": "dispatch",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/route-dispatch-request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "title": "ResultGetSuccess",
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "string"
                },
                "success": {
                  "description": "Number of task success dispatched.",
                  "type": "string"
                },
                "failed": {
                  "description": "Number of task failed dispatched.",
                  "type": "string"
                },
                "statusCode": {
                  "description": "Status code of response.",
                  "type": "string"
                },
                "tasks": {
                  "description": "List of details task dispatched.",
                  "type": "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {

                    }
                  }
                }
              },
              "example": {
                "status": true,
                "success": 1,
                "failed": 0,
                "statusCode": 200,
                "tasks": [
                  {
                    "_id": "63970a49cc6ae973f90929e2",
                    "title": null,
                    "status": true,
                    "message": "success",
                    "action": "update"
                  }
                ]
              }
            }

          },
          "400": {
            "description": "Bad request",
            "schema": {
              "type": "object",
              "title": "ResultGetSuccess",
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "string"
                },
                "message": {
                  "description": "Message of response.",
                  "type": "string"
                }
              },
              "example": {
                "status": false,
                "message": "Failed to dispatch",
                "failedCode": "reslt-001"
              }
            }

          },
          "404": {
            "description": "Not Found",
            "schema" : {
              "type": "object",
              "title": "getVehicleByIdSuccess",
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "boolean"
                },
                "message": {
                  "description": "Message of API response.",
                  "type": "string"
                }
              }
            },
            "examples": {
              "application/json": {
                "status": false,
                "message": "data not found",
                "failedCode": "reslt-033"
              }
            }
          }
        }
      }
    },
    "/results": {
      "get": {
        "summary": "Read routing results",
        "tags": [
          "Routing"
        ],
        "operationId": "result",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "description": "This API endpoint allows you to retrieve a list of routing optimization results by specifying different parameters for filtering and sorting.",
        "parameters": [
          {
            "name": "resultCode",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An unique value for result optimization data serving as an alternative identifier. **Example:** `Route-20230801-001`"
          },
          {
            "name": "hubId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The identifier for the hub that was generated by the system. Use <a href='#tag/Hub/operation/getHubs'>GET /hubs API</a> to get the list of Hub IDs.<br>**Example:** `634e98498ce07d29474a7e29`"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Limit the number of routing results displayed in the list. **Example:** `1`. **Default:** `20`"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Specify the page number for paginating through the list of routing results. **Example:** `2`. **Default:** `0`"
          },
          {
            "name": "s",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search routing results by result name or assignee email. **Example:** `routing`"
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sort the result-set in ascending or descending order based on selected field. <br>**Example:** `name`, `hubId`, `hubCoordinate`, etc. **Default:** `createdTime`"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Choose ascending or descending order for sorting the results. **Example:** `asc` or `desc`. **Default:** `desc`"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "List of fields to include in the response, separated by comma `(,)` delimiter.<br>**Example:** `createdTime,configurationId,createdBy,resultTotal,name,configuration`"
          },
          {
            "name": "dateFrom",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Retrieve results from this date onwards (format: YYYY-MM-DD). **Example:** `2023-08-08`"
          },
          {
            "name": "dateTo",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Retrieve results up to this specified date (format: YYYY-MM-DD). Use together with `dateFrom`  to specify a date range. **Example:** `2023-08-10`"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "title": "ResultGetSuccess",
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "string"
                },
                "data": {
                  "description": "Object of pagination data.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "data" : {
                        "description" : "List of routing results object",
                        "type" : "string"
                      }
                    }
                  }
                }
              },
              "example": {
                "data": {
                  "current_page": 1,
                  "data": [
                    {
                      "_id": "6352736c628401059b37a2e2",
                      "name": "Result Today",
                      "configurationId": null,
                      "configuration": {
                        "defaultVisitTime": 10,
                        "defaultSpeed": 15,
                        "multitrip": false,
                        "returnToHub": true,
                        "useAllVehicle": false,
                        "clustering": false,
                        "capacityConstraint": [
                          "weight"
                        ],
                        "name": "Configuration Default",
                        "autoSpeed": false,
                        "autoSplit": "none"
                      },
                      "resultCode" : "1129812812",
                      "finishTime": "2023-02-06T01:20:36+00:00",
                      "updatedTime": "2023-02-06T01:20:36+00:00",
                      "createdTime": "2023-02-06T01:18:36+00:00",
                      "resultTotal": {
                        "routing": 1,
                        "dropped": 1,
                        "total": 2
                      },
                      "createdBy": "635f6a9a8e47b604ed5f5e08",
                      "user": {
                        "name": "Marshall Teach"
                      }
                    }
                  ],
                  "first_page_url": "https://apiweb.mile.app/api/v3/results?hubId=635f6ad98e47b604ed5f5e09&limit=10&sortBy=createdTime&sortOrder=DESC&fields=createdTime%2CconfigurationId%2CcreatedBy%2CresultTotal%2Cname%2Cconfiguration&page=1",
                  "from": 1,
                  "last_page": 1,
                  "last_page_url": "https://apiweb.mile.app/api/v3/results?hubId=635f6ad98e47b604ed5f5e09&limit=10&sortBy=createdTime&sortOrder=DESC&fields=createdTime%2CconfigurationId%2CcreatedBy%2CresultTotal%2Cname%2Cconfiguration&page=45",
                  "links": [
                    {
                      "url": null,
                      "label": "&laquo; Previous",
                      "active": false
                    },
                    {
                      "url": "https://apiweb.mile.app/api/v3/results?hubId=635f6ad98e47b604ed5f5e09&limit=10&sortBy=createdTime&sortOrder=DESC&fields=createdTime%2CconfigurationId%2CcreatedBy%2CresultTotal%2Cname%2Cconfiguration&page=1",
                      "label": "1",
                      "active": true
                    },
                    {
                      "url": "https://apiweb.mile.app/api/v3/results?hubId=635f6ad98e47b604ed5f5e09&limit=10&sortBy=createdTime&sortOrder=DESC&fields=createdTime%2CconfigurationId%2CcreatedBy%2CresultTotal%2Cname%2Cconfiguration&page=2",
                      "label": "2",
                      "active": false
                    },
                    {
                      "url": "https://apiweb.mile.app/api/v3/results?hubId=635f6ad98e47b604ed5f5e09&limit=10&sortBy=createdTime&sortOrder=DESC&fields=createdTime%2CconfigurationId%2CcreatedBy%2CresultTotal%2Cname%2Cconfiguration&page=3",
                      "label": "3",
                      "active": false
                    },
                    {
                      "url": "https://apiweb.mile.app/api/v3/results?hubId=635f6ad98e47b604ed5f5e09&limit=10&sortBy=createdTime&sortOrder=DESC&fields=createdTime%2CconfigurationId%2CcreatedBy%2CresultTotal%2Cname%2Cconfiguration&page=4",
                      "label": "4",
                      "active": false
                    },
                    {
                      "url": "https://apiweb.mile.app/api/v3/results?hubId=635f6ad98e47b604ed5f5e09&limit=10&sortBy=createdTime&sortOrder=DESC&fields=createdTime%2CconfigurationId%2CcreatedBy%2CresultTotal%2Cname%2Cconfiguration&page=5",
                      "label": "5",
                      "active": false
                    },
                    {
                      "url": "https://apiweb.mile.app/api/v3/results?hubId=635f6ad98e47b604ed5f5e09&limit=10&sortBy=createdTime&sortOrder=DESC&fields=createdTime%2CconfigurationId%2CcreatedBy%2CresultTotal%2Cname%2Cconfiguration&page=6",
                      "label": "6",
                      "active": false
                    },
                    {
                      "url": "https://apiweb.mile.app/api/v3/results?hubId=635f6ad98e47b604ed5f5e09&limit=10&sortBy=createdTime&sortOrder=DESC&fields=createdTime%2CconfigurationId%2CcreatedBy%2CresultTotal%2Cname%2Cconfiguration&page=7",
                      "label": "7",
                      "active": false
                    },
                    {
                      "url": "https://apiweb.mile.app/api/v3/results?hubId=635f6ad98e47b604ed5f5e09&limit=10&sortBy=createdTime&sortOrder=DESC&fields=createdTime%2CconfigurationId%2CcreatedBy%2CresultTotal%2Cname%2Cconfiguration&page=8",
                      "label": "8",
                      "active": false
                    },
                    {
                      "url": "https://apiweb.mile.app/api/v3/results?hubId=635f6ad98e47b604ed5f5e09&limit=10&sortBy=createdTime&sortOrder=DESC&fields=createdTime%2CconfigurationId%2CcreatedBy%2CresultTotal%2Cname%2Cconfiguration&page=9",
                      "label": "9",
                      "active": false
                    },
                    {
                      "url": "https://apiweb.mile.app/api/v3/results?hubId=635f6ad98e47b604ed5f5e09&limit=10&sortBy=createdTime&sortOrder=DESC&fields=createdTime%2CconfigurationId%2CcreatedBy%2CresultTotal%2Cname%2Cconfiguration&page=10",
                      "label": "10",
                      "active": false
                    },
                    {
                      "url": null,
                      "label": "...",
                      "active": false
                    },
                    {
                      "url": "https://apiweb.mile.app/api/v3/results?hubId=635f6ad98e47b604ed5f5e09&limit=10&sortBy=createdTime&sortOrder=DESC&fields=createdTime%2CconfigurationId%2CcreatedBy%2CresultTotal%2Cname%2Cconfiguration&page=44",
                      "label": "44",
                      "active": false
                    },
                    {
                      "url": "https://apiweb.mile.app/api/v3/results?hubId=635f6ad98e47b604ed5f5e09&limit=10&sortBy=createdTime&sortOrder=DESC&fields=createdTime%2CconfigurationId%2CcreatedBy%2CresultTotal%2Cname%2Cconfiguration&page=45",
                      "label": "45",
                      "active": false
                    },
                    {
                      "url": "https://apiweb.mile.app/api/v3/results?hubId=635f6ad98e47b604ed5f5e09&limit=10&sortBy=createdTime&sortOrder=DESC&fields=createdTime%2CconfigurationId%2CcreatedBy%2CresultTotal%2Cname%2Cconfiguration&page=2",
                      "label": "Next &raquo;",
                      "active": false
                    }
                  ],
                  "next_page_url": "https://apiweb.mile.app/api/v3/results?hubId=635f6ad98e47b604ed5f5e09&limit=10&sortBy=createdTime&sortOrder=DESC&fields=createdTime%2CconfigurationId%2CcreatedBy%2CresultTotal%2Cname%2Cconfiguration&page=2",
                  "path": "https://apiweb.mile.app/api/v3/results",
                  "per_page": 10,
                  "prev_page_url": null,
                  "to": 10,
                  "total": 1
                },
                "status": true
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "title": "BadRequestGetRoutingResult",
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "string"
                },
                "message": {
                  "description": "Message of API response.",
                  "type": "string"
                }
              },
              "example": {
                "status": false,
                "message": "Failed to get data",
                "failedCode": "reslt-001"
              }
            }
          }
        }
      }
    },
    "/result/{resultId}": {
      "get": {
        "summary": "Read routing result by ID",
        "tags": [
          "Routing"
        ],
        "operationId": "result/id1",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "description": "This API endpoint allows you to retrieve the details of a specific routing result by providing its unique identifier.",
        "parameters": [
          {
            "name": "resultId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique identifier for the routing result that generated by system.<br>**Example**: `6352736c628401059b37a2e2`"
          }
        ],
        "responses": {
          "200": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "title": "ResultGetSuccess",
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "string"
                },
                "data": {
                  "description": "Object of routing result data.",
                  "type": "array"
                }
              },
              "example": {
                "data": {
                  "_id": "6352736c628401059b37a2e2",
                  "name": "Result Today",
                  "result": {
                    "resultCode": "Route-20230801-001",
                    "routing": [
                      {
                        "vehicleId": "63da418fc05c0d0269071cf3",
                        "vehicleName": "B001ACB 1",
                        "assignee": "roberto@mile.app",
                        "workingTime": {
                          "startTime": "08:00",
                          "endTime": "17:00"
                        },
                        "vehicleTags": [
                          "West",
                          "Odd"
                        ],
                        "trips": [
                          {
                            "visitId": "hub-635f6ad98e47b604ed5f5e09",
                            "coordinate": "-6.17148,106.82649",
                            "isHub": true,
                            "weight": 0,
                            "travelTime": 0,
                            "visitTime": 0,
                            "waitingTime": 0,
                            "eta": "8:00:00",
                            "etd": "8:00:00",
                            "distance": 0,
                            "order": 0
                          },
                          {
                            "visitId": "taskId-63994a54e1528d445641d9a2",
                            "visitName": "Visit 1",
                            "address": "Neo Soho, Jakarta Barat",
                            "coordinate": "-6.261532638313604,106.80685970157342",
                            "isHub": false,
                            "tags": [
                              "West",
                              "Odd"
                            ],
                            "timeWindow": {
                              "startTime": null,
                              "endTime": null
                            },
                            "weight": 0,
                            "travelTime": 31,
                            "visitTime": 17,
                            "waitingTime": 0,
                            "eta": "8:30:46",
                            "etd": "8:47:46",
                            "distance": 12817,
                            "order": 1
                          },
                          {
                            "visitId": "hub-635f6ad98e47b604ed5f5e09",
                            "coordinate": "-6.17148,106.82649",
                            "isHub": true,
                            "weight": 0,
                            "travelTime": 3,
                            "visitTime": 0,
                            "waitingTime": 0,
                            "eta": "9:41:12",
                            "etd": "9:41:12",
                            "distance": 974,
                            "order": 3
                          }
                        ],
                        "totalWeight": 0,
                        "vehicleMaxWeight": 100,
                        "vehicleMinWeight": 0,
                        "weightPercentage": "0%",
                        "fixedCost": 0,
                        "totalNodes": 3,
                        "totalVisits": 1,
                        "speed": 25,
                        "totalTravelTime": 69,
                        "totalDistance": 27996,
                        "totalVisitTime": 34,
                        "totalWaitingTime": 0,
                        "totalSpentTime": 103
                      }
                    ],
                    "dropped": [
                      {
                        "id": "taskId-63970a49cc6ae973f90929e2",
                        "name": "Visit 2",
                        "address": "Gambir Jakarta",
                        "coordinate": "-6.17148,106.82649",
                        "timeWindow": {
                          "startTime": null,
                          "endTime": null
                        },
                        "visitTime": "20",
                        "capacity": {
                          "weight": 20.12345
                        },
                        "tags": [
                          "63da418fc05c0d0269071cf2"
                        ],
                        "assignedVehicleId": "63da418fc05c0d0269071cf2",
                        "isHub": false,
                        "reason": "No vehicle with matching tags",
                        "visitId": "taskId-63970a49cc6ae973f90929e2",
                        "visitName": "Visit 2"
                      }
                    ],
                    "summary": {
                      "routedVisits": 1,
                      "droppedVisits": 1,
                      "totalVisits": 2,
                      "usedVehicles": 1,
                      "unusedVehicles": 0,
                      "totalVehicles": 1,
                      "totalDistance": 22666,
                      "totalTravelTime": 34,
                      "totalVisitTime": 12,
                      "totalWaitingTime": 0,
                      "totalSpentTime": 22712,
                      "minFinishTime": "09:41:12",
                      "maxFinishTime": "09:41:12",
                      "avgFinishTime": "09:41:12",
                      "avgSpeed": 30,
                      "capacityConstraint": [
                        {
                          "name": "weight",
                          "optimized": 100,
                          "available": 300,
                          "percentage": 33.3
                        }
                      ]
                    }
                  },
                  "hubId": "635f6ad98e47b604ed5f5e09",
                  "hubCoordinate": "-6.17148,106.82649",
                  "configurationId": null,
                  "configuration": {
                    "defaultVisitTime": 10,
                    "defaultSpeed": 15,
                    "multitrip": false,
                    "returnToHub": true,
                    "useAllVehicle": true,
                    "clustering": false,
                    "capacityConstraint": [
                      "weight"
                    ],
                    "name": "Configuration Default",
                    "autoSpeed": false,
                    "tripsPerVehicle": -1
                  },
                  "resultCode" : "1129812812",
                  "finishTime": "2023-02-06T01:20:36+00:00",
                  "updatedTime": "2023-02-06T01:20:36+00:00",
                  "createdTime": "2023-02-06T01:18:36+00:00",
                  "resultTotal": {
                    "routing": 1,
                    "dropped": 1,
                    "total": 2
                  },
                  "organizationId": "635f6a998e47b604ed5f5e02",
                  "createdBy": "635f6a9a8e47b604ed5f5e08",
                  "user": {
                    "name": "Marshall Teach"
                  }
                },
                "status": true
              }
            }

          },
          "404": {
            "description": "Not Found",
            "schema" : {
              "type": "object",
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "boolean"
                },
                "message": {
                  "description": "Message of API response.",
                  "type": "string"
                },
                "data": {
                  "description": "Detail of object vehicle.",
                  "type": "array"
                }
              }
            },
            "examples": {
              "application/json": {
                "status": false,
                "message": "data not found",
                "data": [],
                "failedCode": "reslt-033"
              }
            }
          }
        }
      }
    },
    "/result/{resultId}/history": {
      "get": {
        "summary": "Read routing result history by result ID",
        "tags": [
          "Routing"
        ],
        "operationId": "resultHistory",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "description": "This API endpoint allows you to retrieve the details of a specific routing result history by providing its unique identifier.",
        "parameters": [
          {
            "name": "resultId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique identifier for the routing result that generated by system.<br>**Example**: `6352736c628401059b37a2e2`"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "title": "ResultGetSuccess",
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "string"
                },
                "data": {
                  "description": "Object of pagination data.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "data" : {
                        "description" : "List of routing result histories object",
                        "type" : "Object"
                      }
                    }
                  }
                }
              },
              "example": {
                "$ref": "#/definitions/responseRoutingResultHistory"
              }
            }
          }
        }
      }
    },
    "/result/{resultId}/restore/{version}": {
      "put": {
        "summary": "Restore a specific version of a routing result",
        "tags": [
          "Routing"
        ],
        "operationId": "restoreRoutingResult",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "description": "This API endpoint allows you to restores a previous version of a routing result identified by resultId and the specific version",
        "parameters": [
          {
            "name": "resultId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique identifier for the routing result that generated by system.<br>**Example**: `6352736c628401059b37a2e2`"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Unique identifier for the routing result version that generated by system.<br>**Example**: `1`"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "title": "ResultGetSuccess",
              "properties": {
                "statusCode": {
                  "description": "Status Code of response.",
                  "type": "integer"
                },
                "status": {
                  "description": "Status of response.",
                  "type": "string"
                },
                "data": {
                  "description": "Object of details result routing data.",
                  "type": "object"
                }
              },
              "example": {
                "status": true,
                "statusCode": 200,
                "message": "Data has been restored successfully."
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "title": "ResultGetSuccess",
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "string"
                },
                "message": {
                  "description": "Message of response.",
                  "type": "string"
                }
              },
              "example": {
                "status": false,
                "message": "data not found",
                "failedCode": "reslt-033"
              }
            }

          }
        }
      }
    },
    "/result/{resultId}/reset": {
      "put": {
        "summary": "Reset routing result to original version",
        "tags": [
          "Routing"
        ],
        "operationId": "resetRoutingResult",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "description": "This API endpoint allows you reset to original version of a routing result identified by resultId",
        "parameters": [
          {
            "name": "resultId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique identifier for the routing result that generated by system.<br>**Example**: `6352736c628401059b37a2e2`"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "title": "ResultGetSuccess",
              "properties": {
                "statusCode": {
                  "description": "Status Code of response.",
                  "type": "integer"
                },
                "status": {
                  "description": "Status of response.",
                  "type": "string"
                },
                "data": {
                  "description": "Object of details result routing data.",
                  "type": "object"
                }
              },
              "example": {
                "status": true,
                "statusCode": 200,
                "message": "Data has been restored successfully."
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "title": "ResultGetSuccess",
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "string"
                },
                "message": {
                  "description": "Message of response.",
                  "type": "string"
                }
              },
              "example": {
                "status": false,
                "message": "data not found",
                "failedCode": "reslt-033"
              }
            }

          }
        }
      }
    },
    "/result/{resultId} ": {
      "put": {
        "summary": "Update routing result by ID",
        "tags": [
          "Routing"
        ],
        "description" : "The API PUT request for Routing Result by ID serves to update the existing routing result using the provided payload data. This action involves a comprehensive replacement of all present data within the routing result with the new information supplied in the payload. It's important to exercise caution when utilizing this request, as improper handling could lead to unintended data loss. <br> <br> In addition to the primary effects, the successful execution of the PUT request triggers an automatic recalculation of the summary associated with the modified routing result. This step ensures that the summary remains synchronized with the updated data, providing an accurate representation of the routing result's current state.",
        "operationId": "result/id",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "resultId",
            "in": "path",
            "required": false,
            "type": "string",
            "description": "Unique identifier for the routing result that generated by system.<br>**Example**: `6352736c628401059b37a2e2`"
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PUT~1ResultRequestUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "title": "ResultGetSuccess",
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "string"
                },
                "data": {
                  "description": "Object of routing result data.",
                  "type": "array"
                }
              },
              "example":  {
                "status": true,
                "property": {
                  "_id": "6352736c628401059b37a2e2",
                  "name": "Result Today",
                  "result": {
                    "resultCode": "Route-20230801-001",
                    "routing": [
                      {
                        "vehicleId": "63da418fc05c0d0269071cf3",
                        "vehicleName": "B001ACB 1",
                        "assignee": "roberto@mile.app",
                        "workingTime": {
                          "startTime": "08:00",
                          "endTime": "17:00"
                        },
                        "vehicleTags": [
                          "West",
                          "Odd"
                        ],
                        "trips": [
                          {
                            "visitId": "hub-635f6ad98e47b604ed5f5e09",
                            "coordinate": "-6.17148,106.82649",
                            "isHub": true,
                            "weight": 0,
                            "travelTime": 0,
                            "visitTime": 0,
                            "waitingTime": 0,
                            "eta": "8:00:00",
                            "etd": "8:00:00",
                            "distance": 0,
                            "order": 0
                          },
                          {
                            "visitId": "taskId-63994a54e1528d445641d9a2",
                            "visitName": "Visit 1",
                            "address": "Neo Soho, Jakarta Barat",
                            "coordinate": "-6.261532638313604,106.80685970157342",
                            "isHub": false,
                            "tags": [
                              "West",
                              "Odd"
                            ],
                            "timeWindow": {
                              "startTime": null,
                              "endTime": null
                            },
                            "weight": 0,
                            "travelTime": 31,
                            "visitTime": 17,
                            "waitingTime": 0,
                            "eta": "8:30:46",
                            "etd": "8:47:46",
                            "distance": 12817,
                            "order": 1
                          },
                          {
                            "visitId": "hub-635f6ad98e47b604ed5f5e09",
                            "coordinate": "-6.17148,106.82649",
                            "isHub": true,
                            "weight": 0,
                            "travelTime": 3,
                            "visitTime": 0,
                            "waitingTime": 0,
                            "eta": "9:41:12",
                            "etd": "9:41:12",
                            "distance": 974,
                            "order": 3
                          }
                        ],
                        "totalWeight": 0,
                        "vehicleMaxWeight": 100,
                        "vehicleMinWeight": 0,
                        "weightPercentage": "0%",
                        "fixedCost": 0,
                        "totalNodes": 3,
                        "totalVisits": 1,
                        "speed": 25,
                        "totalTravelTime": 69,
                        "totalDistance": 27996,
                        "totalVisitTime": 34,
                        "totalWaitingTime": 0,
                        "totalSpentTime": 103
                      }
                    ],
                    "dropped": [
                      {
                        "id": "taskId-63970a49cc6ae973f90929e2",
                        "name": "Visit 2",
                        "address": "Gambir Jakarta",
                        "coordinate": "-6.17148,106.82649",
                        "timeWindow": {
                          "startTime": null,
                          "endTime": null
                        },
                        "visitTime": "20",
                        "capacity": {
                          "weight": 20.12345
                        },
                        "tags": [
                          "63da418fc05c0d0269071cf2"
                        ],
                        "assignedVehicleId": "63da418fc05c0d0269071cf2",
                        "isHub": false,
                        "reason": "No vehicle with matching tags",
                        "visitId": "taskId-63970a49cc6ae973f90929e2",
                        "visitName": "Visit 2"
                      }
                    ],
                    "summary": {
                      "routedVisits": 1,
                      "droppedVisits": 1,
                      "totalVisits": 2,
                      "usedVehicles": 1,
                      "unusedVehicles": 0,
                      "totalVehicles": 1,
                      "totalDistance": 22666,
                      "totalTravelTime": 34,
                      "totalVisitTime": 12,
                      "totalWaitingTime": 0,
                      "totalSpentTime": 22712,
                      "minFinishTime": "09:41:12",
                      "maxFinishTime": "09:41:12",
                      "avgFinishTime": "09:41:12",
                      "avgSpeed": 30,
                      "capacityConstraint": [
                        {
                          "name": "weight",
                          "optimized": 100,
                          "available": 300,
                          "percentage": 33.3
                        }
                      ]
                    }
                  },
                  "hubId": "635f6ad98e47b604ed5f5e09",
                  "hubCoordinate": "-6.17148,106.82649",
                  "configurationId": null,
                  "configuration": {
                    "defaultVisitTime": 10,
                    "defaultSpeed": 15,
                    "multitrip": false,
                    "returnToHub": true,
                    "useAllVehicle": true,
                    "clustering": false,
                    "capacityConstraint": [
                      "weight"
                    ],
                    "name": "Configuration Default",
                    "autoSpeed": false,
                    "tripsPerVehicle": -1
                  },
                  "createdTime": "2023-02-06T01:18:36+00:00",
                  "resultTotal": {
                    "routing": 1,
                    "dropped": 1,
                    "total": 2
                  },
                  "organizationId": "635f6a998e47b604ed5f5e02",
                  "createdBy": "635f6a9a8e47b604ed5f5e08",
                  "updatedTime": "2023-02-06T06:59:03+00:00",
                  "user": {
                    "name": "Marshall Teach"
                  }
                }
              }
            }

          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "title": "BadRequestGetRoutingResult",
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "string"
                },
                "message": {
                  "description": "Message of API response.",
                  "type": "string"
                }
              },
              "example": {
                "status": false,
                "message": "Failed to update data",
                "failedCode": "reslt-001"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema" : {
              "type": "object",
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "boolean"
                },
                "message": {
                  "description": "Message of API response.",
                  "type": "string"
                },
                "data": {
                  "description": "Detail of object vehicle.",
                  "type": "array"
                }
              }
            },
            "examples": {
              "application/json": {
                "status": false,
                "message": "data not found",
                "data": [],
                "failedCode": "reslt-033"
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update partially routing result by ID",
        "tags": [
          "Routing"
        ],
        "description" : "When using the PATCH method with this API, it's important to note that the result summary is not recalculated. This API is specifically designed for renaming the result without triggering the recalculation of associated data or summaries. If any changes requiring recalculation are necessary, consider using the appropriate PUT API to initiate recalculation processes.",
        "operationId": "patch/result/id",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "resultId",
            "in": "path",
            "required": false,
            "type": "string",
            "description": "Unique identifier for the routing result that generated by system.<br>**Example**: `6352736c628401059b37a2e2`"
          },
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PATCH~1ResultRequestUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "title": "ResultGetSuccess",
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "string"
                },
                "message": {
                  "description": "Message of response.",
                  "type": "string"
                },
                "data": {
                  "description": "Object of routing result data.",
                  "type": "array"
                }
              },
              "example": {
                "status": true,
                "message": "Success",
                "data": {
                  "_id": "6352736c628401059b37a2e2",
                  "name": "Result Today",
                  "result": {
                    "resultCode": "Route-20230801-001",
                    "routing": [
                      {
                        "vehicleId": "63da418fc05c0d0269071cf3",
                        "vehicleName": "B001ACB 1",
                        "assignee": "roberto@mile.app",
                        "workingTime": {
                          "startTime": "08:00",
                          "endTime": "17:00"
                        },
                        "vehicleTags": [
                          "West",
                          "Odd"
                        ],
                        "trips": [
                          {
                            "visitId": "hub-635f6ad98e47b604ed5f5e09",
                            "coordinate": "-6.17148,106.82649",
                            "isHub": true,
                            "weight": 0,
                            "travelTime": 0,
                            "visitTime": 0,
                            "waitingTime": 0,
                            "eta": "8:00:00",
                            "etd": "8:00:00",
                            "distance": 0,
                            "order": 0
                          },
                          {
                            "visitId": "taskId-63994a54e1528d445641d9a2",
                            "visitName": "Visit 1",
                            "address": "Neo Soho, Jakarta Barat",
                            "coordinate": "-6.261532638313604,106.80685970157342",
                            "isHub": false,
                            "tags": [
                              "West",
                              "Odd"
                            ],
                            "timeWindow": {
                              "startTime": null,
                              "endTime": null
                            },
                            "weight": 0,
                            "travelTime": 31,
                            "visitTime": 17,
                            "waitingTime": 0,
                            "eta": "8:30:46",
                            "etd": "8:47:46",
                            "distance": 12817,
                            "order": 1
                          },
                          {
                            "visitId": "hub-635f6ad98e47b604ed5f5e09",
                            "coordinate": "-6.17148,106.82649",
                            "isHub": true,
                            "weight": 0,
                            "travelTime": 3,
                            "visitTime": 0,
                            "waitingTime": 0,
                            "eta": "9:41:12",
                            "etd": "9:41:12",
                            "distance": 974,
                            "order": 3
                          }
                        ],
                        "totalWeight": 0,
                        "vehicleMaxWeight": 100,
                        "vehicleMinWeight": 0,
                        "weightPercentage": "0%",
                        "fixedCost": 0,
                        "totalNodes": 3,
                        "totalVisits": 1,
                        "speed": 25,
                        "totalTravelTime": 69,
                        "totalDistance": 27996,
                        "totalVisitTime": 34,
                        "totalWaitingTime": 0,
                        "totalSpentTime": 103
                      }
                    ],
                    "dropped": [
                      {
                        "id": "taskId-63970a49cc6ae973f90929e2",
                        "name": "Visit 2",
                        "address": "Gambir Jakarta",
                        "coordinate": "-6.17148,106.82649",
                        "timeWindow": {
                          "startTime": null,
                          "endTime": null
                        },
                        "visitTime": "20",
                        "capacity": {
                          "weight": 20.12345
                        },
                        "tags": [
                          "63da418fc05c0d0269071cf2"
                        ],
                        "assignedVehicleId": "63da418fc05c0d0269071cf2",
                        "isHub": false,
                        "reason": "No vehicle with matching tags",
                        "visitId": "taskId-63970a49cc6ae973f90929e2",
                        "visitName": "Visit 2"
                      }
                    ],
                    "summary": {
                      "routedVisits": 1,
                      "droppedVisits": 1,
                      "totalVisits": 2,
                      "usedVehicles": 1,
                      "unusedVehicles": 0,
                      "totalVehicles": 1,
                      "totalDistance": 22666,
                      "totalTravelTime": 34,
                      "totalVisitTime": 12,
                      "totalWaitingTime": 0,
                      "totalSpentTime": 22712,
                      "minFinishTime": "09:41:12",
                      "maxFinishTime": "09:41:12",
                      "avgFinishTime": "09:41:12",
                      "avgSpeed": 30,
                      "capacityConstraint": [
                        {
                          "name": "weight",
                          "optimized": 100,
                          "available": 300,
                          "percentage": 33.3
                        }
                      ]
                    }
                  },
                  "hubId": "635f6ad98e47b604ed5f5e09",
                  "hubCoordinate": "-6.17148,106.82649",
                  "configurationId": null,
                  "configuration": {
                    "defaultVisitTime": 10,
                    "defaultSpeed": 15,
                    "multitrip": false,
                    "returnToHub": true,
                    "useAllVehicle": true,
                    "clustering": false,
                    "capacityConstraint": [
                      "weight"
                    ],
                    "name": "Configuration Default",
                    "autoSpeed": false,
                    "tripsPerVehicle": -1
                  },
                  "createdTime": "2023-02-06T01:18:36+00:00",
                  "resultTotal": {
                    "routing": 1,
                    "dropped": 1,
                    "total": 2
                  },
                  "organizationId": "635f6a998e47b604ed5f5e02",
                  "createdBy": "635f6a9a8e47b604ed5f5e08",
                  "updatedTime": "2023-02-06T06:59:03+00:00",
                  "user": {
                    "name": "Marshall Teach"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "title": "BadRequestGetRoutingResult",
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "string"
                },
                "message": {
                  "description": "Message of API response.",
                  "type": "string"
                }
              },
              "example": {
                "status": false,
                "message": "Failed to update data",
                "failedCode": "reslt-001"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema" : {
              "type": "object",
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "boolean"
                },
                "message": {
                  "description": "Message of API response.",
                  "type": "string"
                },
                "data": {
                  "description": "Detail of object vehicle.",
                  "type": "array"
                }
              }
            },
            "examples": {
              "application/json": {
                "status": false,
                "message": "data not found",
                "data": [],
                "failedCode": "reslt-033"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete routing result by ID",
        "tags": [
          "Routing"
        ],
        "operationId": "Deleteresult/id",
        "deprecated": false,
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "resultId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique identifier for the routing result that generated by system.<br>**Example**: `6352736c628401059b37a2e2`"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "title": "ResultGetSuccess",
              "properties": {
                "_id": {
                  "description": "ID of deleted routing result.",
                  "type": "string"
                },
                "status": {
                  "description": "Status of response.",
                  "type": "string"
                },
                "message": {
                  "description": "Message of response.",
                  "type": "string"
                }
              },
              "example": {
                "_id": "61e9754ce857492fd34de7c2",
                "status": true,
                "message": "Result successfully deleted."
              }
            },
            "description": "Success"

          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "title": "ResultGetSuccess",
              "properties": {
                "_id": {
                  "description": "ID of deleted routing result.",
                  "type": "string"
                },
                "status": {
                  "description": "Status of response.",
                  "type": "string"
                },
                "message": {
                  "description": "Message of response.",
                  "type": "string"
                }
              },
              "example": {
                "status": false,
                "message": "data not found",
                "failedCode": "reslt-033"
              }
            }

          }
        }
      }
    }
  },
  "definitions": {
    "default_header": {},
    "route-dispatch-request": {
      "title": "route-dispatch-request",
      "example": {
        "resultId": "6352736c628401059b37a2e2"
      },
      "type": "object",
      "properties": {
        "resultId": {
          "type": "string",
          "description" : "Unique identifier for the routing result that generated by system. **Example:** `6352736c628401059b37a2e2`"
        }
      },
      "required": [
        "resultId"
      ]
    },
    "PUT/ResultRequestUpdate": {
      "title": "PUT/ResultRequestUpdate",
      "example": {
        "result": {
          "routing": [
            {
              "vehicleId": "63da418fc05c0d0269071cf3",
              "vehicleName": "B001ACB 1",
              "assignee": "roberto@mile.app",
              "workingTime": {
                "startTime": "08:00",
                "endTime": "17:00"
              },
              "vehicleTags": [
                "West",
                "Odd"
              ],
              "trips": [
                {
                  "visitId": "hub-635f6ad98e47b604ed5f5e09",
                  "coordinate": "-6.17148,106.82649",
                  "isHub": true,
                  "weight": 0,
                  "travelTime": 0,
                  "visitTime": 0,
                  "waitingTime": 0,
                  "eta": "8:00:00",
                  "etd": "8:00:00",
                  "distance": 0,
                  "order": 0
                },
                {
                  "visitId": "taskId-63994a54e1528d445641d9a2",
                  "visitName": "Visit 1",
                  "address": "Neo Soho, Jakarta Barat",
                  "coordinate": "-6.261532638313604,106.80685970157342",
                  "isHub": false,
                  "tags": [
                    "West",
                    "Odd"
                  ],
                  "timeWindow": {
                    "startTime": null,
                    "endTime": null
                  },
                  "weight": 0,
                  "travelTime": 31,
                  "visitTime": 17,
                  "waitingTime": 0,
                  "eta": "8:30:46",
                  "etd": "8:47:46",
                  "distance": 12817,
                  "order": 1
                },
                {
                  "visitId": "hub-635f6ad98e47b604ed5f5e09",
                  "coordinate": "-6.17148,106.82649",
                  "isHub": true,
                  "weight": 0,
                  "travelTime": 3,
                  "visitTime": 0,
                  "waitingTime": 0,
                  "eta": "9:41:12",
                  "etd": "9:41:12",
                  "distance": 974,
                  "order": 3
                }
              ],
              "totalWeight": 0,
              "vehicleMaxWeight": 100,
              "vehicleMinWeight": 0,
              "weightPercentage": "0%",
              "speed": 25,
              "totalTravelTime": 69,
              "totalDistance": 27996,
              "totalVisitTime": 34,
              "totalWaitingTime": 0,
              "totalSpentTime": 103
            }
          ],
          "dropped": [
            {
              "id": "taskId-63970a49cc6ae973f90929e2",
              "name": "Visit 2",
              "address": "Gambir Jakarta",
              "coordinate": "-6.17148,106.82649",
              "timeWindow": {
                "startTime": null,
                "endTime": null
              },
              "visitTime": "20",
              "capacity": {
                "weight": 20.12345
              },
              "tags": [
                "63da418fc05c0d0269071cf2"
              ],
              "assignedVehicleId": "63da418fc05c0d0269071cf2",
              "isHub": false,
              "reason": "No vehicle with matching tags",
              "visitId": "taskId-63970a49cc6ae973f90929e2",
              "visitName": "Visit 2"
            }
          ]
        }
      },
      "type": "object",
      "required": [
        "result"
      ],
      "properties": {

        "result": {
          "type": "array",
          "description": "The routing result which includes information about countryCode, resultCode, routing details, and dropped results.",
          "items": {
            "type": "object",
            "required": [
              "startTime",
              "endTime",
              "multiday"
            ],
            "properties": {

              "routing": {
                "type": "array",
                "description": "A list of vehicles that have successfully undergone route optimization.",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "vehicleId" : {
                      "description" : "The unique identifier for the vehicle generated by the system. <br>**Example**: `6352736c628401059b37a2e2`",
                      "type" : "string"
                    },
                    "vehicleName" : {
                      "description" : "The name of the vehicle used for reference, such as a number plate or vehicle brand. <br>**Example**: `B001ACB`",
                      "type" : "string"
                    },
                    "vehicleTags" : {
                      "description" : "Tags assigned to the vehicle for route optimization purposes. Visits with matching tags will be assigned to vehicles with the same tags. <br>**Example**: `['West','Odd']`",
                      "type" : "array of string"
                    },
                    "assignee" : {
                      "description" : "The email address of the worker assigned to the vehicle. Each vehicle can only be assigned to one worker. <br>**Example**: `roberto@mile.app`",
                      "type" : "string"
                    },
                    "speed" : {
                      "description" : "The default average speed of the vehicle. The speed cannot be less than 5 km/h. If not provided, the default value is 25 km/h. <br>**Example:** `15`",
                      "type" : "integer"
                    },
                    "workingTime" : {
                      "description" : "The working hours of the vehicle, including the start time, end time, and whether it spans multiple days. If not provided, the system will use the configuration values for routing purposes. <br>**Example**:<br>`{`<br>`startTime':'08:00',`<br>`endTime':'17:00`<br>`}`",
                      "type" : "array"
                    },
                    "total{Constraint}" : {
                      "description" : "The sum of constraints for visits routed on this vehicle. **Example:** `100`",
                      "type" : "numeric"
                    },
                    "vehicleMax{Constraint}" : {
                      "description" : "The maximum constraint capacity of this vehicle. **Example:** `200`",
                      "type" : "numeric"
                    },
                    "vehicleMin{Constraint}" : {
                      "description" : "The minimum constraint capacity of this vehicle. **Example:** `50`",
                      "type" : "numeric"
                    },
                    "{Constraint}Percentage" : {
                      "description" : "The percentage of constraint capacity used by this vehicle. Calculated as **totalConstraint/vehicleMaxConstraint**. <br>**Example:** `50%`",
                      "type" : "string"
                    },
                    "totalTravelTime" : {
                      "description" : "The sum of travel times for visits routed on this vehicle, in minutes. **Example:** `100`",
                      "type" : "numeric"
                    },
                    "totalDistance" : {
                      "description" : "The sum of distances traveled for each visit on this vehicle, in meters. **Example:** `500`",
                      "type" : "numeric"
                    },
                    "trips" : {
                      "description" : "The list of routed visits for each vehicle.",
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "visitId" : {
                            "description" : "The unique identifier for the visit. <br>**Example:** `6311cc36db29775ad01694e6`",
                            "type" : "string"
                          },
                          "coordinate" : {
                            "description" : " coordinates of the visit, used for engine calculations to find distance and travel time between visits. <br>**Example:** `-6.230815251666679,106.75684387903198`",
                            "type" : "string"
                          },
                          "visitName" : {
                            "description" : "The name of the visit, which can be given a descriptive name based on the destination, customer, or other relevant information.  <br>**Example:** `Visit 1`",
                            "type" : "string"
                          },
                          "visitAddress" : {
                            "description" : "The location of the visit.  <br>**Example:** `Neo Soho, Jakarta Barat`",
                            "type" : "string"
                          },
                          "tags" : {
                            "description" : "Tags associated with the visit. Visits with matching tags will be assigned to vehicles with the same tags.<br>**Example:** `['West', 'Odd']`",
                            "type" : "array of string"
                          },
                          "timeWindow" : {
                            "description" : "The time span during which the visit can be made, specified as opening and closing hours. If not provided, the visit can be made at any time. <br>If this is not filled then the destination can be visited anytime.  <br>**Example:** `{'startTime': value, 'endTime': value}`",
                            "type" : "array"
                          },
                          "travelTime" : {
                            "description" : "The estimated travel time from the previous trip to the current trip, in minutes. <br>**Example:** `10`",
                            "type" : "integer"
                          },
                          "waitingTime" : {
                            "description" : "The idle time after arriving at the destination. This accounts for activities such as handing over goods, waiting for customers, and parking vehicles. <br>**Example:** `10`",
                            "type" : "integer"
                          },
                          "eta" : {
                            "description" : "The estimated time of arrival at the current trip. <br>**Example:** `09:34:00` ",
                            "type" : "string"
                          },
                          "etd" : {
                            "description" : "The estimated time of departure at the current trip. <br>**Example:** `09:34:00` ",
                            "type" : "string"
                          },
                          "distance" : {
                            "description" : "The distance from the previous trip to the current trip, in meters. <br>**Example:** `22666`",
                            "type" : "string"
                          },
                          "order" : {
                            "description" : "The order of the visit handled by each vehicle's trips. Visits with smaller order values will be served first. <br>**Example:** `1`",
                            "type" : "integer"
                          },
                          "tripOrder" : {
                            "description" : "This field exists only when multitrip is activated and the vehicle handles multiple trips. It distinguishes the list of visits on vehicle trips based on the vehicle's starting point or vehicle's reload from the hub. <br>**Example:** `1`",
                            "type" : "integer"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "dropped": {
                "type": "array",
                "description": "Collection of trips/visits that can't optimized for some reason (failed to be routed)",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "id" : {
                      "description" : "The unique identifier for the visit that was dropped. <br>**Example:** `6311cc36db29775ad01694e6`",
                      "type" : "string"
                    },
                    "address" : {
                      "description" : "The location of the dropped visit. <br>**Example:** `Neo Soho, Jakarta Barat`",
                      "type" : "string"
                    },
                    "capacity" : {
                      "description" : "The capacity constraints for the dropped visit, used for route optimization purposes. Each constraint has a maximum value of 9999999999. <br>**Example:** `{'width': 100, 'height': 150}`",
                      "type" : "array of object"
                    },
                    "coordinate" : {
                      "description" : "The coordinates of the dropped visit, used for engine calculations to find distance and travel time between visits. <br>**Example:** `-6.230815251666679,106.75684387903198`",
                      "type" : "string"
                    },
                    "visitTime" : {
                      "description" : "The idle time after arriving at the destination. This accounts for activities such as handing over goods, waiting for customers, and parking vehicles, based on the specific business needs. <br>**Example:** `10`",
                      "type" : "integer"
                    },
                    "tags" : {
                      "description" : "Tags associated with the dropped visit. Visits with matching tags would have been assigned to vehicles with the same tags. <br>**Example:** `['West', 'Odd']`",
                      "type" : "array of string"
                    },
                    "reason" : {
                      "description" : "The reason why the visit was dropped. <br>**Example:** `Dropped due to constraint`",
                      "type" : "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "PATCH/ResultRequestUpdate": {
      "title": "PATCH/ResultRequestUpdate",
      "example": {
        "name": "result test"
      },
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "name" : {
          "type" : "string",
          "description" : "The desired name for the routing result. Users have the flexibility to define a custom name for the result. **Default**: `Result Today` "
        }
      }
    },
    "responseRoutingResultHistory": {
      "data": [
        {
          "_id": "66adaea3d533150505027084",
          "resultId": "66ad80fbd430be4fcd5986d2",
          "action": "move",
          "description": " Visit  moved to vehicle KH 3267 GI by User",
          "visits": [
            {
              "visitId": "taskId-66ab5b4c91c39b50a8345b21",
              "visitName": "Susana Vargas"
            }
          ],
          "organizationId": "667ce3df3e8b610d2b142372",
          "createdTime": "2024-08-03T04:14:27.000000Z",
          "vehicleFrom": "dropped",
          "vehicleTo": "KH 3267 GI",
          "createdFrom": "WEB",
          "createdType": "individualMove",
          "createdBy": "User",
          "version": 2,
          "updatedTime": "2024-08-03T04:14:27.739000Z"
        },
        {
          "_id": "66adae6bd533150505027083",
          "resultId": "66ad80fbd430be4fcd5986d2",
          "action": "move",
          "description": " Visit  moved to vehicle L 1637 KIE by User",
          "visits": [
            {
              "visitId": "taskId-668b6532b1ba313e4d62c7a5",
              "visitName": "Valentine Carter"
            }
          ],
          "organizationId": "667ce3df3e8b610d2b142372",
          "createdTime": "2024-08-03T04:13:31.000000Z",
          "vehicleFrom": "KH 3267 GI",
          "vehicleTo": "L 1637 KIE",
          "createdFrom": "WEB",
          "createdType": "individualMove",
          "createdBy": "User",
          "version": 1,
          "updatedTime": "2024-08-03T04:13:31.980000Z"
        }
      ],
      "status": true
    },
    "responseRestoreRoutingResultHistory": {
      "statusCode": 200,
      "status": true,
      "property": {
        "_id": "66ad80fbd430be4fcd5986d2",
        "name": "Routing 08-03 07:59",
        "result": {
          "routing": [
            {
              "vehicleId": "66ad80d1b9fa7c38983acf56",
              "vehicleName": "L 1637 KIE",
              "assignee": "email@domain.com",
              "workingTime": {
                "startTime": "07:00",
                "endTime": "17:00"
              },
              "breakTime": {
                "startTime": null,
                "endTime": null
              },
              "vehicleTags": [
                "66ad80d1b9fa7c38983acf56"
              ],
              "speed": "auto",
              "fixedCost": 0,
              "finishTime": "12:15:44",
              "trips": [
                {
                  "visitId": "hub-667ce42492728d5305224bd2",
                  "coordinate": "-7.93316,113.81404",
                  "isHub": true,
                  "travelTime": 0,
                  "visitTime": 0,
                  "waitingTime": 0,
                  "eta": "07:00:00",
                  "etd": "07:00:00",
                  "etaStr": "7:00:00",
                  "etdStr": "7:00:00",
                  "distance": 0,
                  "order": 0
                },
                {
                  "visitId": "taskId-668b6537b1ba313e4d62c7ab",
                  "visitName": "Clemens Aschenbroich",
                  "address": "Apartment 213",
                  "coordinate": "-7.900296849678898,113.82699242933438",
                  "isHub": false,
                  "tags": [],
                  "timeWindow": {
                    "startTime": null,
                    "endTime": null
                  },
                  "travelTime": 7,
                  "visitTime": 15,
                  "waitingTime": 0,
                  "eta": "07:06:56",
                  "etd": "07:21:56",
                  "etaStr": "7:06:56",
                  "etdStr": "7:21:56",
                  "distance": 3914,
                  "order": 1
                },
                {
                  "visitId": "taskId-668b6531b1ba313e4d62c7a3",
                  "visitName": "Joyce Dreier",
                  "address": "Northernmost House",
                  "coordinate": "-7.993833771422164,113.76978000527019",
                  "isHub": false,
                  "tags": [],
                  "timeWindow": {
                    "startTime": null,
                    "endTime": null
                  },
                  "travelTime": 17,
                  "visitTime": 15,
                  "waitingTime": 0,
                  "eta": "10:23:55",
                  "etd": "10:38:55",
                  "etaStr": "10:23:55",
                  "etdStr": "10:38:55",
                  "distance": 4158,
                  "order": 8
                },
                {
                  "visitId": "taskId-668b652fb1ba313e4d62c7a1",
                  "visitName": "Nikolai Frisch",
                  "address": "Apartment 23B",
                  "coordinate": "-7.945854283429164,113.76858828298745",
                  "isHub": false,
                  "tags": [],
                  "timeWindow": {
                    "startTime": null,
                    "endTime": null
                  },
                  "travelTime": 37,
                  "visitTime": 15,
                  "waitingTime": 0,
                  "eta": "11:15:44",
                  "etd": "11:30:44",
                  "etaStr": "11:15:44",
                  "etdStr": "11:30:44",
                  "distance": 10283,
                  "order": 9
                },
                {
                  "visitId": "taskId-668b6532b1ba313e4d62c7a5",
                  "visitName": "Valentine Carter",
                  "address": "Street B, number 33",
                  "coordinate": "-7.901369769821935,113.80929511537482",
                  "isHub": false,
                  "tags": [],
                  "timeWindow": {
                    "startTime": null,
                    "endTime": null
                  },
                  "travelTime": 30,
                  "visitTime": 15,
                  "waitingTime": 0,
                  "eta": "12:00:44",
                  "etd": "12:15:44",
                  "etaStr": "12:00:44",
                  "etdStr": "12:15:44",
                  "distance": 11503,
                  "order": 10
                }
              ],
              "totalTravelTime": 169,
              "totalDistance": 64813,
              "totalNodes": 5,
              "totalVisits": 4,
              "totalTrips": 1,
              "totalVisitTime": 150,
              "totalWaitingTime": 0,
              "totalSpentTime": 319
            }
          ],
          "dropped": [
            {
              "id": "taskId-668b6538b1ba313e4d62c7ad",
              "name": "Susana Vargas",
              "address": "Second House on the North",
              "coordinate": "-7.960518764909991,113.84018506493811",
              "timeWindow": {
                "startTime": null,
                "endTime": null
              },
              "visitTime": 15,
              "capacity": [],
              "tags": [
                "66ab3ba48ce881279c178a73"
              ],
              "orderNumber": 4,
              "isHub": false,
              "timeWindowMod": [
                0,
                36001
              ],
              "reason": "No vehicle with matching tags",
              "visitId": "taskId-668b6538b1ba313e4d62c7ad",
              "visitName": "Susana Vargas"
            }
          ]
        },
        "summary": {
          "totalVehicles": 5,
          "usedVehicles": 2,
          "unusedVehicles": 3,
          "totalVisits": 12,
          "routedVisits": 11,
          "droppedVisits": 1,
          "totalVisitTime": 165,
          "totalWaitingTime": 0,
          "totalTravelTime": 184,
          "totalSpentTime": 349,
          "totalDistance": 70942,
          "avgSpeed": "auto",
          "minFinishTime": "07:29:56",
          "maxFinishTime": "12:15:44",
          "avgFinishTime": "09:52:50"
        },
        "countryCode": "IDN",
        "status": "done",
        "hubId": "667ce42492728d5305224bd2",
        "hubCoordinate": "-7.93316,113.81404",
        "configuration": {
          "name": "Configuration Default_1719460900",
          "capacityConstraint": [],
          "rawConstraint": [],
          "defaultVisitTime": 15,
          "defaultSpeed": 25,
          "multitrip": false,
          "returnToHub": false,
          "useAllVehicle": false,
          "clustering": "none",
          "autoSpeed": true,
          "crossDockingType": "none",
          "subHubs": [],
          "dynamicVisitTime": [],
          "autoMerge": false,
          "autoSplit": "none",
          "numberOfMultitrip": 2
        },
        "finishTime": "2024-08-03T00:59:45+00:00",
        "createdTime": "2024-08-03T00:59:39+00:00",
        "createdFrom": "WEB",
        "resultCode": "1722646778",
        "organizationId": "667ce3df3e8b610d2b142372",
        "isDeleted": false,
        "createdBy": "667ce3e53e8b610d2b142377",
        "updatedTime": "2024-08-03T06:32:17+00:00",
        "message": "",
        "user": {
          "name": "gabs"
        },
        "totalResultHistories": 6
      }
    }
  }
}
