{
    "swagger": "2.0",
    "info": {
        "title": "MileApp Billing API",
        "version": "1.0",
        "description": "API documentation for MileApp billing system.\n\n### Subscription Object\n\nThis section describes the structure of the subscription object returned by the API.\n\n| Field | Type | Description |\n| ----- | ---- | ----------- |\n| _id | <a href='#section/Introduction/Format'>string</a> | Unique identifier for the subscription. |\n| orderIndex | <a href='#section/Introduction/Format'>integer</a> | The order index of the subscription. |\n| organizationId | <a href='#section/Introduction/Format'>string</a> | The ID of the organization associated with the subscription. |\n| productId | <a href='#section/Introduction/Format'>string</a> | The ID of the product associated with the subscription. |\n| planName | <a href='#section/Introduction/Format'>string</a> | The name of the subscription plan. |\n| items | <a href='#section/Introduction/Format'>array</a> | An array of items included in the subscription. See the table below for details. |\n| curPeriodStartTime | <a href='#section/Introduction/Format'>string</a> | The start time of the current subscription period. |\n| curPeriodEndTime | <a href='#section/Introduction/Format'>string</a> | The end time of the current subscription period. |\n| status | <a href='#section/Introduction/Format'>string</a> | The status of the subscription. |\n| nextState | <a href='#section/Introduction/Format'>string</a> | The next state of the subscription. |\n| isDeleted | <a href='#section/Introduction/Format'>boolean</a> | Indicates whether the subscription has been deleted. |\n| updatedTime | <a href='#section/Introduction/Format'>string</a> | The last updated time of the subscription. |\n| createdTime | <a href='#section/Introduction/Format'>string</a> | The creation time of the subscription. |\n\n**Items Field Details**\n\n| Field | Type | Description |\n| ----- | ---- | ----------- |\n| priceId | <a href='#section/Introduction/Format'>string</a> | The ID of the price associated with the item. |\n| name | <a href='#section/Introduction/Format'>string</a> | The name of the item. |\n| mainPrice | <a href='#section/Introduction/Format'>integer</a> | The main price of the item. |\n| extraPrice | <a href='#section/Introduction/Format'>integer</a> | The extra price of the item. |\n| stripeSubsItemId | <a href='#section/Introduction/Format'>string</a> | The Stripe subscription item ID associated with the item. |\n"
    },
    "host": "billing.mile.app",
    "basePath": "/api/v1",
    "schemes": ["https"],
    "paths": {
        "/id/subscription": {
            "post": {
                "summary": "Create Subscription",
                "tags": ["Subscriptions"],
                "description": "Create a new subscription using a product ID.",
                "operationId": "createSubscription",
                "consumes": ["application/json"],
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Product ID for the subscription.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SubscriptionRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Subscription created successfully.",
                        "schema": {
                            "$ref": "#/definitions/SubscriptionResponse"
                        }
                    }
                }
            }
        },
        "/id/subscriptions": {
            "get": {
                "summary": "Get Subscriptions",
                "tags": ["Subscriptions"],
                "description": "Retrieve active or inactive subscriptions.",
                "operationId": "getSubscriptions",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter subscriptions by status (active or inactive).",
                        "required": true,
                        "type": "string",
                        "enum": ["active", "inactive"]
                    },
                    {
                        "name": "nextState",
                        "in": "query",
                        "description": "Filter subscriptions by the next state (active or inactive).",
                        "required": true,
                        "type": "string",
                        "enum": ["active", "inactive"]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Subscriptions retrieved successfully.",
                        "schema": {
                            "$ref": "#/definitions/SubscriptionsResponse"
                        }
                    }
                }
            }
        },
        "/id/subscription/{subscriptionId}": {
            "get": {
                "summary": "Get Subscription by ID",
                "tags": ["Subscriptions"],
                "description": "Retrieve a subscription by its unique ID.",
                "operationId": "getSubscriptionById",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "subscriptionId",
                        "in": "path",
                        "description": "Unique identifier for the subscription.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Subscription retrieved successfully.",
                        "schema": {
                            "$ref": "#/definitions/Subscription"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Unsubscribe Subscription by ID",
                "tags": ["Subscriptions"],
                "description": "Unsubscribe subscription using a subscription ID.",
                "operationId": "unsubscribeSubscription",
                "consumes": ["application/json"],
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "subscriptionId",
                        "in": "path",
                        "description": "Unique identifier for the subscription.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Cancellation is in progress. Please wait.",
                        "schema": {
                            "$ref": "#/definitions/SubscriptionResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "SubscriptionRequest": {
            "type": "object",
            "properties": {
                "productId": {
                    "type": "string",
                    "description": "The ID of the product for the subscription."
                }
            },
            "example": {
                "productId": "prod_OaZOlUL01AiiNl"
            }
        },
        "SubscriptionResponse": {
            "type": "object",
            "properties": {
                "status": {
                    "type": "boolean",
                    "description": "Status of the subscription request."
                },
                "message": {
                    "type": "string",
                    "description": "A message indicating the result of the subscription request."
                },
                "data": {
                    "type": "object",
                    "description": "Object from Stripe representing the subscription details."
                }
            },
            "example": {
                "status": true,
                "message": "Your subscription is being processed. Please wait a moment.",
                "data": {}
            }
        },
        "UnsubscribeResponse": {
            "type": "object",
            "properties": {
                "status": {
                    "type": "boolean",
                    "description": "Status of the subscription request."
                },
                "message": {
                    "type": "string",
                    "description": "A message indicating the result of the subscription request."
                },
                "data": {
                    "type": "object",
                    "description": "Object from Stripe representing the subscription details."
                }
            },
            "example": {
                "status": true,
                "message": "Your subscription is being processed. Please wait a moment.",
                "data": {}
            }
        },
        "SubscriptionsResponse": {
            "type": "object",
            "properties": {
                "currentPage": {
                    "type": "integer",
                    "description": "Current page number."
                },
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Subscription"
                    },
                    "description": "List of subscriptions matching the criteria."
                },
                "firstPageUrl": {
                    "type": "string",
                    "description": "URL to the first page of results."
                },
                "from": {
                    "type": "integer",
                    "description": "The starting index of the result."
                },
                "lastPage": {
                    "type": "integer",
                    "description": "Total number of pages."
                },
                "lastPageUrl": {
                    "type": "string",
                    "description": "URL to the last page of results."
                },
                "links": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/PageLink"
                    },
                    "description": "Navigation links for pagination."
                },
                "nextPageUrl": {
                    "type": "string",
                    "description": "URL to the next page of results."
                },
                "path": {
                    "type": "string",
                    "description": "The base path for the request."
                },
                "perPage": {
                    "type": "integer",
                    "description": "Number of results per page."
                },
                "prevPageUrl": {
                    "type": "string",
                    "description": "URL to the previous page of results."
                },
                "to": {
                    "type": "integer",
                    "description": "The ending index of the result."
                },
                "total": {
                    "type": "integer",
                    "description": "Total number of subscriptions."
                }
            },
            "example": {
                "currentPage": 1,
                "data": [
                    {
                        "_id": "651c3e4b8c1bf18656000934",
                        "orderIndex": 2,
                        "organizationId": "64f7e34c52b92e1a4a1f3722",
                        "productId": "prod_OaZOlUL01AiiNl",
                        "planName": "Paid",
                        "items": [
                            {
                                "priceId": "price_1NnOO3FONuq90qMoWEksBGHt",
                                "name": "Main Task",
                                "mainPrice": 2000000,
                                "stripeSubsItemId": "si_OkgdSnVwPRwPLk"
                            },
                            {
                                "priceId": "price_1NtCzSFONuq90qMoyMtxfuk6",
                                "name": "Automation",
                                "extraPrice": 10,
                                "stripeSubsItemId": "si_Okgdh7e6diGSVz"
                            },
                            {
                                "priceId": "price_1NtD1DFONuq90qMo22os1GjE",
                                "name": "Visit",
                                "extraPrice": 200,
                                "stripeSubsItemId": "si_OkgdskYhF2i92g"
                            },
                            {
                                "priceId": "price_1Nve4aFONuq90qMoBv1D3Wcl",
                                "name": "Task",
                                "extraPrice": 400,
                                "stripeSubsItemId": "si_OkgdYEM4R8WUZr"
                            }
                        ],
                        "curPeriodStartTime": "2024-05-20T18:38:00+00:00",
                        "curPeriodEndTime": "2024-06-20T18:38:00+00:00",
                        "status": "unpaid",
                        "nextState": "active",
                        "isDeleted": false,
                        "updatedTime": "2023-10-03T16:16:11+00:00",
                        "createdTime": "2023-10-03T16:16:11+00:00"
                    }
                ],
                "firstPageUrl": "http://localhost:82/api/v1/id/subscriptions?page=1",
                "from": 1,
                "lastPage": 1,
                "lastPageUrl": "http://localhost:82/api/v1/id/subscriptions?page=1",
                "links": [
                    {
                        "url": null,
                        "label": "&laquo; Previous",
                        "active": false
                    },
                    {
                        "url": "http://localhost:82/api/v1/id/subscriptions?page=1",
                        "label": "1",
                        "active": true
                    },
                    {
                        "url": null,
                        "label": "Next &raquo;",
                        "active": false
                    }
                ],
                "nextPageUrl": null,
                "path": "http://localhost:82/api/v1/id/subscriptions",
                "perPage": 10,
                "prevPageUrl": null,
                "to": 1,
                "total": 1
            }
        },
        "Subscription": {
            "type": "object",
            "properties": {
                "_id": {
                    "type": "string",
                    "description": "Unique identifier for the subscription."
                },
                "orderIndex": {
                    "type": "integer",
                    "description": "Order index of the subscription."
                },
                "organizationId": {
                    "type": "string",
                    "description": "Unique identifier for the organization associated with the subscription."
                },
                "productId": {
                    "type": "string",
                    "description": "Unique identifier for the product associated with the subscription."
                },
                "planName": {
                    "type": "string",
                    "description": "Name of the subscription plan."
                },
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/SubscriptionItem"
                    },
                    "description": "List of subscription items."
                },
                "curPeriodStartTime": {
                    "type": "string",
                    "description": "Start time of the current subscription period."
                },
                "curPeriodEndTime": {
                    "type": "string",
                    "description": "End time of the current subscription period."
                },
                "status": {
                    "type": "string",
                    "description": "Status of the subscription."
                },
                "nextState": {
                    "type": "string",
                    "description": "Next state of the subscription."
                },
                "isDeleted": {
                    "type": "boolean",
                    "description": "Flag indicating whether the subscription is deleted."
                },
                "updatedTime": {
                    "type": "string",
                    "description": "Timestamp of the last update to the subscription."
                },
                "createdTime": {
                    "type": "string",
                    "description": "Timestamp of when the subscription was created."
                }
            },
            "example": {
                "status": true,
                "data": {
                    "_id": "651c3e4b8c1bf18656000934",
                    "orderIndex": 2,
                    "organizationId": "64f7e34c52b92e1a4a1f3722",
                    "productId": "prod_OaZOlUL01AiiNl",
                    "planName": "Paid",
                    "items": [
                        {
                            "priceId": "price_1NnOO3FONuq90qMoWEksBGHt",
                            "name": "Main Task",
                            "mainPrice": 2000000,
                            "stripeSubsItemId": "si_OkgdSnVwPRwPLk"
                        },
                        {
                            "priceId": "price_1NtCzSFONuq90qMoyMtxfuk6",
                            "name": "Automation",
                            "extraPrice": 10,
                            "stripeSubsItemId": "si_Okgdh7e6diGSVz"
                        },
                        {
                            "priceId": "price_1NtD1DFONuq90qMo22os1GjE",
                            "name": "Visit",
                            "extraPrice": 200,
                            "stripeSubsItemId": "si_OkgdskYhF2i92g"
                        },
                        {
                            "priceId": "price_1Nve4aFONuq90qMoBv1D3Wcl",
                            "name": "Task",
                            "extraPrice": 400,
                            "stripeSubsItemId": "si_OkgdYEM4R8WUZr"
                        }
                    ],
                    "curPeriodStartTime": "2024-05-20T18:38:00+00:00",
                    "curPeriodEndTime": "2024-06-20T18:38:00+00:00",
                    "status": "unpaid",
                    "nextState": "active",
                    "isDeleted": false,
                    "updatedTime": "2023-10-03T16:16:11+00:00",
                    "createdTime": "2023-10-03T16:16:11+00:00"
                }
            }
        },
        "SubscriptionItem": {
            "type": "object",
            "properties": {
                "priceId": {
                    "type": "string",
                    "description": "Unique identifier for the subscription item price."
                },
                "name": {
                    "type": "string",
                    "description": "Name of the subscription item."
                },
                "mainPrice": {
                    "type": "integer",
                    "description": "Main price for the subscription item."
                },
                "extraPrice": {
                    "type": "integer",
                    "description": "Extra price for the subscription item."
                },
                "stripeSubsItemId": {
                    "type": "string",
                    "description": "Unique identifier for the Stripe subscription item."
                }
            }
        },
        "PageLink": {
            "type": "object",
            "properties": {
                "url": {
                    "type": "string",
                    "description": "URL of the page."
                },
                "label": {
                    "type": "string",
                    "description": "Label for the page link."
                },
                "active": {
                    "type": "boolean",
                    "description": "Flag indicating whether the page link is active."
                }
            }
        },
        "ErrorResponse": {
            "type": "object",
            "properties": {
                "error": {
                    "type": "string",
                    "description": "An error message indicating the cause of the error."
                }
            }
        }
    }
}