{
  "swagger": "2.0",
  "info": {
    "title": "Users",
    "description" : "\n    User data will include information that is contained in a user account. \n\n    It defines the hub access and role that different types of users have within the system. \n\n    Hub access is used to restrict or define the locations within which a user can access or perform certain actions within the application.\n\n    User attributes consist of ID, name, email, and status. \n\n    There are five different types of roles that MileApp provides, and you can create a new custom role depending on your organization.  \n\n    The predefined roles are: \n\n    1. Finance\n\n    2. Owner\n\n    3. Planner\n\n    4. Admin\n\n    5. Field User \n \n\n  Note: A user can only have one (1) role at a time but can be granted access to multiple hubs. \n\n\n    \n\n    **Below is detail each field for Body API Configuration** \n\n   | Field | Type | Format | Description | \n\n   |---|---|---|---|\n\n   | _id | <a href='#introduction-format'>string</a> | *24 characters of hexadecimal* | Unique identifier for the user<br>that generated by system.<br>**Example**: `6352736c628401059b37a2e2` |\n\n   | name | <a href='#introduction-format'>string</a> |  | The user's full name.<br>**Example**: `Sophie` |\n\n   | email | <a href='#introduction-format'>string</a> | *String with Email Format*<br>`name@domain.com` | The user's email address.<br>**Example**: `shopie@mile.app` |\n\n   | organizationId | <a href='#introduction-format'>string</a> | *24 characters of hexadecimal* | The identifier for the organization<br>that generated by system.<br>**Example:** `634e98098ce07d29474a7e22`|\n\n   | hubId | <a href='#introduction-format'>array of string</a> | *24 characters of hexadecimal* | The identifier for the hub that generated by system.<br>Use <a href='#Setting_Hub'>GET /hubs API</a> to get the list of Hub IDs.<br>**Example:** `['634e98498ce07d29474a7e29']` |\n\n   | status | <a href='#introduction-format'>string</a> | There are 3 types of status: </br>```active```,```inactive```,```pending``` | Used to indicate whether a user account or profile is currently active<br>and accessible within a system.<br>**Example:** `active` |\n\n   | roleId | <a href='#introduction-format'>string</a> | *24 characters of hexadecimal* | The identifier for the role that generated by system.<br>Use <a href='#Setting_Role'>GET /roles API</a> to get the list of Role IDs.<br>**Example:** `645e03ee8ef2eb1a5a161b93`|\n\n   | createdTime | <a href='#introduction-format'>datetime</a> | `Y-m-d\\TH:i:s.vP` | Time at which the vehicle was created.<br>**Example:** `2022-10-07T03:00:58.623000Z`|\n\n   | updatedTime | <a href='#introduction-format'>datetime</a> | `Y-m-d\\TH:i:s.vP` | Time at which the vehicle was updated.<br>**Example:** `2022-10-07T03:00:58.623000Z`|\n\n   | isDeleted | <a href='#introduction-format'>boolean</a> |  | Has the value `true` if the vehicle was deleted.<br>Has the value `false` when vehicle still exist.<br>**Default:** `false` |\n\n   "
  },
  "host": "apiweb.mile.app",
  "basePath": "/api/v3",
  "securityDefinitions": {
    "AccessToken": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }

  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/user/{userId} ": {
      "get": {
        "summary": "Read by ID",
        "tags": [
          "User"
        ],
        "operationId": "get-user-id",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": ["application/json"],
            "value": "application/json",
            "type": "string",
            "description": ""
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique id of user"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "status": true,
                "data": {
                  "_id": "61dd0267219821178068d447",
                  "name": "dendi@paket.id",
                  "email": "dendi@paket.id",
                  "status": "active",
                  "isFieldUser": 0,
                  "user": {
                    "updatedAt": {
                      "$date": {
                        "$numberLong": "1642407589434"
                      }
                    }
                  },
                  "hubId": [
                    "61dd0267219821178068d448"
                  ],
                  "organizationId": "61dd0267219821178068d442",
                  "isDeleted": false,
                  "roleId": "61dd0267219821178068d443",
                  "activationCode": "1fee94905f8bf3c59be27ce453678388",
                  "createdTime": "2022-01-11T04:07:03.884000Z",
                  "organization": {
                    "_id": "61dd0267219821178068d442",
                    "user": {
                      "name": "dendi@paket.id",
                      "email": "dendi@paket.id",
                      "country": null,
                      "industry": null,
                      "position": null,
                      "phoneNumber": null,
                      "numberOfUsers": null
                    },
                    "fieldLicenseid": "61d3c57a24406248b484f858",
                    "routeLicenseId": "6209d6632edf688a1d099ed8",
                    "fieldLicenseTotal": 12,
                    "routeLicenseTotal": 10,
                    "billingMode": "INTL",
                    "fieldLicenseId": "620267982edf688a1dd78f67",
                    "createdTime": "2022-01-11T04:07:03.779000Z",
                    "updatedTime": "2022-02-21T07:02:45.713000Z",
                    "routeLicense": {
                      "_id": "6209d6632edf688a1d099ed8",
                      "name": "Basic",
                      "level": 1,
                      "rule": {
                        "multitrip": 0,
                        "clustering": false,
                        "geocoding": 50,
                        "vehicleLimit": -1,
                        "visitLimit": 50,
                        "useAllVehicle": false,
                        "dynamicSlackTime": false,
                        "customEngine": false,
                        "timeWindow": false,
                        "constraintLimit": 1
                      },
                      "module": "mileRoute",
                      "type": "manual",
                      "description": "Unlimited Trip Optimization\nDynamic Configuration\nPrecise Location",
                      "organizationId": "system",
                      "billingPeriod": "Monthly",
                      "isActive": true,
                      "billingMode": "LCAL",
                      "planId": "MR-BM",
                      "updatedTime": {
                        "$date": {
                          "$numberLong": "1644375383681"
                        }
                      },
                      "totalLicense": 10
                    },
                    "fieldLicense": {
                      "_id": "620267982edf688a1dd78f67",
                      "name": "Basic",
                      "level": 1,
                      "rule": {
                        "geotagging": true,
                        "integration": true,
                        "userLimit": -1,
                        "liveTracking": true,
                        "dataRetention": 365,
                        "customDashboard": false,
                        "mobilePrint": false,
                        "mobilePaymentIntegration": false
                      },
                      "module": "mileField",
                      "type": "normal",
                      "description": "Unlimited Trip Optimization\nDynamic Configuration\nPrecise Location",
                      "organizationId": "system",
                      "billingPeriod": "Monthly",
                      "isActive": true,
                      "billingMode": "INTL",
                      "planId": 21944,
                      "totalLicense": 12
                    }
                  },
                  "role": {
                    "_id": "61dd0267219821178068d443",
                    "name": "owner",
                    "isAdmin": true,
                    "permissionList": [
                      "6156d6475320c9679e337eba",
                      "615ac4ab5c3c0b3d3e83dfc1",
                      "615ac4ab5c3c0b3d3e83dfc2",
                      "615ac5175c3c0b3d3e83dfc3",
                      "615ac5185c3c0b3d3e83dfc5",
                      "615ac5185c3c0b3d3e83dfc6",
                      "615ac5185c3c0b3d3e83dfc7",
                      "615ac5195c3c0b3d3e83dfc8",
                      "615ac5195c3c0b3d3e83dfc9",
                      "615ac5625c3c0b3d3e83dfca",
                      "615ac5635c3c0b3d3e83dfcb",
                      "615ac5635c3c0b3d3e83dfcc",
                      "6163b9f723c7545255411653",
                      "6163b9f823c7545255411655",
                      "6163b9f823c7545255411656",
                      "61699635faf2a008e491e117",
                      "61699635faf2a008e491e118",
                      "61699636faf2a008e491e119",
                      "61710b3e83e2af47aa833dfd",
                      "61725da59e28573f25d21433",
                      "619df73f4b17064cfff6d3f1",
                      "619df73f4b17064cfff6d3f2",
                      "619df73f4b17064cfff6d3f3",
                      "61a589a721d8e9691727abca",
                      "61a589a721d8e9691727abcb",
                      "61a589a821d8e9691727abcc",
                      "61a589a821d8e9691727abcd",
                      "61a589a921d8e9691727abce",
                      "61a589a921d8e9691727abcf",
                      "61a589aa21d8e9691727abd0",
                      "61a589ab21d8e9691727abd2",
                      "61d3f0a024406248b48614b3",
                      "61d3f0d524406248b48615b9",
                      "61d3f0fe24406248b48616ac",
                      "61d3f12d24406248b48617d9",
                      "61d3f19324406248b4861909",
                      "61d3f1a224406248b4861991",
                      "61d3f1b624406248b48619be",
                      "61d3f24524406248b4861c20",
                      "61d3f25424406248b4861ca1",
                      "61a589aa21d8e9691727abd1"
                    ],
                    "organizationId": "61dd0267219821178068d442",
                    "isDeleted": false,
                    "createdTime": "2022-01-11T04:07:03.784000Z",
                    "updatedTime": "2022-02-23T12:38:33.472000Z"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": [ ]
          }
        ]
      }
    },

    "/users": {
      "get": {
        "summary": "Read",
        "tags": [
          "User"
        ],
        "operationId": "users",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hubId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "your hub id"
          },
          {
            "name": "isFieldUser",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "workerUser"
          },
          {
            "name": "roleId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "your role id"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "query param"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": ["application/json"],
            "value": "application/json",
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserSuccess"
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "_id": "61dd0267219821178068d447",
                    "name": "dendi@paket.id",
                    "email": "dendi@paket.id",
                    "status": "active",
                    "isFieldUser": 0,
                    "hubId": [
                      "61dd0267219821178068d448"
                    ],
                    "organizationId": "61dd0267219821178068d442",
                    "isDeleted": false,
                    "roleId": "61dd0267219821178068d443",
                    "activationCode": "1fee94905f8bf3c59be27ce453678388",
                    "organization": {
                      "_id": "61dd0267219821178068d442",
                      "user": {
                        "name": "dendi@paket.id",
                        "email": "dendi@paket.id",
                        "country": null,
                        "industry": null,
                        "position": null,
                        "phoneNumber": null,
                        "numberOfUsers": null
                      },
                      "fieldLicenseid": "61d3c57a24406248b484f858",
                      "routeLicenseId": "6209d6632edf688a1d099ed8",
                      "fieldLicenseTotal": 12,
                      "routeLicenseTotal": 10,
                      "billingMode": "INTL",
                      "fieldLicenseId": "620267982edf688a1dd78f67",
                      "createdTime": "2022-01-11T04:07:03.779000Z",
                      "updatedTime": "2022-02-21T07:02:45.713000Z",
                      "routeLicense": {
                        "_id": "6209d6632edf688a1d099ed8",
                        "name": "Basic",
                        "level": 1,
                        "rule": {
                          "multitrip": 0,
                          "clustering": false,
                          "geocoding": 50,
                          "vehicleLimit": -1,
                          "visitLimit": 50,
                          "useAllVehicle": false,
                          "dynamicSlackTime": false,
                          "customEngine": false,
                          "timeWindow": false,
                          "constraintLimit": 1
                        },
                        "module": "mileRoute",
                        "type": "manual",
                        "description": "Unlimited Trip Optimization\nDynamic Configuration\nPrecise Location",
                        "organizationId": "system",
                        "billingPeriod": "Monthly",
                        "isActive": true,
                        "billingMode": "LCAL",
                        "planId": "MR-BM",
                        "updatedTime": {
                          "$date": {
                            "$numberLong": "1644375383681"
                          }
                        },
                        "totalLicense": 10
                      },
                      "fieldLicense": {
                        "_id": "620267982edf688a1dd78f67",
                        "name": "Basic",
                        "level": 1,
                        "rule": {
                          "geotagging": true,
                          "integration": true,
                          "userLimit": -1,
                          "liveTracking": true,
                          "dataRetention": 365,
                          "customDashboard": false,
                          "mobilePrint": false,
                          "mobilePaymentIntegration": false
                        },
                        "module": "mileField",
                        "type": "normal",
                        "description": "Unlimited Trip Optimization\nDynamic Configuration\nPrecise Location",
                        "organizationId": "system",
                        "billingPeriod": "Monthly",
                        "isActive": true,
                        "billingMode": "INTL",
                        "planId": 21944,
                        "totalLicense": 12
                      }
                    },
                    "role": {
                      "_id": "61dd0267219821178068d443",
                      "name": "owner",
                      "isAdmin": true,
                      "permissionList": [
                        "6156d6475320c9679e337eba",
                        "615ac4ab5c3c0b3d3e83dfc1",
                        "615ac4ab5c3c0b3d3e83dfc2",
                        "615ac5175c3c0b3d3e83dfc3",
                        "615ac5185c3c0b3d3e83dfc5",
                        "615ac5185c3c0b3d3e83dfc6",
                        "615ac5185c3c0b3d3e83dfc7",
                        "615ac5195c3c0b3d3e83dfc8",
                        "615ac5195c3c0b3d3e83dfc9",
                        "615ac5625c3c0b3d3e83dfca",
                        "615ac5635c3c0b3d3e83dfcb",
                        "615ac5635c3c0b3d3e83dfcc",
                        "6163b9f723c7545255411653",
                        "6163b9f823c7545255411655",
                        "6163b9f823c7545255411656",
                        "61699635faf2a008e491e117",
                        "61699635faf2a008e491e118",
                        "61699636faf2a008e491e119",
                        "61710b3e83e2af47aa833dfd",
                        "61725da59e28573f25d21433",
                        "619df73f4b17064cfff6d3f1",
                        "619df73f4b17064cfff6d3f2",
                        "619df73f4b17064cfff6d3f3",
                        "61a589a721d8e9691727abca",
                        "61a589a721d8e9691727abcb",
                        "61a589a821d8e9691727abcc",
                        "61a589a821d8e9691727abcd",
                        "61a589a921d8e9691727abce",
                        "61a589a921d8e9691727abcf",
                        "61a589aa21d8e9691727abd0",
                        "61a589ab21d8e9691727abd2",
                        "61d3f0a024406248b48614b3",
                        "61d3f0d524406248b48615b9",
                        "61d3f0fe24406248b48616ac",
                        "61d3f12d24406248b48617d9",
                        "61d3f19324406248b4861909",
                        "61d3f1a224406248b4861991",
                        "61d3f1b624406248b48619be",
                        "61d3f24524406248b4861c20",
                        "61d3f25424406248b4861ca1",
                        "61a589aa21d8e9691727abd1"
                      ],
                      "organizationId": "61dd0267219821178068d442",
                      "isDeleted": false,
                      "createdTime": "2022-01-11T04:07:03.784000Z",
                      "updatedTime": "2022-02-23T12:38:33.472000Z"
                    }
                  }
                ],
                "status": true
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/UserFailed1"
            },
            "examples": {
              "application/json": {
                "status": false,
                "message": "URL Address is not found",
                "failedCode": "user-033"
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": [ ]
          }
        ]
      }
    },
    
    "/user": {
      "get": {
        "summary": "Read Mine",
        "tags": [
          "User"
        ],
        "operationId": "user",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token access from login"
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/UserFailed1"
            },
            "examples": {
              "application/json": {
                "status": false,
                "message": "URL Address is not found",
                "failedCode": "user-033"
              }
            }
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/usersuccess1"
            },
            "examples": {
              "application/json": {
                "_id": "63c63b9e5c29ad437a7cd638",
                "name": "John Doe",
                "email": "johndoe@domain.com",
                "hubId": [
                  "63c63c035c29ad437a7cd63a"
                ],
                "organizationId": "63c63b9c5c29ad437a7cd632",
                "status": "active",
                "isDeleted": false,
                "isFieldUser": 0,
                "roleId": "63c63b9c5c29ad437a7cd633",
                "activationCode": "84d79ab806972dcec4aa9f66c4b6dc93",
                "onboardingStep": [],
                "updatedTime": "2023-02-27T06:37:59+00:00",
                "createdTime": "2023-01-17T06:09:34+00:00",
                "avatar": "https://mileroute.sgp1.digitaloceanspaces.com/dev/2023/2/27/johndoe.jpeg",
                "personalToken": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9...",
                "organization": {
                  "_id": "63c63b9c5c29ad437a7cd632",
                  "user": {
                    "name": "John Doe",
                    "country": "IDN",
                    "phoneNumber": "+62 12345678",
                    "numberOfUsers": "1-50",
                    "industry": "Field Service",
                    "position": "Owner/Director",
                    "email": "johndoe@domain.com",
                    "companyName": "MileApp",
                    "hub": {
                      "name": "Stasiun Bandung",
                      "displayName": "Stasiun Bandung",
                      "address": "Bandung Kota 40113, Indonesia",
                      "lat": "-6.91266",
                      "lng": "107.60791"
                    },
                    "flows": [
                      "62d526290b18b1039408f652",
                      "62d525fe2f12035a550a55e3",
                      "63a561c0fd378bcce9877d2f",
                      "63a561c0fd378bcce9877d30",
                      "62d526540b18b1039408f653",
                      "63a561c0fd378bcce9877d31"
                    ]
                  },
                  "productId": "prod_free",
                  "status": "verified",
                  "curPeriodEndTime": null,
                  "curPeriodStartTime": null,
                  "eligible": true,
                  "updatedTime": "2023-01-19T06:24:47+00:00",
                  "createdTime": "2023-01-17T06:09:32+00:00",
                  "customerId": {
                    "idr": "cus_NBVOcrB6Ksmhvz",
                    "usd": null
                  },
                  "country": {
                    "code": "IDN",
                    "phoneCode": "+62",
                    "name": "Indonesia",
                    "alpha2Code": "ID"
                  }
                },
                "role": {
                  "_id": "63c63b9c5c29ad437a7cd633",
                  "name": "owner",
                  "isAdmin": true,
                  "isDefault": false,
                  "isDeleted": false,
                  "permissionList": [
                    "6156d6475320c9679e337eba",
                    "615ac4ab5c3c0b3d3e83dfc1",
                    "615ac4ab5c3c0b3d3e83dfc2",
                    "615ac5175c3c0b3d3e83dfc3",
                    "615ac5185c3c0b3d3e83dfc5",
                    "615ac5185c3c0b3d3e83dfc6",
                    "615ac5185c3c0b3d3e83dfc7",
                    "615ac5195c3c0b3d3e83dfc8",
                    "615ac5195c3c0b3d3e83dfc9",
                    "615ac5625c3c0b3d3e83dfca",
                    "615ac5635c3c0b3d3e83dfcb",
                    "615ac5635c3c0b3d3e83dfcc",
                    "6163b9f723c7545255411653",
                    "6163b9f823c7545255411655",
                    "6163b9f823c7545255411656",
                    "61699635faf2a008e491e117",
                    "61699635faf2a008e491e118",
                    "61699636faf2a008e491e119",
                    "61710b3e83e2af47aa833dfd",
                    "61725da59e28573f25d21433",
                    "619df73f4b17064cfff6d3f1",
                    "619df73f4b17064cfff6d3f2",
                    "619df73f4b17064cfff6d3f3",
                    "61a589a721d8e9691727abca",
                    "61a589a721d8e9691727abcb",
                    "61a589a821d8e9691727abcc",
                    "61a589a821d8e9691727abcd",
                    "61a589a921d8e9691727abcf",
                    "61a589aa21d8e9691727abd0",
                    "61a589aa21d8e9691727abd1",
                    "61a589ab21d8e9691727abd2",
                    "61d3f0a024406248b48614b3",
                    "61d3f0d524406248b48615b9",
                    "61d3f0fe24406248b48616ac",
                    "61d3f12d24406248b48617d9",
                    "61d3f19324406248b4861909",
                    "61d3f1a224406248b4861991",
                    "61d3f1b624406248b48619be",
                    "61d3f24524406248b4861c20",
                    "61d3f25424406248b4861ca1",
                    "622578a0e9afc432da65dac1",
                    "622578a0e9afc432da65dac2",
                    "622578a0e9afc432da65dac3",
                    "622578a0e9afc432da65dac4",
                    "622b338c2edf688a1d57cdaa",
                    "622b33af2edf688a1d57ce21",
                    "622b3e492edf688a1d57f49a",
                    "62554e48475945cff4f7a7de",
                    "6257cc1e475945cff40aea6b",
                    "6257cc1e475945cff40bea1b",
                    "627cb24e62e252387d3bd03d",
                    "627cb24e62e252387d3bd03f",
                    "627dfeadafaf4c30b52e62ad",
                    "627dfeadafaf4c30b52e62af",
                    "62c7eb1203c741efeeb6cc8c",
                    "62c7eb1203c741efeeb6cc8d",
                    "62c7eb1203c741efeeb6cc8e",
                    "62c7eb1203c741efeeb6cc8f",
                    "631025d1267dfb33da11f9dd",
                    "631025d1267dfb33da11f9de"
                  ],
                  "organizationId": "63c63b9c5c29ad437a7cd632",
                  "updatedTime": "2023-03-08T08:48:37.552000Z",
                  "createdTime": "2023-01-17T06:09:32.777000Z",
                  "permissionDetails": [
                    {
                      "permissionName": "view/checkincheckout",
                      "interval": 5,
                      "checkinRadius": 25,
                      "checkoutRadius": 25
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": [ ]
          }
        ]
      }
    },

    "/register": {
      "post": {
        "summary": "Register",
        "tags": [
          "User"
        ],
        "operationId": "register-user",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": ["application/json"],
            "value": "application/json",
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "\n **Below is detail each field for Body API Configuration**\n\n| Field | Type | Description | Required |\n|---|---|---|---|\n| email | string | e-mail to register | true |\n| name | string | user's name | true |\n| password | string | new password min characters min 8 | true |\n\n",
            "schema": {
              "$ref": "#/definitions/register-request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/register-success"
            },
            "examples": {
              "application/json": {
                "message": "Verification link has been sent to your email"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/register-failed"
            },
            "examples": {
              "application/json": {
                "status": false,
                "message": "The email has already been taken.",
                "failedCode": "user-009"
              }
            }
          }
        }
        
      }
    },

    "/reverify": {
      "post": {
        "summary": "Re-Verify",
        "tags": [
          "User"
        ],
        "operationId": "reverify-user",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": ["application/json"],
            "value": "application/json",
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "\n **Below is detail each field for Body API Configuration**\n\n| Field | Type | Description | Required |\n|---|---|---|---|\n| email | string | e-mail to send verification | true |\n| alternative | boolean | alternative will proceed email using laravel mail instead of mailjet | false |\n\n",
            "schema": {
              "$ref": "#/definitions/reverify-request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/reverify-success"
            },
            "examples": {
              "application/json": {
                "status": true,
                "message": "Verification link has been sent to your email"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/register-failed"
            },
            "examples": {
              "application/json": {
                "status": false,
                "message": "The selected email is invalid.",
                "failedCode": "user-007"
              }
            }
          }
        }
        
      }
    },

    "/user/invite": {
      "post": {
        "summary": "Invites User",
        "tags": [
          "User"
        ],
        "operationId": "user-invite",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": ["application/json"],
            "value": "application/json",
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "\n **Below is detail each field for Body API Configuration**\n\n| Field | Type | Description | Required |\n|---|---|---|---|\n| email.* | array string | e-mail to invite members | true |\n| roleId | string | roles ID | true |\n\n",
            "schema": {
              "$ref": "#/definitions/user~1inviterequest"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/user~1invitefailed1"
            },
            "examples": {
              "application/json": {
                "status": false,
                "message": "yourname@mailinator.com has already been taken.",
                "failedCode": "user-009"
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": [ ]
          }
        ]
      }
    },
  
    "/user/invites": {
      "post": {
        "summary": "Bulk Invite Users",
        "tags": [
          "User"
        ],
        "operationId": "user-invites",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": ["application/json"],
            "value": "application/json",
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "\n **Below is detail each field for Body API Configuration**\n\n\n            | Field | Description | Required |\n\n            |---|---|---|\n\n            | invitations.* |  | true |\n\n            | invitations.*.roleId | roles ID | true |\n\\n            | invitations.*.email | e-mail to invite members | true |\n\n            | invitations.*.hubId | hubId where new users will be assigned to | true |\n\n            n",
            "schema": {
              "$ref": "#/definitions/user~1invitesrequest"
            }
          }
        ],
        "responses": {
          "200": {
            "headers": {},
            "examples": {
              "application/json": {
                "status": true,
                "success": 2,
                "failed": 0,
                "message": "All email has been invited successfully",
                "errors": []
              }            
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/user~1invitesfailed1"
            },
            "examples": {
              "application/json": {
                "status": false,
                "success": 0,
                "failed": 9,
                "message": "message",
                "errors": []
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": [ ]
          }
        ]
      }
    },

    "/user/reinvite": {
      "post": {
        "summary": "Re-Invites User",
        "tags": [
          "User"
        ],
        "operationId": "user-reinvite",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": ["application/json"],
            "value": "application/json",
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "\n **Below is detail each field for Body API Configuration**\n            \n\n            \n| Field | Type | Description | Required |\n            \n|---|---|---|---|\n            \n| email | string | e-mail to reinvite members | true |\n            \n\n            \n",
            "schema": {
              "$ref": "#/definitions/user~1reinviterequest"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "examples": {
              "application/json": {
                "status": false,
                "message": "User already active!",
                "failedCode": "user-041"
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": [ ]
          }
        ]
      }
    },

    "/user/reset-password": {
      "post": {
        "summary": "Reset Password",
        "tags": [
          "User"
        ],
        "operationId": "reset-password",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "\n **Below is detail each field for Body API Configuration**\n\n| Field | Type | Description | Required |\n|---|---|---|---|\n| email | string | e-mail to invite members | true |\n| token | string | token reset password | true |\n| password | string | new password min characters min 8 | true |\n\n",
            "schema": {
              "$ref": "#/definitions/reset-password-request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/resetpasswordsuccess"
            },
            "examples": {
              "application/json": {
                "message": "Password has changed successfully."
              }
            }
          }
        }
      }
    },

    "/user/forgot-password": {
      "post": {
        "summary": "Forgot Password",
        "tags": [
          "User"
        ],
        "operationId": "forget-password",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": ["application/json"],
            "value": "application/json",
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/forget-password-request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/forget-passwordsuccess"
            },
            "examples": {
              "application/json": {
                "message": "Password reset link has been sent to your email.",
                "statusCode": 200
              }
            }
          }
        }
        
      }
    },

    "/user/avatar": {
      "post": {
        "summary": "Set Avatar",
        "tags": [
          "User"
        ],
        
        "operationId": "user-avatar",
        "deprecated": false,
        "produces": [
          "multipart/form-data",
          "application/json"
        ],

        "consumes": [
          "application/json",
          "multipart/form-data"
        ],

        "parameters": [
          {
            "name": "_id",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "user ID user"
          },
          {
            "name": "image",
            "in": "formData",
            "required": true,
            "type": "file",
            "description": "mime file acceptedjpeg,png,jpg and max 1024 kb"
          }
        ],

        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "status": true,
              "property": {
                "_id": "61dfa3b55b32000041005118",
                "name": "Sigit N",
                "email": "sigit@paket.id",
                "status": "active",
                "isFieldWorker": 0,
                "user": {
                  "updatedAt": {
                    "$date": {
                      "$numberLong": "1642475674753"
                    }
                  }
                },
                "hubId": [
                  "61dfa3b55b32000041005119"
                ],
                "organizationId": "61dfa3b15b32000041005113",
                "isDeleted": false,
                "roleId": "61dfa3b25b32000041005114",
                "activationCode": "63db57487818ba3dc6a04a7a6a0e4613",
                "createdTime": "2022-01-13T03:59:49.006000Z",
                "updatedTime": "2022-03-01T04:53:49.982000Z",
                "avatar": "https://mileroute.sgp1.digitaloceanspaces.com/dev/2022/3/1/dark.png"
              },
              "message": "Profile is updated."
            }
          }
        },

        "security": [
          {
            "AccessToken": [ ]
          }
        ]
      }
    },

    "/user/{userId}": {
      "put": {
        "summary": "Update",
        "tags": [
          "User"
        ],
        "operationId": "put-user",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "\n **Below is detail each field for Body API Configuration**\n\n| Field | Type | Description | Required |\n|---|---|---|---|\n| name | string | name min 4 characters | true |\n\n",
            "schema": {
              "$ref": "#/definitions/userrequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PUTUserSuccess"
            },
            "examples": {
              "application/json": {
                "status": true,
                "property": {
                  "_id": "61dfa3b55b32000041005118",
                  "name": "Sigit NHFI",
                  "email": "sigit@paket.id",
                  "status": "active",
                  "isFieldWorker": 0,
                  "user": {
                    "updatedAt": {
                      "$date": {
                        "$numberLong": "1642475674753"
                      }
                    }
                  },
                  "hubId": [
                    "61dfa3b55b32000041005119"
                  ],
                  "organizationId": "61dfa3b15b32000041005113",
                  "isDeleted": false,
                  "roleId": "61dfa3b25b32000041005114",
                  "activationCode": "63db57487818ba3dc6a04a7a6a0e4613",
                  "createdTime": "2022-01-13T03:59:49.006000Z",
                  "updatedTime": "2022-03-02T03:06:49.660000Z",
                  "avatar": "https://mileroute.sgp1.digitaloceanspaces.com/dev/2022/3/1/dark.png"
                },
                "message": "Profile is updated."
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": [ ]
          }
        ]
      }
    },

    "/member/{userId}": {
      "delete": {
        "summary": "Delete",
        "tags": [
          "User"
        ],
        "operationId": "user/userId",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": ["application/json"],
            "value": "application/json",
            "type": "string",
            "description": ""
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/deleteuserfailed1"
            },
            "examples": {
              "application/json": {
                "status": false,
                "message": "Deleted data failed",
                "statusCode": 400,
                "failedCode": "user-036"
              }
            }
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/deleteusersuccess"
            },
            "examples": {
              "application/json": {
                "id": "620238f5759f3c24ca54b3d2",
                "status": true,
                "message": "Delete"
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": [ ]
          }
        ]
      }
    },

    "/user/avatar  ": {
      "delete": {
        "summary": "Delete Avatar",
        "tags": [
          "User"
        ],
        "operationId": "delete-user-avatar",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": ["application/json"],
            "value": "application/json",
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/useravatarsuccess"
            },
            "examples": {
              "status": true,
              "property": {
                "_id": "61dfa3b55b32000041005118",
                "name": "Sigit N",
                "email": "sigit@paket.id",
                "status": "active",
                "isFieldWorker": 0,
                "user": {
                  "updatedAt": {
                    "$date": {
                      "$numberLong": "1642475674753"
                    }
                  }
                },
                "hubId": [
                  "61dfa3b55b32000041005119"
                ],
                "organizationId": "61dfa3b15b32000041005113",
                "isDeleted": false,
                "roleId": "61dfa3b25b32000041005114",
                "activationCode": "63db57487818ba3dc6a04a7a6a0e4613",
                "createdTime": "2022-01-13T03:59:49.006000Z",
                "updatedTime": "2022-03-01T04:53:49.982000Z",
                "avatar": null
              },
              "message": "Avatar has been removed."
            }
          }
        },
        "security": [
          {
            "AccessToken": [ ]
          }
        ]
      }
    },

    "/user/change-password": {
      "put": {
        "summary": "Change Password",
        "tags": [
          "User"
        ],
        "operationId": "Update-password-user",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "            \n              \n **Below is detail each field for Body API Configuration**\n              \n\n              \n| Field | Type | Description | Required |\n              \n|---|---|---|---|\n              \n| currentPassword | string | name min 8 characters | true |\n              \n| password | string | name min 8 characters | true |\n              \n\n              \n\n            ",
            "schema": {
              "example": {
                "currentPassword": "password",
                "password": "wordpass"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "example": {
                "status": true,
                "property": {
                  "_id": "61dfa3b55b32000041005118",
                  "name": "Sigit N",
                  "email": "sigit@paket.id",
                  "status": "active",
                  "isFieldWorker": 0,
                  "user": {
                    "updatedAt": {
                      "$date": {
                        "$numberLong": "1642475674753"
                      }
                    }
                  },
                  "hubId": [
                    "61dfa3b55b32000041005119"
                  ],
                  "organizationId": "61dfa3b15b32000041005113",
                  "isDeleted": false,
                  "roleId": "61dfa3b25b32000041005114",
                  "activationCode": "63db57487818ba3dc6a04a7a6a0e4613",
                  "createdTime": "2022-01-13T03:59:49+00:00",
                  "updatedTime": "2022-03-28T07:47:45+00:00",
                  "avatar": "https://mileroute.sgp1.digitaloceanspaces.com/dev/2022/3/8/dark.png"
                },
                "message": "Your password has been updated successfully."
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": [ ]
          }
        ]
      }
    },

    "/login": {
      "post": {
        "summary": "Login",
        "tags": [
          "User"
        ],
        "operationId": "login-user",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "            \n              \n **Below is detail each field for Body API Configuration**\n              \n\n              \n| Field | Type | Description | Required |\n              \n|---|---|---|---|\n              \n| email | string | a string that uses the email format  | true |\n              \n| password | string | password characters | true |\n              \n\n              \n\n            ",
            "schema": {
              "example": {
                "email": "johndoe@domain.com",
                "password": "password"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "example": {
                "token": "eyJ0eXAiOiJKV1Qi...",
                "expires_in": 31622399,
                "data": {
                  "_id": "63c63b9e5c29ad437a7cd638",
                  "name": "John Doe",
                  "email": "johndoe@domain.com",
                  "hubId": [
                    "63c63c035c29ad437a7cd63a"
                  ],
                  "organizationId": "63c63b9c5c29ad437a7cd632",
                  "status": "active",
                  "isDeleted": false,
                  "isFieldUser": 0,
                  "roleId": "63c63b9c5c29ad437a7cd633",
                  "activationCode": "84d79ab806972dcec4aa9f66c4b6dc93",
                  "onboardingStep": [],
                  "updatedTime": "2023-02-27T06:37:59+00:00",
                  "createdTime": "2023-01-17T06:09:34+00:00",
                  "avatar": "https://mileroute.sgp1.digitaloceanspaces.com/dev/2023/2/27/johndoe.jpeg",
                  "organization": {
                    "_id": "63c63b9c5c29ad437a7cd632",
                    "user": {
                      "name": "John Doe",
                      "country": "IDN",
                      "phoneNumber": "+62 12345678",
                      "numberOfUsers": "1-50",
                      "industry": "Field Service",
                      "position": "Owner/Director",
                      "email": "johndoe@domain.com",
                      "companyName": "MileApp",
                      "hub": {
                        "name": "Stasiun Bandung",
                        "displayName": "Stasiun Bandung",
                        "address": "Bandung Kota 40113, Indonesia",
                        "lat": "-6.91266",
                        "lng": "107.60791"
                      },
                      "flows": [
                        "62d526290b18b1039408f652",
                        "62d525fe2f12035a550a55e3",
                        "63a561c0fd378bcce9877d2f",
                        "63a561c0fd378bcce9877d30",
                        "62d526540b18b1039408f653",
                        "63a561c0fd378bcce9877d31"
                      ]
                    },
                    "productId": "prod_free",
                    "status": "verified",
                    "curPeriodEndTime": null,
                    "curPeriodStartTime": null,
                    "eligible": true,
                    "updatedTime": "2023-01-19T06:24:47+00:00",
                    "createdTime": "2023-01-17T06:09:32+00:00",
                    "customerId": {
                      "idr": "cus_NBVOcrB6Ksmhvz",
                      "usd": null
                    },
                    "country": {
                      "code": "IDN",
                      "phoneCode": "+62",
                      "name": "Indonesia",
                      "alpha2Code": "ID"
                    }
                  },
                  "role": {
                    "_id": "63c63b9c5c29ad437a7cd633",
                    "name": "owner",
                    "isAdmin": true,
                    "isDefault": false,
                    "isDeleted": false,
                    "permissionList": [
                      "6156d6475320c9679e337eba",
                      "615ac4ab5c3c0b3d3e83dfc1",
                      "615ac4ab5c3c0b3d3e83dfc2",
                      "615ac5175c3c0b3d3e83dfc3",
                      "615ac5185c3c0b3d3e83dfc5",
                      "615ac5185c3c0b3d3e83dfc6",
                      "615ac5185c3c0b3d3e83dfc7",
                      "615ac5195c3c0b3d3e83dfc8",
                      "615ac5195c3c0b3d3e83dfc9",
                      "615ac5625c3c0b3d3e83dfca",
                      "615ac5635c3c0b3d3e83dfcb",
                      "615ac5635c3c0b3d3e83dfcc",
                      "6163b9f723c7545255411653",
                      "6163b9f823c7545255411655",
                      "6163b9f823c7545255411656",
                      "61699635faf2a008e491e117",
                      "61699635faf2a008e491e118",
                      "61699636faf2a008e491e119",
                      "61710b3e83e2af47aa833dfd",
                      "61725da59e28573f25d21433",
                      "619df73f4b17064cfff6d3f1",
                      "619df73f4b17064cfff6d3f2",
                      "619df73f4b17064cfff6d3f3",
                      "61a589a721d8e9691727abca",
                      "61a589a721d8e9691727abcb",
                      "61a589a821d8e9691727abcc",
                      "61a589a821d8e9691727abcd",
                      "61a589a921d8e9691727abcf",
                      "61a589aa21d8e9691727abd0",
                      "61a589aa21d8e9691727abd1",
                      "61a589ab21d8e9691727abd2",
                      "61d3f0a024406248b48614b3",
                      "61d3f0d524406248b48615b9",
                      "61d3f0fe24406248b48616ac",
                      "61d3f12d24406248b48617d9",
                      "61d3f19324406248b4861909",
                      "61d3f1a224406248b4861991",
                      "61d3f1b624406248b48619be",
                      "61d3f24524406248b4861c20",
                      "61d3f25424406248b4861ca1",
                      "622578a0e9afc432da65dac1",
                      "622578a0e9afc432da65dac2",
                      "622578a0e9afc432da65dac3",
                      "622578a0e9afc432da65dac4",
                      "622b338c2edf688a1d57cdaa",
                      "622b33af2edf688a1d57ce21",
                      "622b3e492edf688a1d57f49a",
                      "62554e48475945cff4f7a7de",
                      "6257cc1e475945cff40aea6b",
                      "6257cc1e475945cff40bea1b",
                      "627cb24e62e252387d3bd03d",
                      "627cb24e62e252387d3bd03f",
                      "627dfeadafaf4c30b52e62ad",
                      "627dfeadafaf4c30b52e62af",
                      "62c7eb1203c741efeeb6cc8c",
                      "62c7eb1203c741efeeb6cc8d",
                      "62c7eb1203c741efeeb6cc8e",
                      "62c7eb1203c741efeeb6cc8f",
                      "631025d1267dfb33da11f9dd",
                      "631025d1267dfb33da11f9de"
                    ],
                    "organizationId": "63c63b9c5c29ad437a7cd632",
                    "updatedTime": "2023-03-08T08:48:37.552000Z",
                    "createdTime": "2023-01-17T06:09:32.777000Z",
                    "permissionDetails": [
                      {
                        "permissionName": "view/checkincheckout",
                        "interval": 5,
                        "checkinRadius": 25,
                        "checkoutRadius": 25
                      }
                    ]
                  }
                },
                "isHubSet": true
              }
            }
          }
        }
      }
    },

    "/account": {
      "put": {
        "summary": "Update Account",
        "tags": [
          "User"
        ],
        "operationId": "account-verification-register",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "\n              \n **Below is detail each field for Body API Configuration**\n              \n\n              \n| Field | Type | Description | Required |\n              \n|---|---|---|---|\n              \n| name | string | desscription name | true |\n              \n| phoneNumber | string | phone number format using code phone country | true |\n              \n| numberOfUsers | string | totaol number of users | true |\n              \n| industry | string | industry company | true |\n              \n| position | string | registrant's position | true |\n              \n| email | string | email user for more contact | true |\n              \n| activationCode | string | activation code from sistem | true |\n              \n| companyName | string | company name | true |\n              \n\n              \n\n            ",
            "schema": {
              "example": {
                "name":"Hanafi",
                "phoneNumber":"+62 8999999999",
                "numberOfUsers":"31-100",
                "industry":"Logistic",
                "position":"CTO",
                "email":"user@domain.email",
                "activationCode":"KMZWAY87AA",
                "companyName":"PaketID"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "example": {
                "token": "eyJ0eXAiOiJKV1Qi...",
                "expires_in": 31622399,
                "data": {
                  "_id": "63c63b9e5c29ad437a7cd638",
                  "name": "John Doe",
                  "email": "johndoe@domain.com",
                  "hubId": [
                    "63c63c035c29ad437a7cd63a"
                  ],
                  "organizationId": "63c63b9c5c29ad437a7cd632",
                  "status": "active",
                  "isDeleted": false,
                  "isFieldUser": 0,
                  "roleId": "63c63b9c5c29ad437a7cd633",
                  "activationCode": "84d79ab806972dcec4aa9f66c4b6dc93",
                  "onboardingStep": [],
                  "updatedTime": "2023-02-27T06:37:59+00:00",
                  "createdTime": "2023-01-17T06:09:34+00:00",
                  "avatar": "https://mileroute.sgp1.digitaloceanspaces.com/dev/2023/2/27/johndoe.jpeg",
                  "organization": {
                    "_id": "63c63b9c5c29ad437a7cd632",
                    "user": {
                      "name": "John Doe",
                      "country": "IDN",
                      "phoneNumber": "+62 12345678",
                      "numberOfUsers": "1-50",
                      "industry": "Field Service",
                      "position": "Owner/Director",
                      "email": "johndoe@domain.com",
                      "companyName": "MileApp",
                      "hub": {
                        "name": "Stasiun Bandung",
                        "displayName": "Stasiun Bandung",
                        "address": "Bandung Kota 40113, Indonesia",
                        "lat": "-6.91266",
                        "lng": "107.60791"
                      },
                      "flows": [
                        "62d526290b18b1039408f652",
                        "62d525fe2f12035a550a55e3",
                        "63a561c0fd378bcce9877d2f",
                        "63a561c0fd378bcce9877d30",
                        "62d526540b18b1039408f653",
                        "63a561c0fd378bcce9877d31"
                      ]
                    },
                    "productId": "prod_free",
                    "status": "verified",
                    "curPeriodEndTime": null,
                    "curPeriodStartTime": null,
                    "eligible": true,
                    "updatedTime": "2023-01-19T06:24:47+00:00",
                    "createdTime": "2023-01-17T06:09:32+00:00",
                    "customerId": {
                      "idr": "cus_NBVOcrB6Ksmhvz",
                      "usd": null
                    },
                    "country": {
                      "code": "IDN",
                      "phoneCode": "+62",
                      "name": "Indonesia",
                      "alpha2Code": "ID"
                    }
                  },
                  "role": {
                    "_id": "63c63b9c5c29ad437a7cd633",
                    "name": "owner",
                    "isAdmin": true,
                    "isDefault": false,
                    "isDeleted": false,
                    "permissionList": [
                      "6156d6475320c9679e337eba",
                      "615ac4ab5c3c0b3d3e83dfc1",
                      "615ac4ab5c3c0b3d3e83dfc2",
                      "615ac5175c3c0b3d3e83dfc3",
                      "615ac5185c3c0b3d3e83dfc5",
                      "615ac5185c3c0b3d3e83dfc6",
                      "615ac5185c3c0b3d3e83dfc7",
                      "615ac5195c3c0b3d3e83dfc8",
                      "615ac5195c3c0b3d3e83dfc9",
                      "615ac5625c3c0b3d3e83dfca",
                      "615ac5635c3c0b3d3e83dfcb",
                      "615ac5635c3c0b3d3e83dfcc",
                      "6163b9f723c7545255411653",
                      "6163b9f823c7545255411655",
                      "6163b9f823c7545255411656",
                      "61699635faf2a008e491e117",
                      "61699635faf2a008e491e118",
                      "61699636faf2a008e491e119",
                      "61710b3e83e2af47aa833dfd",
                      "61725da59e28573f25d21433",
                      "619df73f4b17064cfff6d3f1",
                      "619df73f4b17064cfff6d3f2",
                      "619df73f4b17064cfff6d3f3",
                      "61a589a721d8e9691727abca",
                      "61a589a721d8e9691727abcb",
                      "61a589a821d8e9691727abcc",
                      "61a589a821d8e9691727abcd",
                      "61a589a921d8e9691727abcf",
                      "61a589aa21d8e9691727abd0",
                      "61a589aa21d8e9691727abd1",
                      "61a589ab21d8e9691727abd2",
                      "61d3f0a024406248b48614b3",
                      "61d3f0d524406248b48615b9",
                      "61d3f0fe24406248b48616ac",
                      "61d3f12d24406248b48617d9",
                      "61d3f19324406248b4861909",
                      "61d3f1a224406248b4861991",
                      "61d3f1b624406248b48619be",
                      "61d3f24524406248b4861c20",
                      "61d3f25424406248b4861ca1",
                      "622578a0e9afc432da65dac1",
                      "622578a0e9afc432da65dac2",
                      "622578a0e9afc432da65dac3",
                      "622578a0e9afc432da65dac4",
                      "622b338c2edf688a1d57cdaa",
                      "622b33af2edf688a1d57ce21",
                      "622b3e492edf688a1d57f49a",
                      "62554e48475945cff4f7a7de",
                      "6257cc1e475945cff40aea6b",
                      "6257cc1e475945cff40bea1b",
                      "627cb24e62e252387d3bd03d",
                      "627cb24e62e252387d3bd03f",
                      "627dfeadafaf4c30b52e62ad",
                      "627dfeadafaf4c30b52e62af",
                      "62c7eb1203c741efeeb6cc8c",
                      "62c7eb1203c741efeeb6cc8d",
                      "62c7eb1203c741efeeb6cc8e",
                      "62c7eb1203c741efeeb6cc8f",
                      "631025d1267dfb33da11f9dd",
                      "631025d1267dfb33da11f9de"
                    ],
                    "organizationId": "63c63b9c5c29ad437a7cd632",
                    "updatedTime": "2023-03-08T08:48:37.552000Z",
                    "createdTime": "2023-01-17T06:09:32.777000Z",
                    "permissionDetails": [
                      {
                        "permissionName": "view/checkincheckout",
                        "interval": 5,
                        "checkinRadius": 25,
                        "checkoutRadius": 25
                      }
                    ]
                  }
                },
                "isHubSet": true
              }
            }
          }
        }
      }
    }

  },
  "definitions": {
    "userrequest": {
      "title": "userrequest",
      "example": {
        "name": "your update name"
      },
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        }
      },
      "required": [
        "name",
        "email"
      ]
    },
    "PutUserFailed1": {
      "title": "PutUserFailed1",
      "example": {
        "status": false,
        "message": "The name format is invalid."
      },
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean"
        },
        "message": {
          "type": "string"
        }
      },
      "required": [
        "status",
        "message"
      ]
    },
    "PUTUserSuccess": {
      "title": "PUTUserSuccess",
      "example": {
        "status": true,
        "property": {
          "_id": "61dfa3b55b32000041005118",
          "name": "Sigit N",
          "email": "sigit@paket.id",
          "status": "active",
          "isFieldWorker": 0,
          "user": {
            "updatedAt": {
              "$date": {
                "$numberLong": "1642475674753"
              }
            }
          },
          "hubId": [
            "61dfa3b55b32000041005119"
          ],
          "organizationId": "61dfa3b15b32000041005113",
          "isDeleted": false,
          "roleId": "61dfa3b25b32000041005114",
          "activationCode": "63db57487818ba3dc6a04a7a6a0e4613",
          "createdTime": "2022-01-13T03:59:49.006000Z",
          "updatedTime": "2022-03-01T04:53:49.982000Z",
          "avatar": "https://mileroute.sgp1.digitaloceanspaces.com/dev/2022/3/1/dark.png"
        },
        "message": "Profile is updated."
      },
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean"
        },
        "property": {
          "$ref": "#/definitions/Property"
        },
        "message": {
          "type": "string"
        }
      },
      "required": [
        "status",
        "property",
        "message"
      ]
    },
    "Property": {
      "title": "Property",
      "example": {
        "_id": "61e3b280e29a83730b7e0c42",
        "name": "bagusajakop",
        "email": "bagusaja4@mailinator.com",
        "hub_id": [
          "61d90d78f0ae4c113b638302"
        ],
        "organization_id": "61c2fbaaf27b374e8913fe72",
        "status": "active",
        "is_deleted": false,
        "isFieldUser": 1,
        "roleId": "61c2fbaaf27b374e8913fe73",
        "activation_code": "Iu6LcEIh60TzLujJZ78E",
        "updated_at": "1970-01-25T20:31:23.647000Z",
        "created_at": "1970-01-25T20:31:23.647000Z"
      },
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "hub_id": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "organization_id": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "is_deleted": {
          "type": "boolean"
        },
        "isFieldUser": {
          "type": "integer",
          "format": "int32"
        },
        "roleId": {
          "type": "string"
        },
        "activation_code": {
          "type": "string"
        },
        "updated_at": {
          "type": "string"
        },
        "created_at": {
          "type": "string"
        }
      },
      "required": [
        "_id",
        "name",
        "email",
        "hub_id",
        "organization_id",
        "status",
        "is_deleted",
        "isFieldUser",
        "roleId",
        "activation_code",
        "updated_at",
        "created_at"
      ]
    },
    "useravatarsuccess": {
      "title": "useravatarsuccess",
      "example": {
        "message": "Deleted.",
        "data": {
          "_id": "61c2fbaaf27b374e8913fe77",
          "name": "bagus@paket.id",
          "email": "bagus@paket.id",
          "hub_id": [
            "61d669550a569567af791bc2",
            "61d90e15cffc2774fa796d22"
          ],
          "organization_id": "61c2fbaaf27b374e8913fe72",
          "status": "active",
          "is_deleted": false,
          "roleId": "61c2fbaaf27b374e8913fe73",
          "activation_code": "c0af258c432c15f30a7f6c36b2e1938e",
          "updated_at": "1970-01-25T20:31:23.647000Z",
          "created_at": "1970-01-25T20:31:23.647000Z",
          "role": {
            "_id": "61c2fbaaf27b374e8913fe73",
            "name": "owner",
            "is_admin": true,
            "permission_list": [
              "6156d6475320c9679e337eba",
              "615ac4ab5c3c0b3d3e83dfc1",
              "615ac4ab5c3c0b3d3e83dfc2",
              "615ac5175c3c0b3d3e83dfc3",
              "615ac5185c3c0b3d3e83dfc5",
              "615ac5185c3c0b3d3e83dfc6",
              "615ac5185c3c0b3d3e83dfc7",
              "615ac5195c3c0b3d3e83dfc8",
              "615ac5195c3c0b3d3e83dfc9",
              "615ac5625c3c0b3d3e83dfca",
              "615ac5635c3c0b3d3e83dfcb",
              "615ac5635c3c0b3d3e83dfcc",
              "6163b9f723c7545255411653",
              "6163b9f823c7545255411655",
              "6163b9f823c7545255411656",
              "61699635faf2a008e491e117",
              "61699635faf2a008e491e118",
              "61699636faf2a008e491e119",
              "61710b3e83e2af47aa833dfd",
              "61725da59e28573f25d21433",
              "619df73f4b17064cfff6d3f1",
              "619df73f4b17064cfff6d3f2",
              "619df73f4b17064cfff6d3f3",
              "61a589a721d8e9691727abca",
              "61a589a721d8e9691727abcb",
              "61a589a821d8e9691727abcc",
              "61a589a821d8e9691727abcd",
              "61a589a921d8e9691727abce",
              "61a589a921d8e9691727abcf",
              "61a589aa21d8e9691727abd0",
              "61a589aa21d8e9691727abd1",
              "61a589ab21d8e9691727abd2",
              "61d3f0a024406248b48614b3",
              "61d3f0d524406248b48615b9",
              "61d3f0fe24406248b48616ac",
              "61d3f12d24406248b48617d9",
              "61d3f19324406248b4861909",
              "61d3f1a224406248b4861991",
              "61d3f1b624406248b48619be",
              "61d3f24524406248b4861c20",
              "61d3f25424406248b4861ca1"
            ],
            "organization_id": "61c2fbaaf27b374e8913fe72",
            "is_deleted": false,
            "updated_at": "1970-01-25T20:31:23.647000Z",
            "created_at": "1970-01-25T20:31:23.647000Z"
          }
        }
      },
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "data": {
          "$ref": "#/definitions/Data"
        }
      },
      "required": [
        "message",
        "data"
      ]
    },
    "default_header": {
      "X-RateLimit-Limit": {
        "type": "string",
        "description":"1000000",
        "default": "1000000"
      },
      "X-RateLimit-Remaining": {
        "type": "string",
        "description":"999999",
        "default": "999999"
      }
    },
    "reverify-request": {
      "title": "reverify-request",
      "example": {
        "email": "dendi125@mailnesia.com",
        "alternative": false
      },
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        },
        "alternative": {
          "type": "boolean"
        }
      },
      "required": [
        "email"
      ]
    },
    "register-request": {
      "title": "register-request",
      "example": {
        "email": "dendi125@mailnesia.com",
        "password": "password",
        "name": "dendi125@mailnesia.com"
    },
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "required": [
        "email",
        "password",
        "name"
      ]
    },
    "register-success": {
      "title": "register-success",
      "example": {
        "message": "Verification link has been sent to your email"
      },
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "required": [
        "message"
      ]
    },
    "register-failed": {
      "title": "register-failed",
      "example": {
        "status": false,
        "message": "The name field is required."
      },
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "status": {
          "type": "boolean"
        }
      },
      "required": [
        "message"
      ]
    },
    "forget-password-request": {
      "title": "forget-password-request",
      "example": {
        "email": "bagus22@mailinator.com"
      },
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        }
      },
      "required": [
        "email"
      ]
    },
    "forget-passwordsuccess": {
      "title": "forget-passwordsuccess",
      "example": {
        "message": "Password reset link has been sent to your email.",
        "statusCode": 200
      },
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "statusCode": {
          "type": "integer",
          "format": "int32"
        }
      },
      "required": [
        "message",
        "statusCode"
      ]
    },
    "reset-password-request": {
      "title": "reset-password-request",
      "example": {
        "password": "password",
        "email": "12345678",
        "token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI2MjE4YjgzMDM5OTllNDNkMjExYzQxYzIiLCJqdGkiOiJiYzViODhmNz..."
      },
      "type": "object",
      "properties": {
        "password": {
          "type": "string"
        }
      },
      "required": [
        "password"
      ]
    },
    "resetpasswordsuccess": {
      "title": "resetpasswordsuccess",
      "example": {
        "message": "Password has changed successfully."
      },
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "required": [
        "message"
      ]
    },
    "usersuccess1": {
      "title": "usersuccess1",
      "example": {
        "_id": "61c2fbaaf27b374e8913fe77",
        "name": "bagus@paket.id",
        "email": "bagus@paket.id",
        "hub_id": [
          "61d669550a569567af791bc2",
          "61d90e15cffc2774fa796d22"
        ],
        "organization_id": "61c2fbaaf27b374e8913fe72",
        "status": "active",
        "is_deleted": false,
        "roleId": "61c2fbaaf27b374e8913fe73",
        "activation_code": "c0af258c432c15f30a7f6c36b2e1938e",
        "updated_at": "1970-01-25T20:31:23.647000Z",
        "created_at": "1970-01-25T20:31:23.647000Z",
        "role": {
          "_id": "61c2fbaaf27b374e8913fe73",
          "name": "owner",
          "is_admin": true,
          "permission_list": [
            "6156d6475320c9679e337eba",
            "615ac4ab5c3c0b3d3e83dfc1",
            "615ac4ab5c3c0b3d3e83dfc2",
            "615ac5175c3c0b3d3e83dfc3",
            "615ac5185c3c0b3d3e83dfc5",
            "615ac5185c3c0b3d3e83dfc6",
            "615ac5185c3c0b3d3e83dfc7",
            "615ac5195c3c0b3d3e83dfc8",
            "615ac5195c3c0b3d3e83dfc9",
            "615ac5625c3c0b3d3e83dfca",
            "615ac5635c3c0b3d3e83dfcb",
            "615ac5635c3c0b3d3e83dfcc",
            "6163b9f723c7545255411653",
            "6163b9f823c7545255411655",
            "6163b9f823c7545255411656",
            "61699635faf2a008e491e117",
            "61699635faf2a008e491e118",
            "61699636faf2a008e491e119",
            "61710b3e83e2af47aa833dfd",
            "61725da59e28573f25d21433",
            "619df73f4b17064cfff6d3f1",
            "619df73f4b17064cfff6d3f2",
            "619df73f4b17064cfff6d3f3",
            "61a589a721d8e9691727abca",
            "61a589a721d8e9691727abcb",
            "61a589a821d8e9691727abcc",
            "61a589a821d8e9691727abcd",
            "61a589a921d8e9691727abce",
            "61a589a921d8e9691727abcf",
            "61a589aa21d8e9691727abd0",
            "61a589aa21d8e9691727abd1",
            "61a589ab21d8e9691727abd2",
            "61d3f0a024406248b48614b3",
            "61d3f0d524406248b48615b9",
            "61d3f0fe24406248b48616ac",
            "61d3f12d24406248b48617d9",
            "61d3f19324406248b4861909",
            "61d3f1a224406248b4861991",
            "61d3f1b624406248b48619be",
            "61d3f24524406248b4861c20",
            "61d3f25424406248b4861ca1"
          ],
          "organization_id": "61c2fbaaf27b374e8913fe72",
          "is_deleted": false,
          "updated_at": "1970-01-25T20:31:23.647000Z",
          "created_at": "1970-01-25T20:31:23.647000Z"
        },
        "organization": {
          "_id": "61c2fbaaf27b374e8913fe72",
          "user": {
            "name": "bagus@paket.id",
            "email": "bagus@paket.id"
          },
          "license": {
            "_id": "6181124748f6945f89d02191",
            "plan_id": 18078,
            "name": "demo",
            "level": 0,
            "rule": {
              "trips": "no_limit",
              "constraint_limit": "no_limit",
              "slack_type": "dynamic",
              "speed": "dynamic",
              "time_window": "yes",
              "geocoding": 500,
              "multitrip": "10",
              "use_all_vehicle": "available"
            },
            "module": "mile_route",
            "vehicle": "no_limit"
          },
          "updated_at": "1970-01-25T20:31:23.647000Z",
          "created_at": "1970-01-25T20:31:23.647000Z"
        }
      },
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "hub_id": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "organization_id": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "is_deleted": {
          "type": "boolean"
        },
        "roleId": {
          "type": "string"
        },
        "activation_code": {
          "type": "string"
        },
        "updated_at": {
          "type": "string"
        },
        "created_at": {
          "type": "string"
        },
        "role": {
          "$ref": "#/definitions/Role"
        },
        "organization": {
          "$ref": "#/definitions/Organization2"
        }
      },
      "required": [
        "_id",
        "name",
        "email",
        "hub_id",
        "organization_id",
        "status",
        "is_deleted",
        "roleId",
        "activation_code",
        "updated_at",
        "created_at",
        "role",
        "organization"
      ]
    },
    "Role": {
      "title": "Role",
      "example": {
        "_id": "61c2fbaaf27b374e8913fe73",
        "name": "owner",
        "is_admin": true,
        "permission_list": [
          "6156d6475320c9679e337eba",
          "615ac4ab5c3c0b3d3e83dfc1",
          "615ac4ab5c3c0b3d3e83dfc2",
          "615ac5175c3c0b3d3e83dfc3",
          "615ac5185c3c0b3d3e83dfc5",
          "615ac5185c3c0b3d3e83dfc6",
          "615ac5185c3c0b3d3e83dfc7",
          "615ac5195c3c0b3d3e83dfc8",
          "615ac5195c3c0b3d3e83dfc9",
          "615ac5625c3c0b3d3e83dfca",
          "615ac5635c3c0b3d3e83dfcb",
          "615ac5635c3c0b3d3e83dfcc",
          "6163b9f723c7545255411653",
          "6163b9f823c7545255411655",
          "6163b9f823c7545255411656",
          "61699635faf2a008e491e117",
          "61699635faf2a008e491e118",
          "61699636faf2a008e491e119",
          "61710b3e83e2af47aa833dfd",
          "61725da59e28573f25d21433",
          "619df73f4b17064cfff6d3f1",
          "619df73f4b17064cfff6d3f2",
          "619df73f4b17064cfff6d3f3",
          "61a589a721d8e9691727abca",
          "61a589a721d8e9691727abcb",
          "61a589a821d8e9691727abcc",
          "61a589a821d8e9691727abcd",
          "61a589a921d8e9691727abce",
          "61a589a921d8e9691727abcf",
          "61a589aa21d8e9691727abd0",
          "61a589aa21d8e9691727abd1",
          "61a589ab21d8e9691727abd2",
          "61d3f0a024406248b48614b3",
          "61d3f0d524406248b48615b9",
          "61d3f0fe24406248b48616ac",
          "61d3f12d24406248b48617d9",
          "61d3f19324406248b4861909",
          "61d3f1a224406248b4861991",
          "61d3f1b624406248b48619be",
          "61d3f24524406248b4861c20",
          "61d3f25424406248b4861ca1"
        ],
        "organization_id": "61c2fbaaf27b374e8913fe72",
        "is_deleted": false,
        "updated_at": "1970-01-25T20:31:23.647000Z",
        "created_at": "1970-01-25T20:31:23.647000Z"
      },
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "is_admin": {
          "type": "boolean"
        },
        "permission_list": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "organization_id": {
          "type": "string"
        },
        "is_deleted": {
          "type": "boolean"
        },
        "updated_at": {
          "type": "string"
        },
        "created_at": {
          "type": "string"
        }
      },
      "required": [
        "_id",
        "name",
        "is_admin",
        "permission_list",
        "organization_id",
        "is_deleted",
        "updated_at",
        "created_at"
      ]
    },
    "Organization2": {
      "title": "Organization2",
      "example": {
        "_id": "61c2fbaaf27b374e8913fe72",
        "user": {
          "name": "bagus@paket.id",
          "email": "bagus@paket.id"
        },
        "license": {
          "_id": "6181124748f6945f89d02191",
          "plan_id": 18078,
          "name": "demo",
          "level": 0,
          "rule": {
            "trips": "no_limit",
            "constraint_limit": "no_limit",
            "slack_type": "dynamic",
            "speed": "dynamic",
            "time_window": "yes",
            "geocoding": 500,
            "multitrip": "10",
            "use_all_vehicle": "available"
          },
          "module": "mile_route",
          "vehicle": "no_limit"
        },
        "updated_at": "1970-01-25T20:31:23.647000Z",
        "created_at": "1970-01-25T20:31:23.647000Z"
      },
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "user": {
          "$ref": "#/definitions/User2"
        },
        "license": {
          "$ref": "#/definitions/License"
        },
        "updated_at": {
          "type": "string"
        },
        "created_at": {
          "type": "string"
        }
      },
      "required": [
        "_id",
        "user",
        "license",
        "updated_at",
        "created_at"
      ]
    },
    "User2": {
      "title": "User2",
      "example": {
        "name": "bagus@paket.id",
        "email": "bagus@paket.id"
      },
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        }
      },
      "required": [
        "name",
        "email"
      ]
    },
    "License": {
      "title": "License",
      "example": {
        "_id": "6181124748f6945f89d02191",
        "plan_id": 18078,
        "name": "demo",
        "level": 0,
        "rule": {
          "trips": "no_limit",
          "constraint_limit": "no_limit",
          "slack_type": "dynamic",
          "speed": "dynamic",
          "time_window": "yes",
          "geocoding": 500,
          "multitrip": "10",
          "use_all_vehicle": "available"
        },
        "module": "mile_route",
        "vehicle": "no_limit"
      },
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "plan_id": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "level": {
          "type": "integer",
          "format": "int32"
        },
        "rule": {
          "$ref": "#/definitions/Rule"
        },
        "module": {
          "type": "string"
        },
        "vehicle": {
          "type": "string"
        }
      },
      "required": [
        "_id",
        "plan_id",
        "name",
        "level",
        "rule",
        "module",
        "vehicle"
      ]
    },
    "Rule": {
      "title": "Rule",
      "example": {
        "trips": "no_limit",
        "constraint_limit": "no_limit",
        "slack_type": "dynamic",
        "speed": "dynamic",
        "time_window": "yes",
        "geocoding": 500,
        "multitrip": "10",
        "use_all_vehicle": "available"
      },
      "type": "object",
      "properties": {
        "trips": {
          "type": "string"
        },
        "constraint_limit": {
          "type": "string"
        },
        "slack_type": {
          "type": "string"
        },
        "speed": {
          "type": "string"
        },
        "time_window": {
          "type": "string"
        },
        "geocoding": {
          "type": "integer",
          "format": "int32"
        },
        "multitrip": {
          "type": "string"
        },
        "use_all_vehicle": {
          "type": "string"
        }
      },
      "required": [
        "trips",
        "constraint_limit",
        "slack_type",
        "speed",
        "time_window",
        "geocoding",
        "multitrip",
        "use_all_vehicle"
      ]
    },
    "UserFailed1": {
      "title": "UserFailed1",
      "example": {
        "status": false,
        "message": "URL Address is not found"
      },
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean"
        },
        "message": {
          "type": "string"
        }
      },
      "required": [
        "status",
        "message"
      ]
    },
    "UserSuccess": {
      "title": "UserSuccess",
      "example": {
        "data": [
          {
            "_id": "61c2fbaaf27b374e8913fe77",
            "name": "bagus@paket.id",
            "email": "bagus@paket.id",
            "hub_id": [
              "61d669550a569567af791bc2",
              "61d90e15cffc2774fa796d22"
            ],
            "organization_id": "61c2fbaaf27b374e8913fe72",
            "status": "active",
            "is_deleted": false,
            "roleId": "61c2fbaaf27b374e8913fe73",
            "activation_code": "c0af258c432c15f30a7f6c36b2e1938e",
            "organization": {
              "_id": "61c2fbaaf27b374e8913fe72",
              "user": {
                "name": "bagus@paket.id",
                "email": "bagus@paket.id"
              },
              "license": {
                "_id": "6181124748f6945f89d02191",
                "plan_id": 18078,
                "name": "demo",
                "level": 0,
                "rule": {
                  "trips": "no_limit",
                  "constraint_limit": "no_limit",
                  "slack_type": "dynamic",
                  "speed": "dynamic",
                  "time_window": "yes",
                  "geocoding": 500,
                  "multitrip": "10",
                  "use_all_vehicle": "available"
                },
                "module": "mile_route",
                "vehicle": "no_limit"
              },
              "updated_at": "1970-01-25T20:31:23.647000Z",
              "created_at": "1970-01-25T20:31:23.647000Z"
            },
            "role": {
              "_id": "61c2fbaaf27b374e8913fe73",
              "name": "owner",
              "is_admin": true,
              "permission_list": [
                "6156d6475320c9679e337eba",
                "615ac4ab5c3c0b3d3e83dfc1",
                "615ac4ab5c3c0b3d3e83dfc2",
                "615ac5175c3c0b3d3e83dfc3",
                "615ac5185c3c0b3d3e83dfc5",
                "615ac5185c3c0b3d3e83dfc6",
                "615ac5185c3c0b3d3e83dfc7",
                "615ac5195c3c0b3d3e83dfc8",
                "615ac5195c3c0b3d3e83dfc9",
                "615ac5625c3c0b3d3e83dfca",
                "615ac5635c3c0b3d3e83dfcb",
                "615ac5635c3c0b3d3e83dfcc",
                "6163b9f723c7545255411653",
                "6163b9f823c7545255411655",
                "6163b9f823c7545255411656",
                "61699635faf2a008e491e117",
                "61699635faf2a008e491e118",
                "61699636faf2a008e491e119",
                "61710b3e83e2af47aa833dfd",
                "61725da59e28573f25d21433",
                "619df73f4b17064cfff6d3f1",
                "619df73f4b17064cfff6d3f2",
                "619df73f4b17064cfff6d3f3",
                "61a589a721d8e9691727abca",
                "61a589a721d8e9691727abcb",
                "61a589a821d8e9691727abcc",
                "61a589a821d8e9691727abcd",
                "61a589a921d8e9691727abce",
                "61a589a921d8e9691727abcf",
                "61a589aa21d8e9691727abd0",
                "61a589aa21d8e9691727abd1",
                "61a589ab21d8e9691727abd2",
                "61d3f0a024406248b48614b3",
                "61d3f0d524406248b48615b9",
                "61d3f0fe24406248b48616ac",
                "61d3f12d24406248b48617d9",
                "61d3f19324406248b4861909",
                "61d3f1a224406248b4861991",
                "61d3f1b624406248b48619be",
                "61d3f24524406248b4861c20",
                "61d3f25424406248b4861ca1"
              ],
              "organization_id": "61c2fbaaf27b374e8913fe72",
              "is_deleted": false,
              "updated_at": "1970-01-25T20:31:23.647000Z",
              "created_at": "1970-01-25T20:31:23.647000Z"
            }
          },
          {
            "_id": "61d2552f461d0000fc004b43",
            "name": "bagus12@mailinator.com",
            "email": "bagus12@mailinator.com",
            "hub_id": [
              "61d669550a569567af791bc2"
            ],
            "organization_id": "61c2fbaaf27b374e8913fe72",
            "status": "active",
            "is_deleted": false,
            "roleId": "61c2fbaaf27b374e8913fe74",
            "activation_code": "VRouhIaJgMRnANHykFhX",
            "isFieldUser": 1,
            "organization": {
              "_id": "61c2fbaaf27b374e8913fe72",
              "user": {
                "name": "bagus@paket.id",
                "email": "bagus@paket.id"
              },
              "license": {
                "_id": "6181124748f6945f89d02191",
                "plan_id": 18078,
                "name": "demo",
                "level": 0,
                "rule": {
                  "trips": "no_limit",
                  "constraint_limit": "no_limit",
                  "slack_type": "dynamic",
                  "speed": "dynamic",
                  "time_window": "yes",
                  "geocoding": 500,
                  "multitrip": "10",
                  "use_all_vehicle": "available"
                },
                "module": "mile_route",
                "vehicle": "no_limit"
              },
              "updated_at": "1970-01-25T20:31:23.647000Z",
              "created_at": "1970-01-25T20:31:23.647000Z"
            },
            "role": {
              "_id": "61c2fbaaf27b374e8913fe74",
              "name": "admin",
              "is_admin": true,
              "permission_list": [
                "6156d6475320c9679e337eba",
                "615ac4ab5c3c0b3d3e83dfc1",
                "615ac4ab5c3c0b3d3e83dfc2",
                "615ac5175c3c0b3d3e83dfc3",
                "615ac5185c3c0b3d3e83dfc5",
                "615ac5185c3c0b3d3e83dfc6",
                "615ac5185c3c0b3d3e83dfc7",
                "615ac5195c3c0b3d3e83dfc8",
                "615ac5195c3c0b3d3e83dfc9",
                "615ac5625c3c0b3d3e83dfca",
                "615ac5635c3c0b3d3e83dfcb",
                "615ac5635c3c0b3d3e83dfcc",
                "6163b9f723c7545255411653",
                "6163b9f823c7545255411655",
                "6163b9f823c7545255411656",
                "61699635faf2a008e491e117",
                "61699635faf2a008e491e118",
                "61699636faf2a008e491e119",
                "61710b3e83e2af47aa833dfd",
                "61725da59e28573f25d21433",
                "619df73f4b17064cfff6d3f1",
                "619df73f4b17064cfff6d3f2",
                "619df73f4b17064cfff6d3f3",
                "61a589a721d8e9691727abca",
                "61a589a721d8e9691727abcb",
                "61a589a821d8e9691727abcc",
                "61a589a821d8e9691727abcd",
                "61a589a921d8e9691727abce",
                "61a589a921d8e9691727abcf",
                "61a589aa21d8e9691727abd0",
                "61a589aa21d8e9691727abd1",
                "61a589ab21d8e9691727abd2",
                "61d3f0a024406248b48614b3",
                "61d3f0d524406248b48615b9",
                "61d3f0fe24406248b48616ac",
                "61d3f12d24406248b48617d9",
                "61d3f19324406248b4861909",
                "61d3f1a224406248b4861991",
                "61d3f1b624406248b48619be",
                "61d3f24524406248b4861c20",
                "61d3f25424406248b4861ca1"
              ],
              "organization_id": "61c2fbaaf27b374e8913fe72",
              "is_deleted": false,
              "updated_at": "1970-01-25T20:31:23.647000Z",
              "created_at": "1970-01-25T20:31:23.647000Z"
            }
          },
          {
            "_id": "61d25532461d0000fc004b45",
            "name": "bagus22@mailinator.com",
            "email": "bagus22@mailinator.com",
            "hub_id": [],
            "organization_id": "61c2fbaaf27b374e8913fe72",
            "status": "active",
            "is_deleted": false,
            "roleId": "61c2fbaaf27b374e8913fe73",
            "activation_code": "PyhgcipJqP3CGoFDoZPX",
            "organization": {
              "_id": "61c2fbaaf27b374e8913fe72",
              "user": {
                "name": "bagus@paket.id",
                "email": "bagus@paket.id"
              },
              "license": {
                "_id": "6181124748f6945f89d02191",
                "plan_id": 18078,
                "name": "demo",
                "level": 0,
                "rule": {
                  "trips": "no_limit",
                  "constraint_limit": "no_limit",
                  "slack_type": "dynamic",
                  "speed": "dynamic",
                  "time_window": "yes",
                  "geocoding": 500,
                  "multitrip": "10",
                  "use_all_vehicle": "available"
                },
                "module": "mile_route",
                "vehicle": "no_limit"
              },
              "updated_at": "1970-01-25T20:31:23.647000Z",
              "created_at": "1970-01-25T20:31:23.647000Z"
            },
            "role": {
              "_id": "61c2fbaaf27b374e8913fe73",
              "name": "owner",
              "is_admin": true,
              "permission_list": [
                "6156d6475320c9679e337eba",
                "615ac4ab5c3c0b3d3e83dfc1",
                "615ac4ab5c3c0b3d3e83dfc2",
                "615ac5175c3c0b3d3e83dfc3",
                "615ac5185c3c0b3d3e83dfc5",
                "615ac5185c3c0b3d3e83dfc6",
                "615ac5185c3c0b3d3e83dfc7",
                "615ac5195c3c0b3d3e83dfc8",
                "615ac5195c3c0b3d3e83dfc9",
                "615ac5625c3c0b3d3e83dfca",
                "615ac5635c3c0b3d3e83dfcb",
                "615ac5635c3c0b3d3e83dfcc",
                "6163b9f723c7545255411653",
                "6163b9f823c7545255411655",
                "6163b9f823c7545255411656",
                "61699635faf2a008e491e117",
                "61699635faf2a008e491e118",
                "61699636faf2a008e491e119",
                "61710b3e83e2af47aa833dfd",
                "61725da59e28573f25d21433",
                "619df73f4b17064cfff6d3f1",
                "619df73f4b17064cfff6d3f2",
                "619df73f4b17064cfff6d3f3",
                "61a589a721d8e9691727abca",
                "61a589a721d8e9691727abcb",
                "61a589a821d8e9691727abcc",
                "61a589a821d8e9691727abcd",
                "61a589a921d8e9691727abce",
                "61a589a921d8e9691727abcf",
                "61a589aa21d8e9691727abd0",
                "61a589aa21d8e9691727abd1",
                "61a589ab21d8e9691727abd2",
                "61d3f0a024406248b48614b3",
                "61d3f0d524406248b48615b9",
                "61d3f0fe24406248b48616ac",
                "61d3f12d24406248b48617d9",
                "61d3f19324406248b4861909",
                "61d3f1a224406248b4861991",
                "61d3f1b624406248b48619be",
                "61d3f24524406248b4861c20",
                "61d3f25424406248b4861ca1"
              ],
              "organization_id": "61c2fbaaf27b374e8913fe72",
              "is_deleted": false,
              "updated_at": "1970-01-25T20:31:23.647000Z",
              "created_at": "1970-01-25T20:31:23.647000Z"
            }
          },
          {
            "_id": "61e3b280e29a83730b7e0c42",
            "name": "bagusaja4",
            "email": "bagusaja4@mailinator.com",
            "hub_id": [
              "61d90d78f0ae4c113b638302"
            ],
            "organization_id": "61c2fbaaf27b374e8913fe72",
            "status": "active",
            "is_deleted": false,
            "isFieldUser": 1,
            "roleId": "61c2fbaaf27b374e8913fe73",
            "activation_code": "Iu6LcEIh60TzLujJZ78E",
            "organization": {
              "_id": "61c2fbaaf27b374e8913fe72",
              "user": {
                "name": "bagus@paket.id",
[...]
