{
    "swagger": "2.0",
    "info": {
        "title": "Role API",
        "description": "This API enables you to retrieve a list of predefined roles and any custom roles associated with your account. By making a GET request to this API, you can obtain information about the available roles within the system. The predefined roles refer to a set of role types that are already defined by the system. In this particular case, the predefined roles include Finance, Owner, Planner, Admin, and Field User. Additionally, the API may also return any custom roles that have been created within your account.\n\nBelow is detail for each field when setting up a role:\n\n| Field          | Type                          | Format                      | Description                                                 |\n| -------------- | ----------------------------- | --------------------------- | ----------------------------------------------------------- |\n| _id            | string                        | 24 characters of hexadecimal | Unique identifier for the role generated by the system.    |\n| name           | string                        |                            | Name represents the human-readable role name or label.     |\n| passwordPolicyId | string                      |                            | Identifier for the password policy associated with the role.|\n| isAdmin        | boolean                       |                            | Indicates whether the role has administrative privileges.  |\n| isDefault      | boolean                       |                            | Specifies whether the role is a default role.              |\n| permissionList | array of string               |                            | List of IDs of permissions assigned to the role.           |\n| permissionDetail | array of object (see example) |                            | Additional settings of permissions associated with the role.|\n| organizationId | string                        | 24 characters of hexadecimal | Identifier for the organization associated with the role.  |\n| isDeleted      | boolean                       |                            | Set to true if the role was deleted.                       |\n| createdTime    | datetime                      | Y-m-d\\TH:i:s.vP             | Time at which the role was created.                        |\n| updatedTime    | datetime                      | Y-m-d\\TH:i:s.vP             | Time at which the role was updated.                        |\n\nExample of permissionDetail object:\n\n```json\n{\n  \"permissionName\": \"view/checkincheckout\",\n  \"interval\": 5,\n  \"checkinRadius\": 15,\n  \"checkoutRadius\": 15\n}\n```\n"
    },
    "host": "apiweb.mile.app",
    "basePath": "/api/v3",
    "securityDefinitions": {
        "AccessToken": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    },
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/roles": {
            "get": {
                "summary": "Read Roles",
                "tags": [
                    "Role"
                ],
                "operationId": "getRoles",
                "deprecated": false,
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/RoleList"
                        },
                        "examples": {
                            "application/json": {
                                "roles": []
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "examples": {
                            "application/json": {
                                "status": false,
                                "message": "message",
                                "failedCode": "role-001"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AccessToken": []
                    }
                ]
            }
        },
        "/role": {
            "post": {
                "summary": "Create Role",
                "tags": [
                    "Role"
                ],
                "operationId": "createRole",
                "deprecated": false,
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Body",
                        "in": "body",
                        "required": true,
                        "description": "JSON payload for creating a new role.",
                        "schema": {
                            "$ref": "#/definitions/RoleCreateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Role"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "examples": {
                            "application/json": {
                                "status": false,
                                "message": "message",
                                "failedCode": "role-001"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AccessToken": []
                    }
                ]
            }
        },
        "/role/{roleId}": {
            "get": {
                "summary": "Read Role by ID",
                "tags": [
                    "Role"
                ],
                "operationId": "getRoleById",
                "deprecated": false,
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "roleId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Unique identifier for the role generated by the system.\nExample: `6449f8ef2c481b07d40ecfc3`"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Role"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "examples": {
                            "application/json": {
                                "status": false,
                                "message": "message",
                                "failedCode": "role-001"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AccessToken": []
                    }
                ]
            },
            "put": {
                "summary": "Update Role",
                "tags": [
                    "Role"
                ],
                "operationId": "updateRole",
                "deprecated": false,
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "roleId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Unique identifier for the role generated by the system."
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": true,
                        "description": "JSON payload for updating an existing role.",
                        "schema": {
                            "$ref": "#/definitions/RoleUpdateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Role"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "examples": {
                            "application/json": {
                                "status": false,
                                "message": "message",
                                "failedCode": "role-001"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AccessToken": []
                    }
                ]
            },
            "delete": {
                "summary": "Delete Role",
                "tags": [
                    "Role"
                ],
                "operationId": "deleteRole",
                "deprecated": false,
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "roleId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Unique identifier for the role generated by the system."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Role"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "examples": {
                            "application/json": {
                                "status": false,
                                "message": "message",
                                "failedCode": "role-001"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AccessToken": []
                    }
                ]
            }
        }
    },
    "definitions": {
        "Role": {
            "type": "object",
            "properties": {
                "_id": {
                    "type": "string",
                    "format": "hexadecimal",
                    "description": "Unique identifier for the role."
                },
                "name": {
                    "type": "string",
                    "description": "Name of the role."
                },
                "passwordPolicyId": {
                    "type": "string",
                    "description": "Identifier for the password policy associated with the role."
                },
                "isAdmin": {
                    "type": "boolean",
                    "description": "Indicates whether the role has administrative privileges."
                },
                "isDefault": {
                    "type": "boolean",
                    "description": "Specifies whether the role is a default role."
                },
                "permissionList": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "description": "List of IDs of permissions assigned to the role."
                },
                "permissionDetail": {
                    "type": "array",
                    "items": {
                        "oneOf":[
                          {"$ref": "#/definitions/PermissionDetailCheckinCheckout"},
                          {"$ref": "#/definitions/PermissionDetailTask"}
                        ]
                    },
                    "description": "Additional settings of permissions associated with the role."
                },
                "organizationId": {
                    "type": "string",
                    "format": "hexadecimal",
                    "description": "Identifier for the organization associated with the role."
                },
                "isDeleted": {
                    "type": "boolean",
                    "description": "Flag indicating whether the role was deleted."
                },
                "createdTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Time at which the role was created."
                },
                "updatedTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Time at which the role was updated."
                }
            }
        },
        "PermissionDetailCheckinCheckout": {
            "type": "object",
            "properties": {
                "permissionName": {
                    "type": "string",
                    "default":"view/checkincheckout",
                    "description": "view/checkincheckout"
                },
                "interval": {
                    "type": "number",
                    "description": "Interval to push location history.",
                    "format": "double"
                },
                "checkinRadius": {
                    "type": "number",
                    "description": "Coordinate area for check-in allowed.",
                    "format": "double"
                },
                "checkoutRadius": {
                    "type": "number",
                    "description": "Coordinate area for checkout allowed.",
                    "format": "double"
                },
                "accuracy": {
                    "type": "number",
                    "description": "Accuracy of push location history.",
                    "format": "double"
                },
                "minDistance": {
                    "type": "number",
                    "description": "Mindistance from previous distance before push location history.",
                    "format": "double"
                },
                "profile": {
                    "type": "string",
                    "description": "Profile name.",
                    "default":"Balance"
                }
            }
        },
        "PermissionDetailTask": {
            "type": "object",
            "properties": {
                "permissionName": {
                    "type": "string",
                    "default":"add/task",
                    "description": "add/task"
                },
                "items": {
                  "type": "array",
                  "items": {
                      "type": "string",
                      "description": "Each item in the array represents a flowId."
                  },
                  "description": "List of flowId allowed by this permission."
              }
            }
        },
        "PermissionList": {
            "type": "array",
            "items": {
                "type": "string",
                "description": "Each item in the array represents a permissionId."
            },
            "description": "List of permissionId allowed by this role.",
            "example": ["6156d6475320c9679e337eba",
              "615ac4ab5c3c0b3d3e83dfc1",
              "615ac4ab5c3c0b3d3e83dfc2",
              "615ac5175c3c0b3d3e83dfc3",
              "615ac5185c3c0b3d3e83dfc5",
              "615ac5185c3c0b3d3e83dfc6",
              "615ac5185c3c0b3d3e83dfc7",
              "615ac5195c3c0b3d3e83dfc8",
              "615ac5195c3c0b3d3e83dfc9",
              "615ac5625c3c0b3d3e83dfca",
              "615ac5635c3c0b3d3e83dfcb",
              "615ac5635c3c0b3d3e83dfcc",
              "6163b9f723c7545255411653",
              "6163b9f823c7545255411655",
              "6163b9f823c7545255411656",
              "61699635faf2a008e491e117",
              "61699635faf2a008e491e118",
              "61699636faf2a008e491e119",
              "61710b3e83e2af47aa833dfd",
              "61725da59e28573f25d21433",
              "619df73f4b17064cfff6d3f1",
              "619df73f4b17064cfff6d3f2",
              "619df73f4b17064cfff6d3f3",
              "61a589a721d8e9691727abca",
              "61a589a721d8e9691727abcb",
              "61a589a821d8e9691727abcc",
              "61a589a821d8e9691727abcd",
              "61a589a921d8e9691727abcf",
              "61a589aa21d8e9691727abd0",
              "61a589aa21d8e9691727abd1",
              "61a589ab21d8e9691727abd2",
              "61d3f0a024406248b48614b3",
              "61d3f0d524406248b48615b9",
              "61d3f0fe24406248b48616ac",
              "61d3f12d24406248b48617d9",
              "61d3f19324406248b4861909",
              "61d3f1a224406248b4861991",
              "61d3f1b624406248b48619be",
              "61d3f24524406248b4861c20",
              "61d3f25424406248b4861ca1",
              "622578a0e9afc432da65dac1",
              "622578a0e9afc432da65dac2",
              "622578a0e9afc432da65dac3",
              "622578a0e9afc432da65dac4",
              "622b338c2edf688a1d57cdaa",
              "622b33af2edf688a1d57ce21",
              "622b3e492edf688a1d57f49a",
              "62554e48475945cff4f7a7de",
              "6257cc1e475945cff40aea6b",
              "627cb24e62e252387d3bd03d",
              "627cb24e62e252387d3bd03f",
              "627dfeadafaf4c30b52e62ad",
              "627dfeadafaf4c30b52e62af",
              "62c7eb1203c741efeeb6cc8c",
              "62c7eb1203c741efeeb6cc8d",
              "62c7eb1203c741efeeb6cc8e",
              "62c7eb1203c741efeeb6cc8f",
              "631025d1267dfb33da11f9dd",
              "631025d1267dfb33da11f9de",
              "63edc5a74dfe56be43b641c3",
              "63edc5a74dfe56be43b641c4",
              "63edc5a74dfe56be43b641c5",
              "63edc5a74dfe56be43b641c6",
              "63edc5a74dfe56be43b641c7",
              "63edc5a74dfe56be43b641c8",
              "63edc5a74dfe56be43b641c9",
              "63edc5a74dfe56be43b641ca",
              "64531da1806ea4a289fd9c5e"
            ]
        },
        "RoleList": {
            "type": "object",
            "properties": {
                "roles": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Role"
                    },
                    "description": "List of roles."
                }
            }
        },
        "RoleCreateRequest": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string",
                    "description": "Name of the role."
                },
                "passwordPolicyId": {
                    "type": "string",
                    "description": "Identifier for the password policy associated with the role."
                },
                "permissionList": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/PermissionList"
                    },
                    "description": "List of IDs of permissions assigned to the role."
                },
                "permissionDetails": {
                    "type": "array",
                    "items": {
                        "oneOf":[
                          {"$ref": "#/definitions/PermissionDetailCheckinCheckout"},
                          {"$ref": "#/definitions/PermissionDetailTask"}
                        ]
                    },
                    "description": "List of IDs of permissions assigned to the role."
                }
            }
        },
        "PermissionDetailCreate": {
            "type": "object",
            "properties": {
                "permissionName": {
                    "type": "string",
                    "description": "Name of the permission."
                },
                "interval": {
                    "type": "number",
                    "description": "Interval to push location history.",
                    "format": "double"
                },
                "checkinRadius": {
                    "type": "number",
                    "description": "Coordinate area for check-in allowed.",
                    "format": "double"
                },
                "checkoutRadius": {
                    "type": "number",
                    "description": "Coordinate area for checkout allowed.",
                    "format": "double"
                }
            }
        },
        "RoleUpdateRequest": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string",
                    "description": "Name of the role."
                },
                "passwordPolicyId": {
                    "type": "string",
                    "description": "Identifier for the password policy associated with the role."
                },
                "permissionList": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/PermissionList"
                    },
                    "description": "List of IDs of permissions assigned to the role."
                },
                "permissionDetails": {
                    "type": "array",
                    "items": {
                        "oneOf":[
                          {"$ref": "#/definitions/PermissionDetailCheckinCheckout"},
                          {"$ref": "#/definitions/PermissionDetailTask"}
                        ]
                    },
                    "description": "List of IDs of permissions assigned to the role."
                }
            }
        }
    }
}
