{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Version Management",
    "description": "\n  **Below is detail each field for Version Management**\n \n | Field          | Type     | Format     | Description                            | \n | -------------- | -------- | -------- | ----------------------------------     | \n | _id | <a href='#introduction-format'>string</a> | *24 characters of hexadecimal* | Unique identifier for the vehicle<br>that generated by system.<br>**Example**: `6352736c628401059b37a2e2`|\n | platform       | <a href='#introduction-format'>string</a>   | Enumeration: <br> `Android`, `IOS`, `Web`, `Web-mileapp`    | This is the platform option to choose which platform gets the version update `Android, IOS, Web, Web-mileapp` <br> **Example**: `Web-mileapp`                       | \n | versionNumber  | <a href='#introduction-format'>integer</a>  | Integer with auto increment value for ex: `1` , `2` & up to infinity                         | \n | versionName    | <a href='#introduction-format'>string</a>   | | Required string but same as **versionNumber** this is increment with format (Major, Minor, Patches) <br> **Example**: `v3.1.1`                           | \n | releaseTime    | <a href='#introduction-format'>datetime</a> | Format: `Y-m-d H:i:s` | **Example**: 2023-03-24 23:59:59   | \n | categoryUpdate | <a href='#introduction-format'>string</a>   | Enumeration: <br> `flexible`, `immediate`  | `flexible` for update categories with low urgency & `immediate` for update categories with high urgency ,<br> effects on mobile will appear notifications must update the application <br> **Default**: flexible   | \n | docLink | <a href='#introduction-format'>string</a> | *URL format* | This is to input the release notes document url, currently the **Click Up Document** link. <br> **Example :** https://doc.clickup.com/3837933/p/h/3n3zd-96542/e197dd0adc56139  |\n | changeLog | <a href='#introduction-format'>string</a>   | | This is the log record of any changes ,use separator for point with `;`.     |  \n | tags | <a href='#introduction-format'>array</a> | Enumeration :<br> `major update`, `minor update`, `new feature`, `feature improvement`, `bug fix`, `web`, `api` , `android` , `ios` | This is the tags to make it easier for users to categorize these changes <br> **Example**: `new feature` | \\n \\n \n "
  },
  "host": "apiweb.mile.app",
  "basePath": "/api/v3",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/version": {
      "post": {
        "summary": "Create",
        "tags": [
          "Version Management"
        ],
        "operationId": "createAppVersion",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "\n **Below is detail each field for Body Response API Version Management**\n | Field | Description | Required |\n |---|---|---|\n | organizationId | Unique ID from the organization indicating specific version data for a particular organization. And if its value is null, then the version data applies to the general or all organizations <br> **Example**: `65c32cd21d3200002d00340d` |  optional  |\n | platform | This is the platform option to choose which platform gets the version update `Android, IOS, Web, Web-mileapp` <br> **Example**: `Web-mileapp` |  Required  |\n | versionNumber | Integer increment value for ex: `1` , `2` & up to infinity |  optional  |\n | versionName | Required string but same as **versionNumber** this is increment with format (Major, Minor, Patches) <br> **Example**: `v3.1.1` |  required  | \n | versionData | The integer increment value based on the `versionNumber` to indicate that the data version has been updated. |  optional  |\n | releaseTime | **Example**: 2023-03-24 23: 59: 59 |  required  |\n | categoryUpdate | `flexible` for update categories with low urgency & `immediate` for update categories with high urgency ,<br> effects on mobile will appear notifications must update the application <br> **Default**: flexible | required |\n | docUrl | This is to input the release notes document url, currently the **Click Up Document** link. <br> **Example :** https://doc.clickup.com/3837933/p/h/3n3zd-96542/e197dd0adc56139 | required |\n | changeLog | This is the log record of any changes ,use separator for point with `;`. | required |\n | tags | Select multiple tags enumeration :<br> `major update`, `minor update`, `new feature`, `feature improvement`, `bug fix`, `web`, `api` , `android` , `ios` | required |",
            "schema": {
              "$ref": "#/definitions/bodyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseCreated"
            }
          }
        }
      }
    },
    "/version/{versionId}": {
      "put": {
        "summary": "Update",
        "tags": [
          "Version Management"
        ],
        "operationId": "updateAppVersion",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique identifier for the version that generated by system.<br>**Example**: `62ce3918d3f3e1681a3a54b2`"
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "\n **Below is detail each field for Body Response API Version Management**\n | Field | Description | Required |\n |---|---|---|\n | organizationId | Unique ID from the organization indicating specific version data for a particular organization. And if its value is null, then the version data applies to the general or all organizations <br> **Example**: `65c32cd21d3200002d00340d` |  optional  |\n | platform | This is the platform option to choose which platform gets the version update `Android, IOS, Web, Web-mileapp` <br> **Example**: `Web-mileapp` |  Required  |\n | versionNumber | Integer with increment value for ex: `1` , `2` & up to infinity |  optional  |\n | versionName | Required string but same as **versionNumber** this is increment with format (Major, Minor, Patches) <br> **Example**: `v3.1.1` |  required  |\n | versionData | The integer increment value based on the `versionNumber` to indicate that the data version has been updated. |  optional  | \n | releaseTime | **Example**: 2023-03-24 23: 59: 59 |  required  |\n | categoryUpdate | `flexible` for update categories with low urgency & `immediate` for update categories with high urgency ,<br> effects on mobile will appear notifications must update the application <br> **Default**: flexible | required |\n | docUrl | This is to input the release notes document url, currently the **Click Up Document** link. <br> **Example :** https://doc.clickup.com/3837933/p/h/3n3zd-96542/e197dd0adc56139 | required |\n | changeLog | This is the log record of any changes ,use separator for point with `;`. | required |\n | tags | Select multiple tags enumeration :<br> `major update`, `minor update`, `new feature`, `feature improvement`, `bug fix`, `web`, `api` , `android` , `ios` | required |\n ",
            "schema": {
              "$ref": "#/definitions/bodyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseUpdated"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete",
        "tags": [
          "Version Management"
        ],
        "operationId": "deleteAppVersion",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique identifier for the version that generated by system.<br>**Example**: `62ce3918d3f3e1681a3a54b2`"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseDeleted"
            }
          }
        }
      }
    },
    "/version/app": {
      "get": {
        "summary": "Read",
        "tags": [
          "Version Management"
        ],
        "operationId": "AppVersionManageList",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseList"
            }
          }
        }
      }
    },
    "/version/{platform}/last": {
      "get": {
        "summary": "Read Latest",
        "tags": [
          "Version Management"
        ],
        "operationId": "AppVersionManagePlatform",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "This is the platform option to choose which platform gets the version update `Android, IOS, Web, Web-mileapp` <br> **Example**: `Web-mileapp` "
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseSingle"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "responseSingle": {
      "type": "object",
      "properties": {
        "data": {
          "type": "object",
          "description": "Latest version for the platform"
        },
        "last_required": {
          "type": "object",
          "description": "Most recent version with categoryUpdate = 'immediate'. Returns null if no mandatory updates exist. Use this to check if user needs to force update."
        },
        "status": {
          "type": "boolean"
        }
      },
      "example": {
        "data": {
          "_id": "64180d811a6d1689820c03b5",
          "organizationId": null,
          "platform": "Android",
          "versionNumber": 1437,
          "versionData": 1437000,
          "versionName": "v1.32.11",
          "releaseTime": "2025-09-16 23:59:00",
          "categoryUpdate": "flexible",
          "changeLog": "Update 001;Update 002",
          "docUrl": "https://doc.clickup.com/3837933/p/h/3n3zd-96542/e197dd0adc56139/3n3zd-99822",
          "orderIndex": 330,
          "blastMailOwners": null,
          "blastMailTemplate": null,
          "blastMailFilterLicense": null,
          "blastMailByOrganization": null,
          "tags": [
            "android",
            "bug fix"
          ]
        },
        "last_required": {
          "_id": "68c99792557e3f40b107846a",
          "organizationId": null,
          "platform": "Android",
          "versionNumber": 1436,
          "versionData": 1436000,
          "versionName": "v1.32.10",
          "releaseTime": "2025-09-15 23:59:00",
          "categoryUpdate": "immediate",
          "changeLog": "Update 001;Update 002",
          "docUrl": "https://doc.clickup.com/3837933/p/h/3n3zd-96542/e197dd0adc56139/3n3zd-99822",
          "orderIndex": 329,
          "blastMailOwners": null,
          "blastMailTemplate": null,
          "blastMailFilterLicense": null,
          "blastMailByOrganization": null,
          "tags": [
            "major update",
            "minor update",
            "new feature",
            "feature improvement",
            "bug fix",
            "web",
            "api",
            "android",
            "ios"
          ]
        },
        "status": true
      }
    },
    "responseList": {
      "example": {
        "data": [
          {
            "_id": "64180d811a6d1689820c03b5",
            "platform": "Web-mileapp",
            "versionNumber": 2,
            "versionName": "V3.1.0",
            "releaseTime": "2023-03-14 00:24:00",
            "categoryUpdate": "flexible",
            "docLink": "https://doc.clickup.com/3837933/p/h/3n3zd-96542/e197dd0adc56139/3n3zd-99822",
            "changeLog": "Update 001;Update 002",
            "tags": [
              "major update",
              "minor update",
              "new feature",
              "feature improvement",
              "bug fix",
              "web",
              "api",
              "android",
              "ios"
            ]
          },
          {
            "_id": "62f37e13d33a000003004193",
            "platform": "Android",
            "versionNumber": 2,
            "versionName": "V2.1.1",
            "releaseTime": "2023-03-14 00:24:00",
            "categoryUpdate": "flexible",
            "docLink": "https://doc.clickup.com/3837933/p/h/3n3zd-96542/e197dd0adc56139/3n3zd-99822",
            "changeLog": "Update 001;Update 002",
            "tags": [
              "major update",
              "minor update",
              "new feature",
              "feature improvement",
              "bug fix",
              "web",
              "api",
              "android",
              "ios"
            ]
          }
        ],
        "status": true
      }
    },
    "responseCreated": {
      "example": {
        "data": {
          "_id": "63e4a7f8b5ecf9f20306e562",
          "organizationId":null,
          "platform": "Android",
          "versionNumber": 1,
          "versionName": "V1.1.1",
          "versionData": 1000,
          "releaseTime": "2022-08-30T10:33:06+07:00",
          "categoryUpdate": "flexible",
          "docLink": "https://doc.clickup.com/3837933/p/h/3n3zd-96542/e197dd0adc56139/3n3zd-99822",
          "changeLog": "Changelog 1.1.1",
          "tags": [
            "major update",
            "minor update",
            "new feature",
            "feature improvement",
            "bug fix",
            "web",
            "api",
            "android",
            "ios"
          ]
        },
        "status": true,
        "message": "Create data success"
      }
    },
    "responseUpdated": {
      "example": {
        "data": {
          "_id": "63e4a7f8b5ecf9f20306e562",
          "organizationId":null,
          "platform": "Android",
          "versionNumber": 1,
          "versionName": "V1.1.1",
          "versionData": 1000,
          "releaseTime": "2022-08-30T10:33:06+07:00",
          "categoryUpdate": "flexible",
          "docLink": "https://doc.clickup.com/3837933/p/h/3n3zd-96542/e197dd0adc56139/3n3zd-99822",
          "changeLog": "Changelog 1.1.1",
          "tags": [
            "major update",
            "minor update",
            "new feature",
            "feature improvement",
            "bug fix",
            "web",
            "api",
            "android",
            "ios"
          ]
        },
        "status": true,
        "message": "Update data success"
      }
    },
    "responseDeleted": {
      "example": {
        "data": {
          "_id": "63e4a7f8b5ecf9f20306e562",
          "platform": "Android",
          "versionNumber": 1,
          "versionName": "V1.1.1",
          "releaseTime": "2022-08-30T10:33:06+07:00",
          "categoryUpdate": "flexible",
          "docLink": "https://doc.clickup.com/3837933/p/h/3n3zd-96542/e197dd0adc56139/3n3zd-99822",
          "changeLog": "Changelog 1.1.1",
          "tags": [
            "major update",
            "minor update",
            "new feature",
            "feature improvement",
            "bug fix",
            "web",
            "api",
            "android",
            "ios"
          ]
        },
        "status": true,
        "message": "Delete data success"
      }
    },
    "bodyRequest": {
      "example": {
        "platform": "Web-mileapp",
        "versionName": "V3.1.2",
        "releaseTime": "2023-03-14 00:24:00",
        "categoryUpdate": "flexible",
        "docLink": "https://doc.clickup.com/3837933/p/h/3n3zd-96542/e197dd0adc56139/3n3zd-99822",
        "changeLog": "Update 001;Update 002",
        "tags": [
          "major update",
          "minor update",
          "new feature",
          "feature improvement",
          "bug fix",
          "web",
          "api",
          "android",
          "ios"
        ]
      }
    }
  }
}