{
  "swagger": "2.0",
  "info": {
    "title": "Password Policy",
    "description": "**Below is detail each field for Password Policy**\n\n| Field                | Type    | Format | Description                                                     |\n|----------------------|---------|--------|-----------------------------------------------------------------|\n| name                 | string  |        | The name of the Standard User.                                  |\n| minimumLength        | integer |        | The minimum number of characters required for the user password.|\n| complexity           | integer |        | The level of password complexity required for the user password. It is represented by an integer value. Complexity Levels: 1 (Low Complexity), 2 (Medium Complexity), 3 (High Complexity). |\n| expiration           | integer |        | The number of days after which the user password will expire and require a change. |\n| minimumDuration      | integer |        | The minimum number of days for which a user must keep a password before being allowed to change it again. |\n| accountLockout       | integer |        | The maximum number of failed login attempts allowed before the user account gets locked out. |\n| accountLockoutDuration | integer |      | The duration (in minutes) for which a user account remains locked after reaching the maximum number of failed login attempts. |\n| passwordHistory      | integer |        | The number of previous passwords that the system will remember to prevent users from reusing them. |\n",
    "version": "1.0.0"
  },
  "host": "apiweb.mile.app",
  "basePath": "/api/v3",
  "schemes": ["https"],
  "paths": {
    "/password-policies": {
      "get": {
        "summary": "Read Password Policies",
        "tags":["Password Policy"],
        "description": "**Below is the detail for each field of the Password Policy:**\n\n| Field                  | Type    | Format | Description                                                                                                                                                                                            |\n| ---------------------- | ------- | ------ | ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ |\n| name                   | string  |        | The name of the Standard User.                                                                                                                                                                         |\n| minimumLength          | integer |        | The minimum number of characters required for the user password. *Min: 6*                                                                                                                              |\n| complexity             | integer |        | The level of password complexity required for the user password. It is represented by an integer value. Complexity Levels: (Low Complexity), (Medium Complexity), (High Complexity). *Min:1* & *Max:4* |\n| expiration             | integer |        | The number of days after which the user password will expire and require a change. <br> if value is *-1* this is for **Never expiration**                                                                                                                  |\n| minimumDuration        | integer |        | The minimum number of days for which a user must keep a password before being allowed to change it again. <br> if value is *-1* this is for **Never**                                                                                             |\n| accountLockout         | integer |        | The maximum number of failed login attempts allowed before the user account gets locked out.                                                                                                           |\n| accountLockoutDuration | integer |        | The duration (in minutes) for which a user account remains locked after reaching the maximum number of failed login attempts. <br> if value is *-1* this is for **Account locked out forever**                                                                          |\n| passwordHistory        | integer |        | The number of previous passwords that the system will remember to prevent users from reusing them.                                                                                                     |",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/PasswordPolicyExampleGet"
            }
          }
        }
      },
      "post": {
        "summary": "Create Password Policy",
        "tags":["Password Policy"],
        "description": "Create the password policy",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PasswordPolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Password policy updated successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Password policy updated successfully."
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. Please check the request payload.",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Invalid input. Please check the request payload."
                }
              }
            }
          }
        }
      }
    },
    "/password-policy/{id}": {
      "get": {
        "summary": "Read Password Policy by ID",
        "tags":["Password Policy"],
        "description": "Retrieves the password policy based on its ID.",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "ID of the password policy."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/PasswordPolicyExampleGetById"
            }
          }
        }
      },
      "put": {
        "summary": "Update Password Policy by ID",
        "tags":["Password Policy"],
        "description": "Updates the password policy based on its ID.",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "ID of the password policy."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PasswordPolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Password policy updated successfully.",
            "schema": {
              "$ref": "#/definitions/PasswordPolicyExampleUpdateById"
            }
          },
          "400": {
            "description": "Invalid input. Please check the request payload.",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Invalid input. Please check the request payload."
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Password Policy by ID",
        "tags":["Password Policy"],
        "description": "Deletes the password policy based on its ID.",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "ID of the password policy."
          }
        ],
        "responses": {
          "200": {
            "description": "Password policy deleted successfully.",
            "schema":{
              "$ref": "#/definitions/PasswordPolicyExampleDeleteById"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "PasswordPolicyExampleGet":{
      "example":{
        "data": [
            {
                "_id": "64bfed2be3e18304ca090f01",
                "organizationId": "system",
                "name": "Default",
                "minimumLength": 8,
                "complexity": 2,
                "expiration": -1,
                "expirationNotificationDays" : 3,
                "minimumDuration": -1,
                "accountLockout": 5,
                "accountLockoutDuration": 30,
                "passwordHistory": 1,
                "createdBy": null,
                "updatedBy": null,
                "createdTime": null,
                "updatedTime": null
            },
            {
                "_id": "64c7599cf61876e70de94c7d",
                "organizationId": "system",
                "name": "Standard Accounts",
                "minimumLength": 9,
                "complexity": 3,
                "expiration": 90,
                "expirationNotificationDays": 3,
                "minimumDuration": 1,
                "accountLockout": 5,
                "accountLockoutDuration": 5,
                "passwordHistory": 10,
                "createdBy": null,
                "updatedBy": null,
                "createdTime": null,
                "updatedTime": null
            },
            {
                "_id": "64c7599cf61876e70de94c7e",
                "organizationId": "system",
                "name": "Administrative Accounts",
                "minimumLength": 12,
                "complexity": 3,
                "expiration": 90,
                "expirationNotificationDays": 3,
                "minimumDuration": 1,
                "accountLockout": 5,
                "accountLockoutDuration": 30,
                "passwordHistory": 10,
                "createdBy": null,
                "updatedBy": null,
                "createdTime": null,
                "updatedTime": null
            },
            {
                "_id": "64c7599cf61876e70de94c7f",
                "organizationId": "system",
                "name": "Service Accounts",
                "minimumLength": 15,
                "complexity": 3,
                "expiration": -1,
                "expirationNotificationDays": 3,
                "minimumDuration": 1,
                "accountLockout": 5,
                "accountLockoutDuration": 5,
                "passwordHistory": 10,
                "createdBy": null,
                "updatedBy": null,
                "createdTime": null,
                "updatedTime": null
            },
            {
                "_id": "64c7599cf61876e70de94c80",
                "organizationId": "system",
                "name": "Robot Accounts",
                "minimumLength": 15,
                "complexity": 4,
                "expiration": 14,
                "expirationNotificationDays": 3,
                "minimumDuration": -1,
                "accountLockout": 1,
                "accountLockoutDuration": -1,
                "passwordHistory": 1,
                "createdBy": null,
                "updatedBy": null,
                "createdTime": null,
                "updatedTime": null
            },
            {
                "_id": "64c7599cf61876e70de94c81",
                "organizationId": "system",
                "name": "Default Accounts",
                "minimumLength": 8,
                "complexity": 2,
                "expiration": -1,
                "expirationNotificationDays": 3,
                "minimumDuration": -1,
                "accountLockout": 5,
                "accountLockoutDuration": 30,
                "passwordHistory": 1,
                "createdBy": null,
                "updatedBy": null,
                "createdTime": null,
                "updatedTime": null
            },
            {
                "_id": "64c75a0b9aca3d89782e17d5",
                "organizationId": "system",
                "name": "Standard Accounts",
                "minimumLength": 9,
                "complexity": 3,
                "expiration": 90,
                "expirationNotificationDays": 3,
                "minimumDuration": 1,
                "accountLockout": 5,
                "accountLockoutDuration": 5,
                "passwordHistory": 10,
                "createdBy": null,
                "updatedBy": null,
                "createdTime": null,
                "updatedTime": null
            },
            {
                "_id": "64c75a0b9aca3d89782e17d6",
                "organizationId": "system",
                "name": "Administrative Accounts",
                "minimumLength": 12,
                "complexity": 3,
                "expiration": 90,
                "expirationNotificationDays": 3,
                "minimumDuration": 1,
                "accountLockout": 5,
                "accountLockoutDuration": 30,
                "passwordHistory": 10,
                "createdBy": null,
                "updatedBy": null,
                "createdTime": null,
                "updatedTime": null
            },
            {
                "_id": "64c75a0b9aca3d89782e17d7",
                "organizationId": "system",
                "name": "Service Accounts",
                "minimumLength": 15,
                "complexity": 3,
                "expiration": -1,
                "expirationNotificationDays": 3,
                "minimumDuration": 1,
                "accountLockout": 5,
                "accountLockoutDuration": 5,
                "passwordHistory": 10,
                "createdBy": null,
                "updatedBy": null,
                "createdTime": null,
                "updatedTime": null
            },
            {
                "_id": "64c75a0b9aca3d89782e17d8",
                "organizationId": "system",
                "name": "Robot Accounts",
                "minimumLength": 15,
                "complexity": 4,
                "expiration": 14,
                "expirationNotificationDays": 3,
                "minimumDuration": -1,
                "accountLockout": 1,
                "accountLockoutDuration": -1,
                "passwordHistory": 1,
                "createdBy": null,
                "updatedBy": null,
                "createdTime": null,
                "updatedTime": null
            }
        ],
        "links": {
            "first": "https://apiweb.mile.app/api/v3/password-policies?page=1",
            "last": "https://apiweb.mile.app/api/v3/password-policies?page=2",
            "prev": null,
            "next": "https://apiweb.mile.app/api/v3/password-policies?page=2"
        },
        "meta": {
            "current_page": 1,
            "from": 1,
            "last_page": 2,
            "links": [
                {
                    "url": null,
                    "label": "&laquo; Previous",
                    "active": false
                },
                {
                    "url": "https://apiweb.mile.app/api/v3/password-policies?page=1",
                    "label": "1",
                    "active": true
                },
                {
                    "url": "https://apiweb.mile.app/api/v3/password-policies?page=2",
                    "label": "2",
                    "active": false
                },
                {
                    "url": "https://apiweb.mile.app/api/v3/password-policies?page=2",
                    "label": "Next &raquo;",
                    "active": false
                }
            ],
            "path": "https://apiweb.mile.app/api/v3/password-policies",
            "per_page": 10,
            "to": 10,
            "total": 11
        },
        "status": true
      }
    },
    "PasswordPolicyExampleGetById":{
      "example":{
          "data": {
              "_id": "64c7599cf61876e70de94c7f",
              "organizationId": "system",
              "name": "Service Accounts",
              "minimumLength": 15,
              "complexity": 3,
              "expiration": -1,
              "expirationNotificationDays": 3,
              "minimumDuration": 1,
              "accountLockout": 5,
              "accountLockoutDuration": 5,
              "passwordHistory": 10,
              "createdBy": null,
              "updatedBy": null,
              "createdTime": null,
              "updatedTime": null
          },
          "status": true
      }
    },  
    "PasswordPolicyExampleCreate":{
      "example":{
          "data": {
              "_id": "64c7e41fc876c32a40083aa3",
              "organizationId": "637d9e27d7fe4d2a09008082",
              "name": "Standar User",
              "minimumLength": 9,
              "complexity": 3,
              "expiration": 90,
              "expirationNotificationDays": 3,
              "minimumDuration": 1,
              "accountLockout": 5,
              "accountLockoutDuration": 5,
              "passwordHistory": 10,
              "createdBy": "example@mile.app",
              "updatedBy": null,
              "createdTime": "2023-07-31T16:41:03.907000Z",
              "updatedTime": "2023-07-31T16:41:03.907000Z"
          },
          "status": true,
          "message": "Data has been created successfully."
      }
    },
    "PasswordPolicyExampleUpdateById":{
      "example":{
          "data": {
              "_id": "64c7e41fc876c32a40083aa3",
              "organizationId": "637d9e27d7fe4d2a09008082",
              "name": "Standar User 1",
              "minimumLength": 6,
              "complexity": 2,
              "expiration": 90,
              "expirationNotificationDays": 3,
              "minimumDuration": 1,
              "accountLockout": 2,
              "accountLockoutDuration": -1,
              "passwordHistory": 5,
              "createdBy": "example@mile.app",
              "updatedBy": "example@mile.app",
              "createdTime": "2023-07-31T16:41:03.907000Z",
              "updatedTime": "2023-07-31T16:43:07.950000Z"
          },
          "status": true,
          "message": "Data has been updated successfully."
      }
    },
    "PasswordPolicyExampleDeleteById":{
      "example":{
          "data": {
              "_id": "64c7e41fc876c32a40083aa3",
              "organizationId": "637d9e27d7fe4d2a09008082",
              "name": "Standar User 1",
              "minimumLength": 6,
              "complexity": 2,
              "expiration": 90,
              "expirationNotificationDays": 3,
              "minimumDuration": 1,
              "accountLockout": 2,
              "accountLockoutDuration": -1,
              "passwordHistory": 5,
              "createdBy": "example@mile.app",
              "updatedBy": "example@mile.app",
              "createdTime": "2023-07-31T16:41:03.907000Z",
              "updatedTime": "2023-07-31T16:43:07.950000Z"
          },
          "status": true,
          "message": "Data has been deleted successfully."
      }
    },  
    "PasswordPolicy": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the Standard User."
        },
        "minimumLength": {
          "type": "integer",
          "description": "The minimum number of characters required for the user password. *Min: 6*  "
        },
        "complexity": {
          "type": "integer",
          "description": "The level of password complexity required for the user password. It is represented by an integer value. Complexity Levels: (Low Complexity), (Medium Complexity), (High Complexity). *Min:1* & *Max:4*"
        },
        "expiration": {
          "type": "integer",
          "description": "The number of days after which the user password will expire and require a change. <br> if value is *-1* this is for **Never expiration**"
        },
        "expirationNotificationDays": {
          "type": "integer",
          "description": "The number of days before the password expiration when a notification should be shown to the user."
        },
        "minimumDuration": {
          "type": "integer",
          "description": "The minimum number of days for which a user must keep a password before being allowed to change it again. <br> if value is *-1* this is for **Never**  "
        },
        "accountLockout": {
          "type": "integer",
          "description": "The maximum number of failed login attempts allowed before the user account gets locked out."
        },
        "accountLockoutDuration": {
          "type": "integer",
          "description": "The duration (in minutes) for which a user account remains locked after reaching the maximum number of failed login attempts. <br> if value is *-1* this is for **Account locked out forever**  "
        },
        "passwordHistory": {
          "type": "integer",
          "description": "The number of previous passwords that the system will remember to prevent users from reusing them."
        }
      }
    }
  }
}
