{
  "swagger": "2.0",
  "info": {
    "title": "Users"
  },
  "host": "apiweb.mile.app",
  "basePath": "/api/v3",
  "securityDefinitions": {
    "AccessToken": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/users": {
      "get": {
        "summary": "Read user",
        "description": "This endpoint retrieves details of the authenticated user or a specific user in the system. It returns user data such as name, email, ID, and other relevant information",
        "tags": [
          "User"
        ],
        "operationId": "get-users",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/hubIdInQuery"
          },
          {
            "name": "roleId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The identifier for the role that generated by system. Use <a href='#tag/Role'>GET /roles API</a> to get the list of Role IDs.<br>**Example:** `621dd813eb3ebf16b94d6969`"
          },
          {
            "name": "teamId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The identifier for the team that generated by system. Use <a href='#tag/Team'>GET /teams API</a> to get the list of Team IDs. <br>**Example:** `650151e4c8a55842604f1662`"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Description: Indicates the current status of a user account. When this key returns `Inactive` , it means that the user account has been registered for the first time but remains unverified. On the other hand, if the status is `Pending` , it means that the user has been invited to MileApp but has yet to complete the verification process. Finally, when the status is `Active` , it means that the user account is fully active, indicating that the user can access and utilize MileApp\u2019s features. <br>**Example: ** `active`"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Fields is for selecting the specific fields that you can choose by multiples to show in the response using a string with a comma delimiter.<br>**Example:** `name,email,status`"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Dynamic value to search user based on username and full name"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "boolean"
                },
                "data": {
                  "description": "Object list of user.",
                  "type": "object"
                }
              },
              "$ref": "#/definitions/newExampleUser"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/parameters/responses/badRequest/schema"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ]
      }
    },
    "/user": {
      "get": {
        "summary": "Read mine",
        "description": "This endpoint returns details about the currently authenticated user. This is useful for applications where a user may need to view or update their own profile, check their roles, or verify their account status",
        "tags": [
          "User"
        ],
        "operationId": "user",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/usersuccess1"
            },
            "examples": {
              "application/json": {
                "_id": "65c1f4eeca7c4816d94587b7",
                "name": "example",
                "email": "example@mile.app",
                "provider": "web",
                "hubId": [
                  "65c1f68ea735b522d370ea22",
                  "65c1f7b800da624e7267a822",
                  "65cf10ace3103030040ad152",
                  "65c1f79069b4a9333c5a3d12",
                  "6661404dfe5cf5096220cb42",
                  "65d2d821035413251965f242"
                ],
                "organizationId": "65c1f4eeca7c4816d94587b2",
                "status": "active",
                "lastLogin": "2024-06-18T03:54:47+00:00",
                "roleId": "65c1f4eeca7c4816d94587b3",
                "activationCode": "5dc25a36e280ba34ef6dfe1f54dcb5d6",
                "onboardingStep": [],
                "teamId": [],
                "updatedTime": "2024-06-18T03:58:26+00:00",
                "createdTime": "2024-02-06T08:59:26+00:00",
                "personalToken": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI2NGY0YzUyYjdmYWI3ZjE3YzcwNTA3MTIiLCJqdGkiOiI4OWNkZWU3NDFjOWMxNzZiOWUzYWM5YzIzMWFhNGNmMWIxYTQ1M2ZkMjlmMzk4Yjc2MDhjODZiZGM0YWE3OTc3ZTQxMDRiYjVhNzIyZTM5OCIsImlhdCI6MTcxMDk5MDU4MywibmJmIjoxNzEwOTkwNTgzLCJleHAiOjQ4NjY2NjQxODMsInN1YiI6IjY1YzFmNGVlY2E3YzQ4MTZkOTQ1ODdiNyIsInNjb3BlcyI6W119.n1eiSvhm6LiuVcggn3XtT0_5wN10FXW4ZB4xgj2LeGK-7SU0zo3w-yqAe21VHJ-Jp20I_ovbbmj4rFhyqQZgUqD0N6SXvL8CFs1WayHzTK18EB_tYQo9R8ZxhdYvqkHLi_9t-wcAs0Sor-YR1zWaesissQyi7-5TB70oQ6QM4KZpqiKOpOMol_vh-0-NbhOblOVBeROknnM9TV-TjHF22w6gtlaKBhVXALCFLJROUTn2cDrjfA29dU5YXiSPvJtS5jT91O7x59cZDDU3TQmaB0Wlqd581_Q7Cy1oJH89oYpKqprECNjiAafIdRiqKAVay6wDGXDDBditnXECIVpWZ3EU6cocReyKBs83QvWZFeKo7rfuLwWAf8wPvRKi2jTXDe7ATS97ltbuFHteA9I5wZWeWFGgOjwZzwQOvEKnCDMYQC5vuk8ZCCle-0nRo8D02M6gnLK-bUTqhv6cgDON8bA6NTBUoy4rwAMeLvh2VgEIspPD7sl8lHvdseR1aXpQPYKSAL4pSO0qCNPpXxE9NRHt_i3ByY0gBvMdhTwJfct251jphptdfFPu8kLUBAC2dg_1p8M2B2KyEMuEb28NTghInj0PHIvC8cxnUi-dRCgzDJUd7SDoegQiZ4KdBLHA-3W3mb4NLP-pXVwpC_pYVkanyBZuhRcQSOkEj6ym4qs",
                "phoneNumber": null,
                "dynamicVisitTime": [],
                "organization": {
                  "_id": "65c1f4eeca7c4816d94587b2",
                  "user": {
                    "name": "example",
                    "country": "IDN",
                    "phoneNumber": "+62 812345677",
                    "numberOfUsers": "51-1000",
                    "industry": "Last Mile",
                    "position": "Owner/Director",
                    "email": "example@mile.app",
                    "companyName": "MileApp Bandung",
                    "hub": {
                      "name": "Bandung",
                      "displayName": "Bandung",
                      "address": "11, Jalan Stasiun Barat, Bandung Kota 40181, Indonesia",
                      "lat": "-6.91458",
                      "lng": "107.60211"
                    },
                    "flows": [
                      "62d526290b18b1039408f652",
                      "62d525fe2f12035a550a55e3",
                      "63a561c0fd378bcce9877d2f",
                      "63a561c0fd378bcce9877d30",
                      "62d526540b18b1039408f653",
                      "63a561c0fd378bcce9877d31"
                    ]
                  },
                  "productId": "prod_free",
                  "status": "verified",
                  "verifiedTime": "2024-02-06T09:06:23+00:00",
                  "curPeriodEndTime": null,
                  "curPeriodStartTime": null,
                  "eligible": true,
                  "configuration": {
                    "filesAccessPermission": "private",
                    "filesServerProvider": "milesto"
                  },
                  "updatedTime": "2024-02-06T09:06:24+00:00",
                  "createdTime": "2024-02-06T08:59:26+00:00",
                  "customerId": {
                    "idr": "cus_PVmAbPSpUmETFp",
                    "usd": null
                  },
                  "country": {
                    "code": "IDN",
                    "phoneCode": "+62",
                    "name": "Indonesia",
                    "alpha2Code": "ID",
                    "enableLanguage": true,
                    "language": "id",
                    "languageName": "Indonesian"
                  }
                },
                "role": {
                  "_id": "65c1f4eeca7c4816d94587b3",
                  "name": "owner",
                  "isAdmin": true,
                  "isDefault": true,
                  "permissionList": [
                    "6156d6475320c9679e337eba",
                    "615ac4ab5c3c0b3d3e83dfc1",
                    "615ac4ab5c3c0b3d3e83dfc2",
                    "615ac5175c3c0b3d3e83dfc3",
                    "615ac5185c3c0b3d3e83dfc5",
                    "615ac5185c3c0b3d3e83dfc6",
                    "615ac5185c3c0b3d3e83dfc7",
                    "615ac5195c3c0b3d3e83dfc8",
                    "615ac5195c3c0b3d3e83dfc9",
                    "615ac5625c3c0b3d3e83dfca",
                    "615ac5635c3c0b3d3e83dfcb",
                    "615ac5635c3c0b3d3e83dfcc",
                    "6163b9f723c7545255411653",
                    "6163b9f823c7545255411655",
                    "6163b9f823c7545255411656",
                    "61699635faf2a008e491e117",
                    "61699635faf2a008e491e118",
                    "61699636faf2a008e491e119",
                    "61710b3e83e2af47aa833dfd",
                    "61725da59e28573f25d21433",
                    "619df73f4b17064cfff6d3f1",
                    "619df73f4b17064cfff6d3f2",
                    "619df73f4b17064cfff6d3f3",
                    "61a589a721d8e9691727abca",
                    "61a589a721d8e9691727abcb",
                    "61a589a821d8e9691727abcc",
                    "61a589a821d8e9691727abcd",
                    "61a589a921d8e9691727abcf",
                    "61a589aa21d8e9691727abd0",
                    "61a589aa21d8e9691727abd1",
                    "61a589ab21d8e9691727abd2",
                    "61d3f0a024406248b48614b3",
                    "61d3f0d524406248b48615b9",
                    "61d3f0fe24406248b48616ac",
                    "61d3f12d24406248b48617d9",
                    "61d3f19324406248b4861909",
                    "61d3f1a224406248b4861991",
                    "61d3f1b624406248b48619be",
                    "61d3f24524406248b4861c20",
                    "61d3f25424406248b4861ca1",
                    "622578a0e9afc432da65dac1",
                    "622578a0e9afc432da65dac2",
                    "622578a0e9afc432da65dac3",
                    "622578a0e9afc432da65dac4",
                    "622b338c2edf688a1d57cdaa",
                    "622b33af2edf688a1d57ce21",
                    "622b3e492edf688a1d57f49a",
                    "6257cc1e475945cff40aea6b",
                    "62554e48475945cff4f7a7de",
                    "627cb24e62e252387d3bd03d",
                    "6321461de3ac5dbf30484d70",
                    "6321461de3ac5dbf30484d71",
                    "62c7eb1203c741efeeb6cc8c",
                    "62c7eb1203c741efeeb6cc8d",
                    "62c7eb1203c741efeeb6cc8e",
                    "62c7eb1203c741efeeb6cc8f",
                    "62834562511cb545d750bc94",
                    "62834562511cb545d750bc95",
                    "62834562511cb545d750bc96",
                    "62834562511cb545d750bc97",
                    "63edc5a74dfe56be43b641c3",
                    "63edc5a74dfe56be43b641c4",
                    "63edc5a74dfe56be43b641c5",
                    "63edc5a74dfe56be43b641c6",
                    "63edc5a74dfe56be43b641c7",
                    "63edc5a74dfe56be43b641c8",
                    "63edc5a74dfe56be43b641c9",
                    "63edc5a74dfe56be43b641ca",
                    "64599816ff3acaa5f5fc1df2",
                    "645b0f5acdcc614c1b6934ae",
                    "645b0f5acdcc614c1b6934ae",
                    "64fea1b5e8070ec6372ec80e",
                    "64fea1b5e8070ec6372ec80d",
                    "64fea1b5e8070ec6372ec80c",
                    "64fea1b5e8070ec6372ec80b",
                    "652cb205e4c10f4d7a6c2257",
                    "66223fa1943f0c322d03d24c"
                  ],
                  "permissionDetails": [
                    {
                      "permissionName": "view/checkincheckout",
                      "interval": null,
                      "checkinRadius": null,
                      "checkoutRadius": null
                    },
                    {
                      "permissionName": "add/task",
                      "items": null
                    }
                  ],
                  "permissions": [
                    {
                      "name": "view/dashboard",
                      "module": "dashboard",
                      "menu": "dashboard",
                      "displayName": "View dashboard",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "view/task",
                      "module": "mileField",
                      "menu": "task",
                      "displayName": "View task",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "view/task/only-me",
                      "module": "mileField",
                      "menu": "task",
                      "displayName": "Show Only Me",
                      "access": false,
                      "meta": {}
                    },
                    {
                      "name": "view/tracking",
                      "module": "mileField",
                      "menu": "tracking",
                      "displayName": "View tracking",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "add/task",
                      "module": "mileField",
                      "menu": "task",
                      "displayName": "Create task",
                      "access": true,
                      "meta": {
                        "items": null
                      }
                    },
                    {
                      "name": "edit/task",
                      "module": "mileField",
                      "menu": "task",
                      "displayName": "Edit task",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "assign/task",
                      "module": "mileField",
                      "menu": "task",
                      "displayName": "Assign/Unassign task",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "move/task",
                      "module": "mileField",
                      "menu": "task",
                      "displayName": "Move task",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "export/task",
                      "module": "mileField",
                      "menu": "task",
                      "displayName": "Export task",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "delete/task",
                      "module": "mileField",
                      "menu": "task",
                      "displayName": "Delete task",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "view/schedule",
                      "module": "mileField",
                      "menu": "schedule",
                      "displayName": "View schedule",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "add/schedule",
                      "module": "mileField",
                      "menu": "schedule",
                      "displayName": "Create schedule",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "edit/schedule",
                      "module": "mileField",
                      "menu": "schedule",
                      "displayName": "Edit schedule",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "delete/schedule",
                      "module": "mileField",
                      "menu": "schedule",
                      "displayName": "Delete schedule",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "view/vehicle",
                      "module": "mileRoute",
                      "menu": "vehicle",
                      "displayName": "View vehicle",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "add/vehicle",
                      "module": "mileRoute",
                      "menu": "vehicle",
                      "displayName": "Create vehicle",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "edit/vehicle",
                      "module": "mileRoute",
                      "menu": "vehicle",
                      "displayName": "Edit vehicle",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "delete/vehicle",
                      "module": "mileRoute",
                      "menu": "vehicle",
                      "displayName": "Delete vehicle",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "view/result",
                      "module": "mileRoute",
                      "menu": "result",
                      "displayName": "View result",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "edit/result",
                      "module": "mileRoute",
                      "menu": "result",
                      "displayName": "Edit result",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "delete/result",
                      "module": "mileRoute",
                      "menu": "result",
                      "displayName": "Delete result",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "dispatch/result",
                      "module": "mileRoute",
                      "menu": "Result",
                      "displayName": "Dispatch result",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "route-optimization",
                      "module": "mileRoute",
                      "menu": "result",
                      "displayName": "Route optimization",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "view/configuration",
                      "module": "mileRoute",
                      "menu": "configuration",
                      "displayName": "View configuration",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "edit/configuration",
                      "module": "mileRoute",
                      "menu": "configuration",
                      "displayName": "Edit configuration",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "view/plan",
                      "module": "mileBilling",
                      "menu": "billing",
                      "displayName": "View plan",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "view/subscription",
                      "module": "mileBilling",
                      "menu": "billing",
                      "displayName": "View subscription",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "view/history",
                      "module": "mileBilling",
                      "menu": "billing",
                      "displayName": "View history",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "view/user",
                      "module": "mileSetting",
                      "menu": "user",
                      "displayName": "View user",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "invite",
                      "module": "mileSetting",
                      "menu": "user",
                      "displayName": "Invite user",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "edit/member",
                      "module": "mileSetting",
                      "menu": "user",
                      "displayName": "Edit user",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "delete/member",
                      "module": "mileSetting",
                      "menu": "user",
                      "displayName": "Delete user",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "view/permission",
                      "module": "mileSetting",
                      "menu": "permission",
                      "displayName": "View permission",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "edit/permission",
                      "module": "mileSetting",
                      "menu": "permission",
                      "displayName": "Edit permission",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "view/hub",
                      "module": "mileSetting",
                      "menu": "hub",
                      "displayName": "View hub",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "add/hub",
                      "module": "mileSetting",
                      "menu": "hub",
                      "displayName": "Create hub",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "edit/hub",
                      "module": "mileSetting",
                      "menu": "hub",
                      "displayName": "Edit hub",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "delete/hub",
                      "module": "mileSetting",
                      "menu": "hub",
                      "displayName": "Delete hub",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "view/flow",
                      "module": "mileSetting",
                      "menu": "flow",
                      "displayName": "View flow",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "add/flow",
                      "module": "mileSetting",
                      "menu": "flow",
                      "displayName": "Create flow",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "edit/flow",
                      "module": "mileSetting",
                      "menu": "flow",
                      "displayName": "Edit flow",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "delete/flow",
                      "module": "mileSetting",
                      "menu": "flow",
                      "displayName": "Delete flow",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "view/workflow",
                      "module": "Setting",
                      "menu": "Workflow",
                      "displayName": "View workflow",
                      "access": false,
                      "meta": {}
                    },
                    {
                      "name": "add/workflow",
                      "module": "Setting",
                      "menu": "Workflow",
                      "displayName": "Add workflow",
                      "access": false,
                      "meta": {}
                    },
                    {
                      "name": "edit/workflow",
                      "module": "Setting",
                      "menu": "Workflow",
                      "displayName": "Edit workflow",
                      "access": false,
                      "meta": {}
                    },
                    {
                      "name": "delete/workflow",
                      "module": "Setting",
                      "menu": "Workflow",
                      "displayName": "Delete workflow",
                      "access": false,
                      "meta": {}
                    },
                    {
                      "name": "view/role",
                      "module": "mileSetting",
                      "menu": "role",
                      "displayName": "View role",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "create/role",
                      "module": "mileSetting",
                      "menu": "role",
                      "displayName": "Create role",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "edit/role",
                      "module": "mileSetting",
                      "menu": "role",
                      "displayName": "Edit role",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "delete/role",
                      "module": "mileSetting",
                      "menu": "role",
                      "displayName": "Delete role",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "view/organization",
                      "module": "mileSetting",
                      "menu": "organization",
                      "displayName": "View organization",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "edit/organization",
                      "module": "mileSetting",
                      "menu": "organization",
                      "displayName": "Edit organization",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "view/automation",
                      "module": "mileSetting",
                      "menu": "automation",
                      "displayName": "View automation",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "add/automation",
                      "module": "mileSetting",
                      "menu": "automation",
                      "displayName": "Create automation",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "edit/automation",
                      "module": "mileSetting",
                      "menu": "automation",
                      "displayName": "Edit automation",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "delete/automation",
                      "module": "mileSetting",
                      "menu": "automation",
                      "displayName": "Delete automation",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "view/data",
                      "module": "mileSetting",
                      "menu": "data",
                      "displayName": "View data",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "add/data",
                      "module": "mileSetting",
                      "menu": "data",
                      "displayName": "Create data",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "edit/data",
                      "module": "mileSetting",
                      "menu": "data",
                      "displayName": "Edit data",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "delete/data",
                      "module": "mileSetting",
                      "menu": "data",
                      "displayName": "Delete data",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "view/dataType",
                      "module": "mileSetting",
                      "menu": "dataType",
                      "displayName": "View data type",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "add/dataType",
                      "module": "mileSetting",
                      "menu": "dataType",
                      "displayName": "Create data type",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "edit/dataType",
                      "module": "mileSetting",
                      "menu": "dataType",
                      "displayName": "Edit data type",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "delete/dataType",
                      "module": "mileSetting",
                      "menu": "dataType",
                      "displayName": "Delete data type",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "task/reorder",
                      "module": "mileAdvanced",
                      "menu": "Task",
                      "displayName": "Reorder my task",
                      "access": false,
                      "meta": {}
                    },
                    {
                      "name": "view/checkincheckout",
                      "module": "mileAdvanced",
                      "menu": "Tracking",
                      "displayName": "Start - Finish",
                      "access": false,
                      "meta": {
                        "interval": null,
                        "checkinRadius": null,
                        "checkoutRadius": null
                      }
                    },
                    {
                      "name": "edit/constraint",
                      "module": "mileRoute",
                      "menu": "configuration",
                      "displayName": "Edit constraint",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "token/manage-token",
                      "module": "Advanced",
                      "menu": "Personal Access Token",
                      "displayName": "Manage personal access token",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "security/otp-email",
                      "module": "Advanced",
                      "menu": "Multi-factor authentication",
                      "displayName": "Multi-factor authentication by email OTP",
                      "access": false,
                      "meta": {}
                    },
                    {
                      "name": "view/trash",
                      "module": "mileSetting",
                      "menu": "Trash",
                      "displayName": "Trash",
                      "access": false,
                      "meta": {}
                    },
                    {
                      "name": "view/team",
                      "module": "Setting",
                      "menu": "Team",
                      "displayName": "View team",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "add/team",
                      "module": "Setting",
                      "menu": "Team",
                      "displayName": "Create team",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "edit/team",
                      "module": "Setting",
                      "menu": "Team",
                      "displayName": "Edit team",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "delete/team",
                      "module": "Setting",
                      "menu": "Team",
                      "displayName": "Delete team",
                      "access": true,
                      "meta": {}
                    },
                    {
                      "name": "single/login",
                      "module": "mileAdvanced",
                      "menu": "Single Login",
                      "displayName": "Single Login",
                      "access": false,
                      "meta": {}
                    }
                  ],
                  "organizationId": "65c1f4eeca7c4816d94587b2",
                  "passwordPolicyId": null,
                  "updatedTime": "2024-02-06T08:59:26.274000Z",
                  "createdTime": "2024-02-06T08:59:26.274000Z"
                },
                "firstLogin": false,
                "passwordExpired": false
              }
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ]
      },
      "patch": {
        "summary": "Update partially user",
        "description": "This endpoint allows you to update the details of a specific user in the system. and the data to be updated is provided in the request body",
        "tags": [
          "User"
        ],
        "operationId": "patch-user",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/patchUserRequest"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/patchuserfailed"
            }
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/patchusersuccess"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/user/email/{email}": {
      "get": {
        "summary": "Read user by email",
        "description": "This endpoint allows you to retrieve user details based on the provided email address. This is useful for systems that need to query user information directly using an email as the identifier, which is a common unique attribute across many systems",
        "tags": [
          "User"
        ],
        "operationId": "get-user-by-email",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The email of users who are already registered in each organization. <br> **Example** : `example@mile.app`"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "boolean"
                },
                "data": {
                  "description": "Object of details user.",
                  "type": "object"
                }
              },
              "$ref": "#/definitions/newExampleUser"
            }
          },
          "404": {
            "description": "Data not found",
            "schema": {
              "$ref": "#/parameters/responses/notFound/schema"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ]
      }
    },
    "/user/{userId}": {
      "get": {
        "summary": "Read user by ID",
        "description": "This endpoint allows you to retrieve the details of a specific user using their unique user ID.",
        "tags": [
          "User"
        ],
        "operationId": "get-user-id",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique identifier for the vehicle that generated by system. <br> **Example** : `62ce3918d3f3e1681a3a54b2`"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "boolean"
                },
                "data": {
                  "description": "Object of details user.",
                  "type": "object"
                }
              },
              "$ref": "#/definitions/newExampleUser"
            }
          },
          "404": {
            "description": "Data not found",
            "schema": {
              "$ref": "#/parameters/responses/notFound/schema"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ]
      },
      "put": {
        "summary": "Update user",
        "description": "This endpoint allows you to update the details of a specific user in the system. The user ID is passed as a path parameter, and the data to be updated is provided in the request body",
        "tags": [
          "User"
        ],
        "operationId": "put-user-id",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/userrequest"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The identifier for the user that generated by system. **Example:** `621dd813eb3ebf16b94d6969`"
          }
        ],
        "responses": {
          "404": {
            "description": "Data not found",
            "schema": {
              "$ref": "#/parameters/responses/notFound/schema"
            }
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/newExampleUserUpdated"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ]
      },
      "patch": {
        "summary": "Update partially user by ID",
        "description": "This endpoint allows you to update the details of a specific user in the system. The user ID is passed as a path parameter, and the data to be updated is provided in the request body",
        "tags": [
          "User"
        ],
        "operationId": "patch-user-id",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/patchUserRequest"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The identifier for the user that generated by system. **Example:** `621dd813eb3ebf16b94d6969`"
          }
        ],
        "responses": {
          "404": {
            "description": "Data not found",
            "schema": {
              "$ref": "#/parameters/responses/notFound/schema"
            }
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/newExampleUserUpdated"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/members/locked": {
      "get": {
        "summary": "Read locked user",
        "description": "This endpoint retrieves details of the specific authenticated user that can't login because locked by system",
        "tags": [
          "User"
        ],
        "operationId": "locked-members",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "boolean"
                },
                "data": {
                  "description": "List object of locked users.",
                  "type": "object"
                }
              },
              "example": {
                "status": true,
                "code": 200,
                "data": [
                  {
                    "email": "user+1@mile.app",
                    "attempt": "5",
                    "ttl": 1788
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ]
      }
    },
    "/member/unlock": {
      "post": {
        "summary": "Unlock locked user",
        "description": "This endpoint for unlock the specific authenticated user that can't login because locked by system",
        "tags": [
          "User"
        ],
        "operationId": "unlock-locked-member",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postUnlockUser"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "boolean"
                },
                "message": {
                  "description": "Message of response.",
                  "type": "string"
                }
              },
              "example": {
                "status": true,
                "code": 200,
                "message": "user+1@mile.app has been unlocked. The user can now log in."
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "boolean"
                },
                "message": {
                  "description": "Message of response.",
                  "type": "string"
                }
              },
              "example": {
                "status": false,
                "code": 400,
                "message": "Data not found. Please check the ID/reference number and try again."
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ]
      }
    },
    "/member/reset-password": {
      "post": {
        "summary": "Reset password user",
        "description": "This endpoint for reset password of the specific authenticated user and Only the Owner role can reset the password for another Owner.",
        "tags": [
          "User"
        ],
        "operationId": "reset-password-member",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postResetPasswordMember"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "boolean"
                },
                "message": {
                  "description": "Message of response.",
                  "type": "string"
                },
                "property": {
                  "description": "object of user.",
                  "type": "object"
                }
              },
              "example": {
                "status": true,
                "property": {
                  "_id": "66791b2ef001a712b77b3627",
                  "hubId": [
                    "66a98d2e598d9f20f63764f2"
                  ],
                  "organizationId": "66791b2bf001a712b77b3622",
                  "updatedTime": "2024-12-29T12:38:39+00:00",
                  "lastLogin": "2024-12-28T12:03:56+00:00",
                  "isDeleted": false,
                  "docId": "66791b2ef001a712b77b3627",
                  "roleId": "66791b2cf001a712b77b3623",
                  "teamId": [],
                  "name": "User",
                  "createdTime": "2024-06-24T07:07:26+00:00",
                  "email": "user@mile.app",
                  "status": "active"
                },
                "message": "Your password has been updated successfully."
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "boolean"
                },
                "message": {
                  "description": "Message of response.",
                  "type": "string"
                }
              },
              "example": {
                "status": false,
                "message": "You cannot use a password that you have used before."
              }
            }
          },
          "404": {
            "description": "Data not found",
            "schema": {
              "properties": {
                "status": {
                  "description": "Status of response.",
                  "type": "boolean"
                },
                "message": {
                  "description": "Message of response.",
                  "type": "string"
                }
              },
              "example": {
                "status": false,
                "statusCode": 404,
                "message": "Data not found. Please check the ID/reference number and try again."
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ]
      }
    },
    "/member/{userId}": {
      "delete": {
        "summary": "Delete user",
        "description": "This endpoint allows an authorized user (typically an admin) to delete a specific user from the system using their unique user ID. This action is permanent and cannot be undone, so it should be used with caution. The endpoint ensures that only authorized users with the necessary permissions can delete users.",
        "tags": [
          "User"
        ],
        "operationId": "delete-member-user-id",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The identifier for the user that generated by system. **Example:** `621dd813eb3ebf16b94d6969`"
          }
        ],
        "responses": {
          "404": {
            "description": "Data not found",
            "schema": {
              "$ref": "#/parameters/responses/notFound/schema"
            }
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/deleteusersuccess"
            },
            "examples": {
              "application/json": {
                "id": "66710605a1bd39201a5d8e82",
                "status": true,
                "message": "Data has been deleted successfully."
              }
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ]
      }
    }
  },
  "definitions": {
    "userrequest": {
      "title": "userrequest",
      "example": {
        "name": "your update name"
      },
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of user. **Example**: `Jhon doe`"
        },
        "email": {
          "type": "string",
          "description": "The email of user.<br> **Example**: `example@mile.app`"
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number of user.<br> **Example**: `+628123456789`"
        },
        "hubId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The hub id of user.<br> **Example**: `['621dd813eb3ebf16b94d6969','621dd813eb3ebf16b94d6968']`"
        },
        "teamId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The team id of user. If you set empty array, it will assigned to all team.<br>  **Example**: `['621dd813eb3ebf16b94d6969','621dd813eb3ebf16b94d6968']`"
        }
      },
      "required": [
        "name"
      ]
    },
    "patchUserRequest": {
      "title": "patchUserRequest",
      "example": {
        "name": "your update name"
      },
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of user. **Example**: `Jhon doe`"
        },
        "email": {
          "type": "string",
          "description": "The email of user.<br> **Example**: `example@mile.app`"
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number of user.<br> **Example**: `+628123456789`"
        }
      },
      "required": []
    },
    "postUnlockUser": {
      "title": "postUnlockUserRequest",
      "example": {
        "email": "user+1@mile.app"
      },
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of user.<br> **Example**: `example@mile.app`"
        }
      },
      "required": [
        "email"
      ]
    },
    "postResetPasswordMember": {
      "title": "postResetPasswordMemberRequest",
      "example": {
        "userId": "66791b2ef001a712b77b3627",
        "password": "1QklJb@ap"
      },
      "type": "object",
      "properties": {
        "userId": {
          "type": "string",
          "description": "The Id of user.<br> **Example**: `66791b2ef001a712b77b3627`"
        },
        "password": {
          "type": "string",
          "description": "String that must contain lowercase, uppercase, number and symbols.<br> **Example**: `1QklJb@ap`"
        }
      },
      "required": [
        "userId",
        "password"
      ]
    },
    "PutUserFailed1": {
      "title": "PutUserFailed1",
      "example": {
        "status": false,
        "message": "The name format is invalid."
      },
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean"
        },
        "message": {
          "type": "string"
        }
      },
      "required": [
        "status",
        "message"
      ]
    },
    "PUTUserSuccess": {
      "title": "PUTUserSuccess",
      "example": {
        "status": true,
        "property": {
          "_id": "61e3b280e29a83730b7e0c42",
          "name": "bagusajakop",
          "email": "bagusaja4@mailinator.com",
          "hubId": [
            "61d90d78f0ae4c113b638302"
          ],
          "organization_id": "61c2fbaaf27b374e8913fe72",
          "status": "active",
          "is_deleted": false,
          "isFieldUser": 1,
          "role_id": "61c2fbaaf27b374e8913fe73",
          "activation_code": "Iu6LcEIh60TzLujJZ78E",
          "updated_at": "1970-01-25T20:31:23.647000Z",
          "created_at": "1970-01-25T20:31:23.647000Z"
        },
        "message": "data is updated"
      },
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean"
        },
        "property": {
          "$ref": "#/definitions/Property"
        },
        "message": {
          "type": "string"
        }
      },
      "required": [
        "status",
        "property",
        "message"
      ]
    },
    "Property": {
      "title": "Property",
      "example": {
        "_id": "61e3b280e29a83730b7e0c42",
        "name": "bagusajakop",
        "email": "bagusaja4@mailinator.com",
        "hubId": [
          "61d90d78f0ae4c113b638302"
        ],
        "organization_id": "61c2fbaaf27b374e8913fe72",
        "status": "active",
        "is_deleted": false,
        "isFieldUser": 1,
        "role_id": "61c2fbaaf27b374e8913fe73",
        "activation_code": "Iu6LcEIh60TzLujJZ78E",
        "updated_at": "1970-01-25T20:31:23.647000Z",
        "created_at": "1970-01-25T20:31:23.647000Z"
      },
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "hubId": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "organization_id": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "is_deleted": {
          "type": "boolean"
        },
        "isFieldUser": {
          "type": "integer",
          "format": "int32"
        },
        "role_id": {
          "type": "string"
        },
        "activation_code": {
          "type": "string"
        },
        "updated_at": {
          "type": "string"
        },
        "created_at": {
          "type": "string"
        }
      },
      "required": [
        "_id",
        "name",
        "email",
        "hubId",
        "organization_id",
        "status",
        "is_deleted",
        "isFieldUser",
        "role_id",
        "activation_code",
        "updated_at",
        "created_at"
      ]
    },
    "useravatarsuccess": {
      "title": "useravatarsuccess",
      "example": {
        "message": "Deleted.",
        "data": {
          "_id": "61c2fbaaf27b374e8913fe77",
          "name": "bagus@paket.id",
          "email": "bagus@paket.id",
          "hubId": [
            "61d669550a569567af791bc2",
            "61d90e15cffc2774fa796d22"
          ],
          "organization_id": "61c2fbaaf27b374e8913fe72",
          "status": "active",
          "is_deleted": false,
          "role_id": "61c2fbaaf27b374e8913fe73",
          "activation_code": "c0af258c432c15f30a7f6c36b2e1938e",
          "updated_at": "1970-01-25T20:31:23.647000Z",
          "created_at": "1970-01-25T20:31:23.647000Z",
          "role": {
            "_id": "61c2fbaaf27b374e8913fe73",
            "name": "owner",
            "is_admin": true,
            "permission_list": [
              "6156d6475320c9679e337eba",
              "615ac4ab5c3c0b3d3e83dfc1",
              "615ac4ab5c3c0b3d3e83dfc2",
              "615ac5175c3c0b3d3e83dfc3",
              "615ac5185c3c0b3d3e83dfc5",
              "615ac5185c3c0b3d3e83dfc6",
              "615ac5185c3c0b3d3e83dfc7",
              "615ac5195c3c0b3d3e83dfc8",
              "615ac5195c3c0b3d3e83dfc9",
              "615ac5625c3c0b3d3e83dfca",
              "615ac5635c3c0b3d3e83dfcb",
              "615ac5635c3c0b3d3e83dfcc",
              "6163b9f723c7545255411653",
              "6163b9f823c7545255411655",
              "6163b9f823c7545255411656",
              "61699635faf2a008e491e117",
              "61699635faf2a008e491e118",
              "61699636faf2a008e491e119",
              "61710b3e83e2af47aa833dfd",
              "61725da59e28573f25d21433",
              "619df73f4b17064cfff6d3f1",
              "619df73f4b17064cfff6d3f2",
              "619df73f4b17064cfff6d3f3",
              "61a589a721d8e9691727abca",
              "61a589a721d8e9691727abcb",
              "61a589a821d8e9691727abcc",
              "61a589a821d8e9691727abcd",
              "61a589a921d8e9691727abce",
              "61a589a921d8e9691727abcf",
              "61a589aa21d8e9691727abd0",
              "61a589aa21d8e9691727abd1",
              "61a589ab21d8e9691727abd2",
              "61d3f0a024406248b48614b3",
              "61d3f0d524406248b48615b9",
              "61d3f0fe24406248b48616ac",
              "61d3f12d24406248b48617d9",
              "61d3f19324406248b4861909",
              "61d3f1a224406248b4861991",
              "61d3f1b624406248b48619be",
              "61d3f24524406248b4861c20",
              "61d3f25424406248b4861ca1"
            ],
            "organization_id": "61c2fbaaf27b374e8913fe72",
            "is_deleted": false,
            "updated_at": "1970-01-25T20:31:23.647000Z",
            "created_at": "1970-01-25T20:31:23.647000Z"
          }
        }
      },
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "data": {
          "$ref": "#/definitions/Data"
        }
      },
      "required": [
        "message",
        "data"
      ]
    },
    "default_header": {
      "X-RateLimit-Limit": {
        "type": "string",
        "description": "1000000",
        "default": "1000000"
      },
      "X-RateLimit-Remaining": {
        "type": "string",
        "description": "999999",
        "default": "999999"
      }
    },
    "forget-password-request": {
      "title": "forget-password-request",
      "example": {
        "email": "bagus22@mailinator.com"
      },
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        }
      },
      "required": [
        "email"
      ]
    },
    "forget-passwordsuccess": {
      "title": "forget-passwordsuccess",
      "example": {
        "message": "Password reset link has been sent to your email.",
        "userId": 200
      },
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "userId": {
          "type": "integer",
          "format": "int32"
        }
      },
      "required": [
        "message",
        "userId"
      ]
    },
    "reset-password-request": {
      "title": "reset-password-request",
      "example": {
        "password": "password"
      },
      "type": "object",
      "properties": {
        "password": {
          "type": "string"
        }
      },
      "required": [
        "password"
      ]
    },
    "resetpasswordsuccess": {
      "title": "resetpasswordsuccess",
      "example": {
        "message": "Password has changed successfully."
      },
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "required": [
        "message"
      ]
    },
    "usersuccess1": {
      "title": "usersuccess1",
      "example": {
        "_id": "61c2fbaaf27b374e8913fe77",
        "name": "bagus@paket.id",
        "email": "bagus@paket.id",
        "hubId": [
          "61d669550a569567af791bc2",
          "61d90e15cffc2774fa796d22"
        ],
        "organization_id": "61c2fbaaf27b374e8913fe72",
        "status": "active",
        "is_deleted": false,
        "role_id": "61c2fbaaf27b374e8913fe73",
        "activation_code": "c0af258c432c15f30a7f6c36b2e1938e",
        "updated_at": "1970-01-25T20:31:23.647000Z",
        "created_at": "1970-01-25T20:31:23.647000Z",
        "role": {
          "_id": "61c2fbaaf27b374e8913fe73",
          "name": "owner",
          "is_admin": true,
          "permission_list": [
            "6156d6475320c9679e337eba",
            "615ac4ab5c3c0b3d3e83dfc1",
            "615ac4ab5c3c0b3d3e83dfc2",
            "615ac5175c3c0b3d3e83dfc3",
            "615ac5185c3c0b3d3e83dfc5",
            "615ac5185c3c0b3d3e83dfc6",
            "615ac5185c3c0b3d3e83dfc7",
            "615ac5195c3c0b3d3e83dfc8",
            "615ac5195c3c0b3d3e83dfc9",
            "615ac5625c3c0b3d3e83dfca",
            "615ac5635c3c0b3d3e83dfcb",
            "615ac5635c3c0b3d3e83dfcc",
            "6163b9f723c7545255411653",
            "6163b9f823c7545255411655",
            "6163b9f823c7545255411656",
            "61699635faf2a008e491e117",
            "61699635faf2a008e491e118",
            "61699636faf2a008e491e119",
            "61710b3e83e2af47aa833dfd",
            "61725da59e28573f25d21433",
            "619df73f4b17064cfff6d3f1",
            "619df73f4b17064cfff6d3f2",
            "619df73f4b17064cfff6d3f3",
            "61a589a721d8e9691727abca",
            "61a589a721d8e9691727abcb",
            "61a589a821d8e9691727abcc",
            "61a589a821d8e9691727abcd",
            "61a589a921d8e9691727abce",
            "61a589a921d8e9691727abcf",
            "61a589aa21d8e9691727abd0",
            "61a589aa21d8e9691727abd1",
            "61a589ab21d8e9691727abd2",
            "61d3f0a024406248b48614b3",
            "61d3f0d524406248b48615b9",
            "61d3f0fe24406248b48616ac",
            "61d3f12d24406248b48617d9",
            "61d3f19324406248b4861909",
            "61d3f1a224406248b4861991",
            "61d3f1b624406248b48619be",
            "61d3f24524406248b4861c20",
            "61d3f25424406248b4861ca1"
          ],
          "organization_id": "61c2fbaaf27b374e8913fe72",
          "is_deleted": false,
          "updated_at": "1970-01-25T20:31:23.647000Z",
          "created_at": "1970-01-25T20:31:23.647000Z"
        },
        "organization": {
          "_id": "61c2fbaaf27b374e8913fe72",
          "user": {
            "name": "bagus@paket.id",
            "email": "bagus@paket.id"
          },
          "license": {
            "_id": "6181124748f6945f89d02191",
            "plan_id": 18078,
            "name": "demo",
            "level": 0,
            "rule": {
              "trips": "no_limit",
              "constraint_limit": "no_limit",
              "slack_type": "dynamic",
              "speed": "dynamic",
              "time_window": "yes",
              "geocoding": 500,
              "multitrip": "10",
              "use_all_vehicle": "available"
            },
            "module": "mile_route",
            "vehicle": "no_limit"
          },
          "updated_at": "1970-01-25T20:31:23.647000Z",
          "created_at": "1970-01-25T20:31:23.647000Z"
        }
      },
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "hubId": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "organization_id": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "is_deleted": {
          "type": "boolean"
        },
        "role_id": {
          "type": "string"
        },
        "activation_code": {
          "type": "string"
        },
        "updated_at": {
          "type": "string"
        },
        "created_at": {
          "type": "string"
        },
        "role": {
          "$ref": "#/definitions/Role"
        },
        "organization": {
          "$ref": "#/definitions/Organization2"
        }
      }
    },
    "Role": {
      "title": "Role",
      "example": {
        "_id": "61c2fbaaf27b374e8913fe73",
        "name": "owner",
        "is_admin": true,
        "permission_list": [
          "6156d6475320c9679e337eba",
          "615ac4ab5c3c0b3d3e83dfc1",
          "615ac4ab5c3c0b3d3e83dfc2",
          "615ac5175c3c0b3d3e83dfc3",
          "615ac5185c3c0b3d3e83dfc5",
          "615ac5185c3c0b3d3e83dfc6",
          "615ac5185c3c0b3d3e83dfc7",
          "615ac5195c3c0b3d3e83dfc8",
          "615ac5195c3c0b3d3e83dfc9",
          "615ac5625c3c0b3d3e83dfca",
          "615ac5635c3c0b3d3e83dfcb",
          "615ac5635c3c0b3d3e83dfcc",
          "6163b9f723c7545255411653",
          "6163b9f823c7545255411655",
          "6163b9f823c7545255411656",
          "61699635faf2a008e491e117",
          "61699635faf2a008e491e118",
          "61699636faf2a008e491e119",
          "61710b3e83e2af47aa833dfd",
          "61725da59e28573f25d21433",
          "619df73f4b17064cfff6d3f1",
          "619df73f4b17064cfff6d3f2",
          "619df73f4b17064cfff6d3f3",
          "61a589a721d8e9691727abca",
          "61a589a721d8e9691727abcb",
          "61a589a821d8e9691727abcc",
          "61a589a821d8e9691727abcd",
          "61a589a921d8e9691727abce",
          "61a589a921d8e9691727abcf",
          "61a589aa21d8e9691727abd0",
          "61a589aa21d8e9691727abd1",
          "61a589ab21d8e9691727abd2",
          "61d3f0a024406248b48614b3",
          "61d3f0d524406248b48615b9",
          "61d3f0fe24406248b48616ac",
          "61d3f12d24406248b48617d9",
          "61d3f19324406248b4861909",
          "61d3f1a224406248b4861991",
          "61d3f1b624406248b48619be",
          "61d3f24524406248b4861c20",
          "61d3f25424406248b4861ca1"
        ],
        "organization_id": "61c2fbaaf27b374e8913fe72",
        "is_deleted": false,
        "updated_at": "1970-01-25T20:31:23.647000Z",
        "created_at": "1970-01-25T20:31:23.647000Z"
      },
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "is_admin": {
          "type": "boolean"
        },
        "permission_list": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "organization_id": {
          "type": "string"
        },
        "is_deleted": {
          "type": "boolean"
        },
        "updated_at": {
          "type": "string"
        },
        "created_at": {
          "type": "string"
        }
      },
      "required": [
        "_id",
        "name",
        "is_admin",
        "permission_list",
        "organization_id",
        "is_deleted",
        "updated_at",
        "created_at"
      ]
    },
    "Organization2": {
      "title": "Organization2",
      "example": {
        "_id": "61c2fbaaf27b374e8913fe72",
        "user": {
          "name": "bagus@paket.id",
          "email": "bagus@paket.id"
        },
        "license": {
          "_id": "6181124748f6945f89d02191",
          "plan_id": 18078,
          "name": "demo",
          "level": 0,
          "rule": {
            "trips": "no_limit",
            "constraint_limit": "no_limit",
            "slack_type": "dynamic",
            "speed": "dynamic",
            "time_window": "yes",
            "geocoding": 500,
            "multitrip": "10",
            "use_all_vehicle": "available"
          },
          "module": "mile_route",
          "vehicle": "no_limit"
        },
        "updated_at": "1970-01-25T20:31:23.647000Z",
        "created_at": "1970-01-25T20:31:23.647000Z"
      },
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "user": {
          "$ref": "#/definitions/User2"
        },
        "license": {
          "$ref": "#/definitions/License"
        },
        "updated_at": {
          "type": "string"
        },
        "created_at": {
          "type": "string"
        }
      },
      "required": [
        "_id",
        "user",
        "license",
        "updated_at",
        "created_at"
      ]
    },
    "User2": {
      "title": "User2",
      "example": {
        "name": "bagus@paket.id",
        "email": "bagus@paket.id"
      },
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        }
      },
      "required": [
        "name",
        "email"
      ]
    },
    "License": {
      "title": "License",
      "example": {
        "_id": "6181124748f6945f89d02191",
        "plan_id": 18078,
        "name": "demo",
        "level": 0,
        "rule": {
          "trips": "no_limit",
          "constraint_limit": "no_limit",
          "slack_type": "dynamic",
          "speed": "dynamic",
          "time_window": "yes",
          "geocoding": 500,
          "multitrip": "10",
          "use_all_vehicle": "available"
        },
        "module": "mile_route",
        "vehicle": "no_limit"
      },
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "plan_id": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "level": {
          "type": "integer",
          "format": "int32"
        },
        "rule": {
          "$ref": "#/definitions/Rule"
        },
        "module": {
          "type": "string"
        },
        "vehicle": {
          "type": "string"
        }
      },
      "required": [
        "_id",
        "plan_id",
        "name",
        "level",
        "rule",
        "module",
        "vehicle"
      ]
    },
    "Rule": {
      "title": "Rule",
      "example": {
        "trips": "no_limit",
        "constraint_limit": "no_limit",
        "slack_type": "dynamic",
        "speed": "dynamic",
        "time_window": "yes",
        "geocoding": 500,
        "multitrip": "10",
        "use_all_vehicle": "available"
      },
      "type": "object",
      "properties": {
        "trips": {
          "type": "string"
        },
        "constraint_limit": {
          "type": "string"
        },
        "slack_type": {
          "type": "string"
        },
        "speed": {
          "type": "string"
        },
        "time_window": {
          "type": "string"
        },
        "geocoding": {
          "type": "integer",
          "format": "int32"
        },
        "multitrip": {
          "type": "string"
        },
        "use_all_vehicle": {
          "type": "string"
        }
      },
      "required": [
        "trips",
        "constraint_limit",
        "slack_type",
        "speed",
        "time_window",
        "geocoding",
        "multitrip",
        "use_all_vehicle"
      ]
    },
    "UserFailed1": {
      "title": "UserFailed1",
      "example": {
        "status": false,
        "message": "URL Address is not found"
      },
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean"
        },
        "message": {
          "type": "string"
        }
      },
      "required": [
        "status",
        "message"
      ]
    },
    "UserSuccess": {
      "title": "UserSuccess",
      "example": {
        "data": [
          {
            "_id": "61c2fbaaf27b374e8913fe77",
            "name": "bagus@paket.id",
            "email": "bagus@paket.id",
            "hubId": [
              "61d669550a569567af791bc2",
              "61d90e15cffc2774fa796d22"
            ],
            "organization_id": "61c2fbaaf27b374e8913fe72",
            "status": "active",
            "is_deleted": false,
            "role_id": "61c2fbaaf27b374e8913fe73",
            "activation_code": "c0af258c432c15f30a7f6c36b2e1938e",
            "organization": {
              "_id": "61c2fbaaf27b374e8913fe72",
              "user": {
                "name": "bagus@paket.id",
                "email": "bagus@paket.id"
              },
              "license": {
                "_id": "6181124748f6945f89d02191",
                "plan_id": 18078,
                "name": "demo",
                "level": 0,
                "rule": {
                  "trips": "no_limit",
                  "constraint_limit": "no_limit",
                  "slack_type": "dynamic",
                  "speed": "dynamic",
                  "time_window": "yes",
                  "geocoding": 500,
                  "multitrip": "10",
                  "use_all_vehicle": "available"
                },
                "module": "mile_route",
                "vehicle": "no_limit"
              },
              "updated_at": "1970-01-25T20:31:23.647000Z",
              "created_at": "1970-01-25T20:31:23.647000Z"
            },
            "role": {
              "_id": "61c2fbaaf27b374e8913fe73",
              "name": "owner",
              "is_admin": true,
              "permission_list": [
                "6156d6475320c9679e337eba",
                "615ac4ab5c3c0b3d3e83dfc1",
                "615ac4ab5c3c0b3d3e83dfc2",
                "615ac5175c3c0b3d3e83dfc3",
                "615ac5185c3c0b3d3e83dfc5",
                "615ac5185c3c0b3d3e83dfc6",
                "615ac5185c3c0b3d3e83dfc7",
                "615ac5195c3c0b3d3e83dfc8",
                "615ac5195c3c0b3d3e83dfc9",
                "615ac5625c3c0b3d3e83dfca",
                "615ac5635c3c0b3d3e83dfcb",
                "615ac5635c3c0b3d3e83dfcc",
                "6163b9f723c7545255411653",
                "6163b9f823c7545255411655",
                "6163b9f823c7545255411656",
                "61699635faf2a008e491e117",
                "61699635faf2a008e491e118",
                "61699636faf2a008e491e119",
                "61710b3e83e2af47aa833dfd",
                "61725da59e28573f25d21433",
                "619df73f4b17064cfff6d3f1",
                "619df73f4b17064cfff6d3f2",
                "619df73f4b17064cfff6d3f3",
                "61a589a721d8e9691727abca",
                "61a589a721d8e9691727abcb",
                "61a589a821d8e9691727abcc",
                "61a589a821d8e9691727abcd",
                "61a589a921d8e9691727abce",
                "61a589a921d8e9691727abcf",
                "61a589aa21d8e9691727abd0",
                "61a589aa21d8e9691727abd1",
                "61a589ab21d8e9691727abd2",
                "61d3f0a024406248b48614b3",
                "61d3f0d524406248b48615b9",
                "61d3f0fe24406248b48616ac",
                "61d3f12d24406248b48617d9",
                "61d3f19324406248b4861909",
                "61d3f1a224406248b4861991",
                "61d3f1b624406248b48619be",
                "61d3f24524406248b4861c20",
                "61d3f25424406248b4861ca1"
              ],
              "organization_id": "61c2fbaaf27b374e8913fe72",
              "is_deleted": false,
              "updated_at": "1970-01-25T20:31:23.647000Z",
              "created_at": "1970-01-25T20:31:23.647000Z"
            }
          },
          {
            "_id": "61d2552f461d0000fc004b43",
            "name": "bagus12@mailinator.com",
            "email": "bagus12@mailinator.com",
            "hubId": [
              "61d669550a569567af791bc2"
            ],
            "organization_id": "61c2fbaaf27b374e8913fe72",
            "status": "active",
            "is_deleted": false,
            "role_id": "61c2fbaaf27b374e8913fe74",
            "activation_code": "VRouhIaJgMRnANHykFhX",
            "isFieldUser": 1,
            "organization": {
              "_id": "61c2fbaaf27b374e8913fe72",
              "user": {
                "name": "bagus@paket.id",
                "email": "bagus@paket.id"
              },
              "license": {
                "_id": "6181124748f6945f89d02191",
                "plan_id": 18078,
                "name": "demo",
                "level": 0,
                "rule": {
                  "trips": "no_limit",
                  "constraint_limit": "no_limit",
                  "slack_type": "dynamic",
                  "speed": "dynamic",
                  "time_window": "yes",
                  "geocoding": 500,
                  "multitrip": "10",
                  "use_all_vehicle": "available"
                },
                "module": "mile_route",
                "vehicle": "no_limit"
              },
              "updated_at": "1970-01-25T20:31:23.647000Z",
              "created_at": "1970-01-25T20:31:23.647000Z"
            },
            "role": {
              "_id": "61c2fbaaf27b374e8913fe74",
              "name": "admin",
              "is_admin": true,
              "permission_list": [
                "6156d6475320c9679e337eba",
                "615ac4ab5c3c0b3d3e83dfc1",
                "615ac4ab5c3c0b3d3e83dfc2",
                "615ac5175c3c0b3d3e83dfc3",
                "615ac5185c3c0b3d3e83dfc5",
                "615ac5185c3c0b3d3e83dfc6",
                "615ac5185c3c0b3d3e83dfc7",
                "615ac5195c3c0b3d3e83dfc8",
                "615ac5195c3c0b3d3e83dfc9",
                "615ac5625c3c0b3d3e83dfca",
                "615ac5635c3c0b3d3e83dfcb",
                "615ac5635c3c0b3d3e83dfcc",
                "6163b9f723c7545255411653",
                "6163b9f823c7545255411655",
                "6163b9f823c7545255411656",
                "61699635faf2a008e491e117",
                "61699635faf2a008e491e118",
                "61699636faf2a008e491e119",
                "61710b3e83e2af47aa833dfd",
                "61725da59e28573f25d21433",
                "619df73f4b17064cfff6d3f1",
                "619df73f4b17064cfff6d3f2",
                "619df73f4b17064cfff6d3f3",
                "61a589a721d8e9691727abca",
                "61a589a721d8e9691727abcb",
                "61a589a821d8e9691727abcc",
                "61a589a821d8e9691727abcd",
                "61a589a921d8e9691727abce",
                "61a589a921d8e9691727abcf",
                "61a589aa21d8e9691727abd0",
                "61a589aa21d8e9691727abd1",
                "61a589ab21d8e9691727abd2",
                "61d3f0a024406248b48614b3",
                "61d3f0d524406248b48615b9",
                "61d3f0fe24406248b48616ac",
                "61d3f12d24406248b48617d9",
                "61d3f19324406248b4861909",
                "61d3f1a224406248b4861991",
                "61d3f1b624406248b48619be",
                "61d3f24524406248b4861c20",
                "61d3f25424406248b4861ca1"
              ],
              "organization_id": "61c2fbaaf27b374e8913fe72",
              "is_deleted": false,
              "updated_at": "1970-01-25T20:31:23.647000Z",
              "created_at": "1970-01-25T20:31:23.647000Z"
            }
          },
          {
            "_id": "61d25532461d0000fc004b45",
            "name": "bagus22@mailinator.com",
            "email": "bagus22@mailinator.com",
            "hubId": [],
            "organization_id": "61c2fbaaf27b374e8913fe72",
            "status": "active",
            "is_deleted": false,
            "role_id": "61c2fbaaf27b374e8913fe73",
            "activation_code": "PyhgcipJqP3CGoFDoZPX",
            "organization": {
              "_id": "61c2fbaaf27b374e8913fe72",
              "user": {
                "name": "bagus@paket.id",
                "email": "bagus@paket.id"
              },
              "license": {
                "_id": "6181124748f6945f89d02191",
                "plan_id": 18078,
                "name": "demo",
                "level": 0,
                "rule": {
                  "trips": "no_limit",
                  "constraint_limit": "no_limit",
                  "slack_type": "dynamic",
                  "speed": "dynamic",
                  "time_window": "yes",
                  "geocoding": 500,
                  "multitrip": "10",
                  "use_all_vehicle": "available"
                },
                "module": "mile_route",
                "vehicle": "no_limit"
              },
              "updated_at": "1970-01-25T20:31:23.647000Z",
              "created_at": "1970-01-25T20:31:23.647000Z"
            },
            "role": {
              "_id": "61c2fbaaf27b374e8913fe73",
              "name": "owner",
              "is_admin": true,
              "permission_list": [
                "6156d6475320c9679e337eba",
                "615ac4ab5c3c0b3d3e83dfc1",
                "615ac4ab5c3c0b3d3e83dfc2",
                "615ac5175c3c0b3d3e83dfc3",
                "615ac5185c3c0b3d3e83dfc5",
                "615ac5185c3c0b3d3e83dfc6",
                "615ac5185c3c0b3d3e83dfc7",
                "615ac5195c3c0b3d3e83dfc8",
                "615ac5195c3c0b3d3e83dfc9",
                "615ac5625c3c0b3d3e83dfca",
                "615ac5635c3c0b3d3e83dfcb",
                "615ac5635c3c0b3d3e83dfcc",
                "6163b9f723c7545255411653",
                "6163b9f823c7545255411655",
                "6163b9f823c7545255411656",
                "61699635faf2a008e491e117",
                "61699635faf2a008e491e118",
                "61699636faf2a008e491e119",
                "61710b3e83e2af47aa833dfd",
                "61725da59e28573f25d21433",
                "619df73f4b17064cfff6d3f1",
                "619df73f4b17064cfff6d3f2",
                "619df73f4b17064cfff6d3f3",
                "61a589a721d8e9691727abca",
                "61a589a721d8e9691727abcb",
                "61a589a821d8e9691727abcc",
                "61a589a821d8e9691727abcd",
                "61a589a921d8e9691727abce",
                "61a589a921d8e9691727abcf",
                "61a589aa21d8e9691727abd0",
                "61a589aa21d8e9691727abd1",
                "61a589ab21d8e9691727abd2",
                "61d3f0a024406248b48614b3",
                "61d3f0d524406248b48615b9",
                "61d3f0fe24406248b48616ac",
                "61d3f12d24406248b48617d9",
                "61d3f19324406248b4861909",
                "61d3f1a224406248b4861991",
                "61d3f1b624406248b48619be",
                "61d3f24524406248b4861c20",
                "61d3f25424406248b4861ca1"
              ],
              "organization_id": "61c2fbaaf27b374e8913fe72",
              "is_deleted": false,
              "updated_at": "1970-01-25T20:31:23.647000Z",
              "created_at": "1970-01-25T20:31:23.647000Z"
            }
          },
          {
            "_id": "61e3b280e29a83730b7e0c42",
            "name": "bagusaja4",
            "email": "bagusaja4@mailinator.com",
            "hubId": [
              "61d90d78f0ae4c113b638302"
            ],
            "organization_id": "61c2fbaaf27b374e8913fe72",
            "status": "active",
            "is_deleted": false,
            "isFieldUser": 1,
            "role_id": "61c2fbaaf27b374e8913fe73",
            "activation_code": "Iu6LcEIh60TzLujJZ78E",
            "organization": {
              "_id": "61c2fbaaf27b374e8913fe72",
              "user": {
                "name": "bagus@paket.id",
                "email": "bagus@paket.id"
              },
              "license": {
                "_id": "6181124748f6945f89d02191",
                "plan_id": 18078,
                "name": "demo",
                "level": 0,
                "rule": {
                  "trips": "no_limit",
                  "constraint_limit": "no_limit",
                  "slack_type": "dynamic",
                  "speed": "dynamic",
                  "time_window": "yes",
                  "geocoding": 500,
                  "multitrip": "10",
                  "use_all_vehicle": "available"
                },
                "module": "mile_route",
                "vehicle": "no_limit"
              },
              "updated_at": "1970-01-25T20:31:23.647000Z",
              "created_at": "1970-01-25T20:31:23.647000Z"
            },
            "role": {
              "_id": "61c2fbaaf27b374e8913fe73",
              "name": "owner",
              "is_admin": true,
              "permission_list": [
                "6156d6475320c9679e337eba",
                "615ac4ab5c3c0b3d3e83dfc1",
                "615ac4ab5c3c0b3d3e83dfc2",
                "615ac5175c3c0b3d3e83dfc3",
                "615ac5185c3c0b3d3e83dfc5",
                "615ac5185c3c0b3d3e83dfc6",
                "615ac5185c3c0b3d3e83dfc7",
                "615ac5195c3c0b3d3e83dfc8",
                "615ac5195c3c0b3d3e83dfc9",
                "615ac5625c3c0b3d3e83dfca",
                "615ac5635c3c0b3d3e83dfcb",
                "615ac5635c3c0b3d3e83dfcc",
                "6163b9f723c7545255411653",
                "6163b9f823c7545255411655",
                "6163b9f823c7545255411656",
                "61699635faf2a008e491e117",
                "61699635faf2a008e491e118",
                "61699636faf2a008e491e119",
                "61710b3e83e2af47aa833dfd",
                "61725da59e28573f25d21433",
                "619df73f4b17064cfff6d3f1",
                "619df73f4b17064cfff6d3f2",
                "619df73f4b17064cfff6d3f3",
                "61a589a721d8e9691727abca",
                "61a589a721d8e9691727abcb",
                "61a589a821d8e9691727abcc",
                "61a589a821d8e9691727abcd",
                "61a589a921d8e9691727abce",
                "61a589a921d8e9691727abcf",
                "61a589aa21d8e9691727abd0",
                "61a589aa21d8e9691727abd1",
                "61a589ab21d8e9691727abd2",
                "61d3f0a024406248b48614b3",
                "61d3f0d524406248b48615b9",
                "61d3f0fe24406248b48616ac",
                "61d3f12d24406248b48617d9",
                "61d3f19324406248b4861909",
                "61d3f1a224406248b4861991",
                "61d3f1b624406248b48619be",
                "61d3f24524406248b4861c20",
                "61d3f25424406248b4861ca1"
              ],
              "organization_id": "61c2fbaaf27b374e8913fe72",
              "is_deleted": false,
              "updated_at": "1970-01-25T20:31:23.647000Z",
              "created_at": "1970-01-25T20:31:23.647000Z"
            }
          }
        ],
        "status": true
      },
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Datum2"
          }
        },
        "status": {
          "type": "boolean"
        }
      },
      "required": [
        "data",
        "status"
      ]
    },
    "Datum2": {
      "title": "Datum2",
      "example": {
        "_id": "61c2fbaaf27b374e8913fe77",
        "name": "bagus@paket.id",
        "email": "bagus@paket.id",
        "hubId": [
          "61d669550a569567af791bc2",
          "61d90e15cffc2774fa796d22"
        ],
        "organization_id": "61c2fbaaf27b374e8913fe72",
        "status": "active",
        "is_deleted": false,
        "role_id": "61c2fbaaf27b374e8913fe73",
        "activation_code": "c0af258c432c15f30a7f6c36b2e1938e",
        "organization": {
          "_id": "61c2fbaaf27b374e8913fe72",
          "user": {
            "name": "bagus@paket.id",
            "email": "bagus@paket.id"
          },
          "license": {
            "_id": "6181124748f6945f89d02191",
            "plan_id": 18078,
            "name": "demo",
            "level": 0,
            "rule": {
              "trips": "no_limit",
              "constraint_limit": "no_limit",
              "slack_type": "dynamic",
              "speed": "dynamic",
              "time_window": "yes",
              "geocoding": 500,
              "multitrip": "10",
              "use_all_vehicle": "available"
            },
            "module": "mile_route",
            "vehicle": "no_limit"
          },
          "updated_at": "1970-01-25T20:31:23.647000Z",
          "created_at": "1970-01-25T20:31:23.647000Z"
        },
        "role": {
          "_id": "61c2fbaaf27b374e8913fe73",
          "name": "owner",
          "is_admin": true,
          "permission_list": [
            "6156d6475320c9679e337eba",
            "615ac4ab5c3c0b3d3e83dfc1",
            "615ac4ab5c3c0b3d3e83dfc2",
            "615ac5175c3c0b3d3e83dfc3",
            "615ac5185c3c0b3d3e83dfc5",
            "615ac5185c3c0b3d3e83dfc6",
            "615ac5185c3c0b3d3e83dfc7",
            "615ac5195c3c0b3d3e83dfc8",
            "615ac5195c3c0b3d3e83dfc9",
            "615ac5625c3c0b3d3e83dfca",
            "615ac5635c3c0b3d3e83dfcb",
            "615ac5635c3c0b3d3e83dfcc",
            "6163b9f723c7545255411653",
            "6163b9f823c7545255411655",
            "6163b9f823c7545255411656",
            "61699635faf2a008e491e117",
            "61699635faf2a008e491e118",
            "61699636faf2a008e491e119",
            "61710b3e83e2af47aa833dfd",
            "61725da59e28573f25d21433",
            "619df73f4b17064cfff6d3f1",
            "619df73f4b17064cfff6d3f2",
            "619df73f4b17064cfff6d3f3",
            "61a589a721d8e9691727abca",
            "61a589a721d8e9691727abcb",
            "61a589a821d8e9691727abcc",
            "61a589a821d8e9691727abcd",
            "61a589a921d8e9691727abce",
            "61a589a921d8e9691727abcf",
            "61a589aa21d8e9691727abd0",
            "61a589aa21d8e9691727abd1",
            "61a589ab21d8e9691727abd2",
            "61d3f0a024406248b48614b3",
            "61d3f0d524406248b48615b9",
            "61d3f0fe24406248b48616ac",
            "61d3f12d24406248b48617d9",
            "61d3f19324406248b4861909",
            "61d3f1a224406248b4861991",
            "61d3f1b624406248b48619be",
            "61d3f24524406248b4861c20",
            "61d3f25424406248b4861ca1"
          ],
          "organization_id": "61c2fbaaf27b374e8913fe72",
          "is_deleted": false,
          "updated_at": "1970-01-25T20:31:23.647000Z",
          "created_at": "1970-01-25T20:31:23.647000Z"
        }
      },
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "hubId": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "organization_id": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "is_deleted": {
          "type": "boolean"
        },
        "role_id": {
          "type": "string"
        },
        "activation_code": {
          "type": "string"
        },
        "organization": {
          "$ref": "#/definitions/Organization2"
        },
        "role": {
          "$ref": "#/definitions/Role"
        },
        "isFieldUser": {
          "type": "integer",
          "format": "int32"
        }
      },
      "required": [
        "_id",
        "name",
        "email",
        "hubId",
        "organization_id",
        "status",
        "is_deleted",
        "role_id",
        "activation_code",
        "organization",
        "role"
      ]
    },
    "user/inviterequest": {
      "title": "user/inviterequest",
      "example": {
        "email": [
          "yourname@mailinator.com"
        ],
        "role_id": "61c2fbaaf27b374e8913fe74"
      },
      "type": "object",
      "properties": {
        "email": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "role_id": {
          "type": "string"
        }
      },
      "required": [
        "email",
        "role_id"
      ]
    },
    "user/invitefailed1": {
      "title": "user/invitefailed1",
      "example": {
        "status": false,
        "message": "yourname@mailinator.com has already been taken."
      },
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean"
        },
        "message": {
          "type": "string"
        }
      },
      "required": [
        "status",
        "message"
      ]
    },
    "user/invitesuccess1": {
      "title": "user/invitesuccess1",
      "example": {
        "message": "Invitation link has been sent to selected email"
      },
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "required": [
        "message"
      ]
    },
    "User/{userId}": {
      "title": "User/{userId}",
      "example": {
        "status": true,
        "data": {
          "_id": "61e3b280e29a83730b7e0c42",
          "name": "bagusaja4",
          "email": "bagusaja4@mailinator.com",
          "hubId": [
            "61d90d78f0ae4c113b638302"
          ],
          "organization_id": "61c2fbaaf27b374e8913fe72",
          "status": "active",
          "is_deleted": false,
          "isFieldUser": 1,
          "role_id": "61c2fbaaf27b374e8913fe73",
          "activation_code": "Iu6LcEIh60TzLujJZ78E",
          "updated_at": "1970-01-25T20:31:23.647000Z",
          "created_at": "1970-01-25T20:31:23.647000Z",
          "organization": {
            "_id": "61c2fbaaf27b374e8913fe72",
            "user": {
              "name": "bagus@paket.id",
              "email": "bagus@paket.id"
            },
            "license": {
              "_id": "6181124748f6945f89d02191",
              "plan_id": 18078,
              "name": "demo",
              "level": 0,
              "rule": {
                "trips": "no_limit",
                "constraint_limit": "no_limit",
                "slack_type": "dynamic",
                "speed": "dynamic",
                "time_window": "yes",
                "geocoding": 500,
                "multitrip": "10",
                "use_all_vehicle": "available"
              },
              "module": "mile_route",
              "vehicle": "no_limit"
            },
            "updated_at": "1970-01-25T20:31:23.647000Z",
            "created_at": "1970-01-25T20:31:23.647000Z"
          },
          "role": {
            "_id": "61c2fbaaf27b374e8913fe73",
            "name": "owner",
            "is_admin": true,
            "permission_list": [
              "6156d6475320c9679e337eba",
              "615ac4ab5c3c0b3d3e83dfc1",
              "615ac4ab5c3c0b3d3e83dfc2",
              "615ac5175c3c0b3d3e83dfc3",
              "615ac5185c3c0b3d3e83dfc5",
              "615ac5185c3c0b3d3e83dfc6",
              "615ac5185c3c0b3d3e83dfc7",
              "615ac5195c3c0b3d3e83dfc8",
              "615ac5195c3c0b3d3e83dfc9",
              "615ac5625c3c0b3d3e83dfca",
              "615ac5635c3c0b3d3e83dfcb",
              "615ac5635c3c0b3d3e83dfcc",
              "6163b9f723c7545255411653",
              "6163b9f823c7545255411655",
              "6163b9f823c7545255411656",
              "61699635faf2a008e491e117",
              "61699635faf2a008e491e118",
              "61699636faf2a008e491e119",
              "61710b3e83e2af47aa833dfd",
              "61725da59e28573f25d21433",
              "619df73f4b17064cfff6d3f1",
              "619df73f4b17064cfff6d3f2",
              "619df73f4b17064cfff6d3f3",
              "61a589a721d8e9691727abca",
              "61a589a721d8e9691727abcb",
              "61a589a821d8e9691727abcc",
              "61a589a821d8e9691727abcd",
              "61a589a921d8e9691727abce",
              "61a589a921d8e9691727abcf",
              "61a589aa21d8e9691727abd0",
              "61a589aa21d8e9691727abd1",
              "61a589ab21d8e9691727abd2",
              "61d3f0a024406248b48614b3",
[...]
