{
  "swagger": "2.0",
  "info": {
    "title": "Flow"
  },
  "host": "apiweb.mile.app",
  "basePath": "/api/v3",
  "securityDefinitions": {
    "AccessToken": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {

    "/flows": {
      "get": {
        "summary": "Read flows",
        "tags": [
          "Flow"
        ],
        "operationId": "getflow",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref" : "#/parameters/pageInQuery"
          },
          {
            "$ref" : "#/parameters/limitInQuery"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "sort_by is used to sort the result-set in ascending or descending order according to selected field. The value of this param is one of available fields on flow objects.<br>**Example:** `name`, `orderIndex`, `createdTime`, etc.<br>**Default:** `orderIndex`"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "sort_order is to decide ascending or descending order<br>**Example:** `asc` or `desc`.<br>**Default:** `desc`"
          },
          {
            "name": "fields",
            "in": "query",
            "type": "string",
            "description": "Fields is for selecting the specific fields that you can choose by multiples to show in the response using a string with a comma delimiter.<br>**Example:** `name,pages,configuration`"
          },
          {
            "name": "permission",
            "in": "query",
            "type": "boolean",
            "description": "Parameter used to display flows based on permissions.<br>**Example:** `true` or `false`."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "title": "NetworkReadResponse",
              "$ref": "#/definitions/getListResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/parameters/responses/badRequest/schema"
            },
            "examples": {
                "application/json": {
                    "status": false,
                    "message": "#/parameters/descriptions/messageResponse",
                    "failedCode": "flow-001"
                }
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            },
            "examples": {
                "application/json": {
                    "status": false,
                    "message": "Internal server error",
                    "failedCode": "flow-045"
                }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ]
      }
    },
    "/flow/{flowId}" : {
      "get": {
        "summary": "Read flow by ID",
        "tags": [
          "Flow"
        ],
        "operationId": "getflowbyid",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique identifier for the flow that generated by system.<br>**Example**: `6352736c628401059b37a1d1`"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "title": "NetworkReadIDResponse",
              "$ref": "#/definitions/ListFlowbyid"
            }
          },
          "404": {
            "description": "Data not found",
            "schema": {
              "$ref": "#/parameters/responses/notFound/schema"
            },
            "examples": {
                "application/json": {
                    "status": false,
                    "message": "Data not found",
                    "failedCode": "flow-033"
                }
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            },
            "examples": {
                "application/json": {
                    "status": false,
                    "message": "Internal server error",
                    "failedCode": "flow-045"
                }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ]
      }
    },
    "/flow-fields": {
      "get": {
        "summary": "Read flow fields",
        "tags": [
          "Flow"
        ],
        "operationId": "flowFields",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fieldType",
            "in": "query",
            "type": "bolean",
            "format": "string",
            "description": "filter only component with `type` as input will be returned. <br>**Example:** `routeAs`, `basicStructurData`, `structurData`, `image`, `listItemData`, `reservedKey`, `all`.<br>**Default:** `all`"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "title": "NetworkCreateResponse",
              "$ref": "#/definitions/ListFields"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/parameters/responses/badRequest/schema"
            },
            "examples": {
                "application/json": {
                    "status": false,
                    "message": "#/parameters/descriptions/messageResponse",
                    "failedCode": "flow-001"
                }
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            },
            "examples": {
                "application/json": {
                    "status": false,
                    "message": "Internal server error",
                    "failedCode": "flow-045"
                }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ]
      }
    },
    "/flow-components": {
      "get": {
        "summary": "Read flow components",
        "tags": [
          "Flow"
        ],
        "operationId": "flowComponents",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fieldType",
            "in": "query",
            "type": "bolean",
            "format": "string",
            "description": "filter only component with `type` as input will be returned. <br>**Example:** `routeAs`, `structurData`, `singleValue`, `image`, `listItemData`, `reservedKey`, `all`.<br>**Default:** `all`"
          },
          {
            "name": "flowId",
            "in": "query",
            "type": "bolean",
            "format": "string",
            "description": "FlowId is for selecting the specific flow that you can choose from flow Id's by multiples to show in the response using a string with a comma delimiter.<br>**Example:** `Pickup,Delivery`. <br>**Example:** `1`.<br>**Default:** `null`"
          },
          {
            "name": "fields",
            "in": "query",
            "type": "bolean",
            "format": "string",
            "description": "Fields is for selecting the specific fields that you can choose from component Id's by multiples to show in the response using a string with a comma delimiter.<br>**Example:** `startTime,endTime,hubId,createdBy,flow,status`.<br>**Default:** `null`"
          },
          {
            "name": "isMerge",
            "in": "query",
            "type": "bolean",
            "format": "string",
            "description": "filter to show component with `flattern` format if the value is `1`. <br>**Example:** `1`.<br>**Default:** `null`"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "title": "NetworkCreateResponse",
              "$ref": "#/definitions/ListComponents"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/parameters/responses/badRequest/schema"
            },
            "examples": {
                "application/json": {
                    "status": false,
                    "message": "#/parameters/descriptions/messageResponse",
                    "failedCode": "flow-001"
                }
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            },
            "examples": {
                "application/json": {
                    "status": false,
                    "message": "Internal server error",
                    "failedCode": "flow-045"
                }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ]
      }
    },
    "/flow/{flowName}/fields": {
      "get": {
        "summary": "Read flow component by flow name",
        "tags": [
          "Flow"
        ],
        "operationId": "getflowfieldbyname",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "flowName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the flow.<br>**Example**: `Delivery`, `Field Sales`"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "title": "NetworkReadIDResponse",
              "$ref": "#/definitions/ListFlowFields"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/parameters/responses/badRequest/schema"
            },
            "examples": {
                "application/json": {
                    "status": false,
                    "message": "#/parameters/descriptions/messageResponse",
                    "failedCode": "flow-001"
                }
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            },
            "examples": {
                "application/json": {
                    "status": false,
                    "message": "Internal server error",
                    "failedCode": "flow-045"
                }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ]
      }
    },
    "/flow/{flowName}/task": {
      "get": {
        "summary": "Generate example",
        "tags": [
          "Flow"
        ],
        "operationId": "getCreateTaskPayload",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "flowName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique name of organization's flow.<br>Use <a href='#tag/Flow'>Flow /flows API</a> to get the list of flow names.<br>**Example:** `Pickup`"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "title": "NetworkGenerateResponse",
              "$ref": "#/definitions/createTaskExampleResp"
            }
          },
          "404": {
            "description": "Data not found",
            "schema": {
              "$ref": "#/parameters/responses/notFound/schema"
            },
            "examples": {
                "application/json": {
                    "status": false,
                    "message": "Data not found",
                    "failedCode": "flow-033"
                }
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            },
            "examples": {
                "application/json": {
                    "status": false,
                    "message": "Internal server error",
                    "failedCode": "flow-045"
                }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ]
      }
    },
    "/flow-logs": {
      "get": {
        "summary": "Read flow histories",
        "tags": [
          "Flow"
        ],
        "operationId": "getflowlogs",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/pageInQuery"
          },
          {
            "$ref": "#/parameters/limitInQuery"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "sortOrder is to decide ascending or descending order<br>**Example:** `asc` or `desc`.<br>**Default:** `desc`"
          },
          {
            "name": "action",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Action done according to flows's manipulation trigger. There are 3 types of `action`:<br>**enum**: `create`,`put`,`reorder`<br>**Example:** `put`"
          },
          {
            "name": "flowId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The identifier for the flow that generated by system. Use <a href='#tag/Flow/operation/getflow' target='_blank'>Flow /flows API</a> to get the list of flow id.<br>Comma (,) delimiter for filter multiple flow.<br>**Example:** `63d8c9b0dbd5ef20a627dd86`"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "title": "NetworkReadLogsResponse",
              "$ref": "#/definitions/getLogsResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            },
            "examples": {
                "application/json": {
                    "status": false,
                    "message": "Internal server error",
                    "failedCode": "flow-045"
                }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ]
      }
    },
    "/flow": {
      "post": {
        "summary": "Create flow",
        "tags": [
          "Flow"
        ],
        "operationId": "postflow",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postRequestFlow"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "type": "object",
              "title": "NetworkCreateResponse",
              "$ref": "#/definitions/postResponseFlow"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/parameters/responses/badRequest/schema"
            },
            "examples": {
                "application/json": {
                    "status": false,
                    "message": "#/parameters/descriptions/messageResponse",
                    "failedCode": "flow-001"
                }
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            },
            "examples": {
                "application/json": {
                    "status": false,
                    "message": "Internal server error",
                    "failedCode": "flow-045"
                }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ]
      }
    },
    "/flow-ai": {
      "post": {
        "summary": "Generate Flow with AI",
        "description": "Generates and validates a flow json structure using AI based on a natural language prompt. The AI analyzes the prompt and automatically creates pages, components, and configurations. The generated flow structure is validated but NOT saved to the database. Returns the validated structure that can be used with the create flow endpoint.",
        "tags": [
          "Flow"
        ],
        "operationId": "postFlowAI",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postRequestFlowAI"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "title": "FlowAIValidationResponse",
              "$ref": "#/definitions/postResponseFlowAISuccess"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/postResponseFlowAIError"
            },
            "examples": {
              "application/json": {
                "status": false,
                "message": "The name field is required.",
                "failedCode": "flow-001",
                "errors": ["The name field is required."]
              }
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            },
            "examples": {
              "application/json": {
                "status": false,
                "message": "Internal server error",
                "failedCode": "flow-045"
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ]
      }
    },
    "/flows/check-version": {
      "post": {
        "summary": "Read flow versions",
        "tags": [
          "Flow"
        ],
        "operationId": "FlowcheckVersion",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/postRequestFlowVersion"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "title": "NetworkReadVersionResponse",
              "$ref": "#/definitions/ListFieldsFlowVersion"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/parameters/responses/badRequest/schema"
            },
            "examples": {
                "application/json": {
                    "status": false,
                    "message": "#/parameters/descriptions/messageResponse",
                    "failedCode": "flow-001"
                }
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            },
            "examples": {
                "application/json": {
                    "status": false,
                    "message": "Internal server error",
                    "failedCode": "flow-045"
                }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ]
      }
    },
    "/flow-reorder": {
      "put": {
        "summary": "Re-order flow",
        "tags": [
          "Flow"
        ],
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema":{
              "$ref": "#/definitions/putFlowReorderRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "title": "NetworkReorderResponse",
              "$ref": "#/definitions/putFlowReorderResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/parameters/responses/badRequest/schema"
            },
            "examples": {
                "application/json": {
                    "status": false,
                    "message": "#/parameters/descriptions/messageResponse",
                    "failedCode": "flow-001"
                }
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            },
            "examples": {
                "application/json": {
                    "status": false,
                    "message": "Internal server error",
                    "failedCode": "flow-045"
                }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ]
      }
    },
    "/flow/{flow_id}" : {
      "put": {
        "summary": "Update flow by ID",
        "tags": [
          "Flow"
        ],
        "operationId": "putflow",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique identifier for the flow that generated by system.<br>**Example**: `6352736c628401059b37a1d1`"
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putRequestFlow"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "title": "NetworkUpdateResponse",
              "$ref": "#/definitions/putResponseFlow"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/parameters/responses/badRequest/schema"
            },
            "examples": {
                "application/json": {
                    "status": false,
                    "message": "#/parameters/descriptions/messageResponse",
                    "failedCode": "flow-001"
                }
            }
          },
          "404": {
            "description": "Data not found",
            "schema": {
              "$ref": "#/parameters/responses/notFound/schema"
            },
            "examples": {
                "application/json": {
                    "status": false,
                    "message": "Data not found",
                    "failedCode": "flow-033"
                }
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            },
            "examples": {
                "application/json": {
                    "status": false,
                    "message": "Internal server error",
                    "failedCode": "flow-045"
                }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ]
      },
      "delete": {
        "summary": "Delete flow by ID",
        "tags": [
          "Flow"
        ],
        "operationId": "deleteflowbyid",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique identifier for the flow that generated by system.<br>**Example**: `6352736c628401059b37a1d1`"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "title": "NetworkCreateResponse",
              "$ref": "#/definitions/deleteResponseFlow"
            }
          },
          "404": {
            "description": "Data not found",
            "schema": {
              "$ref": "#/parameters/responses/notFound/schema"
            },
            "examples": {
                "application/json": {
                    "status": false,
                    "message": "Data not found",
                    "failedCode": "flow-033"
                }
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            },
            "examples": {
                "application/json": {
                    "status": false,
                    "message": "Internal server error",
                    "failedCode": "flow-045"
                }
            }
          }
        },
        "security": [
            {
              "AccessToken": []
            }
        ]
      }
    },
    "/flow/{flowId}/restore/{flowLogId}": {
      "put": {
        "summary": "Restore flow by flow log ID",
        "tags": [
          "Flow"
        ],
        "operationId": "restoreFlow",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique identifier of organization's flow.<br>Use <a href='#tag/Flow'>Flow /flows API</a> to get the list of flow ID's.<br>**Example:** `6352736c628401059b37a1d1`"
          },
          {
            "name": "flowLogId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique name of organization's flow.<br>Use <a href='#tag/Flow/operation/getflowlogs'>Flow Log Histories API</a> to get the list of flow log ID's.<br>**Example:** `9f52736c628401059b37as34`"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "title": "restoreFlowResponse",
              "$ref": "#/definitions/restoreFlowExampleResp"
            }
          },
          "404": {
            "description": "Data not found",
            "schema": {
              "$ref": "#/parameters/responses/notFound/schema"
            },
            "examples": {
                "application/json": {
                    "status": false,
                    "message": "Data not found",
                    "failedCode": "flow-033"
                }
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/parameters/responses/serverError/schema"
            },
            "examples": {
                "application/json": {
                    "status": false,
                    "message": "Internal server error",
                    "failedCode": "flow-045"
                }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ]
      }
    }

  },
  "definitions": {
    "postRequestFlowVersion": {
      "title": "postRequestFlowVersion",
      "example": {
        "flows": [
            {
                "name": "Delivery",
                "version": 1
            },
            {
                "name": "tryGeoLockComponent",
                "version": 3
            }
        ]
      },
      "type": "object",
      "properties": {
        "flows": {
          "type": "array",
          "description": "List of flows <br>**Example:** `{` <br> `'name': 'Delivery',` <br> `'version': 1` <br> `}`",
          "items" : {
            "type" : "object",
            "properties" : {
              "name" : {
                "type" : "string",
                "description" : "The name used in the flow display must be unique to avoid any conflicts or confusion. Cannot use the flow name ``Activity`` as it is already in use by the system.<br>**Example:** `Visit`"
              },
              "version" : {
                "type" : "integer",
                "description" : "Version of flow.<br>**Example:** `1`"
              }
            }
          }
        }
      },
      "required": [
        "name",
        "version"
      ]
    },
    "postRequestFlow": {
      "title": "postRequestFlow",
      "example": {
        "name": "Delivery",
        "pages": [
          {
            "id": "page0",
            "components": [
              {
                "component": "input",
                "id": "title",
                "type": "string",
                "default": null,
                "title": "Title",
                "required":true,
                "visible": true,
                "showAs": "title"
              },
              {
                "component": "input",
                "id": "content",
                "type": "string",
                "default": null,
                "title": "Content",
                "required":true,
                "visible": true,
                "showAs": "content"
              },
              {
                "component": "input",
                "id": "receiverName",
                "type": "string",
                "default": "Admin Hub",
                "title": "ReceiverName",
                "required":false,
                "visible": true
              },
              {
                "component": "input",
                "id": "qty",
                "type": "number",
                "default": "1",
                "title": "Quantity",
                "required":false,
                "visible": true
              },
              {
                "component": "input",
                "id": "deliveryTime",
                "type": "date",
                "default": null,
                "title": "Delivery Time",
                "required":false,
                "visible": true
              },
              {
                "component": "select",
                "id": "label",
                "default": null,
                "options": [
                  "CGR",
                  "HDR",
                  "HJK",
                  "NYT"
                ],
                "min": 0,
                "max": 2,
                "title": "Label",
                "visible": true
              },
              {
                "component": "select",
                "id": "deliveryStatus",
                "options": [
                  "success",
                  "failed"
                ],
                "default": "success",
                "title": "Delivery Status",
                "min": 0,
                "max": 1,
                "visible": true
              }
            ]
          },
          {
            "id": "page1",
            "components": [
              {
                "component": "input",
                "id": "receiver",
                "type": "string",
                "default": null,
                "title": "Receiver",
                "required":false,
                "visible": true
              },
              {
                "component": "input",
                "id": "codAmount",
                "type": "number",
                "default": "1",
                "title": "codAmount",
                "required":false,
                "visible": true
              },
              {
                "component": "select",
                "id": "statusDelivery",
                "default": null,
                "options": [
                  "Success",
                  "Failed"
                ],
                "min": 0,
                "max": 1,
                "title": "Status Delivery",
                "visible": true
              }
            ]
          }
        ],
        "configurations": [
          {
            "id": "startTime",
            "adjustment": 0
          },
          {
            "id": "endTime",
            "adjustment": 24
          }
        ],
        "isDefault": true,
        "version": 2
      },
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description" : "The name used in the flow display must be unique to avoid any conflicts or confusion. Cannot use the flow name ``Activity`` as it is already in use by the system.<br>**Example:** `Delivery`"
        },
        "pages": {
          "type": "array",
          "description" : "Settings that will define the detail information of flow structure. <br> **Example:** <br> `{` <br> `'id': 'page0',` <br> `'components': [`  <br>`{` <br>`'component': 'input',` <br>`'id': 'title',` <br>`'type': 'string',` <br>`'default': null,` <br>`'title': 'Title',` <br>`'required': 'true',`<br>`'visible': 'true',`<br>`'showAs': 'title'` <br>`}` <br>`]` <br>`}`",
          "items": {
            "type": "object",
            "required" : ["id","components"],
            "properties": {
              "id" : {
                "type" : "string",
                "description" : "ID of page. <br> **Example:** `page0`" ,
                "required":true
              },
              "components" : {
                "type" : "array",
                "description" : "Detail of Component. <br> **Example:** <br>\n                `{` <br>\n                `'component': 'input',` <br>\n                `'id': 'title',` <br>\n                `'type': 'string',` <br>\n                `'default': null,` <br>\n                `'title': 'Title',` <br>\n                `'required': true,` <br>\n                `'visible': true,` <br>\n                `'showAs': 'title'` <br>\n                `}`",
                "items":{
                  "type" : "object",
                  "required" : ["id","component"],
                  "properties" : {
                    "id" : {
                      "type" : "string",
                      "description" : "ID of component. The value that cannot be input is the reserved key. The following is a list of reserved keys : <br> `_id`,`flow`,`flowId`,`organizationId`, `hub`,`hubId`,`isDeleted`,`title`, `content`,`label`,`orderIndex`,`status`, `startTime`,`endTime`,`updatedTime`,`assignee`,  `assignedTo`,`assignedBy`,`assignedTime`,`createdBy`,  `createdFrom`,`createdTime`,`doneBy`,`doneCoordinate`,  `doneTime`,`openTaskTime`,`waitingTime`,`travelDuration `, `duration`,`distance`,`eta`,`etd`,  `assignedVehicleId`,`assignedVehicle`,`routePlannedOrder`, `expectedCoordinate`,`refId`,`createdCoordinate`,`organization` <br> **Example:** `receiverName`"
                    },
                    "component" : {
                      "type" : "string",
                      "description" : "Type of Component.  There are 10 types of *component*:`select`,`input`,`photo`,`signature`,`view`,`bill`,`list`,`timer`,`voice`,`capture` <br>**Example:** `input`"
                    },
                    "title" : {
                      "type" : "string",
                      "description" : "Title of Component. <br>**Example:** `ReceiverName`"
                    },
                    "type" : {
                      "type" : "string",
                      "description" : "Data Type of Component. There are 9 options of *type* if *component* is **input**: `String`,`Date`,`Datetime`,`Time`,`Numeric`,`Address`,`Geolocation`,`PhoneNumber`,`URL`,`Currency`. <br> There are 10 options of *type* if *component* is **view**: `String`,`Date`,`Datetime`,`Time`,`Numeric`,`Address`,`Geolocation`,`PhoneNumber`,`URL`,`Currency`,`Image` <br>**Example:** `String`"
                    },
                    "default" : {
                      "type" : "string",
                      "description" : "Default Value of Component. <br>**Example:** `Admin Hub`"
                    },
                    "value" : {
                      "type" : "string",
                      "description" : "Component values will be displayed in other components.Field only exist, if *component* is **view** or **bill** or **list** <br>**Example:** `$name`"
                    },
                    "routeAs" : {
                      "type" : "string",
                      "description" : "Flag Trigger of routing data.There are 8 types of `routeAs`:<br>`VisitName`,`Address`,`OpenTime`,`CloseTime`,`VisitDuration`,`Coordinate`,`Tag`,`Constraint.weight` <br>**Example:** `VisitName`"
                    },
                    "showAs" : {
                      "type" : "string",
                      "description" : "Flag Trigger of Component title. There are 3 types of `showAs`:<br>`title`,`content`,`label` <br>**Example:** `label`"
                    },
                    "required" : {
                      "type" : "boolean",
                      "description" : "Flag that mark field as required or not on flow component. <br>**Example:** `true`"
                    },
                    "visible" : {
                      "type" : "boolean",
                      "description" : "Flag on flow component that will make task field visible or not. <br>**Example:** `true`"
                    },
                    "useUnit" : {
                      "type" : "boolean",
                      "description" : "To set input type number using unit. Field only exist, if *component* is **number** <br>**Example:** `true`"
                    },
                    "units" : {
                      "type" : "array",
                      "description" : "Value of units for input type number component. Field only exist, if *component* is **number** <br>**Example:** `['KG', 'G', 'M3', 'cbM']`",
                      "items" : {
                        "type" : "string"
                      }
                    },
                    "useGeoLock" : {
                      "type" : "boolean",
                      "description" : "Flag Trigger of geolock feature on mobile devices. Field only exist, if *component* is **coordinate** <br>**Example:** `true`"
                    },
                    "radius" : {
                      "type" : "integer",
                      "description" : "Distance in units (m) to use geolock. Field only exist, if *component* is **coordinate**<br>**Example:** `2000`"
                    },
                    "geoLockTrigger" : {
                      "type" : "string",
                      "description" : "Trigger to determine when the geolock will be used. There are 2 types of `geoLockTrigger`:<br>`onTaskDone`,`onTaskStart`. Field only exist, if *component* is **coordinate** <br>**Example:** `onTaskDone`"
                    },
                    "useGeocode" : {
                      "type" : "boolean",
                      "description" : "To set coordinate use geocode. Field only exist, if *component* is **coordinate** <br>**Example:** `true`"
                    },
                    "geocodeAs" : {
                      "type" : "string",
                      "description" : "To reference geocode use the address component id. Field only exist, if *component* is **coordinate** <br>**Example:** `address`"
                    },
                    "onSelect" : {
                      "type" : "array",
                      "description" : "Detailed object data of the selected event. Field only exist, if *component* is **select**",
                      "items":{
                        "type":"object",
                        "properties" : {
                          "options" : {
                            "type" : "array",
                            "description" : "Option on select component that when it is selected will trigger an action. <br>**Example:** `['success']`",
                            "items":{
                              "type":"string"
                            }
                          },
                          "action" : {
                            "type" : "string",
                            "description" : "Desired action if that option is selected. There are 3 types of `action`:<br>`show`,`hide`,`fill`<br>**Example:** `show`"
                          },
                          "componentAffected" : {
                            "type" : "array",
                            "description" : "Components that will be affected by the selected action. There are 7 types of `componentAffected`:<br> `text`, `date`, `dateTime`, `time`, `number`, `address`, `coordinate`. <br>**Example:** `['text']`",
                            "items":{
                              "type":"string"
                            }
                          }
                        }
                      }
                    },
                    "options" : {
                      "type" : "array",
                      "description" : "Detail value of select component. <br>**Example:** `['Success','Failed']`",
                      "items":{
                        "type":"string"
                      }
                    },
                    "min" : {
                      "type" : "integer",
                      "description" : "Min value of component. Field only exist, if *component* is **select** or **photo** <br>**Example:** `0`"
                    },
                    "max" : {
                      "type" : "integer",
                      "description" : "Max value of component. Field only exist, if *component* is **select** or **photo** <br>**Example:** `3`"
                    },
                    "categories" : {
                      "type" : "array",
                      "description" : "Value of category for photo component. Field only exist, if *component* is **photo** <br>**Example:** `['Living Room','Kitchen']`",
                      "items":{
                        "type":"string"
                      }
                    },
                    "watermark" : {
                      "type" : "boolean",
                      "description" : "Configuration for users to enable watermark on photos when creating tasks. The default value of the watermark is `false`. Field only exist, if *component* is **photo** <br>**Example:** `true`"
                    },
                    "addNew" : {
                      "type" : "boolean",
                      "description" : "Configuration to allow users to add new items to the task bill or task list. Field only exist, if *component* is **bill** or **list** <br>**Example:** `true`"
                    },
                    "addNewType" : {
                      "type" : "string",
                      "description" : "Way to add a new list. There are 2 types of `addNewType`:<br>`input`,`select`. Field only exist, if *component* is **list**.  <br>**Example:** `select`"
                    },
                    "addNewData" : {
                      "type" : "array",
                      "description" : "Detailed list of item names. Field only exist, if *component* is **list** and *addNewType* is **select** <br>**Example:** `['Snack','Drink']`"
                    },
                    "addNewValidationType" : {
                      "type" : "string",
                      "description" : "Configuration to set the data type validation used. There are 5 types of `addNewValidationType`:<br>`noValidation`,`text`,`number`,`textAndNumber`,`custom`. Field only exist, if *component* is **list** and *addNewType* is **input**. <br>**Example:** `text`"
                    },
                    "addNewValidation" : {
                      "type" : "string",
                      "description" : "Regex validation details following `addNewValidationType`. Field only exist, if *component* is **list** and *addNewType* is **input**. <br> **Example:** `^[a-zA-Z\\s]+$`"
                    },
                    "masterItems" : {
                      "type" : "array",
                      "description" : "Detail data object of the master items contain `name` and`unit_price`. Field only exist, if *component* is **bill**",
                      "items":{
                        "type":"object",
                        "properties" : {
                          "name" : {
                            "type" : "string",
                            "description" : "Name of the bill item. <br>**Example:** `Snack`"
                          },
                          "unit_price" : {
                            "type" : "integer",
                            "description" : "Price of the bill item. <br>**Example:** `2000`"
                          }
                        }
                      }
                    },
                    "masterCosts" : {
                      "type" : "array",
                      "description" : "Detail data object of the master costs contain `type`,`name` and `amount`. Field only exist, if *component* is **bill**",
                      "items":{
                        "type":"object",
                        "properties" : {
                          "name" : {
                            "type" : "string",
                            "description" : "Name of bill cost. <br>**Example:** `Cost`"
                          },
                          "type" : {
                            "type" : "string",
                            "description" : "Type of bill cost.  There are 2 types of `type`:<br>`discount`,`cost`. <br>**Example:** `cost`"
                          },
                          "amount" : {
                            "type" : "integer",
                            "description" : "Amount of bill cost <br>**Example:** `5000`"
                          }
                        }
                      }
                    },
                    "costs" : {
                      "type" : "array",
                      "description" : "Cost data available on the billing component. Field only exist, if *component* is **bill** <br>**Example:** `['Cost']`",
                      "items":{
                        "type" : "string"
                      }
                    },
                    "useDataSource" : {
                      "type" : "boolean",
                      "description" : "Configuration to use the data source as a item in the selected component. Field only exist, if *component* is **list** or **bill** <br>**Example:** `false`"
                    },
                    "autoStart" : {
                      "type" : "boolean",
                      "description" : "Configuration to initiate the time when users open a task on a mobile device. Field only exist, if *component* is **timer** <br>**Example:** `false`"
                    },
                    "reset" : {
                      "type" : "boolean",
                      "description" : "Configuration to enable the reset function of the timer on mobile device. Field only exist, if *component* is **timer** <br>**Example:** `false`"
                    },
                    "unpausable" : {
                      "type" : "boolean",
                      "description" : "Configuration to remove the pause timer function on mobile device. Field only exist, if *component* is **timer** <br>**Example:** `false`"
                    },
                    "maxDuration" : {
                      "type" : "integer",
                      "description" : "The maximum time configuration for using the voice component ranges from 0 to 10 minutes. Field only exist, if *component* is **voice** <br>**Example:** `5`"
                    }
                  }
                }
              }
            }
          }
        },
        "configurations" : {
          "type" : "array",
          "description" : "Settings configuration for advance setting of the flow. <br> **Example:** <br> `{` <br>  `'id': 'startTime',` <br>  `'adjustment': 0` <br>`},` <br>`{` <br>  `'id': 'endTime',` <br>  `'adjustment': 24` <br>`}`",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "ID of configuration. <br>**Example:** `startTime`"
              },
              "adjustment" : {
                "type" : "integer",
                "description" : "Adjustment of configuration. <br>**Example:** `0`"
              }
            }
          }
        },
        "isDefault": {
          "type": "boolean",
          "description" : "To set flow as default.<br>**Example:** `true`"
        },
        "orderIndex": {
          "type": "integer",
          "description" : "Order of flow. User can define it by number value.<br>**Example:** `1`"
        },
        "version": {
          "type": "integer",
          "description" : "Version of flow.<br>**Example:** `1`"
        }
      },
      "required": [
        "name",
        "pages"
      ]
    },
    "putRequestFlow": {
      "title": "putRequestFlow",
      "example": {
        "name": "Delivery",
        "pages": [
          {
            "id": "page0",
            "components": [
              {
                "component": "input",
                "id": "title",
                "type": "string",
                "default": null,
                "title": "Title",
                "required": true,
                "visible":true,
                "showAs": "title"
              },
              {
                "component": "input",
                "id": "content",
                "type": "string",
                "default": null,
                "title": "Content",
                "required": true,
                "visible":true,
                "showAs": "content"
              },
              {
                "component": "input",
                "id": "receiverName",
                "type": "string",
                "default": "Admin Hub",
                "title": "ReceiverName",
                "required": false,
                "visible":true
              },
              {
                "component": "input",
                "id": "qty",
                "type": "number",
                "default": "1",
                "title": "Quantity",
                "required": false,
                "visible":true
              },
              {
                "component": "input",
                "id": "deliveryTime",
                "type": "date",
                "default": null,
                "title": "Delivery Time",
                "required": false,
                "visible":true
              },
              {
                "component": "select",
                "id": "label",
                "default": null,
                "options": [
                  "CGR",
                  "HDR",
                  "HJK",
                  "NYT"
                ],
                "min": 0,
                "max": 2,
                "title": "Label",
                "visible":true
              },
              {
                "component": "select",
                "id": "deliveryStatus",
                "options": [
                  "success",
                  "failed"
                ],
                "default": "success",
                "title": "Delivery Status",
                "min": 0,
                "max": 1,
                "visible":true
              }
            ]
          },
          {
            "id": "page1",
            "components": [
              {
                "component": "input",
                "id": "receiver",
                "type": "string",
                "default": null,
                "title": "Receiver",
                "required": false,
                "visible":true
              },
              {
                "component": "input",
                "id": "codAmount",
                "type": "number",
                "default": "1",
                "title": "codAmount",
                "required": false,
                "visible":true
              },
              {
                "component": "select",
                "id": "statusDelivery",
                "default": null,
                "options": [
                  "Success",
                  "Failed"
                ],
                "min": 0,
                "max": 1,
                "title": "Status Delivery",
                "visible":true
              }
            ]
          }
        ],
        "configurations": [
          {
            "id": "startTime",
            "adjustment": 0
          },
          {
            "id": "endTime",
            "adjustment": 24
          }
        ],
        "isDefault": true,
        "version": 2,
        "orderIndex": 1
      },
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description" : "The name used in the flow display must be unique to avoid any conflicts or confusion. Cannot use the flow name ``Activity`` as it is already in use by the system.<br>**Example:** `Delivery`"
        },
        "pages": {
          "type": "array",
          "description" : "Settings that will define the detail information of flow structure. <br> **Example:** <br> `{` <br> `'id': 'page0',` <br> `'components': [`  <br>`{` <br>`'component': 'input',` <br>`'id': 'title',` <br>`'type': 'string',` <br>`'default': null,` <br>`'title': 'Title',` <br>`'required': 'true',`<br>`'visible': 'true',`<br>`'showAs': 'title'` <br>`}` <br>`]` <br>`}`",
          "items": {
            "type": "object",
            "required" : ["id","components"],
            "properties": {
              "id" : {
                "type" : "string",
                "description" : "ID of page. <br> **Example:** `page0`" ,
                "required":true
              },
              "components" : {
                "type" : "array",
                "description" : "Detail of Component. <br> **Example:** <br>\n                `{` <br>\n                `'component': 'input',` <br>\n                `'id': 'title',` <br>\n                `'type': 'string',` <br>\n                `'default': null,` <br>\n                `'title': 'Title',` <br>\n                `'required': true,` <br>\n                `'visible': true,` <br>\n                `'showAs': 'title'` <br>\n                `}`",
                "items":{
                  "type" : "object",
                  "required" : ["id","component"],
                  "properties" : {
                    "id" : {
                      "type" : "string",
                      "description" : "ID of component. The value that cannot be input is the reserved key. The following is a list of reserved keys : <br> `_id`,`flow`,`flowId`,`organizationId`, `hub`,`hubId`,`isDeleted`,`title`, `content`,`label`,`orderIndex`,`status`, `startTime`,`endTime`,`updatedTime`,`assignee`,  `assignedTo`,`assignedBy`,`assignedTime`,`createdBy`,  `createdFrom`,`createdTime`,`doneBy`,`doneCoordinate`,  `doneTime`,`openTaskTime`,`waitingTime`,`travelDuration `, `duration`,`distance`,`eta`,`etd`,  `assignedVehicleId`,`assignedVehicle`,`routePlannedOrder`, `expectedCoordinate`,`refId`,`createdCoordinate`,`organization` <br> **Example:** `receiverName`"
                    },
                    "component" : {
                      "type" : "string",
                      "description" : "Type of Component.  There are 10 types of *component*:`select`,`input`,`photo`,`signature`,`view`,`bill`,`list`,`timer`,`voice`,`capture` <br>**Example:** `input`"
                    },
                    "title" : {
                      "type" : "string",
                      "description" : "Title of Component. <br>**Example:** `ReceiverName`"
                    },
                    "type" : {
                      "type" : "string",
                      "description" : "Data Type of Component. There are 9 options of *type* if *component* is **input**: `String`,`Date`,`Datetime`,`Time`,`Numeric`,`Address`,`Geolocation`,`PhoneNumber`,`URL`,`Currency`. <br> There are 10 options of *type* if *component* is **view**: `String`,`Date`,`Datetime`,`Time`,`Numeric`,`Address`,`Geolocation`,`PhoneNumber`,`URL`,`Currency`,`Image` <br>**Example:** `String`"
                    },
                    "default" : {
                      "type" : "string",
                      "description" : "Default Value of Component. <br>**Example:** `Admin Hub`"
                    },
                    "value" : {
                      "type" : "string",
                      "description" : "Component values will be displayed in other components.Field only exist, if *component* is **view** or **bill** or **list** <br>**Example:** `$name`"
                    },
                    "routeAs" : {
                      "type" : "string",
                      "description" : "Flag Trigger of routing data.There are 8 types of `routeAs`:<br>`VisitName`,`Address`,`OpenTime`,`CloseTime`,`VisitDuration`,`Coordinate`,`Tag`,`Constraint.weight` <br>**Example:** `VisitName`"
                    },
                    "showAs" : {
                      "type" : "string",
                      "description" : "Flag Trigger of Component title. There are 3 types of `showAs`:<br>`title`,`content`,`label` <br>**Example:** `label`"
                    },
                    "required" : {
                      "type" : "boolean",
                      "description" : "Flag that mark field as required or not on flow component. <br>**Example:** `true`"
                    },
                    "visible" : {
                      "type" : "boolean",
                      "description" : "Flag on flow component that will make task field visible or not. <br>**Example:** `true`"
                    },
                    "useUnit" : {
                      "type" : "boolean",
                      "description" : "To set input type number using unit. Field only exist, if *component* is **number** <br>**Example:** `true`"
                    },
                    "units" : {
                      "type" : "array",
                      "description" : "Value of units for input type number component. Field only exist, if *component* is **number** <br>**Example:** `['KG', 'G', 'M3', 'cbM']`",
                      "items" : {
                        "type" : "string"
                      }
                    },
                    "useGeoLock" : {
                      "type" : "boolean",
                      "description" : "Flag Trigger of geolock feature on mobile devices. Field only exist, if *component* is **coordinate** <br>**Example:** `true`"
                    },
                    "radius" : {
                      "type" : "integer",
                      "description" : "Distance in units (m) to use geolock. Field only exist, if *component* is **coordinate**<br>**Example:** `2000`"
                    },
                    "geoLockTrigger" : {
                      "type" : "string",
                      "description" : "Trigger to determine when the geolock will be used. There are 2 types of `geoLockTrigger`:<br>`onTaskDone`,`onTaskStart`. Field only exist, if *component* is **coordinate** <br>**Example:** `onTaskDone`"
                    },
                    "useGeocode" : {
                      "type" : "boolean",
                      "description" : "To set coordinate use geocode. Field only exist, if *component* is **coordinate** <br>**Example:** `true`"
                    },
                    "geocodeAs" : {
                      "type" : "string",
                      "description" : "To reference geocode use the address component id. Field only exist, if *component* is **coordinate** <br>**Example:** `address`"
                    },
                    "onSelect" : {
                      "type" : "array",
                      "description" : "Detailed object data of the selected event. Field only exist, if *component* is **select**",
                      "items":{
                        "type":"object",
                        "properties" : {
                          "options" : {
                            "type" : "array",
                            "description" : "Option on select component that when it is selected will trigger an action. <br>**Example:** `['success']`",
                            "items":{
                              "type":"string"
                            }
                          },
                          "action" : {
                            "type" : "string",
                            "description" : "Desired action if that option is selected. There are 3 types of `action`:<br>`show`,`hide`,`fill`<br>**Example:** `show`"
                          },
                          "componentAffected" : {
                            "type" : "array",
                            "description" : "Components that will be affected by the selected action. There are 7 types of `componentAffected`:<br> `text`, `date`, `dateTime`, `time`, `number`, `address`, `coordinate`. <br>**Example:** `['text']`",
                            "items":{
                              "type":"string"
                            }
                          }
                        }
                      }
                    },
                    "options" : {
                      "type" : "array",
                      "description" : "Detail value of select component. <br>**Example:** `['Success','Failed']`",
                      "items":{
                        "type":"string"
                      }
                    },
                    "min" : {
                      "type" : "integer",
                      "description" : "Min value of component. Field only exist, if *component* is **select** or **photo** <br>**Example:** `0`"
                    },
                    "max" : {
                      "type" : "integer",
                      "description" : "Max value of component. Field only exist, if *component* is **select** or **photo** <br>**Example:** `3`"
                    },
                    "categories" : {
                      "type" : "array",
                      "description" : "Value of category for photo component. Field only exist, if *component* is **photo** <br>**Example:** `['Living Room','Kitchen']`",
                      "items":{
                        "type":"string"
                      }
                    },
                    "watermark" : {
                      "type" : "boolean",
                      "description" : "Configuration for users to enable watermark on photos when creating tasks. The default value of the watermark is `false`. Field only exist, if *component* is **photo** <br>**Example:** `true`"
                    },
                    "addNew" : {
                      "type" : "boolean",
                      "description" : "Configuration to allow users to add new items to the task bill or task list. Field only exist, if *component* is **bill** or **list** <br>**Example:** `true`"
                    },
                    "addNewType" : {
                      "type" : "string",
                      "description" : "Way to add a new list. There are 2 types of `addNewType`:<br>`input`,`select`. Field only exist, if *component* is **list**.  <br>**Example:** `select`"
                    },
                    "addNewData" : {
                      "type" : "array",
                      "description" : "Detailed list of item names. Field only exist, if *component* is **list** and *addNewType* is **select** <br>**Example:** `['Snack','Drink']`"
                    },
                    "addNewValidationType" : {
                      "type" : "string",
                      "description" : "Configuration to set the data type validation used. There are 5 types of `addNewValidationType`:<br>`noValidation`,`text`,`number`,`textAndNumber`,`custom`. Field only exist, if *component* is **list** and *addNewType* is **input**. <br>**Example:** `text`"
                    },
                    "addNewValidation" : {
                      "type" : "string",
                      "description" : "Regex validation details following `addNewValidationType`. Field only exist, if *component* is **list** and *addNewType* is **input**. <br> **Example:** `^[a-zA-Z\\s]+$`"
                    },
                    "masterItems" : {
                      "type" : "array",
                      "description" : "Detail data object of the master items contain `name` and`unit_price`. Field only exist, if *component* is **bill**",
                      "items":{
                        "type":"object",
                        "properties" : {
                          "name" : {
                            "type" : "string",
                            "description" : "Name of the bill item. <br>**Example:** `Snack`"
                          },
                          "unit_price" : {
                            "type" : "integer",
                            "description" : "Price of the bill item. <br>**Example:** `2000`"
                          }
                        }
                      }
                    },
                    "masterCosts" : {
                      "type" : "array",
                      "description" : "Detail data object of the master costs contain `type`,`name` and `amount`. Field only exist, if *component* is **bill**",
                      "items":{
                        "type":"object",
                        "properties" : {
                          "name" : {
                            "type" : "string",
                            "description" : "Name of bill cost. <br>**Example:** `Cost`"
                          },
                          "type" : {
                            "type" : "string",
                            "description" : "Type of bill cost.  There are 2 types of `type`:<br>`discount`,`cost`. <br>**Example:** `cost`"
                          },
                          "amount" : {
                            "type" : "integer",
                            "description" : "Amount of bill cost <br>**Example:** `5000`"
                          }
                        }
                      }
                    },
                    "costs" : {
                      "type" : "array",
                      "description" : "Cost data available on the billing component. Field only exist, if *component* is **bill** <br>**Example:** `['Cost']`",
                      "items":{
                        "type" : "string"
                      }
                    },
                    "useDataSource" : {
                      "type" : "boolean",
                      "description" : "Configuration to use the data source as a item in the selected component. Field only exist, if *component* is **list** or **bill** <br>**Example:** `false`"
                    },
                    "autoStart" : {
                      "type" : "boolean",
                      "description" : "Configuration to initiate the time when users open a task on a mobile device. Field only exist, if *component* is **timer** <br>**Example:** `false`"
                    },
                    "reset" : {
                      "type" : "boolean",
                      "description" : "Configuration to enable the reset function of the timer on mobile device. Field only exist, if *component* is **timer** <br>**Example:** `false`"
                    },
                    "unpausable" : {
                      "type" : "boolean",
                      "description" : "Configuration to remove the pause timer function on mobile device. Field only exist, if *component* is **timer** <br>**Example:** `false`"
                    },
                    "maxDuration" : {
                      "type" : "integer",
                      "description" : "The maximum time configuration for using the voice component ranges from 0 to 10 minutes. Field only exist, if *component* is **voice** <br>**Example:** `5`"
                    }
                  }
                }
              }
            }
          }
        },
        "configurations" : {
          "type" : "array",
          "description" : "Settings configuration for advance setting of the flow. <br> **Example:** <br> `{` <br>  `'id': 'startTime',` <br>  `'adjustment': 0` <br>`},` <br>`{` <br>  `'id': 'endTime',` <br>  `'adjustment': 24` <br>`}`",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "ID of configuration. <br>**Example:** `startTime`"
              },
              "adjustment" : {
                "type" : "integer",
                "description" : "Adjustment of configuration. <br>**Example:** `0`"
              }
            }
          }
        },
        "isDefault": {
          "type": "boolean",
          "description" : "To set flow as default.<br>**Example:** `true`"
        },
        "orderIndex": {
          "type": "integer",
          "description" : "Order of flow. User can define it by number value.<br>**Example:** `1`"
        },
        "version": {
          "type": "integer",
          "description" : "Version of flow.<br>**Example:** `1`"
        }
      },
      "required": [
        "name",
        "pages"
      ]
    },
    "postResponseFlow": {
      "title": "postResponseFlow",
      "example": {
        "status": true,
        "message": "Success",
        "flow": {
          "_id": "6352736c628401059b37a1d1",
          "name": "Delivery",
          "pages": [
            {
              "id": "page0",
              "components": [
                {
                  "component": "input",
                  "id": "title",
                  "type": "string",
                  "default": null,
                  "title": "Title",
                  "required": true,
                  "visible":true,
                  "showAs":"title"
                },
                {
                  "component": "input",
                  "id": "content",
                  "type": "string",
                  "default": null,
                  "title": "Content",
                  "required": true,
                  "visible":true,
                  "showAs":"content"
                },
                {
                  "component": "input",
                  "id": "receiverName",
                  "type": "string",
                  "default": "Admin Hub",
                  "title": "ReceiverName",
                  "required": false,
                  "visible":true
                },
                {
                  "component": "input",
                  "id": "qty",
                  "type": "number",
                  "default": "1",
                  "title": "Quantity",
                  "required": false,
                  "visible":true
                },
                {
                  "component": "input",
                  "id": "deliveryTime",
                  "type": "date",
                  "default": null,
                  "title": "Delivery Time",
                  "required": false,
                  "visible":true
                },
                {
                  "component": "select",
                  "id": "label",
                  "default": null,
                  "options": [
                    "CGR",
                    "HDR",
                    "HJK",
                    "NYT"
                  ],
                  "min": 0,
                  "max": 2,
                  "title": "Label",
                  "visible":true
                },
                {
                  "component": "select",
                  "id": "deliveryStatus",
                  "options": [
                    "success",
                    "failed"
                  ],
                  "default": "success",
                  "title": "Delivery Status",
                  "min": 0,
                  "max": 1,
                  "visible":true
                }
              ]
            },
            {
              "id": "page1",
              "components": [
                {
                  "component": "input",
                  "id": "receiver",
                  "type": "string",
                  "default": null,
                  "title": "Receiver",
                  "required": false,
                  "visible":true
                },
                {
                  "component": "input",
                  "id": "codAmount",
                  "type": "number",
                  "default": "1",
                  "title": "codAmount",
                  "required": false,
                  "visible":true
                },
                {
                  "component": "select",
                  "id": "statusDelivery",
                  "default": null,
                  "options": [
                    "Success",
                    "Failed"
                  ],
                  "min": 0,
                  "max": 1,
                  "title": "Status Delivery",
                  "visible":true
                }
              ]
            }
          ],
          "configurations": [
            {
              "id": "startTime",
              "adjustment": 0
            },
            {
              "id": "endTime",
              "adjustment": 24
            }
          ],
          "isDefault": true,
          "version": 2,
          "orderIndex": 1
        }
      },
      "type": "object",
      "properties": {
        "status": {
          "description": "Status of response.",
          "type": "boolean"
        },
        "message": {
          "description": "Message of API response.",
          "type": "string"
        },
        "flow": {
          "description": "Detail of object flow.",
          "type": "object"
        }
      }
    },
    "putResponseFlow": {
      "title": "putResponseFlow",
      "example": {
        "status": true,
        "message": "Success",
        "flow": {
          "_id": "6352736c628401059b37a1d1",
          "name": "Delivery",
          "pages": [
            {
              "id": "page0",
              "components": [
                {
                  "component": "input",
                  "id": "title",
                  "type": "string",
                  "default": null,
                  "title": "Title",
                  "required": true,
                  "visible":true,
                  "showAs": "title"
                },
                {
                  "component": "input",
                  "id": "content",
                  "type": "string",
                  "default": null,
                  "title": "Content",
                  "required": true,
                  "visible":true,
                  "showAs": "content"
                },
                {
                  "component": "input",
                  "id": "receiverName",
                  "type": "string",
                  "default": "Admin Hub",
                  "title": "ReceiverName",
                  "required": false,
                  "visible":true
                },
                {
                  "component": "input",
                  "id": "qty",
                  "type": "number",
                  "default": "1",
                  "title": "Quantity",
                  "required": false,
                  "visible":true
                },
                {
                  "component": "input",
                  "id": "deliveryTime",
                  "type": "date",
                  "default": null,
                  "title": "Delivery Time",
                  "required": false,
                  "visible":true
                },
                {
                  "component": "select",
                  "id": "label",
                  "default": null,
                  "options": [
                    "CGR",
                    "HDR",
                    "HJK",
                    "NYT"
                  ],
                  "min": 0,
                  "max": 2,
                  "title": "Label",
                  "visible":true
                },
                {
                  "component": "select",
                  "id": "deliveryStatus",
                  "options": [
                    "success",
                    "failed"
                  ],
                  "default": "success",
                  "title": "Delivery Status",
                  "min": 0,
                  "max": 1,
                  "visible":true
                }
              ]
            },
            {
              "id": "page1",
              "components": [
                {
                  "component": "input",
                  "id": "receiver",
                  "type": "string",
                  "default": null,
                  "title": "Receiver",
                  "required": false,
                  "visible":true
                },
                {
                  "component": "input",
                  "id": "codAmount",
                  "type": "number",
                  "default": "1",
                  "title": "codAmount",
                  "required": false,
                  "visible":true
                },
                {
                  "component": "select",
                  "id": "statusDelivery",
                  "default": null,
                  "options": [
                    "Success",
                    "Failed"
                  ],
                  "min": 0,
                  "max": 1,
                  "title": "Status Delivery",
                  "visible":true
                }
              ]
            }
          ],
          "configurations": [
            {
              "id": "startTime",
              "adjustment": 0
            },
            {
              "id": "endTime",
              "adjustment": 24
            }
          ],
          "isDefault": true,
          "version": 2,
          "orderIndex": 1
        }
      },
      "type": "object",
      "properties": {
        "status": {
          "description": "Status of response.",
          "type": "boolean"
        },
        "message": {
          "description": "Message of API response.",
          "type": "string"
        },
        "flow": {
          "description": "Detail of object flow.",
          "type": "object"
        }
      }
    },
    "createTaskExampleResp": {
      "title": "createTaskExampleResp",
      "example": {
        "status": true,
        "message": "Success.",
        "data": {
            "flowName": "Pickup",
            "flowFields": [
                {
                    "field": "hubId",
                    "type": "String",
                    "required": true,
                    "description": "The identifier for the hub that generated by system.\r\nUse GET /hubs API to get the list of Hub IDs.",
                    "example": "63e0842e1d09947148301a92",
                    "format": null
                },
                {
                    "field": "flow",
                    "type": "String",
                    "required": true,
                    "description": "The unique name of organization's flow.\r\nUse Flow /flows API to get the list of flow names.",
                    "example": "Pickup",
                    "format": null
                },
                {
                    "field": "startTime",
                    "type": "Datetime",
                    "required": true,
                    "description": "Start datetime of task to active.",
                    "example": "2023-05-15T04:26:00.000+00:00",
                    "format": null
                },
                {
                    "field": "endTime",
                    "type": "Datetime",
                    "required": true,
                    "description": "End datetime of task to active.",
                    "example": "2023-05-16T04:26:00.000+00:00",
                    "format": null
                },
                {
                    "field": "requesterName",
                    "type": "String",
                    "required": false,
                    "description": "This field's type & value is according to Flow's setting.",
                    "example": "Loid Forger",
                    "format": null
                },
                {
                    "field": "requesterPhone",
                    "type": "PhoneNumber",
                    "required": false,
                    "description": "This field's type & value is according to Flow's setting.",
                    "example": "081163137712",
                    "format": null
                },
                {
                    "field": "address",
                    "type": "Address",
                    "required": false,
                    "description": "This field's type & value is according to Flow's setting.",
                    "example": "92553 Walsh Crest Apt. 213\nFerrymouth, OR 81988-7765",
                    "format": null
                },
                {
                    "field": "pickupPoint",
                    "type": "Geolocation",
                    "required": false,
                    "description": "This field's type & value is according to Flow's setting.",
                    "example": "68.978483,-67.186351",
                    "format": null
                },
                {
                    "field": "packageType",
                    "type": "String",
                    "required": false,
                    "description": "This field's type & value is according to Flow's setting.",
                    "example": "Document",
                    "format": [
                        "Food",
                        "Clothes",
                        "Document",
                        "Medicine",
                        "Books",
                        "Others"
                    ]
                }
            ],
            "bodyRequest": {
                "hubId": "63e0842e1d09947148301a92",
                "flow": "Pickup",
                "startTime": "2023-05-15T04:26:00.000+00:00",
                "endTime": "2023-05-16T04:26:00.000+00:00",
                "requesterName": "Loid Forger",
                "requesterPhone": "081163137712",
                "address": "92553 Walsh Crest Apt. 213\nFerrymouth, OR 81988-7765",
                "pickupPoint": "68.978483,-67.186351",
                "packageType": "Document"
            }
        }
      },
      "type": "object",
      "properties": {
        "status": {
          "description": "Status of response.",
          "type": "boolean"
        },
        "message": {
          "description": "Message of API response.",
          "type": "string"
        },
        "data": {
          "description": "Detail of object genarate flows.",
          "type": "object"
        }
      }
    },
    "restoreFlowExampleResp": {
      "title": "createTaskExampleResp",
      "example": {
        "status": true,
        "code": 200,
        "message": "Flow has been updated successfully.",
        "data": {
          "_id": "6853f0cbb83015e4c60279f2",
          "name": "Packing",
          "pages": [
            {
              "id": "page0",
              "components": [
                {
                  "component": "input",
                  "id": "orderNumber",
                  "title": "Order Number",
                  "type": "String",
                  "default": null,
                  "routeAs": null,
                  "showAs": null,
                  "required": false,
                  "visible": true,
                  "preValue": null
                },
                {
                  "component": "input",
                  "id": "number",
                  "title": "Number",
                  "type": "Numeric",
                  "default": null,
                  "routeAs": null,
                  "showAs": null,
                  "required": false,
                  "visible": true,
                  "preValue": null
                },
                {
                  "component": "select",
                  "id": "sel",
                  "title": "Sel",
                  "min": 1,
                  "max": 1,
                  "default": null,
                  "routeAs": null,
                  "showAs": null,
                  "options": [
                    "a",
                    "b"
                  ],
                  "type": "dropdown",
                  "onSelect": [],
                  "visible": true,
                  "preValue": null
                }
              ]
            },
            {
              "id": "page1",
              "title": "Confirmation",
              "components": [
                {
                  "component": "view",
                  "id": "code",
                  "type": "String",
                  "title": "Code",
                  "value": "$orderNumber",
                  "visible": true,
                  "preValue": "$orderNumber"
                }
              ],
              "showTooltip": false
            }
          ],
          "configurations": [
            {
              "id": "startTime",
              "adjustment": 0
            },
            {
              "id": "endTime",
              "adjustment": 24
            }
          ],
          "organizationId": "66791b2bf001a712b77b3622",
          "version": 4,
          "createdBy": "admin@mile.app",
          "orderIndex": 72,
          "updatedTime": "2025-06-20T04:00:16.727000Z",
          "createdTime": "2025-06-19T11:13:15.550000Z",
          "updatedBy": "admin@mile.app"
        }
      },
      "type": "object",
      "properties": {
        "status": {
          "description": "Status of response.",
          "type": "boolean"
        },
        "message": {
          "description": "Message of API response.",
          "type": "string"
        },
        "data": {
          "description": "Detail of object genarate flows.",
          "type": "object"
        }
      }
    },
    "deleteRequestFlow": {
      "title": "deleteRequestFlow",
      "example": {
        "force": false
      },
      "type": "object",
      "properties": {
        "force": {
          "type": "boolean"
        }
      },
      "required": [
        "force"
      ]
    },
    "deleteResponseFlow": {
      "title": "deleteResponseFlow",
      "example": {
        "status": true,
        "data": {
          "_id": "6221b41e8def861b59262893",
          "name": "Delivery",
          "pages": [
            {
              "id": "page0",
              "components": [
                {
                  "component": "input",
                  "id": "title",
                  "type": "string",
                  "default": null,
                  "title": "Title",
                  "required": true,
                  "visible": true,
                  "showAs": "title"
                },
                {
                  "component": "input",
                  "id": "content",
                  "type": "string",
                  "default": null,
                  "title": "Content",
                  "required": true,
                  "visible": true,
                  "showAs": "content"
                },
                {
                  "component": "input",
                  "id": "receiverName",
                  "type": "string",
                  "default": "Admin Hub",
                  "title": "ReceiverName",
                  "required": false,
                  "visible": true
                },
                {
                  "component": "input",
                  "id": "qty",
                  "type": "number",
                  "default": "1",
                  "title": "Quantity",
                  "required": false,
                  "visible": true
                },
                {
                  "component": "input",
                  "id": "deliveryTime",
                  "type": "date",
                  "default": null,
                  "title": "Delivery Time",
                  "required": false,
                  "visible": true
                },
                {
                  "component": "select",
                  "id": "label",
                  "default": null,
                  "options": [
                    "CGR",
                    "HDR",
                    "HJK",
                    "NYT"
                  ],
                  "min": 0,
                  "max": 2,
                  "title": "Label",
                  "visible": true
                },
                {
                  "component": "select",
                  "id": "deliveryStatus",
                  "options": [
                    "success",
                    "failed"
                  ],
                  "default": "success",
                  "title": "Delivery Status",
                  "min": 0,
                  "max": 1,
                  "visible": true
                }
              ]
            },
            {
              "id": "page1",
              "components": [
                {
                  "component": "input",
                  "id": "receiver",
                  "type": "string",
                  "default": null,
                  "title": "Receiver",
                  "required": false,
                  "visible": true
                },
                {
                  "component": "input",
                  "id": "codAmount",
                  "type": "number",
                  "default": "1",
                  "title": "codAmount",
                  "required": false,
                  "visible": true
                },
                {
                  "component": "select",
                  "id": "statusDelivery",
                  "default": null,
                  "options": [
                    "Success",
                    "Failed"
                  ],
                  "min": 0,
                  "max": 1,
                  "title": "Status Delivery",
                  "visible": true
                }
              ]
            }
          ],
          "organizationId": "6153defcbd80d354e0708a74",
          "updatedTime": "2022-03-04T07:51:33.281000Z",
          "createdTime": "2022-03-04T06:39:26.234000Z",
          "deleted_at": "2022-03-04T07:51:33.281000Z"
        }
      },
      "type": "object",
      "properties": {
        "status": {
          "description": "Status of response.",
          "type": "boolean"
        },
        "data": {
          "description": "Detail of object flow.",
          "type": "object"
        }
      }
    },
    "putFlowReorderRequest": {
      "title": "putFlowReorderRequest",
      "example": {
        "data": [
          {
            "flowId": "64118c2a2785f33e53375225"
          },
          {
            "doDuplicate": true,
            "flowId": "64118c2a2785f33e53375225",
            "flowName": "Flow Copy"
          },
          {
            "flowId": "6352736c628401059b37a1d1"
          },
          {
            "flowId": "63fd8e69d5d8b97133216e1b"
          },
          {
            "doDelete": true,
            "flowId": "63fd8e69d5d8b97133216e1a"
          }
        ]
      },
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "description" : "List of data flowId. <br>**Example:** <br> `{` <br> `'flowId': '64118c2a2785f33e53375225'` <br> `}`",
          "items":{
            "type":"object",
            "properties" : {
              "flowId" : {
                "type" : "string",
                "description" : "ID of flow. <br>**Example**: `64118c2a2785f33e53375225`"
              },
              "flowName" : {
                "type" : "string",
                "description" : "Name of flow. <br>**Example**: `Delivery`"
              },
              "doDuplicate" : {
                "type" : "boolean",
                "description" : "Action for duplicate the flow. <br>**Example**: `true`"
              },
              "doDelete" : {
                "type" : "bolean",
                "description" : "Action for delete the flow. <br>**Example**: `true`"
              }
            },
            "required": ["flowId"]
          }
        }
      },
      "required": [
        "data"
      ]
    },
    "putFlowReorderResponse": {
      "title": "putFlowReorderResponse",
      "example": {
        "status": true,
        "code": 200,
        "message": "success re-order index",
        "data": [
            {
                "status": true,
                "code": 200,
                "message": "Success",
                "flow": {
                    "orderIndex": 1,
                    "version": 32
                }
            },
            {
              "status": true,
              "code": 200,
              "message": "Flow has been created successfully.",
              "flow": {
                "name": "Flow Copy",
                "orderIndex": 2,
                "createdBy": "user@mile.app",
                "updatedBy": "user@mile.app",
                "pages": [
                  {
                    "id": "page0",
                    "components": [
                      {
                        "component": "input",
                        "id": "order",
                        "title": "Order",
                        "type": "String",
                        "default": null,
                        "routeAs": null,
                        "showAs": "title",
                        "required": false,
                        "visible": true,
                        "preValue": null
                      }
                    ]
                  }
                ],
                "configurations": [
                  {
                    "id": "startTime",
                    "adjustment": 0
                  },
                  {
                    "id": "endTime",
                    "adjustment": 24
                  }
                ],
                "organizationId": "66791b2bf001a712b77b3622",
                "version": 1,
                "updatedTime": "2025-06-19T10:49:31.289000Z",
                "createdTime": "2025-06-19T10:49:31.289000Z",
                "_id": "6853eb3bc3a6b9a8b10567f2"
              }
            },
            {
                "status": true,
                "code": 200,
                "message": "Success",
                "flow": {
                    "orderIndex": 3,
                    "version": 21
                }
            },
            {
                "status": true,
                "code": 200,
                "message": "Success",
                "flow": {
                    "orderIndex": 3,
                    "version": 59
                }
            },
            {
              "status": true,
              "code": 200,
              "data": {
                "_id": "63fd8e69d5d8b97133216e1a",
                "name": "Unloading",
                "orderIndex": 4,
                "createdBy": "user@mile.app",
                "updatedBy": "user@mile.app",
                "pages": [
                  {
                    "id": "page0",
                    "components": []
                  }
                ],
                "configurations": [
                  {
                    "id": "startTime",
                    "adjustment": 0
                  },
                  {
                    "id": "endTime",
                    "adjustment": 24
                  }
                ],
                "organizationId": "66791b2bf001a712b77b3622",
                "version": 1,
                "updatedTime": "2025-06-19T10:49:31.289000Z",
                "createdTime": "2025-06-19T10:49:31.289000Z"
              }
            }
        ]
      },
      "type": "object",
      "properties": {
        "status": {
          "description": "Status of response.",
          "type": "boolean"
        },
        "code": {
          "description": "Code of API response.",
          "type": "integer"
        },
        "message": {
          "description": "Message of API response.",
          "type": "string"
        },
        "data": {
          "description": "Detail of object flows.",
          "type": "object"
        }
      }
    },
    "getListResponse": {
      "title": "getListResponse",
      "example": {
        "status": true,
        "message": "Success",
        "flows": {
          "current_page": 1,
          "data": [
            {
              "_id": "6352736c628401059b37a1d1",
              "name": "Delivery",
              "pages": [
                {
                  "id": "page0",
                  "components": [
                    {
                      "component": "input",
                      "id": "title",
                      "type": "string",
                      "default": null,
                      "title": "Title",
                      "required": true,
                      "visible": true,
                      "showAs":"title"
                    },
                    {
                      "component": "input",
                      "id": "content",
                      "type": "string",
                      "default": null,
                      "title": "Content",
                      "required": true,
                      "visible": true,
                      "showAs":"content"
                    },
                    {
                      "component": "input",
                      "id": "receiverName",
                      "type": "string",
                      "default": "Admin Hub",
                      "title": "ReceiverName",
[...]
